---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-04T00:03:35.364235Z","environmentIds":["evm-crbq7lq3esus7393umr0"],"id":"prj-crbq7lq3esus7393umqg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-04T00:03:35.364235Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "86"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469294
        status: 201 Created
        code: 201
        duration: 168.7705ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbq7lq3esus7393umr0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbq7lq3esus7393umr0","name":"prod","projectId":"prj-crbq7lq3esus7393umqg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "374"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469295
        status: 200 OK
        code: 200
        duration: 64.273166ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbq7lq3esus7393ums0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbq7lq3esus7393ums0","name":"prod","projectId":"prj-crbq7lq3esus7393umrg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "373"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469299
        status: 200 OK
        code: 200
        duration: 91.099459ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"environmentId":"evm-crbq7lq3esus7393umr0","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"maxmemoryPolicy":"allkeys_lfu","name":"test-redis","ownerId":"some-owner-id","plan":"starter","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/redis
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-04T00:03:36.036708859Z","environmentId":"evm-crbq7lq3esus7393umr0","id":"red-crbq7m23esus7393un0g","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-redis","options":{"maxmemoryPolicy":"allkeys_lfu"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2024-09-04T00:03:36.036708859Z","version":"6.2.14"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "16"
            Ratelimit-Reset:
                - "3383"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469301
        status: 201 Created
        code: 201
        duration: 384.364541ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-crbq7m23esus7393un0g/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"rediss://red-crbq7m23esus7393un0g:b6DTBBxC0KWt8yd2SghTDOK394RJ2DfK@oregon-redis.render.com:6379","internalConnectionString":"redis://red-crbq7m23esus7393un0g:6379","redisCLICommand":" REDISCLI_AUTH=b6DTBBxC0KWt8yd2SghTDOK394RJ2DfK redis-cli --user red-crbq7m23esus7393un0g -h oregon-redis.render.com -p 6379 --tls"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "372"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469304
        status: 200 OK
        code: 200
        duration: 83.437167ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crbq7lq3esus7393umqg
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-04T00:03:35.364235Z","environmentIds":["evm-crbq7lq3esus7393umr0"],"id":"prj-crbq7lq3esus7393umqg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-04T00:03:35.364235Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "371"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469305
        status: 200 OK
        code: 200
        duration: 74.859208ms
[...]
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crbq7lq3esus7393umrg
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-04T00:03:35.551382Z","environmentIds":["evm-crbq7lq3esus7393ums0"],"id":"prj-crbq7lq3esus7393umrg","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-04T00:03:35.551382Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "369"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469308
        status: 200 OK
        code: 200
        duration: 82.938125ms
[...]
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-crbq7m23esus7393un0g
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-04T00:03:36.036709Z","environmentId":"evm-crbq7lq3esus7393umr0","id":"red-crbq7m23esus7393un0g","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-redis","options":{"maxmemoryPolicy":"allkeys_lfu"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2024-09-04T00:03:36.036709Z","version":"6.2.14"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "367"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469312
        status: 200 OK
        code: 200
        duration: 97.821917ms
[...]
    - id: 22
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/red-crbq7m23esus7393un0g/resources?resourceIds=red-crbq7m23esus7393un0g
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "83"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469341
        status: 204 No Content
        code: 204
        duration: 97.263916ms
    - id: 23
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["red-crbq7m23esus7393un0g"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crbq7lq3esus7393ums0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbq7lq3esus7393ums0","name":"prod","projectId":"prj-crbq7lq3esus7393umrg","protectedStatus":"protected","redisIds":["red-crbq7m23esus7393un0g"],"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "82"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469343
        status: 201 Created
        code: 201
        duration: 113.05025ms
[...]
