---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-30T21:47:32.913771Z","environmentIds":["evm-cpcf7t0kf6qq5iin94f0"],"id":"prj-cpcf7t0kf6qq5iin94eg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-30T21:47:32.913771Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "94"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000029
        status: 201 Created
        code: 201
        duration: 127.225625ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpcf7t0kf6qq5iin94f0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpcf7t0kf6qq5iin94f0","name":"prod","projectId":"prj-cpcf7t0kf6qq5iin94eg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000030
        status: 200 OK
        code: 200
        duration: 42.041708ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpcf7t8kf6qq5iin94g0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpcf7t8kf6qq5iin94g0","name":"prod","projectId":"prj-cpcf7t8kf6qq5iin94fg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000032
        status: 200 OK
        code: 200
        duration: 41.643666ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"environmentId":"evm-cpcf7t0kf6qq5iin94f0","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"maxmemoryPolicy":"allkeys_lfu","name":"test-redis","ownerId":"some-owner-id","plan":"starter","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/redis
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-30T21:47:33.231008834Z","environmentId":"evm-cpcf7t0kf6qq5iin94f0","id":"red-cpcf7t8kf6qq5iin94gg","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-redis","options":{"maxmemoryPolicy":"allkeys_lfu"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2024-05-30T21:47:33.231008834Z","version":"6.2.14"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "16"
            Ratelimit-Reset:
                - "746"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000033
        status: 201 Created
        code: 201
        duration: 217.970041ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-cpcf7t8kf6qq5iin94gg/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"rediss://red-cpcf7t8kf6qq5iin94gg:1Z3cYxZGIoW2eN2ui9iOXYmixhUkBufJ@oregon-redis.localhost.render.com:6377","internalConnectionString":"redis://red-cpcf7t8kf6qq5iin94gg:6379","redisCLICommand":" REDISCLI_AUTH=1Z3cYxZGIoW2eN2ui9iOXYmixhUkBufJ redis-cli --user red-cpcf7t8kf6qq5iin94gg -h oregon-redis.localhost.render.com -p 6377 --tls"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000034
        status: 200 OK
        code: 200
        duration: 51.478417ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpcf7t0kf6qq5iin94eg
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T21:47:32.913771Z","environmentIds":["evm-cpcf7t0kf6qq5iin94f0"],"id":"prj-cpcf7t0kf6qq5iin94eg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-30T21:47:32.913771Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000035
        status: 200 OK
        code: 200
        duration: 67.042208ms
[...]
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpcf7t8kf6qq5iin94fg
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T21:47:33.060654Z","environmentIds":["evm-cpcf7t8kf6qq5iin94g0"],"id":"prj-cpcf7t8kf6qq5iin94fg","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-30T21:47:33.060654Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000037
        status: 200 OK
        code: 200
        duration: 65.77625ms
[...]
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-cpcf7t8kf6qq5iin94gg
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T21:47:33.231009Z","environmentId":"evm-cpcf7t0kf6qq5iin94f0","id":"red-cpcf7t8kf6qq5iin94gg","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-redis","options":{"maxmemoryPolicy":"allkeys_lfu"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2024-05-30T21:47:33.231009Z","version":"6.2.14"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "389"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000039
        status: 200 OK
        code: 200
        duration: 63.178792ms
[...]
    - id: 22
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/red-cpcf7t8kf6qq5iin94gg/resources?resourceIds=red-cpcf7t8kf6qq5iin94gg
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "91"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000051
        status: 204 No Content
        code: 204
        duration: 105.617375ms
    - id: 23
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["red-cpcf7t8kf6qq5iin94gg"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-cpcf7t8kf6qq5iin94g0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpcf7t8kf6qq5iin94g0","name":"prod","projectId":"prj-cpcf7t8kf6qq5iin94fg","protectedStatus":"protected","redisIds":["red-cpcf7t8kf6qq5iin94gg"],"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "90"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000052
        status: 201 Created
        code: 201
        duration: 138.287084ms
[...]
