---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","networkIsolationEnabled":false,"protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2026-06-09T17:11:03.779133Z","environmentIds":["evm-d8k4i9todlmc73btr56g"],"id":"prj-d8k4i9todlmc73btr55g","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"updatedAt":"2026-06-09T17:11:03.779133Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000959
        status: 201 Created
        code: 201
        duration: 131.615334ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"ipAllowList":[],"maxmemoryPolicy":"allkeys_lfu","name":"test-redis-paid","ownerId":"some-owner-id","plan":"starter","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/redis
        method: POST
      response:
        body: |
            {"createdAt":"2026-06-09T17:11:03.738122174Z","id":"red-d8k4i9todlmc73btr54g","ipAllowList":null,"name":"test-redis-paid","options":{"maxmemoryPolicy":"allkeys_lfu","persistenceMode":"journal_snapshot"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"starter","region":"oregon","status":"unknown","updatedAt":"2026-06-09T17:11:03.738122174Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "15"
            Ratelimit-Reset:
                - "2936"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000958
        status: 201 Created
        code: 201
        duration: 358.962291ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d8k4i9todlmc73btr56g
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d8k4i9todlmc73btr56g","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d8k4i9todlmc73btr55g","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000960
        status: 200 OK
        code: 200
        duration: 64.184041ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-d8k4i9todlmc73btr54g/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"rediss://red-d8k4i9todlmc73btr54g:uPs9p2GaBjeHP19tbn4bYjWQ2iGcegn5@oregon-keyvalue.localhost.render.com:6377","internalConnectionString":"redis://red-d8k4i9todlmc73btr54g:6379","redisCLICommand":" REDISCLI_AUTH=uPs9p2GaBjeHP19tbn4bYjWQ2iGcegn5 valkey-cli --user red-d8k4i9todlmc73btr54g -h oregon-keyvalue.localhost.render.com -p 6377 --tls"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000961
        status: 200 OK
        code: 200
        duration: 62.822333ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d8k4ia5odlmc73btr590
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d8k4ia5odlmc73btr590","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d8k4ia5odlmc73btr580","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000963
        status: 200 OK
        code: 200
        duration: 69.142416ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"environmentId":"evm-d8k4i9todlmc73btr56g","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"maxmemoryPolicy":"allkeys_lfu","name":"test-redis","ownerId":"some-owner-id","persistenceMode":"journal_snapshot","plan":"starter","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/redis
        method: POST
      response:
        body: |
            {"createdAt":"2026-06-09T17:11:04.649569082Z","environmentId":"evm-d8k4i9todlmc73btr56g","id":"red-d8k4ia5odlmc73btr5a0","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-redis","options":{"maxmemoryPolicy":"allkeys_lfu","persistenceMode":"journal_snapshot"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2026-06-09T17:11:04.649569082Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "14"
            Ratelimit-Reset:
                - "2935"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000964
        status: 201 Created
        code: 201
        duration: 312.70075ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-d8k4ia5odlmc73btr5a0/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"rediss://red-d8k4ia5odlmc73btr5a0:hBFnAKplTyebA0SdRNnSdBJOkQ7QoR03@oregon-keyvalue.localhost.render.com:6377","internalConnectionString":"redis://red-d8k4ia5odlmc73btr5a0:6379","redisCLICommand":" REDISCLI_AUTH=hBFnAKplTyebA0SdRNnSdBJOkQ7QoR03 valkey-cli --user red-d8k4ia5odlmc73btr5a0 -h oregon-keyvalue.localhost.render.com -p 6377 --tls"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000965
        status: 200 OK
        code: 200
        duration: 79.963916ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/red-d8k4ia5odlmc73btr5a0
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"red-d8k4ia5odlmc73btr5a0","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000966
        status: 200 OK
        code: 200
        duration: 70.073958ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-d8k4i9todlmc73btr55g
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-09T17:11:03.779133Z","environmentIds":["evm-d8k4i9todlmc73btr56g"],"id":"prj-d8k4i9todlmc73btr55g","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"updatedAt":"2026-06-09T17:11:03.779133Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000967
        status: 200 OK
        code: 200
        duration: 99.081ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-d8k4i9todlmc73btr54g
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-09T17:11:03.738122Z","id":"red-d8k4i9todlmc73btr54g","ipAllowList":null,"name":"test-redis-paid","options":{"maxmemoryPolicy":"allkeys_lfu","persistenceMode":"journal_snapshot"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2026-06-09T17:11:03.738122Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000968
        status: 200 OK
        code: 200
        duration: 110.886416ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-d8k4ia5odlmc73btr580
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-09T17:11:04.275047Z","environmentIds":["evm-d8k4ia5odlmc73btr590"],"id":"prj-d8k4ia5odlmc73btr580","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"updatedAt":"2026-06-09T17:11:04.275047Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000971
        status: 200 OK
        code: 200
        duration: 94.378708ms
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/red-d8k4i9todlmc73btr54g
        method: GET
      response:
        body: |
            {"message":"not found: red-d8k4i9todlmc73btr54g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "390"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000972
        status: 404 Not Found
        code: 404
        duration: 55.450541ms
[...]
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-d8k4ia5odlmc73btr5a0
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-09T17:11:04.649569Z","environmentId":"evm-d8k4i9todlmc73btr56g","id":"red-d8k4ia5odlmc73btr5a0","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-redis","options":{"maxmemoryPolicy":"allkeys_lfu","persistenceMode":"journal_snapshot"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2026-06-09T17:11:04.649569Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "388"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000974
        status: 200 OK
        code: 200
        duration: 104.00975ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/red-d8k4ia5odlmc73btr5a0/resources?resourceIds=red-d8k4ia5odlmc73btr5a0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "94"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000993
        status: 204 No Content
        code: 204
        duration: 90.011166ms
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["red-d8k4ia5odlmc73btr5a0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-d8k4ia5odlmc73btr590/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d8k4ia5odlmc73btr590","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d8k4ia5odlmc73btr580","protectedStatus":"protected","redisIds":["red-d8k4ia5odlmc73btr5a0"],"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000994
        status: 201 Created
        code: 201
        duration: 127.414958ms
[...]
    - id: 83
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-d8k4idlodlmc73btr5pg/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"rediss://red-d8k4idlodlmc73btr5pg:AI8BTiOr64uDes7ByHNHjfL7h20ur8mW@oregon-keyvalue.localhost.render.com:6377","internalConnectionString":"redis://red-d8k4idlodlmc73btr5pg:6379","redisCLICommand":" REDISCLI_AUTH=AI8BTiOr64uDes7ByHNHjfL7h20ur8mW valkey-cli --user red-d8k4idlodlmc73btr5pg -h oregon-keyvalue.localhost.render.com -p 6377 --tls"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "330"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-001041
        status: 200 OK
        code: 200
        duration: 69.451417ms
[...]
    - id: 85
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-d8k4idlodlmc73btr5pg
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-09T17:11:18.141023Z","id":"red-d8k4idlodlmc73btr5pg","ipAllowList":null,"name":"test-redis-upgrade","options":{"maxmemoryPolicy":"allkeys_lfu","persistenceMode":"off"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"free","region":"oregon","status":"creating","updatedAt":"2026-06-09T17:11:18.141023Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "329"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-001043
        status: 200 OK
        code: 200
        duration: 80.609416ms
[...]
    - id: 87
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/red-d8k4idlodlmc73btr5pg
        method: GET
      response:
        body: |
            {"message":"not found: red-d8k4idlodlmc73btr5pg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "327"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-001045
        status: 404 Not Found
        code: 404
        duration: 53.165917ms
[...]
    - id: 101
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-d8k4iedodlmc73btr610/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"rediss://red-d8k4iedodlmc73btr610:E1h4hN7c9cSLIP3b6xjUAYBOiOZL6SAO@oregon-keyvalue.localhost.render.com:6377","internalConnectionString":"redis://red-d8k4iedodlmc73btr610:6379","redisCLICommand":" REDISCLI_AUTH=E1h4hN7c9cSLIP3b6xjUAYBOiOZL6SAO valkey-cli --user red-d8k4iedodlmc73btr610 -h oregon-keyvalue.localhost.render.com -p 6377 --tls"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "316"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-001059
        status: 200 OK
        code: 200
        duration: 61.851208ms
    - id: 102
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-d8k4iedodlmc73btr610
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-09T17:11:21.546308Z","id":"red-d8k4iedodlmc73btr610","ipAllowList":null,"name":"test-redis-upgrade2","options":{"maxmemoryPolicy":"allkeys_lfu","persistenceMode":"off"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"free","region":"oregon","status":"creating","updatedAt":"2026-06-09T17:11:21.546308Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "315"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-001060
        status: 200 OK
        code: 200
        duration: 85.374209ms
[...]
    - id: 104
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/red-d8k4iedodlmc73btr610
        method: GET
      response:
        body: |
            {"message":"not found: red-d8k4iedodlmc73btr610"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "313"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-001062
        status: 404 Not Found
        code: 404
        duration: 51.867541ms
[...]
