---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-24T16:08:54.997126Z","environmentIds":["evm-cp8bn5jes5oq594irb3g"],"id":"prj-cp8bn5jes5oq594irb30","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test terraform","type":"team"},"updatedAt":"2024-05-24T16:08:54.997126Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "29"
            Ratelimit-Reset:
                - "5"
            Render-Request-Id:
                - api-7c96699878-zwjjh/FOUcmaQtl1-000245
        status: 201 Created
        code: 201
        duration: 223.792625ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cp8bn5jes5oq594irb3g
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cp8bn5jes5oq594irb3g","name":"prod","projectId":"prj-cp8bn5jes5oq594irb30","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-7c96699878-zwjjh/FOUcmaQtl1-000246
        status: 200 OK
        code: 200
        duration: 87.8045ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cp8bn5res5oq594irb4g
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cp8bn5res5oq594irb4g","name":"prod","projectId":"prj-cp8bn5res5oq594irb40","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-7c96699878-zwjjh/FOUcmaQtl1-000248
        status: 200 OK
        code: 200
        duration: 95.224667ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"environmentId":"evm-cp8bn5jes5oq594irb3g","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"maxmemoryPolicy":"allkeys_lfu","name":"test-redis","ownerId":"some-owner-id","plan":"starter","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/redis
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-24T16:08:56.108419702Z","environmentId":"evm-cp8bn5jes5oq594irb3g","id":"red-cp8bn63es5oq594irb50","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-redis","options":{"maxmemoryPolicy":"allkeys_lfu"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"Test terraform","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2024-05-24T16:08:56.108419702Z","version":"6.2.14"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "27"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-7c96699878-zwjjh/FOUcmaQtl1-000249
        status: 201 Created
        code: 201
        duration: 260.536709ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cp8bn5jes5oq594irb30
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-24T16:08:54.997126Z","environmentIds":["evm-cp8bn5jes5oq594irb3g"],"id":"prj-cp8bn5jes5oq594irb30","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test terraform","type":"team"},"updatedAt":"2024-05-24T16:08:54.997126Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-7c96699878-zwjjh/FOUcmaQtl1-000250
        status: 200 OK
        code: 200
        duration: 103.789709ms
[...]
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cp8bn5res5oq594irb40
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-24T16:08:55.589541Z","environmentIds":["evm-cp8bn5res5oq594irb4g"],"id":"prj-cp8bn5res5oq594irb40","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test terraform","type":"team"},"updatedAt":"2024-05-24T16:08:55.589541Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-7c96699878-zwjjh/FOUcmaQtl1-000252
        status: 200 OK
        code: 200
        duration: 98.468584ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-cp8bn63es5oq594irb50
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-24T16:08:56.10842Z","environmentId":"evm-cp8bn5jes5oq594irb3g","id":"red-cp8bn63es5oq594irb50","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-redis","options":{"maxmemoryPolicy":"allkeys_lfu"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"Test terraform","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2024-05-24T16:08:56.10842Z","version":"6.2.14"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-7c96699878-zwjjh/FOUcmaQtl1-000254
        status: 200 OK
        code: 200
        duration: 103.452625ms
[...]
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/red-cp8bn63es5oq594irb50/resources?resourceIds=red-cp8bn63es5oq594irb50
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "29"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-7c96699878-zwjjh/FOUcmaQtl1-000262
        status: 204 No Content
        code: 204
        duration: 163.290042ms
    - id: 18
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["red-cp8bn63es5oq594irb50"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-cp8bn5res5oq594irb4g/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cp8bn5res5oq594irb4g","name":"prod","projectId":"prj-cp8bn5res5oq594irb40","protectedStatus":"protected","redisIds":["red-cp8bn63es5oq594irb50"],"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "28"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-7c96699878-zwjjh/FOUcmaQtl1-000263
        status: 201 Created
        code: 201
        duration: 226.73125ms
[...]
