---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-06T22:15:34.732678Z","environmentIds":["evm-crdnu1jh12fc706omldg"],"id":"prj-crdnu1jh12fc706omld0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-06T22:15:34.732678Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000471
        status: 201 Created
        code: 201
        duration: 139.259625ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crdnu1jh12fc706omldg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crdnu1jh12fc706omldg","name":"prod","projectId":"prj-crdnu1jh12fc706omld0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000472
        status: 200 OK
        code: 200
        duration: 54.697709ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crdnu1jh12fc706omleg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crdnu1jh12fc706omleg","name":"prod","projectId":"prj-crdnu1jh12fc706omle0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000474
        status: 200 OK
        code: 200
        duration: 45.3285ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"environmentId":"evm-crdnu1jh12fc706omldg","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"maxmemoryPolicy":"allkeys_lfu","name":"test-redis","ownerId":"some-owner-id","plan":"starter","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/redis
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-06T22:15:35.088561287Z","environmentId":"evm-crdnu1jh12fc706omldg","id":"red-crdnu1rh12fc706omlf0","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-redis","options":{"maxmemoryPolicy":"allkeys_lfu"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2024-09-06T22:15:35.088561287Z","version":"6.2.14"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "192"
            Ratelimit-Reset:
                - "2664"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000475
        status: 201 Created
        code: 201
        duration: 259.878542ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-crdnu1rh12fc706omlf0/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"rediss://red-crdnu1rh12fc706omlf0:c4QJVSKe3qOedNiZRWNuc2yEvI4SJMdA@oregon-redis.localhost.render.com:6377","internalConnectionString":"redis://red-crdnu1rh12fc706omlf0:6379","redisCLICommand":" REDISCLI_AUTH=c4QJVSKe3qOedNiZRWNuc2yEvI4SJMdA redis-cli --user red-crdnu1rh12fc706omlf0 -h oregon-redis.localhost.render.com -p 6377 --tls"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000476
        status: 200 OK
        code: 200
        duration: 70.05725ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/red-crdnu1rh12fc706omlf0
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"red-crdnu1rh12fc706omlf0","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "29"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000477
        status: 200 OK
        code: 200
        duration: 59.952542ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crdnu1jh12fc706omld0
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-06T22:15:34.732678Z","environmentIds":["evm-crdnu1jh12fc706omldg"],"id":"prj-crdnu1jh12fc706omld0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-06T22:15:34.732678Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000478
        status: 200 OK
        code: 200
        duration: 72.6585ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crdnu1jh12fc706omle0
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-06T22:15:34.888133Z","environmentIds":["evm-crdnu1jh12fc706omleg"],"id":"prj-crdnu1jh12fc706omle0","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-06T22:15:34.888133Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000480
        status: 200 OK
        code: 200
        duration: 72.587958ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-crdnu1rh12fc706omlf0
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-06T22:15:35.088561Z","environmentId":"evm-crdnu1jh12fc706omldg","id":"red-crdnu1rh12fc706omlf0","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-redis","options":{"maxmemoryPolicy":"allkeys_lfu"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2024-09-06T22:15:35.088561Z","version":"6.2.14"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "392"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000482
        status: 200 OK
        code: 200
        duration: 88.814958ms
[...]
    - id: 27
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/red-crdnu1rh12fc706omlf0/resources?resourceIds=red-crdnu1rh12fc706omlf0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000498
        status: 204 No Content
        code: 204
        duration: 70.775833ms
    - id: 28
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["red-crdnu1rh12fc706omlf0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crdnu1jh12fc706omleg/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crdnu1jh12fc706omleg","name":"prod","projectId":"prj-crdnu1jh12fc706omle0","protectedStatus":"protected","redisIds":["red-crdnu1rh12fc706omlf0"],"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000499
        status: 201 Created
        code: 201
        duration: 101.352458ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/red-crdnu1rh12fc706omlf0
        method: GET
      response:
        body: |
            {"message":"not found: red-crdnu1rh12fc706omlf0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "24"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000506
        status: 404 Not Found
        code: 404
        duration: 37.58475ms
[...]
