---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-11-14T22:37:45.702937Z","environmentIds":["evm-csr7nebv2p9s739qqjj0"],"id":"prj-csr7nebv2p9s739qqjig","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"updatedAt":"2024-11-14T22:37:45.702937Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-008484
        status: 201 Created
        code: 201
        duration: 1.728966542s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-csr7nebv2p9s739qqjj0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-csr7nebv2p9s739qqjj0","name":"prod","projectId":"prj-csr7nebv2p9s739qqjig","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-008524
        status: 200 OK
        code: 200
        duration: 110.676125ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-csr7nerv2p9s739qqjlg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-csr7nerv2p9s739qqjlg","name":"prod","projectId":"prj-csr7nerv2p9s739qqjl0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-008532
        status: 200 OK
        code: 200
        duration: 69.561542ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"db_name","databaseUser":"db_user","diskSizeGB":20,"enableHighAvailability":false,"environmentId":"evm-csr7nebv2p9s739qqjj0","ipAllowList":[],"name":"some-name","ownerId":"some-owner-id","plan":"basic_256mb","readReplicas":null,"region":"oregon","version":"15"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-11-14T22:37:48.153701574Z","dashboardUrl":"https://dashboard.render.com/d/dpg-csr7nf3v2p9s739qqjq0-a","databaseName":"db_name_nui3","databaseUser":"db_user","diskSizeGB":20,"environmentId":"evm-csr7nebv2p9s739qqjj0","highAvailabilityEnabled":false,"id":"dpg-csr7nf3v2p9s739qqjq0-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"plan":"basic_256mb","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-11-14T22:37:48.153701574Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "5"
            Ratelimit-Reset:
                - "1332"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-008537
        status: 201 Created
        code: 201
        duration: 574.150042ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-csr7nf3v2p9s739qqjq0-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-11-14T22:37:48.153702Z","dashboardUrl":"https://dashboard.render.com/d/dpg-csr7nf3v2p9s739qqjq0-a","databaseName":"db_name_nui3","databaseUser":"db_user","diskSizeGB":20,"environmentId":"evm-csr7nebv2p9s739qqjj0","highAvailabilityEnabled":false,"id":"dpg-csr7nf3v2p9s739qqjq0-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"plan":"basic_256mb","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-11-14T22:37:48.153702Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-008546
        status: 200 OK
        code: 200
        duration: 81.808292ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-csr7nf3v2p9s739qqjq0-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://db_user:IEE33ctjj8AfvV7yA4nJzNmfoBCGk3Jw@dpg-csr7nf3v2p9s739qqjq0-a.oregon-postgres.render.com:5432/db_name_nui3","internalConnectionString":"postgresql://db_user:IEE33ctjj8AfvV7yA4nJzNmfoBCGk3Jw@dpg-csr7nf3v2p9s739qqjq0-a/db_name_nui3","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-csr7nf3v2p9s739qqjq0-a.oregon-postgres.render.com -p 5432 -U db_user db_name_nui3"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-009181
        status: 200 OK
        code: 200
        duration: 114.263708ms
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-csr7nf3v2p9s739qqjq0-a
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"dpg-csr7nf3v2p9s739qqjq0-a","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-009185
        status: 200 OK
        code: 200
        duration: 75.270625ms
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-csr7nebv2p9s739qqjig
        method: GET
      response:
        body: |
            {"createdAt":"2024-11-14T22:37:45.702937Z","environmentIds":["evm-csr7nebv2p9s739qqjj0"],"id":"prj-csr7nebv2p9s739qqjig","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"updatedAt":"2024-11-14T22:37:45.702937Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-84fb959cf4-7sdrk/P0l7GjAQv6-009426
        status: 200 OK
        code: 200
        duration: 3.778939875s
[...]
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-csr7nerv2p9s739qqjl0
        method: GET
      response:
        body: |
            {"createdAt":"2024-11-14T22:37:47.431359Z","environmentIds":["evm-csr7nerv2p9s739qqjlg"],"id":"prj-csr7nerv2p9s739qqjl0","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"updatedAt":"2024-11-14T22:37:47.431359Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-009257
        status: 200 OK
        code: 200
        duration: 97.93525ms
[...]
    - id: 32
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/dpg-csr7nf3v2p9s739qqjq0-a/resources?resourceIds=dpg-csr7nf3v2p9s739qqjq0-a
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-009324
        status: 204 No Content
        code: 204
        duration: 106.269916ms
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["dpg-csr7nf3v2p9s739qqjq0-a"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-csr7nerv2p9s739qqjlg/resources
        method: POST
      response:
        body: |
            {"databasesIds":["dpg-csr7nf3v2p9s739qqjq0-a","dpg-csr7nf3v2p9s739qqjq0-b"],"envGroupIds":null,"id":"evm-csr7nerv2p9s739qqjlg","name":"prod","projectId":"prj-csr7nerv2p9s739qqjl0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-009328
        status: 201 Created
        code: 201
        duration: 112.526917ms
[...]
    - id: 42
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-csr7nf3v2p9s739qqjq0-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-csr7nf3v2p9s739qqjq0-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "371"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-009364
        status: 404 Not Found
        code: 404
        duration: 161.470708ms
[...]
    - id: 52
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-csr7npjv2p9s739qqmp0-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-11-14T22:38:30.01267Z","dashboardUrl":"https://dashboard.render.com/d/dpg-csr7npjv2p9s739qqmp0-a","databaseName":"db_name2_qm7i","databaseUser":"db_user2","diskSizeGB":10,"highAvailabilityEnabled":false,"id":"dpg-csr7npjv2p9s739qqmp0-a","ipAllowList":null,"name":"new-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"plan":"pro_4gb","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-11-14T22:38:30.01267Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "363"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-009404
        status: 200 OK
        code: 200
        duration: 79.006125ms
[...]
    - id: 60
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-csr7npjv2p9s739qqmp0-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://db_user2:Sj68nzlzjOFnjj6pPaCzdRcYtGyZrk5m@dpg-csr7npjv2p9s739qqmp0-a.oregon-postgres.render.com:5432/db_name2_qm7i","internalConnectionString":"postgresql://db_user2:Sj68nzlzjOFnjj6pPaCzdRcYtGyZrk5m@dpg-csr7npjv2p9s739qqmp0-a/db_name2_qm7i","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-csr7npjv2p9s739qqmp0-a.oregon-postgres.render.com -p 5432 -U db_user2 db_name2_qm7i"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-010169
        status: 200 OK
        code: 200
        duration: 114.190375ms
[...]
    - id: 67
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-csr7npjv2p9s739qqmp0-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-csr7npjv2p9s739qqmp0-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "390"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-010202
        status: 404 Not Found
        code: 404
        duration: 80.288542ms
[...]
