---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"","databaseUser":"","enableHighAvailability":false,"ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","ownerId":"some-owner-id","plan":"starter","readReplicas":null,"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-30T17:22:07.720081372Z","databaseName":"allow_list_postgres_fm36","databaseUser":"allow_list_postgres_fm36_user","highAvailabilityEnabled":false,"id":"dpg-cpcbbfrievbks45cffpg-a","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-30T17:22:07.720081372Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "26"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002895
        status: 201 Created
        code: 201
        duration: 74.429041ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcbbfrievbks45cffpg-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T17:22:07.720081Z","databaseName":"allow_list_postgres_fm36","databaseUser":"allow_list_postgres_fm36_user","highAvailabilityEnabled":false,"id":"dpg-cpcbbfrievbks45cffpg-a","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-30T17:22:07.720081Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002896
        status: 200 OK
        code: 200
        duration: 28.286792ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcbbfrievbks45cffpg-a/secrets
        method: GET
      response:
        body: |
            {"externalConnectionString":"@example.com:5434/allow_list_postgres_fm36","internalConnectionString":"@dpg-cpcbbfrievbks45cffpg-a/allow_list_postgres_fm36","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-cpcbbfrievbks45cffpg-a.oregon-postgres.localhost.render.com -p 5434 -U allow_list_postgres_fm36_user allow_list_postgres_fm36"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002906
        status: 200 OK
        code: 200
        duration: 25.380583ms
[...]
