---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"","databaseUser":"","enableHighAvailability":false,"ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","ownerId":"some-owner-id","plan":"starter","readReplicas":null,"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-30T22:13:52.411262591Z","databaseName":"allow_list_postgres_iobd","databaseUser":"allow_list_postgres_iobd_user","highAvailabilityEnabled":false,"id":"dpg-cpcfk80kf6qq5iin95v0-a","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-30T22:13:52.411262591Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "10"
            Ratelimit-Reset:
                - "2767"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000399
        status: 201 Created
        code: 201
        duration: 127.40475ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcfk80kf6qq5iin95v0-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T22:13:52.411263Z","databaseName":"allow_list_postgres_iobd","databaseUser":"allow_list_postgres_iobd_user","highAvailabilityEnabled":false,"id":"dpg-cpcfk80kf6qq5iin95v0-a","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-30T22:13:52.411263Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "355"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000400
        status: 200 OK
        code: 200
        duration: 53.118625ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcfk80kf6qq5iin95v0-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgres://allow_list_postgres_iobd_user:thirtytwocharacterpasswooooooord@dpg-cpcfk80kf6qq5iin95v0-a.oregon-postgres.localhost.render.com:5434/allow_list_postgres_iobd","internalConnectionString":"postgres://allow_list_postgres_iobd_user:thirtytwocharacterpasswooooooord@dpg-cpcfk80kf6qq5iin95v0-a/allow_list_postgres_iobd","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-cpcfk80kf6qq5iin95v0-a.oregon-postgres.localhost.render.com -p 5434 -U allow_list_postgres_iobd_user allow_list_postgres_iobd"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000408
        status: 200 OK
        code: 200
        duration: 45.191333ms
[...]
