---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"","databaseUser":"","enableHighAvailability":false,"ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","ownerId":"some-owner-id","plan":"basic_256mb","readReplicas":null,"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-11-14T22:39:12.439663944Z","dashboardUrl":"https://dashboard.render.com/d/dpg-csr7o43v2p9s739qqq2g-a","databaseName":"allow_list_postgres_r3aw","databaseUser":"allow_list_postgres_r3aw_user","diskSizeGB":15,"highAvailabilityEnabled":false,"id":"dpg-csr7o43v2p9s739qqq2g-a","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"plan":"basic_256mb","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-11-14T22:39:12.439663944Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "3"
            Ratelimit-Reset:
                - "1247"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-010222
        status: 201 Created
        code: 201
        duration: 300.084208ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-csr7o43v2p9s739qqq2g-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-11-14T22:39:12.439664Z","dashboardUrl":"https://dashboard.render.com/d/dpg-csr7o43v2p9s739qqq2g-a","databaseName":"allow_list_postgres_r3aw","databaseUser":"allow_list_postgres_r3aw_user","diskSizeGB":15,"highAvailabilityEnabled":false,"id":"dpg-csr7o43v2p9s739qqq2g-a","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"plan":"basic_256mb","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-11-14T22:39:12.439664Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "389"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-010233
        status: 200 OK
        code: 200
        duration: 76.352666ms
[...]
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-csr7o43v2p9s739qqq2g-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://allow_list_postgres_r3aw_user:wVdltjztSsSIJELnwNZHIV2PpsxyrZLz@dpg-csr7o43v2p9s739qqq2g-a.oregon-postgres.render.com:5432/allow_list_postgres_r3aw","internalConnectionString":"postgresql://allow_list_postgres_r3aw_user:wVdltjztSsSIJELnwNZHIV2PpsxyrZLz@dpg-csr7o43v2p9s739qqq2g-a/allow_list_postgres_r3aw","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-csr7o43v2p9s739qqq2g-a.oregon-postgres.render.com -p 5432 -U allow_list_postgres_r3aw_user allow_list_postgres_r3aw"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "382"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-010836
        status: 200 OK
        code: 200
        duration: 68.069125ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-csr7o43v2p9s739qqq2g-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-csr7o43v2p9s739qqq2g-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "379"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-84fb959cf4-bscbk/zYuGxMIfWO-010848
        status: 404 Not Found
        code: 404
        duration: 122.334917ms
[...]
