---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"","databaseUser":"","enableHighAvailability":false,"ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","ownerId":"some-owner-id","plan":"starter","readReplicas":null,"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-03T23:45:32.119684593Z","dashboardUrl":"https://dashboard.render.com/d/dpg-crbpv723esus7393t0v0-a","databaseName":"allow_list_postgres_y9fr","databaseUser":"allow_list_postgres_y9fr_user","highAvailabilityEnabled":false,"id":"dpg-crbpv723esus7393t0v0-a","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-09-03T23:45:32.119684593Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "7"
            Ratelimit-Reset:
                - "869"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-458043
        status: 201 Created
        code: 201
        duration: 1.597857292s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crbpv723esus7393t0v0-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-03T23:45:32.119685Z","dashboardUrl":"https://dashboard.render.com/d/dpg-crbpv723esus7393t0v0-a","databaseName":"allow_list_postgres_y9fr","databaseUser":"allow_list_postgres_y9fr_user","highAvailabilityEnabled":false,"id":"dpg-crbpv723esus7393t0v0-a","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-09-03T23:45:32.119685Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1092969
        status: 200 OK
        code: 200
        duration: 98.094917ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crbpv723esus7393t0v0-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://allow_list_postgres_y9fr_user:JhmKlgbJVYxUwNJV0frtJQ0NK6Ez97Ax@dpg-crbpv723esus7393t0v0-a.oregon-postgres.render.com:5432/allow_list_postgres_y9fr","internalConnectionString":"postgresql://allow_list_postgres_y9fr_user:JhmKlgbJVYxUwNJV0frtJQ0NK6Ez97Ax@dpg-crbpv723esus7393t0v0-a/allow_list_postgres_y9fr","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-crbpv723esus7393t0v0-a.oregon-postgres.render.com -p 5432 -U allow_list_postgres_y9fr_user allow_list_postgres_y9fr"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1093592
        status: 200 OK
        code: 200
        duration: 97.701625ms
[...]
