---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-30T17:20:22.28584Z","environmentIds":["evm-cpcbaljievbks45cffgg"],"id":"prj-cpcbaljievbks45cffg0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-30T17:20:22.28584Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "16"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002829
        status: 201 Created
        code: 201
        duration: 88.535041ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpcbaljievbks45cffgg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpcbaljievbks45cffgg","name":"prod","projectId":"prj-cpcbaljievbks45cffg0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "374"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002830
        status: 200 OK
        code: 200
        duration: 27.000542ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpcbaljievbks45cffhg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpcbaljievbks45cffhg","name":"prod","projectId":"prj-cpcbaljievbks45cffh0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "373"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002832
        status: 200 OK
        code: 200
        duration: 24.879541ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"db_name","databaseUser":"db_user","enableHighAvailability":false,"environmentId":"evm-cpcbaljievbks45cffgg","ipAllowList":[],"name":"some-name","ownerId":"some-owner-id","plan":"starter","readReplicas":null,"region":"oregon","version":"15"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-30T17:20:22.453674516Z","databaseName":"db_name_d717","databaseUser":"db_user","environmentId":"evm-cpcbaljievbks45cffgg","highAvailabilityEnabled":false,"id":"dpg-cpcbaljievbks45cffig-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-30T17:20:22.453674516Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "14"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002833
        status: 201 Created
        code: 201
        duration: 118.311209ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcbaljievbks45cffig-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T17:20:22.453675Z","databaseName":"db_name_d717","databaseUser":"db_user","environmentId":"evm-cpcbaljievbks45cffgg","highAvailabilityEnabled":false,"id":"dpg-cpcbaljievbks45cffig-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-30T17:20:22.453675Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "372"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002834
        status: 200 OK
        code: 200
        duration: 29.149042ms
[...]
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcbaljievbks45cffig-a/secrets
        method: GET
      response:
        body: |
            {"externalConnectionString":"@dpg-cpcbaljievbks45cffig-a.oregon-postgres.localhost.render.com:5434/db_name_d717","internalConnectionString":"@dpg-cpcbaljievbks45cffig-a/db_name_d717","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-cpcbaljievbks45cffig-a.oregon-postgres.localhost.render.com -p 5434 -U db_user db_name_d717"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002844
        status: 200 OK
        code: 200
        duration: 22.289834ms
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpcbaljievbks45cffg0
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T17:20:22.28584Z","environmentIds":["evm-cpcbaljievbks45cffgg"],"id":"prj-cpcbaljievbks45cffg0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-30T17:20:22.28584Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002845
        status: 200 OK
        code: 200
        duration: 27.121375ms
[...]
    - id: 18
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpcbaljievbks45cffh0
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T17:20:22.366201Z","environmentIds":["evm-cpcbaljievbks45cffhg"],"id":"prj-cpcbaljievbks45cffh0","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-30T17:20:22.366201Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002847
        status: 200 OK
        code: 200
        duration: 24.595666ms
[...]
    - id: 31
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/dpg-cpcbaljievbks45cffig-a/resources?resourceIds=dpg-cpcbaljievbks45cffig-a
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "28"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002860
        status: 204 No Content
        code: 204
        duration: 115.280584ms
    - id: 32
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["dpg-cpcbaljievbks45cffig-a"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-cpcbaljievbks45cffhg/resources
        method: POST
      response:
        body: |
            {"databasesIds":["dpg-cpcbaljievbks45cffig-a"],"envGroupIds":null,"id":"evm-cpcbaljievbks45cffhg","name":"prod","projectId":"prj-cpcbaljievbks45cffh0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "27"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002861
        status: 201 Created
        code: 201
        duration: 143.323459ms
[...]
    - id: 48
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcbb5rievbks45cffn0-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T17:21:27.697106Z","databaseName":"db_name2_yypy","databaseUser":"db_user2","highAvailabilityEnabled":false,"id":"dpg-cpcbb5rievbks45cffn0-a","ipAllowList":null,"name":"new-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"standard","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-30T17:21:27.697106Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "368"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002877
        status: 200 OK
        code: 200
        duration: 30.512667ms
[...]
    - id: 56
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcbb5rievbks45cffn0-a/secrets
        method: GET
      response:
        body: |
            {"externalConnectionString":"@example.com:5434/db_name2_yypy","internalConnectionString":"@dpg-cpcbb5rievbks45cffn0-a/db_name2_yypy","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-cpcbb5rievbks45cffn0-a.oregon-postgres.localhost.render.com -p 5434 -U db_user2 db_name2_yypy"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002885
        status: 200 OK
        code: 200
        duration: 23.703417ms
[...]
