---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"","databaseUser":"","enableHighAvailability":false,"ipAllowList":[],"name":"test-parameter-overrides","ownerId":"some-owner-id","parameterOverrides":{"max_connections":"100","work_mem":"4MB"},"plan":"pro_4gb","readReplicas":null,"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2026-05-04T21:01:46.486849488Z","dashboardUrl":"https://dashboard.render.com/d/dpg-d7sgiegsfn5c73fgpfl0-a","databaseName":"test_parameter_overrides_agfj","databaseUser":"test_parameter_overrides_agfj_user","diskAutoscalingEnabled":false,"diskSizeGB":100,"highAvailabilityEnabled":false,"id":"dpg-d7sgiegsfn5c73fgpfl0-a","ipAllowList":null,"name":"test-parameter-overrides","owner":{"email":"email@example.com","id":"some-owner-id","name":"Tucker's Terraform Cassette Test","type":"team"},"parameterOverrides":{"max_connections":"100","work_mem":"4MB"},"plan":"pro_4gb","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2026-05-04T21:01:46.486849488Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "19"
            Ratelimit-Reset:
                - "3494"
            Render-Request-Id:
                - api-67697cb9cc-swx5g/Htral3X5Am-260285
        status: 201 Created
        code: 201
        duration: 915.733625ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-d7sgiegsfn5c73fgpfl0-a
        method: GET
      response:
        body: |
            {"createdAt":"2026-05-04T21:01:46.486849Z","dashboardUrl":"https://dashboard.render.com/d/dpg-d7sgiegsfn5c73fgpfl0-a","databaseName":"test_parameter_overrides_agfj","dat[...]
[...]
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-d7sgiegsfn5c73fgpfl0-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://test_parameter_overrides_agfj_user:mYvK8WNGV6hawuc6xHqeq4Rzlo9e8Tfv@dpg-d7sgiegsfn5c73fgpfl0-a.oregon-postgres.render.com:5432/test_parameter_overrides_agfj","internalConnectionString":"postgresql://test_parameter_overrides_agfj_user:mYvK8WNGV6hawuc6xHqeq4Rzlo9e8Tfv@dpg-d7sgiegsfn5c73fgpfl0-a/test_parameter_overrides_agfj","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-d7sgiegsfn5c73fgpfl0-a.oregon-postgres.render.com -p 5432 -U test_parameter_overrides_agfj_user test_parameter_overrides_agfj"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-67697cb9cc-dxjk6/4C2QjVr1j7-407352
        status: 200 OK
        code: 200
        duration: 135.738625ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-d7sgiegsfn5c73fgpfl0-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-d7sgiegsfn5c73fgpfl0-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-67697cb9cc-8r4lj/bvH9OfgVXm-400909
        status: 404 Not Found
        code: 404
        duration: 168.700917ms
[...]
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: '{"enableHighAvailability":false,"ipAllowList":[],"name":"test-parameter-overrides","parameterOverrides":{"max_connections":"150","shared_buffers":"128MB"},"plan":"pro_4gb","readReplicas":null}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres/dpg-d7sgiegsfn5c73fgpfl0-a
        method: PATCH
      response:
        body: |
            {"createdAt":"2026-05-04T21:01:46.486849Z","dashboardUrl":"https://dashboard.render.com/d/dpg-d7sgiegsfn5c73fgpfl0-a","databaseName":"test_parameter_o[...]
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '{"enableHighAvailability":false,"ipAllowList":[],"name":"test-parameter-overrides","parameterOverrides":{"max_connections":"100"},"plan":"pro_4gb","readReplicas":[{"name":"read-replica","parameterOverrides":{"statement_timeout":"30000"}}]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres/dpg-d7sgiegsfn5c73fgpfl0-a
        method: PATCH
      response:
        body: |
            {"createdAt":"2026-05-04T21:01:46.486849Z","dashboardUrl":"https://dashboard.render.com/d/dpg-d7sgiegsfn5c73fgpfl0-a","databaseName":"test_parameter_overrides_agfj","databaseUser":"test[...]
[...]
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-d7sgiegsfn5c73fgpfl0-b
        method: GET
      response:
        body: |
            {"message":"not found: dpg-d7sgiegsfn5c73fgpfl0-b"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "369"
            Ratelimit-Reset:
                - "15"
            Render-Request-Id:
                - api-67697cb9cc-nzjtj/tk2FBh0tKJ-367022
        status: 404 Not Found
        code: 404
        duration: 173.550916ms
[...]
