---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-09T16:36:23.900823Z","environmentIds":["evm-crfi81s8m55c703hl2l0"],"id":"prj-crfi81s8m55c703hl2kg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-09T16:36:23.900823Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000198
        status: 201 Created
        code: 201
        duration: 127.259583ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crfi81s8m55c703hl2l0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crfi81s8m55c703hl2l0","name":"prod","projectId":"prj-crfi81s8m55c703hl2kg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000199
        status: 200 OK
        code: 200
        duration: 36.730625ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crfi8248m55c703hl2m0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crfi8248m55c703hl2m0","name":"prod","projectId":"prj-crfi8248m55c703hl2lg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000201
        status: 200 OK
        code: 200
        duration: 39.576875ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"db_name","databaseUser":"db_user","enableHighAvailability":false,"environmentId":"evm-crfi81s8m55c703hl2l0","ipAllowList":[],"name":"some-name","ownerId":"some-owner-id","plan":"starter","readReplicas":null,"region":"oregon","version":"15"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-09T16:36:24.224627153Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-crfi8248m55c703hl2n0-a","databaseName":"db_name_ohvq","databaseUser":"db_user","environmentId":"evm-crfi81s8m55c703hl2l0","highAvailabilityEnabled":false,"id":"dpg-crfi8248m55c703hl2n0-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-09-09T16:36:24.224627153Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000202
        status: 201 Created
        code: 201
        duration: 147.325ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crfi8248m55c703hl2n0-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-09T16:36:24.224627Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-crfi8248m55c703hl2n0-a","databaseName":"db_name_ohvq","databaseUser":"db_user","environmentId":"evm-crfi81s8m55c703hl2l0","highAvailabilityEnabled":false,"id":"dpg-crfi8248m55c703hl2n0-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-09-09T16:36:24.224627Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9997"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000203
        status: 200 OK
        code: 200
        duration: 48.001042ms
[...]
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crfi8248m55c703hl2n0-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://db_user:CsldUkVPMbhdWxw9n2SC4LZxMBO0YCYs@dpg-crfi8248m55c703hl2n0-a.oregon-postgres.localhost.render.com:5434/db_name_ohvq","internalConnectionString":"postgresql://db_user:CsldUkVPMbhdWxw9n2SC4LZxMBO0YCYs@dpg-crfi8248m55c703hl2n0-a/db_name_ohvq","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-crfi8248m55c703hl2n0-a.oregon-postgres.localhost.render.com -p 5434 -U db_user db_name_ohvq"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9996"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000213
        status: 200 OK
        code: 200
        duration: 55.037875ms
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-crfi8248m55c703hl2n0-a
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"dpg-crfi8248m55c703hl2n0-a","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000214
        status: 200 OK
        code: 200
        duration: 50.328542ms
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crfi81s8m55c703hl2kg
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-09T16:36:23.900823Z","environmentIds":["evm-crfi81s8m55c703hl2l0"],"id":"prj-crfi81s8m55c703hl2kg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-09T16:36:23.900823Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9995"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000215
        status: 200 OK
        code: 200
        duration: 60.365958ms
[...]
    - id: 19
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crfi8248m55c703hl2lg
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-09T16:36:24.028659Z","environmentIds":["evm-crfi8248m55c703hl2m0"],"id":"prj-crfi8248m55c703hl2lg","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-09T16:36:24.028659Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9993"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000217
        status: 200 OK
        code: 200
        duration: 56.423333ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/dpg-crfi8248m55c703hl2n0-a/resources?resourceIds=dpg-crfi8248m55c703hl2n0-a
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9997"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000233
        status: 204 No Content
        code: 204
        duration: 68.773208ms
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["dpg-crfi8248m55c703hl2n0-a"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crfi8248m55c703hl2m0/resources
        method: POST
      response:
        body: |
            {"databasesIds":["dpg-crfi8248m55c703hl2n0-a","dpg-crfi8248m55c703hl2n0-b"],"envGroupIds":null,"id":"evm-crfi8248m55c703hl2m0","name":"prod","projectId":"prj-crfi8248m55c703hl2lg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9996"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000234
        status: 201 Created
        code: 201
        duration: 95.230291ms
[...]
    - id: 45
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-crfi8248m55c703hl2n0-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-crfi8248m55c703hl2n0-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9971"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000243
        status: 404 Not Found
        code: 404
        duration: 34.557959ms
[...]
    - id: 55
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crfi8ik8m55c703hl2s0-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-09T16:37:30.93591Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-crfi8ik8m55c703hl2s0-a","databaseName":"db_name2_c1br","databaseUser":"db_user2","highAvailabilityEnabled":false,"id":"dpg-crfi8ik8m55c703hl2s0-a","ipAllowList":null,"name":"new-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"standard","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-09-09T16:37:30.93591Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9963"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000253
        status: 200 OK
        code: 200
        duration: 42.420292ms
[...]
    - id: 64
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crfi8ik8m55c703hl2s0-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://db_user2:VGY7OJ8n662F9Ov5dNY3iv9YIcXOoFGk@dpg-crfi8ik8m55c703hl2s0-a.oregon-postgres.localhost.render.com:5434/db_name2_c1br","internalConnectionString":"postgresql://db_user2:VGY7OJ8n662F9Ov5dNY3iv9YIcXOoFGk@dpg-crfi8ik8m55c703hl2s0-a/db_name2_c1br","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-crfi8ik8m55c703hl2s0-a.oregon-postgres.localhost.render.com -p 5434 -U db_user2 db_name2_c1br"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9996"
            Ratelimit-Reset:
                - "39"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000262
        status: 200 OK
        code: 200
        duration: 40.430041ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-crfi8ik8m55c703hl2s0-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-crfi8ik8m55c703hl2s0-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9989"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000269
        status: 404 Not Found
        code: 404
        duration: 33.914917ms
[...]
