---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"","databaseUser":"","enableHighAvailability":false,"ipAllowList":[],"name":"test-parameter-overrides","ownerId":"some-owner-id","parameterOverrides":{"max_connections":"100","work_mem":"4MB"},"plan":"pro_4gb","readReplicas":null,"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2025-11-20T05:26:03.107234457Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-d4facqrvbnoc73eic1vg-a","databaseName":"test_parameter_overrides_fb85","databaseUser":"test_parameter_overrides_fb85_user","diskAutoscalingEnabled":false,"diskSizeGB":100,"highAvailabilityEnabled":false,"id":"dpg-d4facqrvbnoc73eic1vg-a","ipAllowList":null,"name":"test-parameter-overrides","owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"parameterOverrides":{"max_connections":"100","work_mem":"4MB"},"plan":"pro_4gb","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2025-11-20T05:26:03.107234457Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "11"
            Ratelimit-Reset:
                - "2036"
            Render-Request-Id:
                - api-6c86dcdf64-2v2rx/ttyxxPz4tl-000203
        status: 201 Created
        code: 201
        duration: 260.934422ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-d4facqrvbnoc73eic1vg-a
        method: GET
      response:
        body: |
            {"createdAt":"2025-11-20T05:26:03.107234Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-d4facqrvbnoc73eic1vg-a","databaseName":"test_parameter_overrides_fb85","databaseUser":"test_parameter_overrides_fb85_user","diskAutoscalingEnabled":false,"diskSizeGB":100,"highAvailabilityEnabled":false,"id":"dpg-d4facqrvbnoc73eic1vg-a","ipAllowList":null,"name":"test-parameter-overrides","owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"parameterOverrides":{"max_connections":"100","work_mem":"4MB"},"plan":"pro_4gb","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2025-11-20T05:26:03.107234Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-6c86dcdf64-2v2rx/ttyxxPz4tl-000204
        status: 200 OK
        code: 200
        duration: 45.934817ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-d4facqrvbnoc73eic1vg-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://test_parameter_overrides_fb85_user:ORlThK7u7i7iYJZFl4OcfgEmxVTycts1@dpg-d4facqrvbnoc73eic1vg-a.oregon-postgres.localhost.render.com:5434/test_parameter_overrides_fb85","internalConnectionString":"postgresql://test_parameter_overrides_fb85_user:ORlThK7u7i7iYJZFl4OcfgEmxVTycts1@dpg-d4facqrvbnoc73eic1vg-a/test_parameter_overrides_fb85","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-d4facqrvbnoc73eic1vg-a.oregon-postgres.localhost.render.com -p 5434 -U test_parameter_overrides_fb85_user test_parameter_overrides_fb85"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "17"
            Render-Request-Id:
                - api-6c86dcdf64-2v2rx/ttyxxPz4tl-000212
        status: 200 OK
        code: 200
        duration: 46.150996ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-d4facqrvbnoc73eic1vg-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-d4facqrvbnoc73eic1vg-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "388"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-6c86dcdf64-2v2rx/ttyxxPz4tl-000215
        status: 404 Not Found
        code: 404
        duration: 31.236301ms
[...]
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: '{"enableHighAvailability":false,"ipAllowList":[],"name":"test-parameter-overrides","parameterOverrides":{"max_connections":"150","shared_buffers":"128MB"},"plan":"pro_4gb","readReplicas":null}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres/dpg-d4facqrvbnoc73eic1vg-a
        method: PATCH
      response:
        body: |
            {"createdAt":"2025-11-20T05:26:03.107234Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-d4facqrvbnoc73eic1vg-a","databaseName":"test_p[...]
[...]
    - id: 32
      request:
        host: https://api.testing.render.com/v1
        body: '{"enableHighAvailability":false,"ipAllowList":[],"name":"test-parameter-overrides","parameterOverrides":{"max_connections":"100"},"plan":"pro_4gb","readReplicas":[{"name":"read-replica","parameterOverrides":{"statement_timeout":"30000"}}]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres/dpg-d4facqrvbnoc73eic1vg-a
        method: PATCH
      response:
        body: |
            {"createdAt":"2025-11-20T05:26:03.107234Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-d4facqrvbnoc73eic1vg-a","databaseName":"test_parameter_overrides_fb85","databaseU[...]
[...]
