---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-05T19:15:21.582273Z","environmentIds":["evm-crd06ibh12fc70f63an0"],"id":"prj-crd06ibh12fc70f63amg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-05T19:15:21.582273Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001936
        status: 201 Created
        code: 201
        duration: 150.547166ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crd06ibh12fc70f63an0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crd06ibh12fc70f63an0","name":"prod","projectId":"prj-crd06ibh12fc70f63amg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001937
        status: 200 OK
        code: 200
        duration: 46.988167ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crd06ibh12fc70f63ao0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crd06ibh12fc70f63ao0","name":"prod","projectId":"prj-crd06ibh12fc70f63ang","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001939
        status: 200 OK
        code: 200
        duration: 46.806416ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"db_name","databaseUser":"db_user","enableHighAvailability":false,"environmentId":"evm-crd06ibh12fc70f63an0","ipAllowList":[],"name":"some-name","ownerId":"some-owner-id","plan":"starter","readReplicas":null,"region":"oregon","version":"15"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-05T19:15:21.949077245Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-crd06ibh12fc70f63ap0-a","databaseName":"db_name_xx03","databaseUser":"db_user","environmentId":"evm-crd06ibh12fc70f63an0","highAvailabilityEnabled":false,"id":"dpg-crd06ibh12fc70f63ap0-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-09-05T19:15:21.949077245Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "193"
            Ratelimit-Reset:
                - "2678"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001940
        status: 201 Created
        code: 201
        duration: 160.978209ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crd06ibh12fc70f63ap0-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-05T19:15:21.949077Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-crd06ibh12fc70f63ap0-a","databaseName":"db_name_xx03","databaseUser":"db_user","environmentId":"evm-crd06ibh12fc70f63an0","highAvailabilityEnabled":false,"id":"dpg-crd06ibh12fc70f63ap0-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-09-05T19:15:21.949077Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001941
        status: 200 OK
        code: 200
        duration: 64.6355ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crd06ibh12fc70f63ap0-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://db_user:GY5BeojkLiXFaHiwgMSZyCBfjS7n0VTo@dpg-crd06ibh12fc70f63ap0-a.oregon-postgres.localhost.render.com:5434/db_name_xx03","internalConnectionString":"postgresql://db_user:GY5BeojkLiXFaHiwgMSZyCBfjS7n0VTo@dpg-crd06ibh12fc70f63ap0-a/db_name_xx03","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-crd06ibh12fc70f63ap0-a.oregon-postgres.localhost.render.com -p 5434 -U db_user db_name_xx03"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001949
        status: 200 OK
        code: 200
        duration: 49.080458ms
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-crd06ibh12fc70f63ap0-a
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"dpg-crd06ibh12fc70f63ap0-a","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "29"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001950
        status: 200 OK
        code: 200
        duration: 43.148125ms
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crd06ibh12fc70f63amg
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-05T19:15:21.582273Z","environmentIds":["evm-crd06ibh12fc70f63an0"],"id":"prj-crd06ibh12fc70f63amg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-05T19:15:21.582273Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001951
        status: 200 OK
        code: 200
        duration: 61.957291ms
[...]
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crd06ibh12fc70f63ang
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-05T19:15:21.729164Z","environmentIds":["evm-crd06ibh12fc70f63ao0"],"id":"prj-crd06ibh12fc70f63ang","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-05T19:15:21.729164Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001953
        status: 200 OK
        code: 200
        duration: 68.211ms
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/dpg-crd06ibh12fc70f63ap0-a/resources?resourceIds=dpg-crd06ibh12fc70f63ap0-a
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001969
        status: 204 No Content
        code: 204
        duration: 81.726416ms
    - id: 34
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["dpg-crd06ibh12fc70f63ap0-a"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crd06ibh12fc70f63ao0/resources
        method: POST
      response:
        body: |
            {"databasesIds":["dpg-crd06ibh12fc70f63ap0-a","dpg-crd06ibh12fc70f63ap0-b"],"envGroupIds":null,"id":"evm-crd06ibh12fc70f63ao0","name":"prod","projectId":"prj-crd06ibh12fc70f63ang","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001970
        status: 201 Created
        code: 201
        duration: 103.070417ms
[...]
    - id: 43
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-crd06ibh12fc70f63ap0-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-crd06ibh12fc70f63ap0-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "24"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001979
        status: 404 Not Found
        code: 404
        duration: 33.854417ms
[...]
    - id: 53
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crd06t3h12fc70f63au0-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-05T19:16:04.944646Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-crd06t3h12fc70f63au0-a","databaseName":"db_name2_2jfc","databaseUser":"db_user2","highAvailabilityEnabled":false,"id":"dpg-crd06t3h12fc70f63au0-a","ipAllowList":null,"name":"new-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"standard","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-09-05T19:16:04.944646Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "370"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001989
        status: 200 OK
        code: 200
        duration: 44.185542ms
[...]
    - id: 63
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crd06t3h12fc70f63au0-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://db_user2:C7zFAUIkCPaalLXgC56wB3L7kyzkyvXO@dpg-crd06t3h12fc70f63au0-a.oregon-postgres.localhost.render.com:5434/db_name2_2jfc","internalConnectionString":"postgresql://db_user2:C7zFAUIkCPaalLXgC56wB3L7kyzkyvXO@dpg-crd06t3h12fc70f63au0-a/db_name2_2jfc","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-crd06t3h12fc70f63au0-a.oregon-postgres.localhost.render.com -p 5434 -U db_user2 db_name2_2jfc"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-001999
        status: 200 OK
        code: 200
        duration: 48.543084ms
[...]
    - id: 70
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-crd06t3h12fc70f63au0-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-crd06t3h12fc70f63au0-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "29"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-686c584465-hl85w/c6jW99Yd3J-002006
        status: 404 Not Found
        code: 404
        duration: 35.901292ms
[...]
