---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","networkIsolationEnabled":false,"protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2026-05-04T20:43:01.298824Z","environmentIds":["evm-d7sg9l8k1i2s7381aj20"],"id":"prj-d7sg9l8k1i2s7381aj10","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Tucker's Terraform Cassette Test","type":"team"},"updatedAt":"2026-05-04T20:43:01.298824Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-67697cb9cc-xcbhc/vgcYLi38GW-154027
        status: 201 Created
        code: 201
        duration: 392.107ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d7sg9l8k1i2s7381aj20
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d7sg9l8k1i2s7381aj20","ipAllowList":[{"cidrBlock":"0.0.0.0/0","description":"everywhere"}],"name":"prod","networkIsolationEnabled":false,"projectId":"prj-d7sg9l8k1i2s7381aj10","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-67697cb9cc-8r4lj/bvH9OfgVXm-326119
        status: 200 OK
        code: 200
        duration: 110.666ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d7sg9lbeo5us73ahovp0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d7sg9lbeo5us73ahovp0","ipAllowList":[{"cidrBlock":"0.0.0.0/0","description":"everywhere"}],"name":"prod","networkIsolationEnabled":false,"projectId":"prj-d7sg9lbeo5us73ahovo0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-67697cb9cc-hr98q/EEsGBcgj5Z-130855
        status: 200 OK
        code: 200
        duration: 110.013333ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"db_name","databaseUser":"db_user","diskSizeGB":20,"enableHighAvailability":false,"environmentId":"evm-d7sg9l8k1i2s7381aj20","ipAllowList":[],"name":"some-name","ownerId":"some-owner-id","plan":"basic_256mb","readReplicas":null,"region":"oregon","version":"15"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2026-05-04T20:43:02.84289922Z","dashboardUrl":"https://dashboard.render.com/d/dpg-d7sg9ln7f7vs73d9bg5g-a","databaseName":"db_name_ehyv","databaseUser":"db_user","diskAutoscalingEnabled":false,"diskSizeGB":20,"environmentId":"evm-d7sg9l8k1i2s7381aj20","highAvailabilityEnabled":false,"id":"dpg-d7sg9ln7f7vs73d9bg5g-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Tucker's Terraform Cassette Test","type":"team"},"plan":"basic_256mb","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2026-05-04T20:43:02.84289922Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "18"
            Ratelimit-Reset:
                - "1017"
            Render-Request-Id:
                - api-67697cb9cc-mj245/HwjA0atTkv-226324
        status: 201 Created
        code: 201
        duration: 1.022058834s
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-d7sg9ln7f7vs73d9bg5g-a
        method: GET
      response:
        body: |
            {"createdAt":"2026-05-04T20:43:02.842899Z","dashboardUrl":"https://dashboard.render.com/d/dpg-d7sg9ln7f7vs73d9bg5g-a","databaseName":"db_name_ehyv","databaseUser":"db_user","diskAutoscalingEnabled":false,"diskSizeGB":20,"environmentId":"evm-d7sg9l8k1i2s7381aj20","highAvailabilityEnabled":false,"id":"dpg-d7sg9ln7f7vs73d9bg5g-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Tucker's Terraform Cassette Test","type":"team"},"plan":"basic_256mb","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2026-05-04T20:43:02.842899Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-67697cb9cc-rr9lz/iQKxXhmUkr-189655
        status: 200 OK
        code: 200
        duration: 128.413959ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-d7sg9ln7f7vs73d9bg5g-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://db_user:kWnZFH3RCkyZCEvJX2zJfw6NneSC9qPs@dpg-d7sg9ln7f7vs73d9bg5g-a.oregon-postgres.render.com:5432/db_name_ehyv","internalConnectionString":"postgresql://db_user:kWnZFH3RCkyZCEvJX2zJfw6NneSC9qPs@dpg-d7sg9ln7f7vs73d9bg5g-a/db_name_ehyv","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-d7sg9ln7f7vs73d9bg5g-a.oregon-postgres.render.com -p 5432 -U db_user db_name_ehyv"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "389"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-67697cb9cc-rr9lz/iQKxXhmUkr-191543
        status: 200 OK
        code: 200
        duration: 190.115917ms
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-d7sg9ln7f7vs73d9bg5g-a
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"dpg-d7sg9ln7f7vs73d9bg5g-a","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-67697cb9cc-2x52t/rJPzHDiqR2-197218
        status: 200 OK
        code: 200
        duration: 127.987291ms
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-d7sg9l8k1i2s7381aj10
        method: GET
      response:
        body: |
            {"createdAt":"2026-05-04T20:43:01.298824Z","environmentIds":["evm-d7sg9l8k1i2s7381aj20"],"id":"prj-d7sg9l8k1i2s7381aj10","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Tucker's Terraform Cassette Test","type":"team"},"updatedAt":"2026-05-04T20:43:01.298824Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "388"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-67697cb9cc-mj245/HwjA0atTkv-228668
        status: 200 OK
        code: 200
        duration: 207.9675ms
[...]
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-d7sg9lbeo5us73ahovo0
        method: GET
      response:
        body: |
            {"createdAt":"2026-05-04T20:43:01.679555Z","environmentIds":["evm-d7sg9lbeo5us73ahovp0"],"id":"prj-d7sg9lbeo5us73ahovo0","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Tucker's Terraform Cassette Test","type":"team"},"updatedAt":"2026-05-04T20:43:01.679555Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "386"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-67697cb9cc-2x52t/rJPzHDiqR2-197249
        status: 200 OK
        code: 200
        duration: 139.094417ms
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/dpg-d7sg9ln7f7vs73d9bg5g-a/resources?resourceIds=dpg-d7sg9ln7f7vs73d9bg5g-a
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-67697cb9cc-8r4lj/bvH9OfgVXm-329186
        status: 204 No Content
        code: 204
        duration: 162.998792ms
    - id: 34
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["dpg-d7sg9ln7f7vs73d9bg5g-a"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-d7sg9lbeo5us73ahovp0/resources
        method: POST
      response:
        body: |
            {"databasesIds":["dpg-d7sg9ln7f7vs73d9bg5g-b","dpg-d7sg9ln7f7vs73d9bg5g-a"],"envGroupIds":null,"id":"evm-d7sg9lbeo5us73ahovp0","ipAllowList":[{"cidrBlock":"0.0.0.0/0","description":"everywhere"}],"name":"prod","networkIsolationEnabled":false,"projectId":"prj-d7sg9lbeo5us73ahovo0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "94"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-67697cb9cc-8r4lj/bvH9OfgVXm-329190
        status: 201 Created
        code: 201
        duration: 185.187ms
[...]
    - id: 43
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-d7sg9ln7f7vs73d9bg5g-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-d7sg9ln7f7vs73d9bg5g-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "364"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-67697cb9cc-8r4lj/bvH9OfgVXm-329323
        status: 404 Not Found
        code: 404
        duration: 168.265792ms
    - id: 44
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-d7sg9ln7f7vs73d9bg5g-b
        method: GET
      response:
        body: |
            {"message":"not found: dpg-d7sg9ln7f7vs73d9bg5g-b"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "363"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-67697cb9cc-8r4lj/bvH9OfgVXm-329329
        status: 404 Not Found
        code: 404
        duration: 167.790417ms
[...]
    - id: 93
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-d7sga47avr4c73b59g10-a
        method: GET
      response:
        body: |
            {"createdAt":"2026-05-04T20:44:00.199612Z","dashboardUrl":"https://dashboard.render.com/d/dpg-d7sga47avr4c73b59g10-a","databaseName":"db_name2_jmvr","databaseUser":"db_user2","diskAutoscalingEnabled":false,"diskSizeGB":10,"highAvailabilityEnabled":false,"id":"dpg-d7sga47avr4c73b59g10-a","ipAllowList":null,"name":"new-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Tucker's Terraform Cassette Test","type":"team"},"plan":"pro_4gb","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2026-05-04T20:44:00.199612Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-67697cb9cc-xcbhc/vgcYLi38GW-156932
        status: 200 OK
        code: 200
        duration: 131.345209ms
[...]
    - id: 101
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-d7sga47avr4c73b59g10-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://db_user2:zGgjBnV5OAoBx3leIdeY2Ecd961MXvsl@dpg-d7sga47avr4c73b59g10-a.oregon-postgres.render.com:5432/db_name2_jmvr","internalConnectionString":"postgresql://db_user2:zGgjBnV5OAoBx3leIdeY2Ecd961MXvsl@dpg-d7sga47avr4c73b59g10-a/db_name2_jmvr","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-d7sga47avr4c73b59g10-a.oregon-postgres.render.com -p 5432 -U db_user2 db_name2_jmvr"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-67697cb9cc-hlhmt/HnNQegxyNd-259943
        status: 200 OK
        code: 200
        duration: 116.623958ms
[...]
    - id: 108
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-d7sga47avr4c73b59g10-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-d7sga47avr4c73b59g10-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "384"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-67697cb9cc-hlhmt/HnNQegxyNd-260019
        status: 404 Not Found
        code: 404
        duration: 176.102708ms
[...]
