---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"","databaseUser":"","enableHighAvailability":false,"ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","ownerId":"some-owner-id","plan":"basic_256mb","readReplicas":null,"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-11-14T21:59:25.120359728Z","dashboardUrl":"https://dashboard.render.com/d/dpg-csr75fdsvqrc73fittjg-a","databaseName":"allow_list_postgres_m8s4","databaseUser":"allow_list_postgres_m8s4_user","diskSizeGB":15,"highAvailabilityEnabled":false,"id":"dpg-csr75fdsvqrc73fittjg-a","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"plan":"basic_256mb","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-11-14T21:59:25.120359728Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "13"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-57b744cb74-gl8mk/V9hX7wvBxq-304796
        status: 201 Created
        code: 201
        duration: 494.969292ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-csr75fdsvqrc73fittjg-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-11-14T21:59:25.12036Z","dashboardUrl":"https://dashboard.render.com/d/dpg-csr75fdsvqrc73fittjg-a","databaseName":"allow_list_postgres_m8s4","databaseUser":"allow_list_postgres_m8s4_user","diskSizeGB":15,"highAvailabilityEnabled":false,"id":"dpg-csr75fdsvqrc73fittjg-a","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"plan":"basic_256mb","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-11-14T21:59:25.12036Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "387"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-57b744cb74-gl8mk/V9hX7wvBxq-304806
        status: 200 OK
        code: 200
        duration: 86.898ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-csr75fdsvqrc73fittjg-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://allow_list_postgres_m8s4_user:EmvXXtKxaErGaZpxx3U1tg8mN7Sa7xf1@dpg-csr75fdsvqrc73fittjg-a.oregon-postgres.render.com:5432/allow_list_postgres_m8s4","internalConnectionString":"postgresql://allow_list_postgres_m8s4_user:EmvXXtKxaErGaZpxx3U1tg8mN7Sa7xf1@dpg-csr75fdsvqrc73fittjg-a/allow_list_postgres_m8s4","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-csr75fdsvqrc73fittjg-a.oregon-postgres.render.com -p 5432 -U allow_list_postgres_m8s4_user allow_list_postgres_m8s4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-57b744cb74-xnfk6/dTIrnoTmIv-278538
        status: 200 OK
        code: 200
        duration: 104.006291ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-csr75fdsvqrc73fittjg-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-csr75fdsvqrc73fittjg-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-57b744cb74-gl8mk/V9hX7wvBxq-305774
        status: 404 Not Found
        code: 404
        duration: 302.661042ms
[...]
