---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"","databaseUser":"","enableHighAvailability":false,"ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","ownerId":"some-owner-id","plan":"starter","readReplicas":null,"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-09T16:38:22.229535544Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-crfi8vk8m55c703hl2ug-a","databaseName":"allow_list_postgres_vrx2","databaseUser":"allow_list_postgres_vrx2_user","highAvailabilityEnabled":false,"id":"dpg-crfi8vk8m55c703hl2ug-a","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-09-09T16:38:22.229535544Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000273
        status: 201 Created
        code: 201
        duration: 124.567625ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crfi8vk8m55c703hl2ug-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-09T16:38:22.229536Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-crfi8vk8m55c703hl2ug-a","databaseName":"allow_list_postgres_vrx2","databaseUser":"allow_list_postgres_vrx2_user","highAvailabilityEnabled":false,"id":"dpg-crfi8vk8m55c703hl2ug-a","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"allow-list-postgres","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-09-09T16:38:22.229536Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9988"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000274
        status: 200 OK
        code: 200
        duration: 43.080458ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crfi8vk8m55c703hl2ug-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://allow_list_postgres_vrx2_user:sWk7Vxz2z50Mbbn7iVCKnzmzBm7Efja8@dpg-crfi8vk8m55c703hl2ug-a.oregon-postgres.localhost.render.com:5434/allow_list_postgres_vrx2","internalConnectionString":"postgresql://allow_list_postgres_vrx2_user:sWk7Vxz2z50Mbbn7iVCKnzmzBm7Efja8@dpg-crfi8vk8m55c703hl2ug-a/allow_list_postgres_vrx2","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-crfi8vk8m55c703hl2ug-a.oregon-postgres.localhost.render.com -p 5434 -U allow_list_postgres_vrx2_user allow_list_postgres_vrx2"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9996"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000284
        status: 200 OK
        code: 200
        duration: 42.843417ms
[...]
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-crfi8vk8m55c703hl2ug-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-crfi8vk8m55c703hl2ug-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9993"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000287
        status: 404 Not Found
        code: 404
        duration: 45.721708ms
[...]
