---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-30T22:12:28.92511Z","environmentIds":["evm-cpcfjj0kf6qq5iin95mg"],"id":"prj-cpcfjj0kf6qq5iin95m0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-30T22:12:28.92511Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000335
        status: 201 Created
        code: 201
        duration: 158.904291ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpcfjj0kf6qq5iin95mg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpcfjj0kf6qq5iin95mg","name":"prod","projectId":"prj-cpcfjj0kf6qq5iin95m0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000336
        status: 200 OK
        code: 200
        duration: 40.774959ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpcfjj8kf6qq5iin95ng
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpcfjj8kf6qq5iin95ng","name":"prod","projectId":"prj-cpcfjj8kf6qq5iin95n0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000338
        status: 200 OK
        code: 200
        duration: 40.230083ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"db_name","databaseUser":"db_user","enableHighAvailability":false,"environmentId":"evm-cpcfjj0kf6qq5iin95mg","ipAllowList":[],"name":"some-name","ownerId":"some-owner-id","plan":"starter","readReplicas":null,"region":"oregon","version":"15"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-30T22:12:29.246875219Z","databaseName":"db_name_zz90","databaseUser":"db_user","environmentId":"evm-cpcfjj0kf6qq5iin95mg","highAvailabilityEnabled":false,"id":"dpg-cpcfjj8kf6qq5iin95og-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-30T22:12:29.246875219Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "12"
            Ratelimit-Reset:
                - "2850"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000339
        status: 201 Created
        code: 201
        duration: 137.70725ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcfjj8kf6qq5iin95og-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T22:12:29.246875Z","databaseName":"db_name_zz90","databaseUser":"db_user","environmentId":"evm-cpcfjj0kf6qq5iin95mg","highAvailabilityEnabled":false,"id":"dpg-cpcfjj8kf6qq5iin95og-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-30T22:12:29.246875Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000340
        status: 200 OK
        code: 200
        duration: 52.383083ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcfjj8kf6qq5iin95og-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgres://db_user:thirtytwocharacterpasswooooooord@dpg-cpcfjj8kf6qq5iin95og-a.oregon-postgres.localhost.render.com:5434/db_name_zz90","internalConnectionString":"postgres://db_user:thirtytwocharacterpasswooooooord@dpg-cpcfjj8kf6qq5iin95og-a/db_name_zz90","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-cpcfjj8kf6qq5iin95og-a.oregon-postgres.localhost.render.com -p 5434 -U db_user db_name_zz90"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000348
        status: 200 OK
        code: 200
        duration: 41.834708ms
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpcfjj0kf6qq5iin95m0
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T22:12:28.92511Z","environmentIds":["evm-cpcfjj0kf6qq5iin95mg"],"id":"prj-cpcfjj0kf6qq5iin95m0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-30T22:12:28.92511Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000349
        status: 200 OK
        code: 200
        duration: 61.0805ms
[...]
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpcfjj8kf6qq5iin95n0
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T22:12:29.0724Z","environmentIds":["evm-cpcfjj8kf6qq5iin95ng"],"id":"prj-cpcfjj8kf6qq5iin95n0","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-30T22:12:29.0724Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000351
        status: 200 OK
        code: 200
        duration: 54.795792ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/dpg-cpcfjj8kf6qq5iin95og-a/resources?resourceIds=dpg-cpcfjj8kf6qq5iin95og-a
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000364
        status: 204 No Content
        code: 204
        duration: 138.808333ms
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["dpg-cpcfjj8kf6qq5iin95og-a"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-cpcfjj8kf6qq5iin95ng/resources
        method: POST
      response:
        body: |
            {"databasesIds":["dpg-cpcfjj8kf6qq5iin95og-a"],"envGroupIds":null,"id":"evm-cpcfjj8kf6qq5iin95ng","name":"prod","projectId":"prj-cpcfjj8kf6qq5iin95n0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000365
        status: 201 Created
        code: 201
        duration: 186.553292ms
[...]
    - id: 46
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcfjtokf6qq5iin95t0-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T22:13:11.900861Z","databaseName":"db_name2_4cou","databaseUser":"db_user2","highAvailabilityEnabled":false,"id":"dpg-cpcfjtokf6qq5iin95t0-a","ipAllowList":null,"name":"new-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"standard","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-30T22:13:11.900861Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "370"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000381
        status: 200 OK
        code: 200
        duration: 51.864667ms
[...]
    - id: 54
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcfjtokf6qq5iin95t0-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgres://db_user2:thirtytwocharacterpasswooooooord@dpg-cpcfjtokf6qq5iin95t0-a.oregon-postgres.localhost.render.com:5434/db_name2_4cou","internalConnectionString":"postgres://db_user2:thirtytwocharacterpasswooooooord@dpg-cpcfjtokf6qq5iin95t0-a/db_name2_4cou","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-cpcfjtokf6qq5iin95t0-a.oregon-postgres.localhost.render.com -p 5434 -U db_user2 db_name2_4cou"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "362"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000389
        status: 200 OK
        code: 200
        duration: 39.227084ms
[...]
