---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-11-14T21:57:59.627135Z","environmentIds":["evm-csr74pt2ng1s73f6mh60"],"id":"prj-csr74pt2ng1s73f6mh5g","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"updatedAt":"2024-11-14T21:57:59.627135Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-57b744cb74-xnfk6/dTIrnoTmIv-275841
        status: 201 Created
        code: 201
        duration: 169.554ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-csr74pt2ng1s73f6mh60
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-csr74pt2ng1s73f6mh60","name":"prod","projectId":"prj-csr74pt2ng1s73f6mh5g","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-57b744cb74-77c5f/OdK7aEjKHp-061916
        status: 200 OK
        code: 200
        duration: 62.462292ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-csr74ptds78s73elbol0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-csr74ptds78s73elbol0","name":"prod","projectId":"prj-csr74ptds78s73elbokg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-57b744cb74-nxhfh/K89QxVOg2O-302707
        status: 200 OK
        code: 200
        duration: 54.312666ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"db_name","databaseUser":"db_user","enableHighAvailability":false,"environmentId":"evm-csr74pt2ng1s73f6mh60","ipAllowList":[],"name":"some-name","ownerId":"some-owner-id","plan":"basic_256mb","readReplicas":null,"region":"oregon","version":"15"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-11-14T21:58:00.644996781Z","dashboardUrl":"https://dashboard.render.com/d/dpg-csr74q1opnds73b6jmrg-a","databaseName":"db_name_i9ud","databaseUser":"db_user","diskSizeGB":15,"environmentId":"evm-csr74pt2ng1s73f6mh60","highAvailabilityEnabled":false,"id":"dpg-csr74q1opnds73b6jmrg-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"plan":"basic_256mb","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-11-14T21:58:00.644996781Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "15"
            Ratelimit-Reset:
                - "119"
            Render-Request-Id:
                - api-57b744cb74-765pq/r7NQ76V3DW-326431
        status: 201 Created
        code: 201
        duration: 545.694083ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-csr74q1opnds73b6jmrg-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-11-14T21:58:00.644997Z","dashboardUrl":"https://dashboard.render.com/d/dpg-csr74q1opnds73b6jmrg-a","databaseName":"db_name_i9ud","databaseUser":"db_user","diskSizeGB":15,"environmentId":"evm-csr74pt2ng1s73f6mh60","highAvailabilityEnabled":false,"id":"dpg-csr74q1opnds73b6jmrg-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"plan":"basic_256mb","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-11-14T21:58:00.644997Z","version":"15"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-57b744cb74-xnfk6/dTIrnoTmIv-275860
        status: 200 OK
        code: 200
        duration: 93.548833ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-csr74q1opnds73b6jmrg-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://db_user:8guFqQEfVj5Fn8xS6PWBq2ntAOfZqZYG@dpg-csr74q1opnds73b6jmrg-a.oregon-postgres.render.com:5432/db_name_i9ud","internalConnectionString":"postgresql://db_user:8guFqQEfVj5Fn8xS6PWBq2ntAOfZqZYG@dpg-csr74q1opnds73b6jmrg-a/db_name_i9ud","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-csr74q1opnds73b6jmrg-a.oregon-postgres.render.com -p 5432 -U db_user db_name_i9ud"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "390"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-57b744cb74-xnfk6/dTIrnoTmIv-276789
        status: 200 OK
        code: 200
        duration: 77.676ms
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-csr74q1opnds73b6jmrg-a
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"dpg-csr74q1opnds73b6jmrg-a","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-57b744cb74-77c5f/OdK7aEjKHp-062446
        status: 200 OK
        code: 200
        duration: 75.21125ms
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-csr74pt2ng1s73f6mh5g
        method: GET
      response:
        body: |
            {"createdAt":"2024-11-14T21:57:59.627135Z","environmentIds":["evm-csr74pt2ng1s73f6mh60"],"id":"prj-csr74pt2ng1s73f6mh5g","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"updatedAt":"2024-11-14T21:57:59.627135Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "389"
            Ratelimit-Reset:
                - "15"
            Render-Request-Id:
                - api-57b744cb74-77c5f/OdK7aEjKHp-062457
        status: 200 OK
        code: 200
        duration: 171.478875ms
[...]
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-csr74ptds78s73elbokg
        method: GET
      response:
        body: |
            {"createdAt":"2024-11-14T21:57:59.933572Z","environmentIds":["evm-csr74ptds78s73elbol0"],"id":"prj-csr74ptds78s73elbokg","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"updatedAt":"2024-11-14T21:57:59.933572Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "387"
            Ratelimit-Reset:
                - "15"
            Render-Request-Id:
                - api-57b744cb74-765pq/r7NQ76V3DW-327460
        status: 200 OK
        code: 200
        duration: 126.575333ms
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/dpg-csr74q1opnds73b6jmrg-a/resources?resourceIds=dpg-csr74q1opnds73b6jmrg-a
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-57b744cb74-xnfk6/dTIrnoTmIv-276889
        status: 204 No Content
        code: 204
        duration: 95.877875ms
    - id: 34
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["dpg-csr74q1opnds73b6jmrg-a"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-csr74ptds78s73elbol0/resources
        method: POST
      response:
        body: |
            {"databasesIds":["dpg-csr74q1opnds73b6jmrg-a","dpg-csr74q1opnds73b6jmrg-b"],"envGroupIds":null,"id":"evm-csr74ptds78s73elbol0","name":"prod","projectId":"prj-csr74ptds78s73elbokg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-57b744cb74-gl8mk/V9hX7wvBxq-303916
        status: 201 Created
        code: 201
        duration: 195.651375ms
[...]
    - id: 43
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-csr74q1opnds73b6jmrg-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-csr74q1opnds73b6jmrg-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "365"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-57b744cb74-765pq/r7NQ76V3DW-327578
        status: 404 Not Found
        code: 404
        duration: 88.664042ms
[...]
    - id: 52
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"db_name2","databaseUser":"db_user2","enableHighAvailability":false,"ipAllowList":[],"name":"new-name","ownerId":"some-owner-id","plan":"free","readReplicas":null,"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-11-14T21:58:51.495656881Z","dashboardUrl":"https://dashboard.render.com/d/dpg-csr756tds78s73elbt20-a","databaseName":"db_name2","databaseUser":"db_user2","expiresAt":"2024-12-14T21:58:51.495656881Z","highAvailabilityEnabled":false,"id":"dpg-csr756tds78s73elbt20-a","ipAllowList":null,"name":"new-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"plan":"free","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-11-14T21:58:51.495656881Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "14"
            Ratelimit-Reset:
                - "68"
            Render-Request-Id:
                - api-57b744cb74-77c5f/OdK7aEjKHp-062535
        status: 201 Created
        code: 201
        duration: 305.262791ms
    - id: 53
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-csr756tds78s73elbt20-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-11-14T21:58:51.495657Z","dashboardUrl":"https://dashboard.render.com/d/dpg-csr756tds78s73elbt20-a","databaseName":"db_name2","databaseUser":"db_user2","expiresAt":"2024-12-14T21:58:51.495657Z","highAvailabilityEnabled":false,"id":"dpg-csr756tds78s73elbt20-a","ipAllowList":null,"name":"new-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"plan":"free","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-11-14T21:58:51.495657Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "357"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-57b744cb74-77c5f/OdK7aEjKHp-062538
        status: 200 OK
        code: 200
        duration: 79.660791ms
[...]
    - id: 60
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-csr756tds78s73elbt20-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://db_user2:u5WLctJRP9iZ4PcOfSNr72jfWkaQYUBW@dpg-csr756tds78s73elbt20-a.oregon-postgres.render.com:5432/db_name2","internalConnectionString":"postgresql://db_user2:u5WLctJRP9iZ4PcOfSNr72jfWkaQYUBW@dpg-csr756tds78s73elbt20-a/db_name2","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-csr756tds78s73elbt20-a.oregon-postgres.render.com -p 5432 -U db_user2 db_name2"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-57b744cb74-gl8mk/V9hX7wvBxq-304730
        status: 200 OK
        code: 200
        duration: 104.688333ms
[...]
    - id: 67
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-csr756tds78s73elbt20-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-csr756tds78s73elbt20-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "388"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-57b744cb74-765pq/r7NQ76V3DW-328360
        status: 404 Not Found
        code: 404
        duration: 86.145917ms
[...]
