---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/notification-settings/owners/some-owner-id
        method: GET
      response:
        body: |
            {"emailEnabled":true,"notificationsToSend":"none","ownerId":"some-owner-id","previewNotificationsEnabled":true,"slackEnabled":false}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1519215
        status: 200 OK
        code: 200
        duration: 98.112666ms
[...]
