---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/notification-settings/owners/some-owner-id
        method: GET
      response:
        body: |
            {"emailEnabled":true,"notificationsToSend":"failure","ownerId":"some-owner-id","previewNotificationsEnabled":false,"slackEnabled":false}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "498"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000008
        status: 200 OK
        code: 200
        duration: 80.667333ms
[...]
