---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","networkIsolationEnabled":false,"protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2026-06-09T16:25:25.533574Z","environmentIds":["evm-d8k3stdodlmc73btr2s0"],"id":"prj-d8k3stdodlmc73btr2r0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"updatedAt":"2026-06-09T16:25:25.533574Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000750
        status: 201 Created
        code: 201
        duration: 133.481209ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"ipAllowList":[],"maxmemoryPolicy":"allkeys_lfu","name":"test-keyvalue-paid","ownerId":"some-owner-id","plan":"starter","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/key-value
        method: POST
      response:
        body: |
            {"createdAt":"2026-06-09T16:25:25.48944232Z","id":"red-d8k3stdodlmc73btr2q0","ipAllowList":null,"name":"test-keyvalue-paid","options":{"maxmemoryPolicy":"allkeys_lfu","persistenceMode":"journal_snapshot"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"starter","region":"oregon","status":"unknown","updatedAt":"2026-06-09T16:25:25.48944232Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "11"
            Ratelimit-Reset:
                - "2074"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000749
        status: 201 Created
        code: 201
        duration: 348.888583ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d8k3stdodlmc73btr2s0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d8k3stdodlmc73btr2s0","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d8k3stdodlmc73btr2r0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000751
        status: 200 OK
        code: 200
        duration: 65.890208ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/key-value/red-d8k3stdodlmc73btr2q0/connection-info
        method: GET
      response:
        body: |
            {"cliCommand":" REDISCLI_AUTH=WaE4JEDy7ygZu0tOR8v73BR6mghAr1rG valkey-cli --user red-d8k3stdodlmc73btr2q0 -h oregon-keyvalue.localhost.render.com -p 6377 --tls","externalConnectionString":"rediss://red-d8k3stdodlmc73btr2q0:WaE4JEDy7ygZu0tOR8v73BR6mghAr1rG@oregon-keyvalue.localhost.render.com:6377","internalConnectionString":"redis://red-d8k3stdodlmc73btr2q0:6379"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000752
        status: 200 OK
        code: 200
        duration: 73.083333ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d8k3stlodlmc73btr2ug
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d8k3stlodlmc73btr2ug","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d8k3stlodlmc73btr2tg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000754
        status: 200 OK
        code: 200
        duration: 69.270541ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"environmentId":"evm-d8k3stdodlmc73btr2s0","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"maxmemoryPolicy":"allkeys_lfu","name":"test-keyvalue","ownerId":"some-owner-id","persistenceMode":"journal_snapshot","plan":"starter","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/key-value
        method: POST
      response:
        body: |
            {"createdAt":"2026-06-09T16:25:26.405394083Z","environmentId":"evm-d8k3stdodlmc73btr2s0","id":"red-d8k3stlodlmc73btr2vg","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-keyvalue","options":{"maxmemoryPolicy":"allkeys_lfu","persistenceMode":"journal_snapshot"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"starter","region":"oregon","status":"unknown","updatedAt":"2026-06-09T16:25:26.405394083Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "10"
            Ratelimit-Reset:
                - "2073"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000755
        status: 201 Created
        code: 201
        duration: 290.903542ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/key-value/red-d8k3stlodlmc73btr2vg/connection-info
        method: GET
      response:
        body: |
            {"cliCommand":" REDISCLI_AUTH=J1Nn3zNY0GwZ2Pspo6Tno4kVBYanCegk valkey-cli --user red-d8k3stlodlmc73btr2vg -h oregon-keyvalue.localhost.render.com -p 6377 --tls","externalConnectionString":"rediss://red-d8k3stlodlmc73btr2vg:J1Nn3zNY0GwZ2Pspo6Tno4kVBYanCegk@oregon-keyvalue.localhost.render.com:6377","internalConnectionString":"redis://red-d8k3stlodlmc73btr2vg:6379"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000756
        status: 200 OK
        code: 200
        duration: 79.486416ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/red-d8k3stlodlmc73btr2vg
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"red-d8k3stlodlmc73btr2vg","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000757
        status: 200 OK
        code: 200
        duration: 74.621375ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-d8k3stdodlmc73btr2r0
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-09T16:25:25.533574Z","environmentIds":["evm-d8k3stdodlmc73btr2s0"],"id":"prj-d8k3stdodlmc73btr2r0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"updatedAt":"2026-06-09T16:25:25.533574Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000758
        status: 200 OK
        code: 200
        duration: 94.565375ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/key-value/red-d8k3stdodlmc73btr2q0
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-09T16:25:25.489442Z","id":"red-d8k3stdodlmc73btr2q0","ipAllowList":null,"name":"test-keyvalue-paid","options":{"maxmemoryPolicy":"allkeys_lfu","persistenceMode":"journal_snapshot"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2026-06-09T16:25:25.489442Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000759
        status: 200 OK
        code: 200
        duration: 85.379375ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-d8k3stlodlmc73btr2tg
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-09T16:25:26.03239Z","environmentIds":["evm-d8k3stlodlmc73btr2ug"],"id":"prj-d8k3stlodlmc73btr2tg","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"updatedAt":"2026-06-09T16:25:26.03239Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000762
        status: 200 OK
        code: 200
        duration: 99.388625ms
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/red-d8k3stdodlmc73btr2q0
        method: GET
      response:
        body: |
            {"message":"not found: red-d8k3stdodlmc73btr2q0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "390"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000763
        status: 404 Not Found
        code: 404
        duration: 52.054708ms
[...]
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/key-value/red-d8k3stlodlmc73btr2vg
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-09T16:25:26.405394Z","environmentId":"evm-d8k3stdodlmc73btr2s0","id":"red-d8k3stlodlmc73btr2vg","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-keyvalue","options":{"maxmemoryPolicy":"allkeys_lfu","persistenceMode":"journal_snapshot"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2026-06-09T16:25:26.405394Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "388"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000765
        status: 200 OK
        code: 200
        duration: 111.700958ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/red-d8k3stlodlmc73btr2vg/resources?resourceIds=red-d8k3stlodlmc73btr2vg
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "94"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000784
        status: 204 No Content
        code: 204
        duration: 93.07325ms
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["red-d8k3stlodlmc73btr2vg"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-d8k3stlodlmc73btr2ug/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d8k3stlodlmc73btr2ug","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d8k3stlodlmc73btr2tg","protectedStatus":"protected","redisIds":["red-d8k3stlodlmc73btr2vg"],"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000785
        status: 201 Created
        code: 201
        duration: 131.830041ms
[...]
    - id: 83
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/key-value/red-d8k3t0todlmc73btr3eg/connection-info
        method: GET
      response:
        body: |
            {"cliCommand":" REDISCLI_AUTH=8Winu0ktWaHJU9KKcIxLOraCu3TIGifV valkey-cli --user red-d8k3t0todlmc73btr3eg -h oregon-keyvalue.localhost.render.com -p 6377 --tls","externalConnectionString":"rediss://red-d8k3t0todlmc73btr3eg:8Winu0ktWaHJU9KKcIxLOraCu3TIGifV@oregon-keyvalue.localhost.render.com:6377","internalConnectionString":"redis://red-d8k3t0todlmc73btr3eg:6379"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "330"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000832
        status: 200 OK
        code: 200
        duration: 68.388ms
[...]
    - id: 85
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/key-value/red-d8k3t0todlmc73btr3eg
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-09T16:25:39.949527Z","id":"red-d8k3t0todlmc73btr3eg","ipAllowList":null,"name":"test-keyvalue-upgrade","options":{"maxmemoryPolicy":"allkeys_lfu","persistenceMode":"off"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"free","region":"oregon","status":"creating","updatedAt":"2026-06-09T16:25:39.949527Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "329"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000834
        status: 200 OK
        code: 200
        duration: 89.117375ms
[...]
    - id: 87
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/red-d8k3t0todlmc73btr3eg
        method: GET
      response:
        body: |
            {"message":"not found: red-d8k3t0todlmc73btr3eg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "327"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000836
        status: 404 Not Found
        code: 404
        duration: 54.04925ms
[...]
    - id: 101
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/key-value/red-d8k3t1todlmc73btr3m0/connection-info
        method: GET
      response:
        body: |
            {"cliCommand":" REDISCLI_AUTH=Ef1zeLCEqvuxS0vbVZLH2eVBYXQFiP1A valkey-cli --user red-d8k3t1todlmc73btr3m0 -h oregon-keyvalue.localhost.render.com -p 6377 --tls","externalConnectionString":"rediss://red-d8k3t1todlmc73btr3m0:Ef1zeLCEqvuxS0vbVZLH2eVBYXQFiP1A@oregon-keyvalue.localhost.render.com:6377","internalConnectionString":"redis://red-d8k3t1todlmc73btr3m0:6379"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "316"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000850
        status: 200 OK
        code: 200
        duration: 68.619708ms
    - id: 102
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/key-value/red-d8k3t1todlmc73btr3m0
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-09T16:25:43.445871Z","id":"red-d8k3t1todlmc73btr3m0","ipAllowList":null,"name":"test-keyvalue-upgrade2","options":{"maxmemoryPolicy":"allkeys_lfu","persistenceMode":"off"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"free","region":"oregon","status":"creating","updatedAt":"2026-06-09T16:25:43.445871Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "315"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000851
        status: 200 OK
        code: 200
        duration: 77.418875ms
[...]
    - id: 104
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/red-d8k3t1todlmc73btr3m0
        method: GET
      response:
        body: |
            {"message":"not found: red-d8k3t1todlmc73btr3m0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "313"
            Ratelimit-Reset:
                - "15"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000853
        status: 404 Not Found
        code: 404
        duration: 54.028375ms
[...]
