---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-09T16:35:27.305482Z","environmentIds":["evm-crfi7js8m55c703hl2fg"],"id":"prj-crfi7js8m55c703hl2f0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-09T16:35:27.305482Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000143
        status: 201 Created
        code: 201
        duration: 145.171ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crfi7js8m55c703hl2fg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crfi7js8m55c703hl2fg","name":"prod","projectId":"prj-crfi7js8m55c703hl2f0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9987"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000144
        status: 200 OK
        code: 200
        duration: 41.325375ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crfi7js8m55c703hl2gg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crfi7js8m55c703hl2gg","name":"prod","projectId":"prj-crfi7js8m55c703hl2g0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9986"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000146
        status: 200 OK
        code: 200
        duration: 40.835125ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"environmentId":"evm-crfi7js8m55c703hl2fg","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"maxmemoryPolicy":"allkeys_lfu","name":"test-keyvalue","ownerId":"some-owner-id","plan":"starter","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/key-value
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-09T16:35:27.643669961Z","environmentId":"evm-crfi7js8m55c703hl2fg","id":"red-crfi7js8m55c703hl2h0","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-keyvalue","options":{"maxmemoryPolicy":"allkeys_lfu"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2024-09-09T16:35:27.643669961Z","version":"6.2.14"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000147
        status: 201 Created
        code: 201
        duration: 223.503667ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/key-value/red-crfi7js8m55c703hl2h0/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"rediss://red-crfi7js8m55c703hl2h0:gIRSGDdOQriMcOCPQHj1durmcXvsgVqm@oregon-redis.localhost.render.com:6377","internalConnectionString":"redis://red-crfi7js8m55c703hl2h0:6379","cliCommand":" REDISCLI_AUTH=gIRSGDdOQriMcOCPQHj1durmcXvsgVqm valkey-cli --user red-crfi7js8m55c703hl2h0 -h oregon-redis.localhost.render.com -p 6377 --tls"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9985"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000148
        status: 200 OK
        code: 200
        duration: 51.036208ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/red-crfi7js8m55c703hl2h0
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"red-crfi7js8m55c703hl2h0","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9996"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000149
        status: 200 OK
        code: 200
        duration: 46.927083ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crfi7js8m55c703hl2f0
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-09T16:35:27.305482Z","environmentIds":["evm-crfi7js8m55c703hl2fg"],"id":"prj-crfi7js8m55c703hl2f0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-09T16:35:27.305482Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9984"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000150
        status: 200 OK
        code: 200
        duration: 62.751583ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crfi7js8m55c703hl2g0
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-09T16:35:27.450645Z","environmentIds":["evm-crfi7js8m55c703hl2gg"],"id":"prj-crfi7js8m55c703hl2g0","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-09T16:35:27.450645Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9982"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000152
        status: 200 OK
        code: 200
        duration: 57.957209ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/key-value/red-crfi7js8m55c703hl2h0
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-09T16:35:27.64367Z","environmentId":"evm-crfi7js8m55c703hl2fg","id":"red-crfi7js8m55c703hl2h0","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"test"},{"cidrBlock":"2.0.0.0/8","description":"test-2"}],"name":"test-keyvalue","options":{"maxmemoryPolicy":"allkeys_lfu"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2024-09-09T16:35:27.64367Z","version":"6.2.14"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9980"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000154
        status: 200 OK
        code: 200
        duration: 55.451416ms
[...]
    - id: 27
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/red-crfi7js8m55c703hl2h0/resources?resourceIds=red-crfi7js8m55c703hl2h0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9993"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000170
        status: 204 No Content
        code: 204
        duration: 64.240417ms
    - id: 28
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["red-crfi7js8m55c703hl2h0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crfi7js8m55c703hl2gg/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crfi7js8m55c703hl2gg","name":"prod","projectId":"prj-crfi7js8m55c703hl2g0","protectedStatus":"protected","redisIds":["red-crfi7js8m55c703hl2h0"],"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9992"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000171
        status: 201 Created
        code: 201
        duration: 88.095459ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/red-crfi7js8m55c703hl2h0
        method: GET
      response:
        body: |
            {"message":"not found: red-crfi7js8m55c703hl2h0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9960"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000178
        status: 404 Not Found
        code: 404
        duration: 33.894542ms
[...]
