---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"enabled":true,"eventFilter":null,"name":"test-tf-webhook","ownerId":"some-owner-id","url":"https://test-url.render.com"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/webhooks
        method: POST
      response:
        body: |
            {"enabled":true,"eventFilter":null,"id":"whk-cuqcf8vdrj4c70f1v5g0","name":"test-tf-webhook","secret":"","url":"https://test-url.render.com"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-664bfc759-f76dk/Byhm598gwJ-000072
        status: 201 Created
        code: 201
        duration: 244.31575ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/webhooks/whk-cuqcf8vdrj4c70f1v5g0
        method: GET
      response:
        body: |
            {"enabled":true,"eventFilter":null,"id":"whk-cuqcf8vdrj4c70f1v5g0","name":"test-tf-webhook","secret":"","url":"https://test-url.render.com"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-664bfc759-f76dk/Byhm598gwJ-000073
        status: 200 OK
        code: 200
        duration: 53.677167ms
[...]
