---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"description":"datasource fixture","environmentIds":[],"name":"tf-acc-dsip-ds","ownerId":"some-owner-id","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/dedicated-ips
        method: POST
      response:
        body: |
            {"createdAt":"2026-05-12T21:18:45.144965831Z","description":"datasource fixture","environmentIds":[],"id":"egs-d81pidcdirrc73ds6n6g","ips":[],"name":"tf-acc-dsip-ds","ownerId":"some-owner-id","region":"oregon","status":"CREATING","updatedAt":"2026-05-12T21:18:45.144965831Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-5545d6987d-pg64j/h6z52TOS70-666741
        status: 201 Created
        code: 201
        duration: 391.589541ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/dedicated-ips/egs-d81pidcdirrc73ds6n6g
        method: GET
      response:
        body: |
            {"createdAt":"2026-05-12T21:18:45.144966Z","description":"datasource fixture","environmentIds":[],"id":"egs-d81pidcdirrc73ds6n6g","ips":[],"name":"tf-acc-dsip-ds","ownerId":"some-owner-id","region":"oregon","status":"PENDING","updatedAt":"2026-05-12T21:18:45.349639Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-5545d6987d-rw947/Kw864yqIWB-414743
        status: 200 OK
        code: 200
        duration: 89.873167ms
[...]
