---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"one"},{"cidrBlock":"2.2.2.2/32","description":"two"}],"maxmemoryPolicy":"noeviction","name":"some-redis","ownerId":"some-owner-id","persistenceMode":"snapshot","plan":"starter","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/redis
        method: POST
      response:
        body: |
            {"createdAt":"2026-06-09T16:52:21.311427568Z","id":"red-d8k49hdodlmc73btr41g","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"one"},{"cidrBlock":"2.2.2.2/32","description":"two"}],"name":"some-redis","options":{"maxmemoryPolicy":"noeviction","persistenceMode":"snapshot"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"starter","region":"oregon","status":"unknown","updatedAt":"2026-06-09T16:52:21.311427568Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "5"
            Ratelimit-Reset:
                - "458"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000883
        status: 201 Created
        code: 201
        duration: 342.432ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-d8k49hdodlmc73btr41g/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"rediss://red-d8k49hdodlmc73btr41g:8ZYm1DRMrzGMW7tQnHpFnWesk0dg73Xl@oregon-keyvalue.localhost.render.com:6377","internalConnectionString":"redis://red-d8k49hdodlmc73btr41g:6379","redisCLICommand":" REDISCLI_AUTH=8ZYm1DRMrzGMW7tQnHpFnWesk0dg73Xl valkey-cli --user red-d8k49hdodlmc73btr41g -h oregon-keyvalue.localhost.render.com -p 6377 --tls"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000884
        status: 200 OK
        code: 200
        duration: 62.134666ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/redis/red-d8k49hdodlmc73btr41g
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-09T16:52:21.311428Z","id":"red-d8k49hdodlmc73btr41g","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"one"},{"cidrBlock":"2.2.2.2/32","description":"two"}],"name":"some-redis","options":{"maxmemoryPolicy":"noeviction","persistenceMode":"snapshot"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2026-06-09T16:52:21.311428Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000885
        status: 200 OK
        code: 200
        duration: 85.633791ms
[...]
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/red-d8k49hdodlmc73btr41g
        method: GET
      response:
        body: |
            {"message":"not found: red-d8k49hdodlmc73btr41g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-77b8955cbd-dgpw5/1xnsbqNRn3-000887
        status: 404 Not Found
        code: 404
        duration: 51.056625ms
[...]
