---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-29T21:48:27.2431Z","environmentIds":["evm-cpbq5arievbks45cf46g"],"id":"prj-cpbq5arievbks45cf460","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-29T21:48:27.2431Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "29"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000598
        status: 201 Created
        code: 201
        duration: 96.782083ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpbq5arievbks45cf46g
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpbq5arievbks45cf46g","name":"prod","projectId":"prj-cpbq5arievbks45cf460","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000599
        status: 200 OK
        code: 200
        duration: 32.54625ms
[...]
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"background-worker","ownerId":"some-owner-id","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{},"numInstances":1,"plan":"starter","preDeployCommand":"echo ''hello world''","pullRequestPreviewsEnabled":"yes","region":"oregon"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbq5bbievbks45cf4cg","service":{"autoDeploy":"yes","createdAt":"2024-05-29T21:48:29.620578Z","id":"srv-cpbq5bbievbks45cf48g","imagePath":"docker.io/library/nginx:latest","name":"background-worker","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpbq5bbievbks45cf4b0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"yes","region":"oregon"},"slug":"background-worker","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T21:48:29.868796Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "19"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000602
        status: 201 Created
        code: 201
        duration: 2.285561208s
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-cpbq5bbievbks45cf48g"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-cpbq5arievbks45cf46g/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpbq5arievbks45cf46g","name":"prod","projectId":"prj-cpbq5arievbks45cf460","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-cpbq5bbievbks45cf48g"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "27"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000603
        status: 201 Created
        code: 201
        duration: 122.343583ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpbq5bbievbks45cf48g
        method: PATCH
      response:
        body: |
            {"id":"srv-cpbq5bbievbks45cf48g","notificationsToSend":"all","previewNotificationsEnabled":"true","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "30"
            Ratelimit-Remaining:
                - "397"
                - "26"
            Ratelimit-Reset:
                - "27"
                - "27"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000604
        status: 200 OK
        code: 200
        duration: 26.703958ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5bbievbks45cf48g/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"RC94lLbYFQ81YmJpZXZia3M0NWNmNDln"},{"envVar":{"key":"key1","value":"val1"},"cursor":"RC94lLbYFQ81YmJpZXZia3M0NWNmNDkw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000605
        status: 200 OK
        code: 200
        duration: 34.421208ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5bbievbks45cf48g/env-vars?cursor=RC94lLbYFQ81YmJpZXZia3M0NWNmNDkw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000606
        status: 200 OK
        code: 200
        duration: 21.369208ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5bbievbks45cf48g/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"RC94lLbYFQ81YmJpZXZia3M0NWNmNGFn"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"RC94lLbYFQ81YmJpZXZia3M0NWNmNGEw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000607
        status: 200 OK
        code: 200
        duration: 24.810875ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5bbievbks45cf48g/secret-files?cursor=RC94lLbYFQ81YmJpZXZia3M0NWNmNGEw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000608
        status: 200 OK
        code: 200
        duration: 23.850125ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=background-worker&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"ymeztjKFMt01YmJpZXZia3M0NWNmNDhn","service":{"autoDeploy":"yes","createdAt":"2024-05-29T21:48:29.620578Z","environmentId":"evm-cpbq5arievbks45cf46g","id":"srv-cpbq5bbievbks45cf48g","imagePath":"docker.io/library/nginx:latest","name":"background-worker","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpbq5bbievbks45cf4b0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"yes","region":"oregon"},"slug":"background-worker","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T21:48:32.233301Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000610
        status: 200 OK
        code: 200
        duration: 26.972917ms
[...]
    - id: 18
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5bbievbks45cf48g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T21:48:29.620578Z","environmentId":"evm-cpbq5arievbks45cf46g","id":"srv-cpbq5bbievbks45cf48g","imagePath":"docker.io/library/ng[...]
[...]
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpbq5arievbks45cf460
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-29T21:48:27.2431Z","environmentIds":["evm-cpbq5arievbks45cf46g"],"id":"prj-cpbq5arievbks45cf460","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-29T21:48:27.2431Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "373"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000628
        status: 200 OK
        code: 200
        duration: 28.139333ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data","name":"some-disk","sizeGB":1}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-cpbq5bbievbks45cf4b0
        method: PATCH
      response:
        body: |
            {"createdAt":"2024-05-29T21:48:29.644006Z","id":"dsk-cpbq5bbievbks45cf4b0","mountPath":"/data","name":"some-disk","serviceId":"srv-cpbq5bbievbks45cf48g","sizeGB":1,"updatedAt":"2024-05-29T21:48:29.644006Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "23"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000669
        status: 200 OK
        code: 200
        duration: 37.828209ms
[...]
    - id: 73
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/srv-cpbq5bbievbks45cf48g/resources?resourceIds=srv-cpbq5bbievbks45cf48g
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "21"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000671
        status: 204 No Content
        code: 204
        duration: 140.687084ms
[...]
    - id: 75
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbq5bbievbks45cf48g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbq5djievbks45cf4l0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"pre_deploy_in_progress","trigger":"api","createdAt":"2024-05-29T21:48:38.779377Z","updatedAt":"2024-05-29T21:48:38.859437Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000673
        status: 201 Created
        code: 201
        duration: 295.498292ms
[...]
    - id: 78
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5bbievbks45cf48g/env-vars?cursor=RC94lLbYFQ81ZGJpZXZia3M0NWNmNGln
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "332"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000676
        status: 200 OK
        code: 200
        duration: 22.237083ms
[...]
    - id: 80
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5bbievbks45cf48g/secret-files?cursor=RC94lLbYFQ81ZGJpZXZia3M0NWNmNGpn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "330"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000678
        status: 200 OK
        code: 200
        duration: 45.186083ms
[...]
    - id: 119
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpbq5arievbks45cf47g/resources?resourceIds=srv-cpbq5bbievbks45cf48g
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "15"
            Ratelimit-Reset:
                - "17"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000717
        status: 204 No Content
        code: 204
        duration: 144.185834ms
[...]
    - id: 123
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5bbievbks45cf48g/env-vars?cursor=RC94lLbYFQ81ZWppZXZia3M0NWNmNHJn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "293"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000721
        status: 200 OK
        code: 200
        duration: 44.239542ms
[...]
    - id: 125
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5bbievbks45cf48g/secret-files?cursor=RC94lLbYFQ81ZWppZXZia3M0NWNmNHNn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "291"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000723
        status: 200 OK
        code: 200
        duration: 23.184875ms
[...]
