---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-03T23:13:24.25222Z","environmentIds":["evm-crbpg52j1k6c738e7qs0"],"id":"prj-crbpg52j1k6c738e7qrg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-03T23:13:24.25222Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1065739
        status: 201 Created
        code: 201
        duration: 1.349398875s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbpg52j1k6c738e7qs0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbpg52j1k6c738e7qs0","name":"prod","projectId":"prj-crbpg52j1k6c738e7qrg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-437570
        status: 200 OK
        code: 200
        duration: 66.296375ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbpg52j1k6c738e7qt0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbpg52j1k6c738e7qt0","name":"prod","projectId":"prj-crbpg52j1k6c738e7qsg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-437574
        status: 200 OK
        code: 200
        duration: 67.243334ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"background-worker","ownerId":"some-owner-id","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","preDeployCommand":"echo ''hello world''","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbpg5ij1k6c738e7r5g","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:13:25.967482Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpg5aj1k6c738e7qu0","id":"srv-crbpg5aj1k6c738e7qu0","imagePath":"docker.io/library/nginx:latest","name":"background-worker","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crbpg5ij1k6c738e7r0g","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"plan":"starter","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"yes","region":"oregon"},"slug":"background-worker-v8i3","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:13:26.632562Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "19"
            Ratelimit-Reset:
                - "2795"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1065748
        status: 201 Created
        code: 201
        duration: 2.193329209s
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-crbpg5aj1k6c738e7qu0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crbpg52j1k6c738e7qs0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbpg52j1k6c738e7qs0","name":"prod","projectId":"prj-crbpg52j1k6c738e7qrg","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-crbpg5aj1k6c738e7qu0"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-437599
        status: 201 Created
        code: 201
        duration: 406.630542ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbpg5aj1k6c738e7qu0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-crbpg5aj1k6c738e7qu0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "397"
                - "96"
            Ratelimit-Reset:
                - "32"
                - "32"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1065778
        status: 200 OK
        code: 200
        duration: 68.019083ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpg5aj1k6c738e7qu0/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"vRXeQMKo7dFnNWFqMWs2YzczOGU3cXYw"},{"envVar":{"key":"key1","value":"val1"},"cursor":"vRXeQMKo7dFnNWFqMWs2YzczOGU3cXVn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-437604
        status: 200 OK
        code: 200
        duration: 70.142541ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpg5aj1k6c738e7qu0/env-vars?cursor=vRXeQMKo7dFnNWFqMWs2YzczOGU3cXVn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1065781
        status: 200 OK
        code: 200
        duration: 168.112083ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpg5aj1k6c738e7qu0/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"vRXeQMKo7dFnNWFqMWs2YzczOGU3cjAw"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"vRXeQMKo7dFnNWFqMWs2YzczOGU3cXZn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-437607
        status: 200 OK
        code: 200
        duration: 71.781666ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpg5aj1k6c738e7qu0/secret-files?cursor=vRXeQMKo7dFnNWFqMWs2YzczOGU3cXZn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1065783
        status: 200 OK
        code: 200
        duration: 67.235875ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=background-worker&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"JPWXxwKhepVnNWFqMWs2YzczOGU3cXUw","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:13:25.967482Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpg5aj1k6c738e7qu0","environmentId":"evm-crbpg52j1k6c738e7qs0","id":"srv-crbpg5aj1k6c738e7qu0","imagePath":"docker.io/library/nginx:latest","name":"background-worker","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crbpg5ij1k6c738e7r0g","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"plan":"starter","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"yes","region":"oregon"},"slug":"background-worker-v8i3","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:13:26.900724Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1065786
        status: 200 OK
        code: 200
        duration: 268.123417ms
[...]
    - id: 18
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpg5aj1k6c738e7qu0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:13:25.967482Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpg5aj1k6c738e7qu0","environmentId":"evm-crbpg52j1[...]
[...]
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crbpg52j1k6c738e7qrg
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-03T23:13:24.25222Z","environmentIds":["evm-crbpg52j1k6c738e7qs0"],"id":"prj-crbpg52j1k6c738e7qrg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-03T23:13:24.25222Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "373"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1065821
        status: 200 OK
        code: 200
        duration: 69.509583ms
[...]
    - id: 32
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crbpg52j1k6c738e7qsg
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-03T23:13:24.425359Z","environmentIds":["evm-crbpg52j1k6c738e7qt0"],"id":"prj-crbpg52j1k6c738e7qsg","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-03T23:13:24.425359Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "371"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1065825
        status: 200 OK
        code: 200
        duration: 70.837042ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data","name":"some-disk","sizeGB":1}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-crbpg5ij1k6c738e7r0g
        method: PATCH
      response:
        body: |
            {"createdAt":"2024-09-03T23:13:26.060774Z","id":"dsk-crbpg5ij1k6c738e7r0g","mountPath":"/data","name":"some-disk","serviceId":"srv-crbpg5aj1k6c738e7qu0","sizeGB":1,"updatedAt":"2024-09-03T23:13:26.060774Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-437720
        status: 200 OK
        code: 200
        duration: 103.851709ms
[...]
    - id: 73
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/srv-crbpg5aj1k6c738e7qu0/resources?resourceIds=srv-crbpg5aj1k6c738e7qu0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "91"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-437722
        status: 204 No Content
        code: 204
        duration: 209.663625ms
    - id: 74
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-crbpg5aj1k6c738e7qu0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crbpg52j1k6c738e7qt0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbpg52j1k6c738e7qt0","name":"prod","projectId":"prj-crbpg52j1k6c738e7qsg","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-crbpg5aj1k6c738e7qu0"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "90"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1065931
        status: 201 Created
        code: 201
        duration: 401.717917ms
    - id: 75
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpg5aj1k6c738e7qu0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbpg823esus7393qgh0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"pre_deploy_in_progress","trigger":"api","createdAt":"2024-09-03T23:13:36.963656Z","updatedAt":"2024-09-03T23:13:37.150362Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-437728
        status: 201 Created
        code: 201
        duration: 1.158411208s
[...]
    - id: 78
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpg5aj1k6c738e7qu0/env-vars?cursor=vRXeQMKo7dFnN3EzZXN1czczOTNxZ2Uw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "332"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1065960
        status: 200 OK
        code: 200
        duration: 59.456792ms
[...]
    - id: 80
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpg5aj1k6c738e7qu0/secret-files?cursor=vRXeQMKo7dFnN3FqMWs2YzczOGU3cm1n
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "330"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1065963
        status: 200 OK
        code: 200
        duration: 59.405708ms
[...]
    - id: 119
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbpg52j1k6c738e7qt0/resources?resourceIds=srv-crbpg5aj1k6c738e7qu0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "85"
            Ratelimit-Reset:
                - "17"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-437817
        status: 204 No Content
        code: 204
        duration: 231.592292ms
[...]
    - id: 123
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpg5aj1k6c738e7qu0/env-vars?cursor=vRXeQMKo7dFnOWkzZXN1czczOTNxZ3Iw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "293"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-437843
        status: 200 OK
        code: 200
        duration: 66.250375ms
[...]
    - id: 125
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpg5aj1k6c738e7qu0/secret-files?cursor=vRXeQMKo7dFnOWlqMWs2YzczOGU3czFn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "291"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-437845
        status: 200 OK
        code: 200
        duration: 69.859625ms
[...]
