---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-06T22:11:15.728567Z","environmentIds":["evm-crdns0rh12fc706tdm3g"],"id":"prj-crdns0rh12fc706tdm30","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-06T22:11:15.728567Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000079
        status: 201 Created
        code: 201
        duration: 160.443458ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crdns0rh12fc706tdm3g
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crdns0rh12fc706tdm3g","name":"prod","projectId":"prj-crdns0rh12fc706tdm30","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "392"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000080
        status: 200 OK
        code: 200
        duration: 41.994708ms
[...]
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"background-worker","ownerId":"some-owner-id","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","preDeployCommand":"echo ''hello world''","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crdns13h12fc706tdm9g","service":{"autoDeploy":"yes","createdAt":"2024-09-06T22:11:16.545825Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crdns13h12fc706tdm5g","id":"srv-crdns13h12fc706tdm5g","imagePath":"docker.io/library/nginx:latest","name":"background-worker","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crdns13h12fc706tdm80","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"plan":"starter","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"yes","region":"oregon"},"slug":"background-worker","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-06T22:11:16.834791Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "17"
            Ratelimit-Reset:
                - "2923"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000083
        status: 201 Created
        code: 201
        duration: 919.093625ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-crdns13h12fc706tdm5g"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crdns0rh12fc706tdm3g/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crdns0rh12fc706tdm3g","name":"prod","projectId":"prj-crdns0rh12fc706tdm30","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-crdns13h12fc706tdm5g"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000084
        status: 201 Created
        code: 201
        duration: 180.828333ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crdns13h12fc706tdm5g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-crdns13h12fc706tdm5g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "390"
                - "95"
            Ratelimit-Reset:
                - "42"
                - "42"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000085
        status: 200 OK
        code: 200
        duration: 50.559834ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crdns13h12fc706tdm5g
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"srv-crdns13h12fc706tdm5g","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "28"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000086
        status: 200 OK
        code: 200
        duration: 75.106292ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdns13h12fc706tdm5g/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"vFxH_7Mk4nxzMTNoMTJmYzcwNnRkbTZn"},{"envVar":{"key":"key1","value":"val1"},"cursor":"vFxH_7Mk4nxzMTNoMTJmYzcwNnRkbTYw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "389"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000087
        status: 200 OK
        code: 200
        duration: 62.879959ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdns13h12fc706tdm5g/env-vars?cursor=vFxH_7Mk4nxzMTNoMTJmYzcwNnRkbTYw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "388"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000088
        status: 200 OK
        code: 200
        duration: 57.2255ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdns13h12fc706tdm5g/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"vFxH_7Mk4nxzMTNoMTJmYzcwNnRkbTdn"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"vFxH_7Mk4nxzMTNoMTJmYzcwNnRkbTcw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "387"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000089
        status: 200 OK
        code: 200
        duration: 56.548416ms
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdns13h12fc706tdm5g/secret-files?cursor=vFxH_7Mk4nxzMTNoMTJmYzcwNnRkbTcw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "386"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000090
        status: 200 OK
        code: 200
        duration: 55.669417ms
[...]
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=background-worker&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"_B4BeiJiT7tzMTNoMTJmYzcwNnRkbTVn","service":{"autoDeploy":"yes","createdAt":"2024-09-06T22:11:16.545825Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crdns13h12fc706tdm5g","environmentId":"evm-crdns0rh12fc706tdm3g","id":"srv-crdns13h12fc706tdm5g","imagePath":"docker.io/library/nginx:latest","name":"background-worker","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crdns13h12fc706tdm80","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"plan":"starter","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"yes","region":"oregon"},"slug":"background-worker","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-06T22:11:16.992477Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "384"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000093
        status: 200 OK
        code: 200
        duration: 76.3155ms
[...]
    - id: 21
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdns13h12fc706tdm5g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-06T22:11:16.545825Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crdns13h12fc706tdm5g","environmentId":"evm[...]
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crdns0rh12fc706tdm30
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-06T22:11:15.728567Z","environmentIds":["evm-crdns0rh12fc706tdm3g"],"id":"prj-crdns0rh12fc706tdm30","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-06T22:11:15.728567Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "366"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000114
        status: 200 OK
        code: 200
        duration: 64.348083ms
[...]
    - id: 81
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data","name":"some-disk","sizeGB":1}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-crdns13h12fc706tdm80
        method: PATCH
      response:
        body: |
            {"createdAt":"2024-09-06T22:11:16.583509Z","id":"dsk-crdns13h12fc706tdm80","mountPath":"/data","name":"some-disk","serviceId":"srv-crdns13h12fc706tdm5g","sizeGB":1,"updatedAt":"2024-09-06T22:11:16.583509Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000160
        status: 200 OK
        code: 200
        duration: 108.204834ms
[...]
    - id: 84
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/srv-crdns13h12fc706tdm5g/resources?resourceIds=srv-crdns13h12fc706tdm5g
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "90"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000163
        status: 204 No Content
        code: 204
        duration: 144.919ms
[...]
    - id: 86
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crdns13h12fc706tdm5g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crdns2rh12fc706tdmig","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"pre_deploy_in_progress","trigger":"api","createdAt":"2024-09-06T22:11:23.895961Z","updatedAt":"2024-09-06T22:11:24.065263Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000165
        status: 201 Created
        code: 201
        duration: 453.209167ms
[...]
    - id: 89
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdns13h12fc706tdm5g/env-vars?cursor=vFxH_7Mk4nxzMnJoMTJmYzcwNnRkbWcw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "325"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000168
        status: 200 OK
        code: 200
        duration: 59.55625ms
[...]
    - id: 91
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdns13h12fc706tdm5g/secret-files?cursor=vFxH_7Mk4nxzMnJoMTJmYzcwNnRkbWgw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "323"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000170
        status: 200 OK
        code: 200
        duration: 59.1315ms
[...]
    - id: 93
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crdns13h12fc706tdm5g
        method: GET
      response:
        body: |
            {"message":"not found: srv-crdns13h12fc706tdm5g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "17"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000172
        status: 404 Not Found
        code: 404
        duration: 38.66575ms
[...]
    - id: 135
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crdns0rh12fc706tdm4g/resources?resourceIds=srv-crdns13h12fc706tdm5g
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "84"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000214
        status: 204 No Content
        code: 204
        duration: 135.847875ms
[...]
    - id: 139
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdns13h12fc706tdm5g/env-vars?cursor=vFxH_7Mk4nxzM3JoMTJmYzcwNnRkbXAw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "286"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000218
        status: 200 OK
        code: 200
        duration: 67.284ms
[...]
    - id: 141
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdns13h12fc706tdm5g/secret-files?cursor=vFxH_7Mk4nxzM3JoMTJmYzcwNnRkbXEw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "284"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000220
        status: 200 OK
        code: 200
        duration: 55.111416ms
[...]
