---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"some-name","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbpklbv2p9s73djgijg","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:23:00.510908Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpkl3v2p9s73djgigg","id":"srv-crbpkl3v2p9s73djgigg","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crbpkl3v2p9s73djgih0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"some-name-o65k","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:23:01.161196Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "15"
            Ratelimit-Reset:
                - "2220"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1505236
        status: 201 Created
        code: 201
        duration: 2.191163083s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbpkl3v2p9s73djgigg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crbpkl3v2p9s73djgigg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "399"
                - "99"
            Ratelimit-Reset:
                - "58"
                - "58"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2646602
        status: 200 OK
        code: 200
        duration: 122.828417ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpkl3v2p9s73djgigg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1505266
        status: 200 OK
        code: 200
        duration: 68.829042ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpkl3v2p9s73djgigg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2646606
        status: 200 OK
        code: 200
        duration: 222.550333ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"JPWXxwKhepVrbDN2MnA5czczZGpnaWdn","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:23:00.510908Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpkl3v2p9s73djgigg","id":"srv-crbpkl3v2p9s73djgigg","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crbpkl3v2p9s73djgih0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"some-name-o65k","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:23:01.161196Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2646611
        status: 200 OK
        code: 200
        duration: 912.2425ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpkl3v2p9s73djgigg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:23:00.510908Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpkl3v2p9s73djgigg","id":"srv-crbpkl3v2p9s73djgigg"[...]
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"some-name","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpkl3v2p9s73djgigg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:23:00.510908Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpkl3v2p9s73djgigg","id":"[...]
[...]
    - id: 32
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data2","name":"new-disk-name","sizeGB":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-crbpkl3v2p9s73djgih0
        method: PATCH
      response:
        body: |
            {"createdAt":"2024-09-03T23:23:00.578371Z","id":"dsk-crbpkl3v2p9s73djgih0","mountPath":"/data2","name":"new-disk-name","serviceId":"srv-crbpkl3v2p9s73djgigg","sizeGB":2,"updatedAt":"2024-09-03T23:23:07.649887Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1505370
        status: 200 OK
        code: 200
        duration: 134.343167ms
[...]
    - id: 34
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpkl3v2p9s73djgigg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbpkn3v2p9s73djgiv0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-03T23:23:08.54413Z","updatedAt":"2024-09-03T23:23:08.860529Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1505374
        status: 201 Created
        code: 201
        duration: 1.120023667s
[...]
    - id: 58
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/disks/dsk-crbpkl3v2p9s73djgih0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1505914
        status: 204 No Content
        code: 204
        duration: 308.194ms
[...]
