---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"some-name","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfi4k239eqs702lfddg","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:29:04.195975Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4k239eqs702lfdbg","id":"srv-crfi4k239eqs702lfdbg","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crfi4k239eqs702lfdc0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"some-name-r94u","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:29:04.585328Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000653
        status: 201 Created
        code: 201
        duration: 842.886667ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfi4k239eqs702lfdbg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crfi4k239eqs702lfdbg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9933"
                - "9995"
            Ratelimit-Reset:
                - "55"
                - "55"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000654
        status: 200 OK
        code: 200
        duration: 22.241834ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4k239eqs702lfdbg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9932"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000655
        status: 200 OK
        code: 200
        duration: 32.28375ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4k239eqs702lfdbg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9931"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000656
        status: 200 OK
        code: 200
        duration: 24.719041ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfi4k239eqs702lfdbg
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfi4k239eqs702lfdbg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9929"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000658
        status: 404 Not Found
        code: 404
        duration: 18.963666ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"EzP5dw8em7g0azIzOWVxczcwMmxmZGJn","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:29:04.195975Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4k239eqs702lfdbg","id":"srv-crfi4k239eqs702lfdbg","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crfi4k239eqs702lfdc0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"some-name-r94u","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:29:04.585328Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9928"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000659
        status: 200 OK
        code: 200
        duration: 29.78225ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4k239eqs702lfdbg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:29:04.195975Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4k239eqs702lfdbg","id":"srv-crfi4k239e[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"some-name","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4k239eqs702lfdbg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:29:04.195975Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4k239eqs702lfd[...]
[...]
    - id: 39
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data2","name":"new-disk-name","sizeGB":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-crfi4k239eqs702lfdc0
        method: PATCH
      response:
        body: |
            {"createdAt":"2024-09-09T16:29:04.352215Z","id":"dsk-crfi4k239eqs702lfdc0","mountPath":"/data2","name":"new-disk-name","serviceId":"srv-crfi4k239eqs702lfdbg","sizeGB":2,"updatedAt":"2024-09-09T16:29:06.387049Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9992"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000692
        status: 200 OK
        code: 200
        duration: 81.7195ms
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4k239eqs702lfdbg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfi4ki39eqs702lfdgg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-09T16:29:06.648769Z","updatedAt":"2024-09-09T16:29:06.772082Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000694
        status: 201 Created
        code: 201
        duration: 332.513959ms
[...]
    - id: 70
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/disks/dsk-crfi4k239eqs702lfdc0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9988"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000723
        status: 204 No Content
        code: 204
        duration: 33.155709ms
[...]
