---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"some-name","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbq5jjievbks45cf5kg","service":{"autoDeploy":"yes","createdAt":"2024-05-29T21:49:02.757769Z","id":"srv-cpbq5jjievbks45cf5ig","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpbq5jjievbks45cf5j0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"some-name-ed06","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T21:49:03.012873Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "19"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000831
        status: 201 Created
        code: 201
        duration: 654.352041ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpbq5jjievbks45cf5ig
        method: PATCH
      response:
        body: |
            {"id":"srv-cpbq5jjievbks45cf5ig","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "30"
            Ratelimit-Remaining:
                - "371"
                - "28"
            Ratelimit-Reset:
                - "56"
                - "56"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000832
        status: 200 OK
        code: 200
        duration: 21.922458ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5jjievbks45cf5ig/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "370"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000833
        status: 200 OK
        code: 200
        duration: 23.293458ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5jjievbks45cf5ig/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "369"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000834
        status: 200 OK
        code: 200
        duration: 23.767ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"ymeztjKFMt01amppZXZia3M0NWNmNWln","service":{"autoDeploy":"yes","createdAt":"2024-05-29T21:49:02.757769Z","id":"srv-cpbq5jjievbks45cf5ig","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpbq5jjievbks45cf5j0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"some-name-ed06","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T21:49:03.012873Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "367"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000836
        status: 200 OK
        code: 200
        duration: 34.977583ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5jjievbks45cf5ig/deploys
        method: GET
      response:
        body: |
            [{"deploy":{"id":"dep-cpbq5jjievbks45cf5kg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"update_in_progress","trigger":"manual","createdAt":"2024-05-29T21:49:02.989179Z","updatedAt":"2024-05-29T21:49:03.07661Z","finishedAt":null},"cursor":"KdI1O2dMtHk1amppZXZia3M0NWNmNWtn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "363"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000840
        status: 200 OK
        code: 200
        duration: 36.094542ms
[...]
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5jjievbks45cf5ig
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T21:49:02.757769Z","id":"srv-cpbq5jjievbks45cf5ig","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpbq5jjievbks45cf5j0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"some-name-ed06","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T21:49:23.997101Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "357"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000850
        status: 200 OK
        code: 200
        duration: 20.844042ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"some-name","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbq5jjievbks45cf5ig
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T21:49:02.757769Z","id":"srv-cpbq5jjievbks45cf5ig","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpbq5jjievbks45cf5j0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"some-name-ed06","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T21:49:23.997101Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000870
        status: 200 OK
        code: 200
        duration: 402.069833ms
[...]
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data2","name":"new-disk-name","sizeGB":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-cpbq5jjievbks45cf5j0
        method: PATCH
      response:
        body: |
            {"createdAt":"2024-05-29T21:49:02.769738Z","id":"dsk-cpbq5jjievbks45cf5j0","mountPath":"/data2","name":"new-disk-name","serviceId":"srv-cpbq5jjievbks45cf5ig","sizeGB":2,"updatedAt":"2024-05-29T21:49:29.270914Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "25"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000873
        status: 200 OK
        code: 200
        duration: 69.352ms
[...]
    - id: 64
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/disks/dsk-cpbq5jjievbks45cf5j0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "21"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000899
        status: 204 No Content
        code: 204
        duration: 117.38425ms
[...]
