---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"some-name","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2k59bqf0us73fbveug","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:43:17.098943Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k59bqf0us73fbvesg","id":"srv-cu2k59bqf0us73fbvesg","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cu2k59bqf0us73fbvet0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com"},"slug":"some-name-ozoe","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2025-01-13T16:43:17.545721Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "16"
            Ratelimit-Reset:
                - "1004"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002495
        status: 201 Created
        code: 201
        duration: 1.854670666s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cu2k59bqf0us73fbvesg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-cu2k59bqf0us73fbvesg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002513
        status: 200 OK
        code: 200
        duration: 114.603292ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k59bqf0us73fbvesg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "330"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002514
        status: 200 OK
        code: 200
        duration: 92.060125ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k59bqf0us73fbvesg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "329"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002515
        status: 200 OK
        code: 200
        duration: 96.865458ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-cu2k59bqf0us73fbvesg
        method: GET
      response:
        body: |
            {"message":"not found: srv-cu2k59bqf0us73fbvesg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "327"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002521
        status: 404 Not Found
        code: 404
        duration: 159.831542ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"-oJLKv3lnsg1OWJxZjB1czczZmJ2ZXNn","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:43:17.098943Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k59bqf0us73fbvesg","id":"srv-cu2k59bqf0us73fbvesg","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cu2k59bqf0us73fbvet0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com"},"slug":"some-name-ozoe","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2025-01-13T16:43:17.545721Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "326"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002523
        status: 200 OK
        code: 200
        duration: 176.233666ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k59bqf0us73fbvesg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:43:17.098943Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k59bqf0us73fbvesg","id":"srv-cu2k59bqf0us73fbvesg[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"some-name","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k59bqf0us73fbvesg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:43:17.098943Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k59bqf0us73fbvesg","id":"[...]
[...]
    - id: 39
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data2","name":"new-disk-name","sizeGB":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-cu2k59bqf0us73fbvet0
        method: PATCH
      response:
        body: |
            {"createdAt":"2025-01-13T16:43:17.115205Z","id":"dsk-cu2k59bqf0us73fbvet0","mountPath":"/data2","name":"new-disk-name","serviceId":"srv-cu2k59bqf0us73fbvesg","sizeGB":2,"updatedAt":"2025-01-13T16:43:25.86584Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002602
        status: 200 OK
        code: 200
        duration: 227.52425ms
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k59bqf0us73fbvesg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2k5bjqf0us73fbvf5g","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:c375ae41bb29c0615ab18452822fedf1981f8ba7a7b00508b3d901b7ab682947"},"status":"update_in_progress","trigger":"api","createdAt":"2025-01-13T16:43:26.621976Z","updatedAt":"2025-01-13T16:43:26.784225Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002605
        status: 201 Created
        code: 201
        duration: 669.145916ms
[...]
    - id: 70
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/disks/dsk-cu2k59bqf0us73fbvet0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "88"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002682
        status: 204 No Content
        code: 204
        duration: 157.463792ms
[...]
