---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"docker"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2k7g8gph6c73ffc4j0","service":{"autoDeploy":"yes","branch":"main","createdAt":"2025-01-13T16:48:01.150483Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k7g0gph6c73ffc4h0","id":"srv-cu2k7g0gph6c73ffc4h0","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"docker","sshAddress":"srv-email@example.com"},"slug":"some-name-059k","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2025-01-13T16:48:02.169034Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "11"
            Ratelimit-Reset:
                - "719"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-087460
        status: 201 Created
        code: 201
        duration: 2.290937542s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cu2k7g0gph6c73ffc4h0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-cu2k7g0gph6c73ffc4h0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-087494
        status: 200 OK
        code: 200
        duration: 97.715041ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k7g0gph6c73ffc4h0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-7767dddd75-mbk52/dNGWzKcmXx-1749014
        status: 200 OK
        code: 200
        duration: 131.821709ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k7g0gph6c73ffc4h0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-087503
        status: 200 OK
        code: 200
        duration: 98.898541ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-cu2k7g0gph6c73ffc4h0
        method: GET
      response:
        body: |
            {"message":"not found: srv-cu2k7g0gph6c73ffc4h0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-7767dddd75-mbk52/dNGWzKcmXx-1749035
        status: 404 Not Found
        code: 404
        duration: 170.65975ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"-oJLKv3lnsg3ZzBncGg2YzczZmZjNGgw","service":{"autoDeploy":"yes","branch":"main","createdAt":"2025-01-13T16:48:01.150483Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k7g0gph6c73ffc4h0","id":"srv-cu2k7g0gph6c73ffc4h0","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"docker","sshAddress":"srv-email@example.com"},"slug":"some-name-059k","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2025-01-13T16:48:02.169034Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-087509
        status: 200 OK
        code: 200
        duration: 162.553084ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k7g0gph6c73ffc4h0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2025-01-13T16:48:01.150483Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k7g0gph6c73ffc4h0","id":"srv-cu2k[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"some-name","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"echo ''hello world''","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k7g0gph6c73ffc4h0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2025-01-13T16:48:01.150483Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k7g0gph6c[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k7g0gph6c73ffc4h0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2k7i8gph6c73ffc530","commit":{"id":"bca0502a57b3f3a1a935ebdf8e85d0d704038bd3","message":"Fix render.yaml: \"env\" --\u003e \"runtime\" (#3)\n\nPer the `render.yaml` schema, `env` is still supported but is superseded by `runtime`. Using `env` will show a schema error if using the `render.yaml` validator in an IDE like VS Code.\r\n\r\nSee https://docs.render.com/blueprint-spec#runtime","createdAt":"2024-08-14T21:28:24Z"},"status":"build_in_progress","trigger":"api","createdAt":"2025-01-13T16:48:10.46045Z","updatedAt":"2025-01-13T16:48:10.46045Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-087625
        status: 201 Created
        code: 201
        duration: 1.286385875s
[...]
