---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"docker"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfi4oa39eqs702lfe6g","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:29:21.598194Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4oa39eqs702lfe50","id":"srv-crfi4oa39eqs702lfe50","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"some-name-zgox","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:29:23.373658Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9997"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000840
        status: 201 Created
        code: 201
        duration: 2.354302417s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfi4oa39eqs702lfe50
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crfi4oa39eqs702lfe50"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9769"
                - "9976"
            Ratelimit-Reset:
                - "36"
                - "36"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000841
        status: 200 OK
        code: 200
        duration: 21.537334ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4oa39eqs702lfe50/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9768"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000842
        status: 200 OK
        code: 200
        duration: 18.334041ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4oa39eqs702lfe50/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9767"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000843
        status: 200 OK
        code: 200
        duration: 21.033541ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfi4oa39eqs702lfe50
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfi4oa39eqs702lfe50"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9765"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000845
        status: 404 Not Found
        code: 404
        duration: 27.16025ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"EzP5dw8em7g0b2EzOWVxczcwMmxmZTUw","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:29:21.598194Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4oa39eqs702lfe50","id":"srv-crfi4oa39eqs702lfe50","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"some-name-zgox","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:29:23.373658Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9764"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000846
        status: 200 OK
        code: 200
        duration: 23.889209ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4oa39eqs702lfe50
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:29:21.598194Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4oa39eqs702lfe50","id":"srv-crfi4oa39eqs702lfe50","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"some-name-zgox","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:29:23.373658Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9759"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000851
        status: 200 OK
        code: 200
        duration: 25.672458ms
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"some-name","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"echo ''hello world''","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4oa39eqs702lfe50
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:29:21.598194Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-cr[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4oa39eqs702lfe50/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfi4pa39eqs702lfe9g","commit":{"id":"bca0502a57b3f3a1a935ebdf8e85d0d704038bd3","message":"Fix render.yaml: \"env\" --\u003e \"runtime\" (#3)\n\nPer the `render.yaml` schema, `env` is still supported but is superseded by `runtime`. Using `env` will show a schema error if using the `render.yaml` validator in an IDE like VS Code.\r\n\r\nSee https://docs.render.com/blueprint-spec#runtime","createdAt":"2024-08-14T21:28:24Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-09T16:29:26.485154Z","updatedAt":"2024-09-09T16:29:26.485154Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000880
        status: 201 Created
        code: 201
        duration: 1.764870916s
[...]
