---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfi4q239eqs702lfeg0","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:29:28.162425Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4q239eqs702lfef0","id":"srv-crfi4q239eqs702lfef0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:29:28.335457Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9996"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000902
        status: 201 Created
        code: 201
        duration: 672.923042ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfi4q239eqs702lfef0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crfi4q239eqs702lfef0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9713"
                - "9971"
            Ratelimit-Reset:
                - "31"
                - "31"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000903
        status: 200 OK
        code: 200
        duration: 18.687625ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4q239eqs702lfef0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9712"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000904
        status: 200 OK
        code: 200
        duration: 22.837292ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4q239eqs702lfef0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9711"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000905
        status: 200 OK
        code: 200
        duration: 25.883958ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfi4q239eqs702lfef0
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfi4q239eqs702lfef0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9709"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000907
        status: 404 Not Found
        code: 404
        duration: 32.729167ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=env-var-test&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"EzP5dw8em7g0cTIzOWVxczcwMmxmZWYw","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:29:28.162425Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4q239eqs702lfef0","id":"srv-crfi4q239eqs702lfef0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:29:28.335457Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9708"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000908
        status: 200 OK
        code: 200
        duration: 29.2515ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4q239eqs702lfef0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:29:28.162425Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4q239eqs702lfef0","id":"srv-crfi4q239eqs702lfef0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:29:28.335457Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9703"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000913
        status: 200 OK
        code: 200
        duration: 21.030708ms
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"env-var-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4q239eqs702lfef0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:29:28.162425Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4q239eqs702lfef0","id":"srv-crfi4q239eqs702lfef0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:29:28.335457Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000938
        status: 200 OK
        code: 200
        duration: 549.045834ms
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4q239eqs702lfef0/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"Ih-xRG4fuao0cWkzOWVxczcwMmxmZWkw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9970"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000939
        status: 200 OK
        code: 200
        duration: 23.588167ms
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4q239eqs702lfef0/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"Ih-xRG4fuao0cWkzOWVxczcwMmxmZWln"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9969"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000940
        status: 200 OK
        code: 200
        duration: 21.409583ms
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4q239eqs702lfef0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfi4qi39eqs702lfejg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-09T16:29:30.594362Z","updatedAt":"2024-09-09T16:29:30.708469Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000942
        status: 201 Created
        code: 201
        duration: 302.289542ms
[...]
    - id: 43
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4q239eqs702lfef0/env-vars?cursor=Ih-xRG4fuao0cWkzOWVxczcwMmxmZWkw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9675"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000945
        status: 200 OK
        code: 200
        duration: 28.424333ms
[...]
    - id: 45
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4q239eqs702lfef0/secret-files?cursor=Ih-xRG4fuao0cWkzOWVxczcwMmxmZWln
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9673"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000947
        status: 200 OK
        code: 200
        duration: 23.927792ms
[...]
    - id: 83
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4q239eqs702lfef0/env-vars?cursor=Ih-xRG4fuao0cjIzOWVxczcwMmxmZW4w
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9639"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000985
        status: 200 OK
        code: 200
        duration: 23.957667ms
[...]
    - id: 85
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4q239eqs702lfef0/secret-files?cursor=Ih-xRG4fuao0cjIzOWVxczcwMmxmZW8w
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9637"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000987
        status: 200 OK
        code: 200
        duration: 23.527291ms
[...]
