---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbpom3tq21c73clk45g","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:31:35.901742Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpolrtq21c73clk440","id":"srv-crbpolrtq21c73clk440","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"env-var-test-gomx","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:31:36.437737Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "12"
            Ratelimit-Reset:
                - "1705"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3870617
        status: 201 Created
        code: 201
        duration: 2.018489708s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbpolrtq21c73clk440
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crbpolrtq21c73clk440"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "354"
                - "94"
            Ratelimit-Reset:
                - "23"
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-449379
        status: 200 OK
        code: 200
        duration: 126.935667ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpolrtq21c73clk440/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "353"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2653986
        status: 200 OK
        code: 200
        duration: 64.779875ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpolrtq21c73clk440/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "352"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1081548
        status: 200 OK
        code: 200
        duration: 67.979667ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=env-var-test&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"JPWXxwKhepVvbHJ0cTIxYzczY2xrNDQw","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:31:35.901742Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpolrtq21c73clk440","id":"srv-crbpolrtq21c73clk440","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"env-var-test-gomx","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:31:36.437737Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "350"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-449384
        status: 200 OK
        code: 200
        duration: 103.644958ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpolrtq21c73clk440
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:31:35.901742Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpolrtq21c73clk440","id":"srv-crbpolrtq21c73clk440","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"env-var-test-gomx","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:31:36.437737Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "346"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-449389
        status: 200 OK
        code: 200
        duration: 100.456333ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"env-var-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpolrtq21c73clk440
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:31:35.901742Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpolrtq21c73clk440","id":"srv-crbpolrtq21c73clk440","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"env-var-test-gomx","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:31:36.437737Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-449414
        status: 200 OK
        code: 200
        duration: 1.3704085s
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpolrtq21c73clk440/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"vRXeQMKo7dFvbjU2bDQ3YzczZDhmMGIw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2009465
        status: 200 OK
        code: 200
        duration: 86.876458ms
    - id: 31
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpolrtq21c73clk440/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"vRXeQMKo7dFvbjVkczc4czczOTQ2cm0w"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-5dfb588d7c-ntsn5/63XNsnqzpK-210860
        status: 200 OK
        code: 200
        duration: 74.050584ms
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpolrtq21c73clk440/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbpona3esus7393rtug","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-03T23:31:41.236754Z","updatedAt":"2024-09-03T23:31:41.545124Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-449432
        status: 201 Created
        code: 201
        duration: 833.825042ms
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpolrtq21c73clk440/env-vars?cursor=vRXeQMKo7dFvbjU2bDQ3YzczZDhmMGIw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "323"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3870724
        status: 200 OK
        code: 200
        duration: 63.7705ms
[...]
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpolrtq21c73clk440/secret-files?cursor=vRXeQMKo7dFvbjVkczc4czczOTQ2cm0w
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "321"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2654058
        status: 200 OK
        code: 200
        duration: 69.903042ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpolrtq21c73clk440/env-vars?cursor=vRXeQMKo7dFvb2EzZXN1czczOTNydTRn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "292"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-449526
        status: 200 OK
        code: 200
        duration: 101.217708ms
[...]
    - id: 73
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpolrtq21c73clk440/secret-files?cursor=vRXeQMKo7dFvb2w2bDQ3YzczZDhmMGxn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "290"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1081714
        status: 200 OK
        code: 200
        duration: 191.608167ms
[...]
