---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"env":"image","envSpecificDetails":{},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbqq93ievbks45cf9a0","service":{"autoDeploy":"yes","createdAt":"2024-05-29T22:33:07.883004Z","id":"srv-cpbqq8rievbks45cf990","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T22:33:08.085121Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "19"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001508
        status: 201 Created
        code: 201
        duration: 852.096417ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpbqq8rievbks45cf990
        method: PATCH
      response:
        body: |
            {"id":"srv-cpbqq8rievbks45cf990","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "30"
            Ratelimit-Remaining:
                - "399"
                - "29"
            Ratelimit-Reset:
                - "50"
                - "50"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001509
        status: 200 OK
        code: 200
        duration: 20.884334ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqq8rievbks45cf990/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001510
        status: 200 OK
        code: 200
        duration: 19.164542ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqq8rievbks45cf990/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001511
        status: 200 OK
        code: 200
        duration: 18.815125ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=env-var-test&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"ymeztjKFMt1xOHJpZXZia3M0NWNmOTkw","service":{"autoDeploy":"yes","createdAt":"2024-05-29T22:33:07.883004Z","id":"srv-cpbqq8rievbks45cf990","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T22:33:08.085121Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001513
        status: 200 OK
        code: 200
        duration: 30.648541ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqq8rievbks45cf990
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T22:33:07.883004Z","id":"srv-cpbqq8rievbks45cf990","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T22:33:08.085121Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001517
        status: 200 OK
        code: 200
        duration: 22.548625ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"env-var-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbqq8rievbks45cf990
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T22:33:07.883004Z","id":"srv-cpbqq8rievbks45cf990","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T22:33:08.085121Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001537
        status: 200 OK
        code: 200
        duration: 348.016ms
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbqq8rievbks45cf990/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"RC94lLbYFQ9xOXJpZXZia3M0NWNmOWMw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "28"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001538
        status: 200 OK
        code: 200
        duration: 25.6965ms
    - id: 31
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbqq8rievbks45cf990/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"RC94lLbYFQ9xOXJpZXZia3M0NWNmOWNn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "27"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001539
        status: 200 OK
        code: 200
        duration: 24.291458ms
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbqq8rievbks45cf990/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbqq9rievbks45cf9dg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"update_in_progress","trigger":"api","createdAt":"2024-05-29T22:33:11.98097Z","updatedAt":"2024-05-29T22:33:12.121888Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001541
        status: 201 Created
        code: 201
        duration: 354.8655ms
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqq8rievbks45cf990/env-vars?cursor=RC94lLbYFQ9xOXJpZXZia3M0NWNmOWMw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "368"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001544
        status: 200 OK
        code: 200
        duration: 25.558667ms
[...]
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqq8rievbks45cf990/secret-files?cursor=RC94lLbYFQ9xOXJpZXZia3M0NWNmOWNn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "366"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001546
        status: 200 OK
        code: 200
        duration: 21.856458ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqq8rievbks45cf990/env-vars?cursor=RC94lLbYFQ9xYXJpZXZia3M0NWNmOWgw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "337"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001579
        status: 200 OK
        code: 200
        duration: 20.169833ms
[...]
    - id: 73
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqq8rievbks45cf990/secret-files?cursor=RC94lLbYFQ9xYXJpZXZia3M0NWNmOWkw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "335"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001581
        status: 200 OK
        code: 200
        duration: 19.523792ms
[...]
