---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2k5h9opnds738l64rg","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:43:48.793342Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k5h1opnds738l64o0","id":"srv-cu2k5h1opnds738l64o0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com"},"slug":"env-var-test-o8px","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2025-01-13T16:43:49.220854Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "13"
            Ratelimit-Reset:
                - "972"
            Render-Request-Id:
                - api-7767dddd75-zqsqf/rtQy8BuN0w-460886
        status: 201 Created
        code: 201
        duration: 1.915437916s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cu2k5h1opnds738l64o0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-cu2k5h1opnds738l64o0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "81"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002861
        status: 200 OK
        code: 200
        duration: 104.828375ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k5h1opnds738l64o0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "224"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002863
        status: 200 OK
        code: 200
        duration: 101.617792ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k5h1opnds738l64o0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "223"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002865
        status: 200 OK
        code: 200
        duration: 107.574834ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-cu2k5h1opnds738l64o0
        method: GET
      response:
        body: |
            {"message":"not found: srv-cu2k5h1opnds738l64o0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "221"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002870
        status: 404 Not Found
        code: 404
        duration: 185.08075ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=env-var-test&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"-oJLKv3lnsg1aDFvcG5kczczOGw2NG8w","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:43:48.793342Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k5h1opnds738l64o0","id":"srv-cu2k5h1opnds738l64o0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com"},"slug":"env-var-test-o8px","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2025-01-13T16:43:49.220854Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "220"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002871
        status: 200 OK
        code: 200
        duration: 177.09375ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k5h1opnds738l64o0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:43:48.793342Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k5h1opnds738l64o0","id":"srv-cu2k5h1opnds738l64o0[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"env-var-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k5h1opnds738l64o0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:43:48.793342Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k5h1opnds738l64o0","id":"[...]
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k5h1opnds738l64o0/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"f3TDrnEQnBQ1amJxZjB1czczZmJ2aTEw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "80"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002942
        status: 200 OK
        code: 200
        duration: 107.029334ms
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k5h1opnds738l64o0/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"f3TDrnEQnBQ1amJxZjB1czczZmJ2aTIw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "79"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002943
        status: 200 OK
        code: 200
        duration: 99.139833ms
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k5h1opnds738l64o0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2k5jjqf0us73fbvi30","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:c375ae41bb29c0615ab18452822fedf1981f8ba7a7b00508b3d901b7ab682947"},"status":"update_in_progress","trigger":"api","createdAt":"2025-01-13T16:43:58.198544Z","updatedAt":"2025-01-13T16:43:58.334685Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002945
        status: 201 Created
        code: 201
        duration: 670.413208ms
[...]
    - id: 43
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k5h1opnds738l64o0/env-vars?cursor=f3TDrnEQnBQ1amJxZjB1czczZmJ2aTEw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "188"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002958
        status: 200 OK
        code: 200
        duration: 99.770167ms
[...]
    - id: 45
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k5h1opnds738l64o0/secret-files?cursor=f3TDrnEQnBQ1amJxZjB1czczZmJ2aTIw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "186"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002961
        status: 200 OK
        code: 200
        duration: 97.05625ms
[...]
    - id: 83
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k5h1opnds738l64o0/env-vars?cursor=f3TDrnEQnBQ1bGhvcG5kczczOGw2Nmgw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "371"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-003052
        status: 200 OK
        code: 200
        duration: 93.053208ms
[...]
    - id: 85
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k5h1opnds738l64o0/secret-files?cursor=f3TDrnEQnBQ1bGpxZjB1czczZmJ2aWRn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "369"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-003055
        status: 200 OK
        code: 200
        duration: 92.675125ms
[...]
