---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2k77hu0jms73dabnjg","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-01-13T16:47:25.646667Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k74pu0jms73dabmgg","id":"srv-cu2k74pu0jms73dabmgg","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node","sshAddress":"srv-email@example.com"},"slug":"some-name-8ekv","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2025-01-13T16:47:27.814856Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "12"
            Ratelimit-Reset:
                - "765"
            Render-Request-Id:
                - api-7767dddd75-r9kjq/1a9l48Wp8S-405002
        status: 201 Created
        code: 201
        duration: 13.410321791s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cu2k74pu0jms73dabmgg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-cu2k74pu0jms73dabmgg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-7767dddd75-r9kjq/1a9l48Wp8S-405281
        status: 200 OK
        code: 200
        duration: 118.088625ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k74pu0jms73dabmgg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-7767dddd75-r9kjq/1a9l48Wp8S-405286
        status: 200 OK
        code: 200
        duration: 106.7945ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k74pu0jms73dabmgg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-7767dddd75-r9kjq/1a9l48Wp8S-405292
        status: 200 OK
        code: 200
        duration: 93.853625ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-cu2k74pu0jms73dabmgg
        method: GET
      response:
        body: |
            {"message":"not found: srv-cu2k74pu0jms73dabmgg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-7767dddd75-r9kjq/1a9l48Wp8S-405303
        status: 404 Not Found
        code: 404
        duration: 185.401042ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"-oJLKv3lnsg3NHB1MGptczczZGFibWdn","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-01-13T16:47:25.646667Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k74pu0jms73dabmgg","id":"srv-cu2k74pu0jms73dabmgg","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node","sshAddress":"srv-email@example.com"},"slug":"some-name-8ekv","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2025-01-13T16:47:27.814856Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-7767dddd75-r9kjq/1a9l48Wp8S-405312
        status: 200 OK
        code: 200
        duration: 241.092375ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k74pu0jms73dabmgg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-01-13T16:47:25.646667Z","dashboardUrl":"https://das[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["bld/**"]},"name":"some-name","repo":"https://github.com/render-examples/nextjs-hello-world","rootDir":"","serviceDetails":{"envSpecificDetails":{"buildCommand":"yarn; yarn build","startCommand":"yarn start"},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k74pu0jms73dabmgg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"no","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["bld/**"]},"createdAt":"2025-01-13T16:47:25.646667Z","das[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k74pu0jms73dabmgg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2k7ahu0jms73dabpcg","commit":{"id":"a0f64db8bea168f884fcc6b95ec4f795b4b850f3","message":"Upgrade Next to v15 (#48)","createdAt":"2024-11-11T18:49:36Z"},"status":"build_in_progress","trigger":"api","createdAt":"2025-01-13T16:47:38.804174Z","updatedAt":"2025-01-13T16:47:38.804174Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-7767dddd75-r9kjq/1a9l48Wp8S-405560
        status: 201 Created
        code: 201
        duration: 1.118324791s
[...]
