---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfi4m239eqs702lfdt0","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-09-09T16:29:12.215227Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4lq39eqs702lfds0","id":"srv-crfi4lq39eqs702lfds0","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"some-name-2h3y","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:29:14.925281Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000778
        status: 201 Created
        code: 201
        duration: 3.345091334s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfi4lq39eqs702lfds0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crfi4lq39eqs702lfds0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9825"
                - "9981"
            Ratelimit-Reset:
                - "45"
                - "45"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000779
        status: 200 OK
        code: 200
        duration: 29.316084ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4lq39eqs702lfds0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9824"
            Ratelimit-Reset:
                - "45"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000780
        status: 200 OK
        code: 200
        duration: 26.569541ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4lq39eqs702lfds0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9823"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000781
        status: 200 OK
        code: 200
        duration: 39.851166ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfi4lq39eqs702lfds0
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfi4lq39eqs702lfds0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9821"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000783
        status: 404 Not Found
        code: 404
        duration: 24.926417ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"EzP5dw8em7g0bHEzOWVxczcwMmxmZHMw","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-09-09T16:29:12.215227Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4lq39eqs702lfds0","id":"srv-crfi4lq39eqs702lfds0","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"some-name-2h3y","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:29:14.925281Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9820"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000784
        status: 200 OK
        code: 200
        duration: 23.923042ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4lq39eqs702lfds0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-09-09T16:29:12.215227Z","dashboardUrl":"http://dash[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["bld/**"]},"name":"some-name","repo":"https://github.com/render-examples/nextjs-hello-world","rootDir":"","serviceDetails":{"envSpecificDetails":{"buildCommand":"yarn; yarn build","startCommand":"yarn start"},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4lq39eqs702lfds0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"no","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["bld/**"]},"createdAt":"2024-09-09T16:29:12.215227Z","das[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4lq39eqs702lfds0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfi4na39eqs702lfe00","commit":{"id":"e7a45cd334016b3c781167c4eaa5ae1a28f1bf22","message":"Upgrade Next to v14.2 (#42)","createdAt":"2024-07-16T15:42:41Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-09T16:29:19.664243Z","updatedAt":"2024-09-09T16:29:19.664243Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000818
        status: 201 Created
        code: 201
        duration: 2.762645167s
[...]
