---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2k54bqf0us73fbve0g","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:42:57.578451Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k54bqf0us73fbvdv0","id":"srv-cu2k54bqf0us73fbvdv0","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com"},"slug":"autoscaling-test-vbun","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2025-01-13T16:42:58.005219Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "17"
            Ratelimit-Reset:
                - "1023"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002277
        status: 201 Created
        code: 201
        duration: 1.55968525s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cu2k54bqf0us73fbvdv0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-cu2k54bqf0us73fbvdv0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "71"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002286
        status: 200 OK
        code: 200
        duration: 102.415541ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k54bqf0us73fbvdv0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "193"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002287
        status: 200 OK
        code: 200
        duration: 102.204958ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k54bqf0us73fbvdv0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "192"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002290
        status: 200 OK
        code: 200
        duration: 123.3785ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-cu2k54bqf0us73fbvdv0
        method: GET
      response:
        body: |
            {"message":"not found: srv-cu2k54bqf0us73fbvdv0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "190"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002293
        status: 404 Not Found
        code: 404
        duration: 165.582958ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"-oJLKv3lnsg1NGJxZjB1czczZmJ2ZHYw","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:42:57.578451Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k54bqf0us73fbvdv0","id":"srv-cu2k54bqf0us73fbvdv0","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com"},"slug":"autoscaling-test-vbun","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2025-01-13T16:42:58.005219Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "189"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002295
        status: 200 OK
        code: 200
        duration: 167.624375ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k54bqf0us73fbvdv0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:42:57.578451Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k54bqf0us73fbvdv0","id":"srv-cu2k54bqf0us73fbvdv0[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k54bqf0us73fbvdv0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:42:57.578451Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k54bqf0us73fbvdv0","id":"[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k54bqf0us73fbvdv0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2k56jqf0us73fbveag","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:c375ae41bb29c0615ab18452822fedf1981f8ba7a7b00508b3d901b7ab682947"},"status":"update_in_progress","trigger":"api","createdAt":"2025-01-13T16:43:06.768236Z","updatedAt":"2025-01-13T16:43:06.890481Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002368
        status: 201 Created
        code: 201
        duration: 626.600875ms
[...]
