---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"env":"image","envSpecificDetails":{},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbq5h3ievbks45cf5cg","service":{"autoDeploy":"yes","createdAt":"2024-05-29T21:48:52.093565Z","id":"srv-cpbq5h3ievbks45cf5bg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test-nwn0","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T21:48:52.332154Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "17"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000760
        status: 201 Created
        code: 201
        duration: 3.528543375s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpbq5h3ievbks45cf5bg
        method: PATCH
      response:
        body: |
            {"id":"srv-cpbq5h3ievbks45cf5bg","notificationsToSend":"all","previewNotificationsEnabled":"true","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "30"
            Ratelimit-Remaining:
                - "259"
                - "9"
            Ratelimit-Reset:
                - "4"
                - "4"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000761
        status: 200 OK
        code: 200
        duration: 31.598167ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5h3ievbks45cf5bg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "258"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000762
        status: 200 OK
        code: 200
        duration: 26.847125ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5h3ievbks45cf5bg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "257"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000763
        status: 200 OK
        code: 200
        duration: 20.616625ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"ymeztjKFMt01aDNpZXZia3M0NWNmNWJn","service":{"autoDeploy":"yes","createdAt":"2024-05-29T21:48:52.093565Z","id":"srv-cpbq5h3ievbks45cf5bg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test-nwn0","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T21:48:52.332154Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "255"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000765
        status: 200 OK
        code: 200
        duration: 28.046375ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbq5h3ievbks45cf5bg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T21:48:52.093565Z","id":"srv-cpbq5h3ievbks45cf5bg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test-nwn0","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T21:48:52.332154Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "251"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000769
        status: 200 OK
        code: 200
        duration: 22.340416ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbq5h3ievbks45cf5bg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T21:48:52.093565Z","id":"srv-cpbq5h3ievbks45cf5bg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test-nwn0","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-05-29T21:48:56.891384Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000789
        status: 200 OK
        code: 200
        duration: 423.460542ms
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbq5h3ievbks45cf5bg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbq5irievbks45cf5f0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"update_in_progress","trigger":"api","createdAt":"2024-05-29T21:48:59.036499Z","updatedAt":"2024-05-29T21:48:59.153166Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-000793
        status: 201 Created
        code: 201
        duration: 280.411917ms
[...]
