---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbpgl3v2p9s73djfqig","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:14:27.977118Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpgkrv2p9s73djfqgg","id":"srv-crbpgkrv2p9s73djfqgg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:14:28.536358Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "17"
            Ratelimit-Reset:
                - "2733"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1497816
        status: 201 Created
        code: 201
        duration: 2.080573042s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbpgkrv2p9s73djfqgg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-crbpgkrv2p9s73djfqgg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "312"
                - "86"
            Ratelimit-Reset:
                - "31"
                - "31"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-1993965
        status: 200 OK
        code: 200
        duration: 78.568875ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpgkrv2p9s73djfqgg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "311"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1066818
        status: 200 OK
        code: 200
        duration: 65.367084ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpgkrv2p9s73djfqgg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "310"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1240735
        status: 200 OK
        code: 200
        duration: 66.18125ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"JPWXxwKhepVna3J2MnA5czczZGpmcWdn","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:14:27.977118Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpgkrv2p9s73djfqgg","id":"srv-crbpgkrv2p9s73djfqgg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:14:28.536358Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "308"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-1993972
        status: 200 OK
        code: 200
        duration: 69.149916ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpgkrv2p9s73djfqgg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:14:27.977118Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpgkrv2p9s73djfqgg","id":"srv-crbpgkrv2p9s73djfqgg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:14:28.536358Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "304"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-1993975
        status: 200 OK
        code: 200
        duration: 69.183583ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpgkrv2p9s73djfqgg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:14:27.977118Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpgkrv2p9s73djfqgg","id":"srv-crbpgkrv2p9s73djfqgg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:14:28.536358Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-1994013
        status: 200 OK
        code: 200
        duration: 1.292953292s
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpgkrv2p9s73djfqgg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbpgml6l47c73d8dbg0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-03T23:14:34.720482Z","updatedAt":"2024-09-03T23:14:34.981178Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-1994045
        status: 201 Created
        code: 201
        duration: 984.893208ms
[...]
