---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfi4iq39eqs702lfd50","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:28:59.240882Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4iq39eqs702lfd40","id":"srv-crfi4iq39eqs702lfd40","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test-98qt","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:28:59.442724Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9997"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000566
        status: 201 Created
        code: 201
        duration: 612.66775ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfi4iq39eqs702lfd40
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-crfi4iq39eqs702lfd40"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9741"
                - "9966"
            Ratelimit-Reset:
                - "0"
                - "0"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000567
        status: 200 OK
        code: 200
        duration: 23.466833ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4iq39eqs702lfd40/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9740"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000568
        status: 200 OK
        code: 200
        duration: 21.474667ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4iq39eqs702lfd40/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9739"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000569
        status: 200 OK
        code: 200
        duration: 22.251166ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfi4iq39eqs702lfd40
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfi4iq39eqs702lfd40"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9737"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000571
        status: 404 Not Found
        code: 404
        duration: 19.191375ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"EzP5dw8em7g0aXEzOWVxczcwMmxmZDQw","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:28:59.240882Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4iq39eqs702lfd40","id":"srv-crfi4iq39eqs702lfd40","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test-98qt","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:28:59.442724Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9736"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000572
        status: 200 OK
        code: 200
        duration: 24.6095ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4iq39eqs702lfd40
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:28:59.240882Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4iq39eqs702lfd40","id":"srv-crfi4iq39eqs702lfd40","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test-98qt","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:28:59.442724Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9731"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000577
        status: 200 OK
        code: 200
        duration: 23.40475ms
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4iq39eqs702lfd40
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:28:59.240882Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4iq39eqs702lfd40","id":"srv-crfi4iq39eqs702lfd40","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test-98qt","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:28:59.442724Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000602
        status: 200 OK
        code: 200
        duration: 315.632375ms
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4iq39eqs702lfd40/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfi4ja39eqs702lfd7g","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-09T16:29:01.414491Z","updatedAt":"2024-09-09T16:29:01.522394Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000606
        status: 201 Created
        code: 201
        duration: 330.057541ms
[...]
