---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfi4gq39eqs702lfclg","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:28:51.770305Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4gq39eqs702lfckg","id":"srv-crfi4gq39eqs702lfckg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test-z7ed","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:28:51.983176Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000441
        status: 201 Created
        code: 201
        duration: 692.243209ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfi4gq39eqs702lfckg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crfi4gq39eqs702lfckg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9849"
                - "9979"
            Ratelimit-Reset:
                - "7"
                - "7"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000442
        status: 200 OK
        code: 200
        duration: 19.318917ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4gq39eqs702lfckg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9848"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000443
        status: 200 OK
        code: 200
        duration: 21.721416ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4gq39eqs702lfckg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9847"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000444
        status: 200 OK
        code: 200
        duration: 26.498542ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfi4gq39eqs702lfckg
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfi4gq39eqs702lfckg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9845"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000446
        status: 404 Not Found
        code: 404
        duration: 18.439083ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"EzP5dw8em7g0Z3EzOWVxczcwMmxmY2tn","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:28:51.770305Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4gq39eqs702lfckg","id":"srv-crfi4gq39eqs702lfckg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test-z7ed","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-09T16:28:51.983176Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9844"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000447
        status: 200 OK
        code: 200
        duration: 22.816708ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi4gq39eqs702lfckg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:28:51.770305Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4gq39eqs702lfckg","id":"srv-crfi4gq39e[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4gq39eqs702lfckg/autoscaling
        method: PUT
      response:
        body: |
            {"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9978"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000477
        status: 200 OK
        code: 200
        duration: 55.663167ms
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4gq39eqs702lfckg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:28:51.770305Z","dashboardUrl":"http://dashboard.render.localhost:3000/worker/srv-crfi4gq39eqs702lfc[...]
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4gq39eqs702lfckg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfi4ha39eqs702lfcog","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-09T16:28:53.970321Z","updatedAt":"2024-09-09T16:28:54.128518Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000482
        status: 201 Created
        code: 201
        duration: 341.67375ms
[...]
    - id: 98
      request:
        host: https://api.testing.render.com/v1
        body: '{"numInstances":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi4gq39eqs702lfckg/scale
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "5"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000539
        status: 202 Accepted
        code: 202
        duration: 63.611666ms
[...]
