---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2k4srqf0us73fbvci0","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:42:27.576988Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k4srqf0us73fbvc1g","id":"srv-cu2k4srqf0us73fbvc1g","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com"},"slug":"autoscaling-test-ifm8","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2025-01-13T16:42:28.019177Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "18"
            Ratelimit-Reset:
                - "1053"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-001957
        status: 201 Created
        code: 201
        duration: 2.000425083s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cu2k4srqf0us73fbvc1g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-cu2k4srqf0us73fbvc1g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "84"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-001969
        status: 200 OK
        code: 200
        duration: 117.0215ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k4srqf0us73fbvc1g/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "297"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-001970
        status: 200 OK
        code: 200
        duration: 98.086625ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k4srqf0us73fbvc1g/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "296"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-001972
        status: 200 OK
        code: 200
        duration: 93.332542ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-cu2k4srqf0us73fbvc1g
        method: GET
      response:
        body: |
            {"message":"not found: srv-cu2k4srqf0us73fbvc1g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "294"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-001975
        status: 404 Not Found
        code: 404
        duration: 176.053667ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"-oJLKv3lnsg0c3JxZjB1czczZmJ2YzFn","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:42:27.576988Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k4srqf0us73fbvc1g","id":"srv-cu2k4srqf0us73fbvc1g","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com"},"slug":"autoscaling-test-ifm8","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2025-01-13T16:42:28.019177Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "293"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-001977
        status: 200 OK
        code: 200
        duration: 193.444542ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2k4srqf0us73fbvc1g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:42:27.576988Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k4srqf0us73fbvc1g","id":"srv-cu2k4srqf0us73fbvc1g[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k4srqf0us73fbvc1g/autoscaling
        method: PUT
      response:
        body: |
            {"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "83"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002047
        status: 200 OK
        code: 200
        duration: 138.322583ms
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k4srqf0us73fbvc1g
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:42:27.576988Z","dashboardUrl":"https://dashboard.render.com/worker/srv-cu2k4srqf0us73fbvc1g","id":"[...]
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k4srqf0us73fbvc1g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2k4v9opnds738l5sr0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:c375ae41bb29c0615ab18452822fedf1981f8ba7a7b00508b3d901b7ab682947"},"status":"update_in_progress","trigger":"api","createdAt":"2025-01-13T16:42:37.400684Z","updatedAt":"2025-01-13T16:42:37.632025Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-7767dddd75-zqsqf/rtQy8BuN0w-459157
        status: 201 Created
        code: 201
        duration: 1.013008583s
[...]
    - id: 98
      request:
        host: https://api.testing.render.com/v1
        body: '{"numInstances":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2k4srqf0us73fbvc1g/scale
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "5"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-7767dddd75-m2trm/tatrYy6WLK-002204
        status: 202 Accepted
        code: 202
        duration: 163.348916ms
[...]
