---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"background_worker"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbpgfbv2p9s73djfp50","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:14:04.657252Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpgf3v2p9s73djfp30","id":"srv-crbpgf3v2p9s73djfp30","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:14:05.272595Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "18"
            Ratelimit-Reset:
                - "2756"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1497393
        status: 201 Created
        code: 201
        duration: 2.4713075s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbpgf3v2p9s73djfp30
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crbpgf3v2p9s73djfp30"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "399"
                - "99"
            Ratelimit-Reset:
                - "54"
                - "54"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1497422
        status: 200 OK
        code: 200
        duration: 73.505083ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpgf3v2p9s73djfp30/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1497424
        status: 200 OK
        code: 200
        duration: 104.859125ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpgf3v2p9s73djfp30/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1497426
        status: 200 OK
        code: 200
        duration: 128.813375ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=background_worker
        method: GET
      response:
        body: |
            [{"cursor":"JPWXxwKhepVnZjN2MnA5czczZGpmcDMw","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:14:04.657252Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpgf3v2p9s73djfp30","id":"srv-crbpgf3v2p9s73djfp30","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"background_worker","updatedAt":"2024-09-03T23:14:05.272595Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1497429
        status: 200 OK
        code: 200
        duration: 82.032167ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpgf3v2p9s73djfp30
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:14:04.657252Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpgf3v2p9s73djfp30","id":"srv-crbpgf3v2p9s73djfp30"[...]
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpgf3v2p9s73djfp30/autoscaling
        method: PUT
      response:
        body: |
            {"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1497478
        status: 200 OK
        code: 200
        duration: 161.651458ms
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpgf3v2p9s73djfp30
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:14:04.657252Z","dashboardUrl":"https://dashboard.render.com/worker/srv-crbpgf3v2p9s73djfp30","id":"[...]
[...]
    - id: 34
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpgf3v2p9s73djfp30/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbpggjv2p9s73djfp9g","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-03T23:14:10.188447Z","updatedAt":"2024-09-03T23:14:10.557752Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1497505
        status: 201 Created
        code: 201
        duration: 880.925ms
[...]
    - id: 81
      request:
        host: https://api.testing.render.com/v1
        body: '{"numInstances":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpgf3v2p9s73djfp30/scale
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "5"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1497649
        status: 202 Accepted
        code: 202
        duration: 164.673833ms
[...]
