---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"test_name_mnop","databaseUser":"test_user","enableHighAvailability":false,"ipAllowList":[],"name":"some-name","ownerId":"some-owner-id","plan":"starter","readReplicas":null,"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-31T13:47:00.533135312Z","databaseName":"test_name_mnop_qbuy","databaseUser":"test_user","highAvailabilityEnabled":false,"id":"dpg-cpct9l0kf6qq5iin97a0-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-31T13:47:00.533135312Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "11"
            Ratelimit-Reset:
                - "779"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000663
        status: 201 Created
        code: 201
        duration: 187.016167ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpct9l0kf6qq5iin97a0-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-31T13:47:00.533135Z","databaseName":"test_name_mnop_qbuy","databaseUser":"test_user","highAvailabilityEnabled":false,"id":"dpg-cpct9l0kf6qq5iin97a0-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-31T13:47:00.533135Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000664
        status: 200 OK
        code: 200
        duration: 55.04875ms
[...]
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpct9l0kf6qq5iin97a0-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgres://test_user:thirtytwocharacterpasswooooooord@dpg-cpct9l0kf6qq5iin97a0-a.oregon-postgres.localhost.render.com:5434/test_name_mnop_qbuy","internalConnectionString":"postgres://test_user:thirtytwocharacterpasswooooooord@dpg-cpct9l0kf6qq5iin97a0-a/test_name_mnop_qbuy","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-cpct9l0kf6qq5iin97a0-a.oregon-postgres.localhost.render.com -p 5434 -U test_user test_name_mnop_qbuy"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "392"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-b9ffd5684-t6v7h/JSwyBJnh3g-000671
        status: 200 OK
        code: 200
        duration: 40.13625ms
[...]
