---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"test_name_mnop","databaseUser":"test_user","diskSizeGB":20,"enableHighAvailability":false,"ipAllowList":[],"name":"some-name","ownerId":"some-owner-id","plan":"basic_256mb","readReplicas":null,"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-11-18T21:38:30.555049664Z","dashboardUrl":"https://dashboard.render.com/d/dpg-cstr7llumphs73bl49m0-a","databaseName":"test_name_mnop_nno3","databaseUser":"test_user","diskSizeGB":20,"highAvailabilityEnabled":false,"id":"dpg-cstr7llumphs73bl49m0-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"plan":"basic_256mb","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-11-18T21:38:30.555049664Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "18"
            Ratelimit-Reset:
                - "1289"
            Render-Request-Id:
                - api-687866d5bb-vwctc/kE3WJpezVN-179814
        status: 201 Created
        code: 201
        duration: 357.115083ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cstr7llumphs73bl49m0-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-11-18T21:38:30.55505Z","dashboardUrl":"https://dashboard.render.com/d/dpg-cstr7llumphs73bl49m0-a","databaseName":"test_name_mnop_nno3","databaseUser":"test_user","diskSizeGB":20,"highAvailabilityEnabled":false,"id":"dpg-cstr7llumphs73bl49m0-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Scott's Terraform","type":"team"},"plan":"basic_256mb","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-11-18T21:38:30.55505Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-687866d5bb-k2jsr/f23VPmaQwF-170724
        status: 200 OK
        code: 200
        duration: 89.176917ms
[...]
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cstr7llumphs73bl49m0-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://test_user:DGP1koXxaehlTMBZr3HEI8aapXm9yAAn@dpg-cstr7llumphs73bl49m0-a.oregon-postgres.render.com:5432/test_name_mnop_nno3","internalConnectionString":"postgresql://test_user:DGP1koXxaehlTMBZr3HEI8aapXm9yAAn@dpg-cstr7llumphs73bl49m0-a/test_name_mnop_nno3","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-cstr7llumphs73bl49m0-a.oregon-postgres.render.com -p 5432 -U test_user test_name_mnop_nno3"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-687866d5bb-vwctc/kE3WJpezVN-180537
        status: 200 OK
        code: 200
        duration: 80.412791ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-cstr7llumphs73bl49m0-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-cstr7llumphs73bl49m0-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-687866d5bb-vwctc/kE3WJpezVN-180551
        status: 404 Not Found
        code: 404
        duration: 149.904583ms
[...]
