---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"test_name_mnop","databaseUser":"test_user","diskSizeGB":20,"enableHighAvailability":false,"ipAllowList":[],"name":"some-name","ownerId":"some-owner-id","plan":"pro_4gb","readReplicas":[{"name":"read-replica"}],"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2026-05-04T21:53:18.785441951Z","dashboardUrl":"https://dashboard.render.com/d/dpg-d7shajjrjlhs73bukk0g-a","databaseName":"test_name_mnop_2mfb","databaseUser":"test_user","diskAutoscalingEnabled":false,"diskSizeGB":20,"highAvailabilityEnabled":false,"id":"dpg-d7shajjrjlhs73bukk0g-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Tucker's Terraform Cassette Test","type":"team"},"plan":"pro_4gb","readReplicas":[{"id":"dpg-d7shajjrjlhs73bukk0g-b","name":"read-replica"}],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2026-05-04T21:53:18.785441951Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "15"
            Ratelimit-Reset:
                - "401"
            Render-Request-Id:
                - api-67697cb9cc-7hdlp/bSeT1VJf0a-440444
        status: 201 Created
        code: 201
        duration: 1.160243208s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-d7shajjrjlhs73bukk0g-a
        method: GET
      response:
        body: |
            {"createdAt":"2026-05-04T21:53:18.785442Z","dashboardUrl":"https://dashboard.render.com/d/dpg-d7shajjrjlhs73bukk0g-a","databaseName":"test_name_mnop_2mfb","databaseUser":"test_user","diskAutoscalingEnabled":false,"diskSizeGB":20,"highAvailabilityEnabled":false,"id":"dpg-d7shajjrjlhs73bukk0g-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Tucker's Terraform Cassette Test","type":"team"},"plan":"pro_4gb","readReplicas":[{"id":"dpg-d7shajjrjlhs73bukk0g-b","name":"read-replica"}],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2026-05-04T21:53:18.785442Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-67697cb9cc-7hdlp/bSeT1VJf0a-440493
        status: 200 OK
        code: 200
        duration: 137.060708ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-d7shajjrjlhs73bukk0g-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://test_user:IasDIlJ0cwqH4rD1VrS0yihXP6QD5VJU@dpg-d7shajjrjlhs73bukk0g-a.oregon-postgres.render.com:5432/test_name_mnop_2mfb","internalConnectionString":"postgresql://test_user:IasDIlJ0cwqH4rD1VrS0yihXP6QD5VJU@dpg-d7shajjrjlhs73bukk0g-a/test_name_mnop_2mfb","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-d7shajjrjlhs73bukk0g-a.oregon-postgres.render.com -p 5432 -U test_user test_name_mnop_2mfb"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-67697cb9cc-8r4lj/bvH9OfgVXm-582199
        status: 200 OK
        code: 200
        duration: 137.672834ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-d7shajjrjlhs73bukk0g-a
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"dpg-d7shajjrjlhs73bukk0g-a","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-67697cb9cc-hr98q/EEsGBcgj5Z-285214
        status: 200 OK
        code: 200
        duration: 144.481709ms
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-d7shajjrjlhs73bukk0g-b
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"dpg-d7shajjrjlhs73bukk0g-b","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-67697cb9cc-2x52t/rJPzHDiqR2-370599
        status: 200 OK
        code: 200
        duration: 111.540167ms
[...]
