---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"test_name_mnop","databaseUser":"test_user","enableHighAvailability":false,"ipAllowList":[],"name":"some-name","ownerId":"some-owner-id","plan":"starter","readReplicas":null,"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-09T17:06:59.623163108Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-crfimcs8m55c703hl680-a","databaseName":"test_name_mnop_880y","databaseUser":"test_user","highAvailabilityEnabled":false,"id":"dpg-crfimcs8m55c703hl680-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-09-09T17:06:59.623163108Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000783
        status: 201 Created
        code: 201
        duration: 180.603292ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crfimcs8m55c703hl680-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-09T17:06:59.623163Z","dashboardUrl":"http://dashboard.render.localhost:3000/d/dpg-crfimcs8m55c703hl680-a","databaseName":"test_name_mnop_880y","databaseUser":"test_user","highAvailabilityEnabled":false,"id":"dpg-crfimcs8m55c703hl680-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"creating","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-09-09T17:06:59.623163Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9992"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000784
        status: 200 OK
        code: 200
        duration: 45.41725ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-crfimcs8m55c703hl680-a/connection-info
        method: GET
      response:
        body: |
            {"externalConnectionString":"postgresql://test_user:VWDIoMYETkbE7fMeB6KoAfJhvC3gg3Dd@dpg-crfimcs8m55c703hl680-a.oregon-postgres.localhost.render.com:5434/test_name_mnop_880y","internalConnectionString":"postgresql://test_user:VWDIoMYETkbE7fMeB6KoAfJhvC3gg3Dd@dpg-crfimcs8m55c703hl680-a/test_name_mnop_880y","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-crfimcs8m55c703hl680-a.oregon-postgres.localhost.render.com -p 5434 -U test_user test_name_mnop_880y"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9992"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000792
        status: 200 OK
        code: 200
        duration: 44.302833ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/dpg-crfimcs8m55c703hl680-a
        method: GET
      response:
        body: |
            {"message":"not found: dpg-crfimcs8m55c703hl680-a"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9989"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000795
        status: 404 Not Found
        code: 404
        duration: 33.819875ms
[...]
