---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"databaseName":"test_name_mnop","databaseUser":"test_user","enableHighAvailability":false,"ipAllowList":[],"name":"some-name","ownerId":"some-owner-id","plan":"starter","readReplicas":null,"region":"oregon","version":"16"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/postgres
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-30T17:23:42.888617892Z","databaseName":"test_name_mnop_zlsr","databaseUser":"test_user","highAvailabilityEnabled":false,"id":"dpg-cpcbc7jievbks45cffs0-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-30T17:23:42.888617892Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "26"
            Ratelimit-Reset:
                - "17"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002922
        status: 201 Created
        code: 201
        duration: 126.785791ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcbc7jievbks45cffs0-a
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T17:23:42.888618Z","databaseName":"test_name_mnop_zlsr","databaseUser":"test_user","highAvailabilityEnabled":false,"id":"dpg-cpcbc7jievbks45cffs0-a","ipAllowList":null,"name":"some-name","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"plan":"starter","readReplicas":[],"region":"oregon","role":"primary","status":"unknown","suspended":"not_suspended","suspenders":[],"updatedAt":"2024-05-30T17:23:42.888618Z","version":"16"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "385"
            Ratelimit-Reset:
                - "17"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002923
        status: 200 OK
        code: 200
        duration: 26.049458ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/postgres/dpg-cpcbc7jievbks45cffs0-a/secrets
        method: GET
      response:
        body: |
            {"externalConnectionString":"@example.com:5434/test_name_mnop_zlsr","internalConnectionString":"@dpg-cpcbc7jievbks45cffs0-a/test_name_mnop_zlsr","password":"thirtytwocharacterpasswooooooord","psqlCommand":"PGPASSWORD=thirtytwocharacterpasswooooooord psql -h dpg-cpcbc7jievbks45cffs0-a.oregon-postgres.localhost.render.com -p 5434 -U test_user test_name_mnop_zlsr"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002940
        status: 200 OK
        code: 200
        duration: 38.44ms
[...]
