---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"some-name","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2kb15ds78s73dug3o0","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:55:31.651855Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kb0tds78s73dug3gg","id":"srv-cu2kb0tds78s73dug3gg","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cu2kb0tds78s73dug3lg","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"some-name-0v4x:10000"},"slug":"some-name-0v4x","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-01-13T16:55:32.42345Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "2"
            Ratelimit-Reset:
                - "271"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-552311
        status: 201 Created
        code: 201
        duration: 4.131483417s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cu2kb0tds78s73dug3gg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-cu2kb0tds78s73dug3gg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-552420
        status: 200 OK
        code: 200
        duration: 142.358292ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kb0tds78s73dug3gg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "301"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-552422
        status: 200 OK
        code: 200
        duration: 162.761417ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kb0tds78s73dug3gg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "300"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-552429
        status: 200 OK
        code: 200
        duration: 128.3045ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-cu2kb0tds78s73dug3gg
        method: GET
      response:
        body: |
            {"message":"not found: srv-cu2kb0tds78s73dug3gg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "298"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-552437
        status: 404 Not Found
        code: 404
        duration: 237.435166ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"-oJLKv3lnshiMHRkczc4czczZHVnM2dn","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:55:31.651855Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kb0tds78s73dug3gg","id":"srv-cu2kb0tds78s73dug3gg","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cu2kb0tds78s73dug3lg","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"some-name-0v4x:10000"},"slug":"some-name-0v4x","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-01-13T16:55:32.42345Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "297"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-7767dddd75-zqsqf/rtQy8BuN0w-479276
        status: 200 OK
        code: 200
        duration: 374.368292ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kb0tds78s73dug3gg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:55:31.651855Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kb0tds78s73dug3gg","id":"srv-cu2kb0tds78s73dug3gg"[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"some-name","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kb0tds78s73dug3gg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:55:31.651855Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kb0tds78s73dug3gg","id":"s[...]
[...]
    - id: 39
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data2","name":"new-disk-name","sizeGB":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-cu2kb0tds78s73dug3lg
        method: PATCH
      response:
        body: |
            {"createdAt":"2025-01-13T16:55:31.713555Z","id":"dsk-cu2kb0tds78s73dug3lg","mountPath":"/data2","name":"new-disk-name","serviceId":"srv-cu2kb0tds78s73dug3gg","sizeGB":2,"updatedAt":"2025-01-13T16:55:41.8368Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "90"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-552650
        status: 200 OK
        code: 200
        duration: 301.245083ms
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kb0tds78s73dug3gg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2kb3lds78s73dug51g","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:c375ae41bb29c0615ab18452822fedf1981f8ba7a7b00508b3d901b7ab682947"},"status":"update_in_progress","trigger":"api","createdAt":"2025-01-13T16:55:42.65213Z","updatedAt":"2025-01-13T16:55:43.011859Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "17"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-552661
        status: 201 Created
        code: 201
        duration: 903.723667ms
[...]
    - id: 70
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/disks/dsk-cu2kb0tds78s73dug3lg
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "86"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-552863
        status: 204 No Content
        code: 204
        duration: 153.937792ms
[...]
