---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"some-name","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbo6qbievbqrcdn3cb0","service":{"autoDeploy":"yes","createdAt":"2024-05-29T19:35:05.314477Z","id":"srv-cpbo6qbievbqrcdn3c8g","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpbo6qbievbqrcdn3c90","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-npqn:10000"},"slug":"some-name-npqn","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:35:05.916295Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "138"
            Ratelimit-Reset:
                - "1495"
            Render-Request-Id:
                - api-79b88fd555-m465x/0AgflQbxqy-000215
        status: 201 Created
        code: 201
        duration: 1.163823584s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpbo6qbievbqrcdn3c8g
        method: PATCH
      response:
        body: |
            {"id":"srv-cpbo6qbievbqrcdn3c8g","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
                - "500"
            Ratelimit-Remaining:
                - "498"
                - "498"
            Ratelimit-Reset:
                - "52"
                - "52"
            Render-Request-Id:
                - api-79b88fd555-m465x/0AgflQbxqy-000217
        status: 200 OK
        code: 200
        duration: 20.523958ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo6qbievbqrcdn3c8g/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "497"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-79b88fd555-m465x/0AgflQbxqy-000218
        status: 200 OK
        code: 200
        duration: 22.877291ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo6qbievbqrcdn3c8g/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "496"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-79b88fd555-m465x/0AgflQbxqy-000219
        status: 200 OK
        code: 200
        duration: 23.91425ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"u_Q1SHOMly42cWJpZXZicXJjZG4zYzhn","service":{"autoDeploy":"yes","createdAt":"2024-05-29T19:35:05.314477Z","id":"srv-cpbo6qbievbqrcdn3c8g","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpbo6qbievbqrcdn3c90","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-npqn:10000"},"slug":"some-name-npqn","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:35:05.916295Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "494"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-79b88fd555-m465x/0AgflQbxqy-000221
        status: 200 OK
        code: 200
        duration: 29.802625ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo6qbievbqrcdn3c8g/deploys
        method: GET
      response:
        body: |
            [{"deploy":{"id":"dep-cpbo6qbievbqrcdn3cb0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"update_in_progress","trigger":"manual","createdAt":"2024-05-29T19:35:05.827508Z","updatedAt":"2024-05-29T19:35:05.984983Z","finishedAt":null},"cursor":"qjiQ6qMJTaU2cWJpZXZicXJjZG4zY2Iw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "490"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-79b88fd555-m465x/0AgflQbxqy-000225
        status: 200 OK
        code: 200
        duration: 32.437666ms
[...]
    - id: 21
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo6qbievbqrcdn3c8g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T19:35:05.314477Z","id":"srv-cpbo6qbievbqrcdn3c8g","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpbo6qbievbqrcdn3c90","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":80,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-npqn:10000"},"slug":"some-name-npqn","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:36:25.943125Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "496"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-79b88fd555-m465x/0AgflQbxqy-000445
        status: 200 OK
        code: 200
        duration: 28.650791ms
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":""},"name":"some-name","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbo6qbievbqrcdn3c8g
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T19:35:05.314477Z","id":"srv-cpbo6qbievbqrcdn3c8g","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpbo6qbievbqrcdn3c90","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":80,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-npqn:10000"},"slug":"some-name-npqn","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:36:25.943125Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "17"
            Render-Request-Id:
                - api-79b88fd555-m465x/0AgflQbxqy-000465
        status: 200 OK
        code: 200
        duration: 431.945292ms
[...]
    - id: 44
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data2","name":"new-disk-name","sizeGB":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-cpbo6qbievbqrcdn3c90
        method: PATCH
      response:
        body: |
            {"createdAt":"2024-05-29T19:35:05.354559Z","id":"dsk-cpbo6qbievbqrcdn3c90","mountPath":"/data2","name":"new-disk-name","serviceId":"srv-cpbo6qbievbqrcdn3c8g","sizeGB":2,"updatedAt":"2024-05-29T19:36:43.348562Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "497"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-79b88fd555-m465x/0AgflQbxqy-000468
        status: 200 OK
        code: 200
        duration: 69.471875ms
[...]
    - id: 70
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/disks/dsk-cpbo6qbievbqrcdn3c90
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "493"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-79b88fd555-m465x/0AgflQbxqy-000494
        status: 204 No Content
        code: 204
        duration: 111.838667ms
[...]
