---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"some-name","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0eguh7dlq4c73ao69k0","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:08:35.734551Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0egugvdlq4c73ao69hg","id":"srv-d0egugvdlq4c73ao69hg","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-d0egugvdlq4c73ao69i0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"some-name:10000"},"slug":"some-name","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-08T20:08:36.34227Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "7"
            Ratelimit-Reset:
                - "3085"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001195
        status: 201 Created
        code: 201
        duration: 1.734397042s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-d0egugvdlq4c73ao69hg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-d0egugvdlq4c73ao69hg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "86"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001197
        status: 200 OK
        code: 200
        duration: 94.630042ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egugvdlq4c73ao69hg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "263"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001198
        status: 200 OK
        code: 200
        duration: 92.907791ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egugvdlq4c73ao69hg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "262"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001199
        status: 200 OK
        code: 200
        duration: 94.730958ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0egugvdlq4c73ao69hg
        method: GET
      response:
        body: |
            {"message":"not found: srv-d0egugvdlq4c73ao69hg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "260"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001201
        status: 404 Not Found
        code: 404
        duration: 135.513375ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"cAnJ6FlNUT51Z3ZkbHE0YzczYW82OWhn","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:08:35.734551Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0egugvdlq4c73ao69hg","id":"srv-d0egugvdlq4c73ao69hg","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-d0egugvdlq4c73ao69i0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"some-name:10000"},"slug":"some-name","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-08T20:08:36.34227Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "259"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001202
        status: 200 OK
        code: 200
        duration: 122.657583ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egugvdlq4c73ao69hg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:08:35.734551Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0egugvdlq4c73ao[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"some-name","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0egugvdlq4c73ao69hg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:08:35.734551Z","dashboardUrl":"https://dashboard.staging.render.com/ps[...]
[...]
    - id: 39
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data2","name":"new-disk-name","sizeGB":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-d0egugvdlq4c73ao69i0
        method: PATCH
      response:
        body: |
            {"createdAt":"2025-05-08T20:08:35.775724Z","id":"dsk-d0egugvdlq4c73ao69i0","mountPath":"/data2","name":"new-disk-name","serviceId":"srv-d0egugvdlq4c73ao69hg","sizeGB":2,"updatedAt":"2025-05-08T20:08:44.151026Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "83"
            Ratelimit-Reset:
                - "15"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001238
        status: 200 OK
        code: 200
        duration: 182.830417ms
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0egugvdlq4c73ao69hg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0eguj7dlq4c73ao69n0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88b3388ea06c7262e410a3ab5c05dc4088b7b39dea569addd8c30766f4f47440"},"status":"update_in_progress","trigger":"api","createdAt":"2025-05-08T20:08:44.899256Z","updatedAt":"2025-05-08T20:08:45.168929Z","startedAt":"2025-05-08T20:08:45.145436Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "15"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001240
        status: 201 Created
        code: 201
        duration: 819.774125ms
[...]
    - id: 70
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/disks/dsk-d0egugvdlq4c73ao69i0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "79"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001269
        status: 204 No Content
        code: 204
        duration: 151.440542ms
[...]
