---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"some-name","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0ibm74fu1ps73eu3mn0","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:47:40.142101Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibm74fu1ps73eu3mkg","id":"srv-d0ibm74fu1ps73eu3mkg","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-d0ibm74fu1ps73eu3ml0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"some-name:10000"},"slug":"some-name","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-14T15:47:40.72256Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "7"
            Ratelimit-Reset:
                - "740"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001030
        status: 201 Created
        code: 201
        duration: 1.700472709s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-d0ibm74fu1ps73eu3mkg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-d0ibm74fu1ps73eu3mkg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "82"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001032
        status: 200 OK
        code: 200
        duration: 91.444625ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibm74fu1ps73eu3mkg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "233"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001033
        status: 200 OK
        code: 200
        duration: 89.57825ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibm74fu1ps73eu3mkg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "232"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001034
        status: 200 OK
        code: 200
        duration: 89.432334ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0ibm74fu1ps73eu3mkg
        method: GET
      response:
        body: |
            {"message":"not found: srv-d0ibm74fu1ps73eu3mkg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "230"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001036
        status: 404 Not Found
        code: 404
        duration: 127.671916ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"MJP_iHkqX0FtNzRmdTFwczczZXUzbWtn","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:47:40.142101Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibm74fu1ps73eu3mkg","id":"srv-d0ibm74fu1ps73eu3mkg","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-d0ibm74fu1ps73eu3ml0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"some-name:10000"},"slug":"some-name","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-14T15:47:40.72256Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "229"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001037
        status: 200 OK
        code: 200
        duration: 117.927875ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibm74fu1ps73eu3mkg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:47:40.142101Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibm74fu1ps73eu[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"some-name","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ibm74fu1ps73eu3mkg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:47:40.142101Z","dashboardUrl":"https://dashboard.staging.render.com/ps[...]
[...]
    - id: 39
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data2","name":"new-disk-name","sizeGB":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-d0ibm74fu1ps73eu3ml0
        method: PATCH
      response:
        body: |
            {"createdAt":"2025-05-14T15:47:40.180773Z","id":"dsk-d0ibm74fu1ps73eu3ml0","mountPath":"/data2","name":"new-disk-name","serviceId":"srv-d0ibm74fu1ps73eu3mkg","sizeGB":2,"updatedAt":"2025-05-14T15:47:48.426606Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "79"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001076
        status: 200 OK
        code: 200
        duration: 172.985666ms
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ibm74fu1ps73eu3mkg/deploys
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001078
        status: 202 Accepted
        code: 202
        duration: 115.702166ms
[...]
    - id: 70
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/disks/dsk-d0ibm74fu1ps73eu3ml0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "75"
            Ratelimit-Reset:
                - "5"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001112
        status: 204 No Content
        code: 204
        duration: 135.840875ms
[...]
