---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"some-name","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfi33q39eqs702lfah0","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:25:50.889812Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfi33i39eqs702lfaf0","id":"srv-crfi33i39eqs702lfaf0","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crfi33i39eqs702lfafg","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-fl70:10000"},"slug":"some-name-fl70","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-09T16:25:51.27568Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000001
        status: 201 Created
        code: 201
        duration: 1.079389709s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfi33i39eqs702lfaf0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crfi33i39eqs702lfaf0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9999"
                - "9999"
            Ratelimit-Reset:
                - "8"
                - "8"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000003
        status: 200 OK
        code: 200
        duration: 44.957458ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi33i39eqs702lfaf0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000004
        status: 200 OK
        code: 200
        duration: 20.7585ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi33i39eqs702lfaf0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9997"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000005
        status: 200 OK
        code: 200
        duration: 25.813584ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfi33i39eqs702lfaf0
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfi33i39eqs702lfaf0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9995"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000007
        status: 404 Not Found
        code: 404
        duration: 37.481166ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"EzP5dw8em7gzM2kzOWVxczcwMmxmYWYw","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:25:50.889812Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfi33i39eqs702lfaf0","id":"srv-crfi33i39eqs702lfaf0","imagePath":"docker.io/library/nginx:latest","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crfi33i39eqs702lfafg","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-fl70:10000"},"slug":"some-name-fl70","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-09T16:25:51.27568Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9994"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000008
        status: 200 OK
        code: 200
        duration: 39.914708ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi33i39eqs702lfaf0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:25:50.889812Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfi33i39eqs702lfaf0","id":"srv-crfi33i39eq[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"some-name","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi33i39eqs702lfaf0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:25:50.889812Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfi33i39eqs702lfaf[...]
[...]
    - id: 39
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data2","name":"new-disk-name","sizeGB":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-crfi33i39eqs702lfafg
        method: PATCH
      response:
        body: |
            {"createdAt":"2024-09-09T16:25:50.908124Z","id":"dsk-crfi33i39eqs702lfafg","mountPath":"/data2","name":"new-disk-name","serviceId":"srv-crfi33i39eqs702lfaf0","sizeGB":2,"updatedAt":"2024-09-09T16:25:53.854456Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9996"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000041
        status: 200 OK
        code: 200
        duration: 118.502958ms
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi33i39eqs702lfaf0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfi34i39eqs702lfakg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-09T16:25:54.202511Z","updatedAt":"2024-09-09T16:25:54.536655Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000043
        status: 201 Created
        code: 201
        duration: 574.733583ms
[...]
    - id: 70
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/disks/dsk-crfi33i39eqs702lfafg
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9992"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000072
        status: 204 No Content
        code: 204
        duration: 29.871167ms
[...]
