---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"docker"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfhv8c8m55c70055teg","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:17:37.487876Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfhv8c8m55c70055tdg","id":"srv-crfhv8c8m55c70055tdg","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-2gki:10000"},"slug":"some-name-2gki","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-09T16:17:39.369518Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9995"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000455
        status: 201 Created
        code: 201
        duration: 2.575622875s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfhv8c8m55c70055tdg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crfhv8c8m55c70055tdg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9685"
                - "9967"
            Ratelimit-Reset:
                - "20"
                - "20"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000456
        status: 200 OK
        code: 200
        duration: 42.475542ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhv8c8m55c70055tdg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9684"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000457
        status: 200 OK
        code: 200
        duration: 44.12425ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhv8c8m55c70055tdg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9683"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000458
        status: 200 OK
        code: 200
        duration: 56.509792ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfhv8c8m55c70055tdg
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfhv8c8m55c70055tdg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9681"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000460
        status: 404 Not Found
        code: 404
        duration: 34.116333ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"aZA8adK2BV12OGM4bTU1YzcwMDU1dGRn","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:17:37.487876Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfhv8c8m55c70055tdg","id":"srv-crfhv8c8m55c70055tdg","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-2gki:10000"},"slug":"some-name-2gki","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-09T16:17:39.369518Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9680"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000461
        status: 200 OK
        code: 200
        duration: 48.225ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhv8c8m55c70055tdg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:17:37.487876Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfhv8c8m55c70055tdg","id":[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"some-name","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"echo ''hello world''","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhv8c8m55c70055tdg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:17:37.487876Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crf[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhv8c8m55c70055tdg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfhv9c8m55c70055thg","commit":{"id":"bca0502a57b3f3a1a935ebdf8e85d0d704038bd3","message":"Fix render.yaml: \"env\" --\u003e \"runtime\" (#3)\n\nPer the `render.yaml` schema, `env` is still supported but is superseded by `runtime`. Using `env` will show a schema error if using the `render.yaml` validator in an IDE like VS Code.\r\n\r\nSee https://render.com/docs/blueprint-spec#runtime","createdAt":"2024-08-14T21:28:24Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-09T16:17:43.277301Z","updatedAt":"2024-09-09T16:17:43.277301Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000495
        status: 201 Created
        code: 201
        duration: 1.975437666s
[...]
