---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"docker"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2kbdpopnds738l8t80","service":{"autoDeploy":"yes","branch":"main","createdAt":"2025-01-13T16:56:23.199732Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kbdhopnds738l8t20","id":"srv-cu2kbdhopnds738l8t20","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"docker","sshAddress":"srv-email@example.com","url":"some-name-9nu5:10000"},"slug":"some-name-9nu5","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-01-13T16:56:24.49343Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "0"
            Ratelimit-Reset:
                - "217"
            Render-Request-Id:
                - api-7767dddd75-zqsqf/rtQy8BuN0w-480453
        status: 201 Created
        code: 201
        duration: 2.304045083s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cu2kbdhopnds738l8t20
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-cu2kbdhopnds738l8t20"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-553779
        status: 200 OK
        code: 200
        duration: 98.247792ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kbdhopnds738l8t20/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "329"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-553781
        status: 200 OK
        code: 200
        duration: 98.123292ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kbdhopnds738l8t20/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "328"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-553785
        status: 200 OK
        code: 200
        duration: 89.054667ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-cu2kbdhopnds738l8t20
        method: GET
      response:
        body: |
            {"message":"not found: srv-cu2kbdhopnds738l8t20"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "326"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-553794
        status: 404 Not Found
        code: 404
        duration: 314.502333ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"-oJLKv3lnshiZGhvcG5kczczOGw4dDIw","service":{"autoDeploy":"yes","branch":"main","createdAt":"2025-01-13T16:56:23.199732Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kbdhopnds738l8t20","id":"srv-cu2kbdhopnds738l8t20","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"docker","sshAddress":"srv-email@example.com","url":"some-name-9nu5:10000"},"slug":"some-name-9nu5","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-01-13T16:56:24.49343Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "325"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-553800
        status: 200 OK
        code: 200
        duration: 233.537667ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kbdhopnds738l8t20
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2025-01-13T16:56:23.199732Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kbdhopnds738l8t20","id":"srv-cu2kb[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"some-name","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"echo ''hello world''","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kbdhopnds738l8t20
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2025-01-13T16:56:23.199732Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kbdhopnds7[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kbdhopnds738l8t20/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2kbg5ds78s73dugah0","commit":{"id":"bca0502a57b3f3a1a935ebdf8e85d0d704038bd3","message":"Fix render.yaml: \"env\" --\u003e \"runtime\" (#3)\n\nPer the `render.yaml` schema, `env` is still supported but is superseded by `runtime`. Using `env` will show a schema error if using the `render.yaml` validator in an IDE like VS Code.\r\n\r\nSee https://docs.render.com/blueprint-spec#runtime","createdAt":"2024-08-14T21:28:24Z"},"status":"build_in_progress","trigger":"api","createdAt":"2025-01-13T16:56:33.156823Z","updatedAt":"2025-01-13T16:56:33.156823Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-553979
        status: 201 Created
        code: 201
        duration: 1.498488583s
[...]
