---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"docker"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbq6qlsvqrc73f3be70","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-09-04T00:01:46.114582Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq6qdsvqrc73f3be60","id":"srv-crbq6qdsvqrc73f3be60","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-wyw8:10000"},"slug":"some-name-wyw8","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-04T00:01:48.917754Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "18"
            Ratelimit-Reset:
                - "3494"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2679125
        status: 201 Created
        code: 201
        duration: 3.862359833s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbq6qdsvqrc73f3be60
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crbq6qdsvqrc73f3be60"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "354"
                - "94"
            Ratelimit-Reset:
                - "10"
                - "10"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1536311
        status: 200 OK
        code: 200
        duration: 93.8715ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq6qdsvqrc73f3be60/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "353"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1282755
        status: 200 OK
        code: 200
        duration: 77.834709ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq6qdsvqrc73f3be60/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "352"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2679183
        status: 200 OK
        code: 200
        duration: 67.976959ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"9DLTj91uR8c2cWRzdnFyYzczZjNiZTYw","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-09-04T00:01:46.114582Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq6qdsvqrc73f3be60","id":"srv-crbq6qdsvqrc73f3be60","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-wyw8:10000"},"slug":"some-name-wyw8","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-04T00:01:48.917754Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "350"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1282760
        status: 200 OK
        code: 200
        duration: 82.589208ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq6qdsvqrc73f3be60
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-09-04T00:01:46.114582Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq6qdsvqrc73f3be60","id":"srv-crbq6q[...]
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"some-name","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"echo ''hello world''","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq6qdsvqrc73f3be60
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-09-04T00:01:46.114582Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq6qdsvqrc7[...]
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq6qdsvqrc73f3be60/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbq6s5svqrc73f3bedg","commit":{"id":"bca0502a57b3f3a1a935ebdf8e85d0d704038bd3","message":"Fix render.yaml: \"env\" --\u003e \"runtime\" (#3)\n\nPer the `render.yaml` schema, `env` is still supported but is superseded by `runtime`. Using `env` will show a schema error if using the `render.yaml` validator in an IDE like VS Code.\r\n\r\nSee https://docs.render.com/blueprint-spec#runtime","createdAt":"2024-08-14T21:28:24Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-04T00:01:54.23064Z","updatedAt":"2024-09-04T00:01:54.23064Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2679220
        status: 201 Created
        code: 201
        duration: 2.829647917s
[...]
