---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeployTrigger":"commit","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"docker"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0ibmksfu1ps73eu3nag","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"main","createdAt":"2025-05-14T15:48:35.090488Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibmkkfu1ps73eu3n9g","id":"srv-d0ibmkkfu1ps73eu3n9g","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"docker","sshAddress":"srv-email@example.com","url":"some-name:10000"},"slug":"some-name","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-14T15:48:36.283252Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "4"
            Ratelimit-Reset:
                - "685"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001313
        status: 201 Created
        code: 201
        duration: 2.341505292s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-d0ibmkkfu1ps73eu3n9g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-d0ibmkkfu1ps73eu3n9g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "84"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001315
        status: 200 OK
        code: 200
        duration: 94.218041ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibmkkfu1ps73eu3n9g/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "271"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001317
        status: 200 OK
        code: 200
        duration: 89.160541ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibmkkfu1ps73eu3n9g/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "270"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001318
        status: 200 OK
        code: 200
        duration: 90.698542ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0ibmkkfu1ps73eu3n9g
        method: GET
      response:
        body: |
            {"message":"not found: srv-d0ibmkkfu1ps73eu3n9g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "268"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001320
        status: 404 Not Found
        code: 404
        duration: 141.697917ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"MJP_iHkqX0Fta2tmdTFwczczZXUzbjln","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"main","createdAt":"2025-05-14T15:48:35.090488Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibmkkfu1ps73eu3n9g","id":"srv-d0ibmkkfu1ps73eu3n9g","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"docker","sshAddress":"srv-email@example.com","url":"some-name:10000"},"slug":"some-name","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-14T15:48:36.283252Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "267"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001323
        status: 200 OK
        code: 200
        duration: 129.614291ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibmkkfu1ps73eu3n9g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"main","createdAt":"2025-05-14T15:48:35.090488Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeployTrigger":"commit","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"some-name","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"echo ''hello world''","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ibmkkfu1ps73eu3n9g
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"main","createdAt":"2025-05-14T15:48:35.090488Z","dashboardUrl":"https://dashboard.stagi[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ibmkkfu1ps73eu3n9g/deploys
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001359
        status: 202 Accepted
        code: 202
        duration: 120.6295ms
[...]
