---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","secretFiles":null,"serviceDetails":{"env":"docker","envSpecificDetails":{"dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbo3ocolt5qq8i65150","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-05-29T19:28:32.904008Z","id":"srv-cpbo3o4olt5qq8i65140","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-9n7h:10000"},"slug":"some-name-9n7h","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:28:33.812395Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "149"
            Ratelimit-Reset:
                - "1887"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001118
        status: 201 Created
        code: 201
        duration: 1.494257959s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpbo3o4olt5qq8i65140
        method: PATCH
      response:
        body: |
            {"id":"srv-cpbo3o4olt5qq8i65140","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
                - "500"
            Ratelimit-Remaining:
                - "270"
                - "457"
            Ratelimit-Reset:
                - "24"
                - "24"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001135
        status: 200 OK
        code: 200
        duration: 49.497291ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3o4olt5qq8i65140/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "269"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001136
        status: 200 OK
        code: 200
        duration: 48.691958ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3o4olt5qq8i65140/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "268"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001137
        status: 200 OK
        code: 200
        duration: 70.594083ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"u_Q1SHOMly4zbzRvbHQ1cXE4aTY1MTQw","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-05-29T19:28:32.904008Z","id":"srv-cpbo3o4olt5qq8i65140","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-9n7h:10000"},"slug":"some-name-9n7h","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:28:33.812395Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "266"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001139
        status: 200 OK
        code: 200
        duration: 69.055292ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3o4olt5qq8i65140
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-05-29T19:28:32.904008Z","id":"srv-cpbo3o4olt5qq8i65140","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-9n7h:10000"},"slug":"some-name-9n7h","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:28:33.812395Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "262"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001143
        status: 200 OK
        code: 200
        duration: 54.202125ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"some-name","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"echo ''hello world''","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbo3o4olt5qq8i65140
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-05-29T19:28:32.904008Z","id":"srv-cpbo3o4olt5qq8i65140","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"echo 'hello world'","dockerContext":".","dockerfilePath":"./Dockerfile"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-9n7h:10000"},"slug":"some-name-9n7h","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:28:38.673504Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001174
        status: 200 OK
        code: 200
        duration: 73.443459ms
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbo3o4olt5qq8i65140/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbo3psolt5qq8i651bg","commit":{"id":"f416edd30e0d61af811c8da9fd09567c33b6d9b8","message":"Add note about Bun native support (#1)","createdAt":"2024-04-09T16:21:23Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-05-29T19:28:39.753811Z","updatedAt":"2024-05-29T19:28:39.753811Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001178
        status: 201 Created
        code: 201
        duration: 960.202375ms
[...]
