---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0ibmocfu1ps73eu3ng0","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:48:48.664356Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibmo4fu1ps73eu3nf0","id":"srv-d0ibmo4fu1ps73eu3nf0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"env-var-test:10000"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-14T15:48:49.193861Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "3"
            Ratelimit-Reset:
                - "672"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001381
        status: 201 Created
        code: 201
        duration: 1.906948917s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-d0ibmo4fu1ps73eu3nf0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-d0ibmo4fu1ps73eu3nf0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "79"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001382
        status: 200 OK
        code: 200
        duration: 90.201ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibmo4fu1ps73eu3nf0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "217"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001383
        status: 200 OK
        code: 200
        duration: 94.3275ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibmo4fu1ps73eu3nf0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "216"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001384
        status: 200 OK
        code: 200
        duration: 93.07025ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0ibmo4fu1ps73eu3nf0
        method: GET
      response:
        body: |
            {"message":"not found: srv-d0ibmo4fu1ps73eu3nf0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "214"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001386
        status: 404 Not Found
        code: 404
        duration: 133.738416ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=env-var-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"MJP_iHkqX0FtbzRmdTFwczczZXUzbmYw","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:48:48.664356Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibmo4fu1ps73eu3nf0","id":"srv-d0ibmo4fu1ps73eu3nf0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"env-var-test:10000"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-14T15:48:49.193861Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "213"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001387
        status: 200 OK
        code: 200
        duration: 121.619542ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibmo4fu1ps73eu3nf0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:48:48.664356Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibmo4fu1ps73eu[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"env-var-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ibmo4fu1ps73eu3nf0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:48:48.664356Z","dashboardUrl":"https://dashboard.staging.render.com/ps[...]
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ibmo4fu1ps73eu3nf0/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"AUzblRGBAzxtcTRmdTFwczczZXUzbmkw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "78"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001419
        status: 200 OK
        code: 200
        duration: 94.713709ms
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ibmo4fu1ps73eu3nf0/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"AUzblRGBAzxtcTRmdTFwczczZXUzbmln"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "77"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001420
        status: 200 OK
        code: 200
        duration: 95.382292ms
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ibmo4fu1ps73eu3nf0/deploys
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001422
        status: 202 Accepted
        code: 202
        duration: 119.4845ms
[...]
    - id: 43
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibmo4fu1ps73eu3nf0/env-vars?cursor=AUzblRGBAzxtcTRmdTFwczczZXUzbmkw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "181"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001425
        status: 200 OK
        code: 200
        duration: 98.592458ms
[...]
    - id: 45
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibmo4fu1ps73eu3nf0/secret-files?cursor=AUzblRGBAzxtcTRmdTFwczczZXUzbmln
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "179"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001428
        status: 200 OK
        code: 200
        duration: 99.327541ms
[...]
    - id: 83
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibmo4fu1ps73eu3nf0/env-vars?cursor=AUzblRGBAzxtczRmdTFwczczZXUzbmpn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "379"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001467
        status: 200 OK
        code: 200
        duration: 90.184625ms
[...]
    - id: 85
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibmo4fu1ps73eu3nf0/secret-files?cursor=AUzblRGBAzxtczRmdTFwczczZXUzbmtn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "377"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001469
        status: 200 OK
        code: 200
        duration: 90.458708ms
[...]
