---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0egv3vdlq4c73ao6b00","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:09:50.798574Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0egv3ndlq4c73ao6av0","id":"srv-d0egv3ndlq4c73ao6av0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"env-var-test:10000"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-08T20:09:51.369594Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "3"
            Ratelimit-Reset:
                - "3010"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001553
        status: 201 Created
        code: 201
        duration: 2.016682625s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-d0egv3ndlq4c73ao6av0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-d0egv3ndlq4c73ao6av0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "83"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001563
        status: 200 OK
        code: 200
        duration: 97.054666ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egv3ndlq4c73ao6av0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "221"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001564
        status: 200 OK
        code: 200
        duration: 99.254167ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egv3ndlq4c73ao6av0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "220"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001565
        status: 200 OK
        code: 200
        duration: 99.391291ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0egv3ndlq4c73ao6av0
        method: GET
      response:
        body: |
            {"message":"not found: srv-d0egv3ndlq4c73ao6av0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "218"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001567
        status: 404 Not Found
        code: 404
        duration: 142.587959ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=env-var-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"cAnJ6FlNUT52M25kbHE0YzczYW82YXYw","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:09:50.798574Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0egv3ndlq4c73ao6av0","id":"srv-d0egv3ndlq4c73ao6av0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"env-var-test:10000"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-08T20:09:51.369594Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "217"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001568
        status: 200 OK
        code: 200
        duration: 125.787625ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egv3ndlq4c73ao6av0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:09:50.798574Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0egv3ndlq4c73ao[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"env-var-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0egv3ndlq4c73ao6av0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:09:50.798574Z","dashboardUrl":"https://dashboard.staging.render.com/ps[...]
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0egv3ndlq4c73ao6av0/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"2S4iOCXFOft2NW5kbHE0YzczYW82Yjcw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "82"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001622
        status: 200 OK
        code: 200
        duration: 104.707125ms
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0egv3ndlq4c73ao6av0/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"2S4iOCXFOft2NXZkbHE0YzczYW82Yjdn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "81"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001623
        status: 200 OK
        code: 200
        duration: 101.180417ms
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0egv3ndlq4c73ao6av0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0egv5vdlq4c73ao6b8g","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88b3388ea06c7262e410a3ab5c05dc4088b7b39dea569addd8c30766f4f47440"},"status":"update_in_progress","trigger":"api","createdAt":"2025-05-08T20:09:59.767669Z","updatedAt":"2025-05-08T20:10:20.528892Z","startedAt":"2025-05-08T20:10:20.508406Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001625
        status: 201 Created
        code: 201
        duration: 21.285239208s
[...]
    - id: 43
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egv3ndlq4c73ao6av0/env-vars?cursor=2S4iOCXFOft2NW5kbHE0YzczYW82Yjcw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001664
        status: 200 OK
        code: 200
        duration: 97.600583ms
[...]
    - id: 45
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egv3ndlq4c73ao6av0/secret-files?cursor=2S4iOCXFOft2NXZkbHE0YzczYW82Yjdn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001666
        status: 200 OK
        code: 200
        duration: 110.010125ms
[...]
    - id: 83
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egv3ndlq4c73ao6av0/env-vars?cursor=2S4iOCXFOft2ZDdkbHE0YzczYW82Ymln
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "362"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001787
        status: 200 OK
        code: 200
        duration: 105.508792ms
[...]
    - id: 85
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egv3ndlq4c73ao6av0/secret-files?cursor=2S4iOCXFOft2ZDdkbHE0YzczYW82Ympn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "360"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001790
        status: 200 OK
        code: 200
        duration: 117.599542ms
[...]
