---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfi3c239eqs702lfb1g","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:26:24.055734Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfi3c239eqs702lfb0g","id":"srv-crfi3c239eqs702lfb0g","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"env-var-test:10000"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-09T16:26:24.464927Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000127
        status: 201 Created
        code: 201
        duration: 942.015625ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfi3c239eqs702lfb0g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crfi3c239eqs702lfb0g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9999"
                - "9999"
            Ratelimit-Reset:
                - "35"
                - "35"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000128
        status: 200 OK
        code: 200
        duration: 17.447042ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi3c239eqs702lfb0g/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000129
        status: 200 OK
        code: 200
        duration: 19.993833ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi3c239eqs702lfb0g/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9997"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000130
        status: 200 OK
        code: 200
        duration: 23.093084ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfi3c239eqs702lfb0g
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfi3c239eqs702lfb0g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9995"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000132
        status: 404 Not Found
        code: 404
        duration: 28.468042ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=env-var-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"EzP5dw8em7gzYzIzOWVxczcwMmxmYjBn","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:26:24.055734Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfi3c239eqs702lfb0g","id":"srv-crfi3c239eqs702lfb0g","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"env-var-test:10000"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-09T16:26:24.464927Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9994"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000133
        status: 200 OK
        code: 200
        duration: 23.964875ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi3c239eqs702lfb0g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:26:24.055734Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfi3c239eqs702lfb0g","id":"srv-crfi3c239eq[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"env-var-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi3c239eqs702lfb0g
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:26:24.055734Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfi3c239eqs702lfb0[...]
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi3c239eqs702lfb0g/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"Ih-xRG4fuaozY2kzOWVxczcwMmxmYjNn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000164
        status: 200 OK
        code: 200
        duration: 38.176625ms
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi3c239eqs702lfb0g/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"Ih-xRG4fuaozY2kzOWVxczcwMmxmYjQw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9997"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000165
        status: 200 OK
        code: 200
        duration: 41.316542ms
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfi3c239eqs702lfb0g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfi3ci39eqs702lfb50","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-09T16:26:26.335963Z","updatedAt":"2024-09-09T16:26:26.532355Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000167
        status: 201 Created
        code: 201
        duration: 372.208292ms
[...]
    - id: 43
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi3c239eqs702lfb0g/env-vars?cursor=Ih-xRG4fuaozY2kzOWVxczcwMmxmYjNn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9961"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000170
        status: 200 OK
        code: 200
        duration: 23.340417ms
[...]
    - id: 45
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi3c239eqs702lfb0g/secret-files?cursor=Ih-xRG4fuaozY2kzOWVxczcwMmxmYjQw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9959"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000172
        status: 200 OK
        code: 200
        duration: 52.403791ms
[...]
    - id: 83
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi3c239eqs702lfb0g/env-vars?cursor=Ih-xRG4fuaozZDIzOWVxczcwMmxmYjhn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9925"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000210
        status: 200 OK
        code: 200
        duration: 27.920292ms
[...]
    - id: 85
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfi3c239eqs702lfb0g/secret-files?cursor=Ih-xRG4fuaozZDIzOWVxczcwMmxmYjln
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9923"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-000212
        status: 200 OK
        code: 200
        duration: 24.608708ms
[...]
