---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbq6vbqf0us73dfii4g","service":{"autoDeploy":"yes","createdAt":"2024-09-04T00:02:04.487514Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq6v3qf0us73dfii20","id":"srv-crbq6v3qf0us73dfii20","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"env-var-test-xd0w:10000"},"slug":"env-var-test-xd0w","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-04T00:02:05.365215Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "17"
            Ratelimit-Reset:
                - "3476"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1282972
        status: 201 Created
        code: 201
        duration: 2.440294667s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbq6v3qf0us73dfii20
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crbq6v3qf0us73dfii20"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "399"
                - "99"
            Ratelimit-Reset:
                - "54"
                - "54"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2679420
        status: 200 OK
        code: 200
        duration: 65.38475ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq6v3qf0us73dfii20/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-468262
        status: 200 OK
        code: 200
        duration: 163.679458ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq6v3qf0us73dfii20/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1106459
        status: 200 OK
        code: 200
        duration: 61.431125ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=env-var-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"9DLTj91uR8c2djNxZjB1czczZGZpaTIw","service":{"autoDeploy":"yes","createdAt":"2024-09-04T00:02:04.487514Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq6v3qf0us73dfii20","id":"srv-crbq6v3qf0us73dfii20","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"env-var-test-xd0w:10000"},"slug":"env-var-test-xd0w","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-04T00:02:05.365215Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-468269
        status: 200 OK
        code: 200
        duration: 327.841958ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq6v3qf0us73dfii20
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-04T00:02:04.487514Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq6v3qf0us73dfii20","id":"srv-crbq6v3qf0us73dfii20",[...]
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"env-var-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq6v3qf0us73dfii20
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-04T00:02:04.487514Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq6v3qf0us73dfii20","id":"s[...]
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq6v3qf0us73dfii20/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"g_JAsubTnI03MGpxZjB1czczZGZpaWZn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1283062
        status: 200 OK
        code: 200
        duration: 68.629541ms
    - id: 31
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq6v3qf0us73dfii20/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"g_JAsubTnI03MGxzdnFyYzczZjNiZjMw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2679482
        status: 200 OK
        code: 200
        duration: 70.701625ms
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq6v3qf0us73dfii20/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbq70ij1k6c738ecd8g","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-04T00:02:11.004509Z","updatedAt":"2024-09-04T00:02:11.506376Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1106526
        status: 201 Created
        code: 201
        duration: 1.295397459s
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq6v3qf0us73dfii20/env-vars?cursor=g_JAsubTnI03MGpxZjB1czczZGZpaWZn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "368"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1283098
        status: 200 OK
        code: 200
        duration: 67.146792ms
[...]
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq6v3qf0us73dfii20/secret-files?cursor=g_JAsubTnI03MGxzdnFyYzczZjNiZjMw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "366"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-468352
        status: 200 OK
        code: 200
        duration: 77.264875ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq6v3qf0us73dfii20/env-vars?cursor=g_JAsubTnI03MmkzZXN1czczOTN1anIw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "337"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-468446
        status: 200 OK
        code: 200
        duration: 74.557875ms
[...]
    - id: 73
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq6v3qf0us73dfii20/secret-files?cursor=g_JAsubTnI03MmpxZjB1czczZGZpaXQw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "335"
            Ratelimit-Reset:
                - "39"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2679639
        status: 200 OK
        code: 200
        duration: 353.928458ms
[...]
