---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"env":"image","envSpecificDetails":{},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbqrgjievbks45cfahg","service":{"autoDeploy":"yes","createdAt":"2024-05-29T22:35:46.399488Z","id":"srv-cpbqrgjievbks45cfagg","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"env-var-test:10000"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T22:35:46.720695Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "19"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001778
        status: 201 Created
        code: 201
        duration: 913.239292ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpbqrgjievbks45cfagg
        method: PATCH
      response:
        body: |
            {"id":"srv-cpbqrgjievbks45cfagg","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "30"
            Ratelimit-Remaining:
                - "303"
                - "19"
            Ratelimit-Reset:
                - "12"
                - "12"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001779
        status: 200 OK
        code: 200
        duration: 24.593875ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqrgjievbks45cfagg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "302"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001780
        status: 200 OK
        code: 200
        duration: 19.282333ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqrgjievbks45cfagg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "301"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001781
        status: 200 OK
        code: 200
        duration: 17.631333ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=env-var-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"ymeztjKFMt1yZ2ppZXZia3M0NWNmYWdn","service":{"autoDeploy":"yes","createdAt":"2024-05-29T22:35:46.399488Z","id":"srv-cpbqrgjievbks45cfagg","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"env-var-test:10000"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T22:35:46.720695Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "299"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001783
        status: 200 OK
        code: 200
        duration: 25.1775ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqrgjievbks45cfagg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T22:35:46.399488Z","id":"srv-cpbqrgjievbks45cfagg","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"env-var-test:10000"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T22:35:46.720695Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "295"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001787
        status: 200 OK
        code: 200
        duration: 23.950166ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"env-var-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbqrgjievbks45cfagg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T22:35:46.399488Z","id":"srv-cpbqrgjievbks45cfagg","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"env-var-test:10000"},"slug":"env-var-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T22:35:46.720695Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001807
        status: 200 OK
        code: 200
        duration: 348.347791ms
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbqrgjievbks45cfagg/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"RC94lLbYFQ9yaGppZXZia3M0NWNmYWpn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "18"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001808
        status: 200 OK
        code: 200
        duration: 22.354167ms
    - id: 31
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbqrgjievbks45cfagg/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"RC94lLbYFQ9yaGppZXZia3M0NWNmYWsw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "17"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001809
        status: 200 OK
        code: 200
        duration: 22.599792ms
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbqrgjievbks45cfagg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbqrhjievbks45cfal0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"update_in_progress","trigger":"api","createdAt":"2024-05-29T22:35:50.500744Z","updatedAt":"2024-05-29T22:35:50.732129Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001811
        status: 201 Created
        code: 201
        duration: 411.196292ms
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqrgjievbks45cfagg/env-vars?cursor=RC94lLbYFQ9yaGppZXZia3M0NWNmYWpn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "272"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001814
        status: 200 OK
        code: 200
        duration: 24.426708ms
[...]
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqrgjievbks45cfagg/secret-files?cursor=RC94lLbYFQ9yaGppZXZia3M0NWNmYWsw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "270"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001816
        status: 200 OK
        code: 200
        duration: 22.144667ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqrgjievbks45cfagg/env-vars?cursor=RC94lLbYFQ9yaWppZXZia3M0NWNmYW9n
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "241"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001849
        status: 200 OK
        code: 200
        duration: 20.45225ms
[...]
    - id: 73
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbqrgjievbks45cfagg/secret-files?cursor=RC94lLbYFQ9yaWppZXZia3M0NWNmYXBn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "239"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001851
        status: 200 OK
        code: 200
        duration: 24.072916ms
[...]
