---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2kdklds78s73duhamg","service":{"autoDeploy":"yes","createdAt":"2025-01-13T17:01:05.654225Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kdkdds78s73duhakg","id":"srv-cu2kdkdds78s73duhakg","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"env-var-test-p2x3:10000"},"slug":"env-var-test-p2x3","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-01-13T17:01:06.488551Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "19"
            Ratelimit-Reset:
                - "3535"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-560202
        status: 201 Created
        code: 201
        duration: 3.234175375s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cu2kdkdds78s73duhakg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-cu2kdkdds78s73duhakg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-7767dddd75-gljv5/zSsYhtUqap-1792205
        status: 200 OK
        code: 200
        duration: 101.55325ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kdkdds78s73duhakg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-7767dddd75-gljv5/zSsYhtUqap-1792207
        status: 200 OK
        code: 200
        duration: 111.059416ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kdkdds78s73duhakg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-7767dddd75-gljv5/zSsYhtUqap-1792210
        status: 200 OK
        code: 200
        duration: 111.483167ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-cu2kdkdds78s73duhakg
        method: GET
      response:
        body: |
            {"message":"not found: srv-cu2kdkdds78s73duhakg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-7767dddd75-gljv5/zSsYhtUqap-1792216
        status: 404 Not Found
        code: 404
        duration: 422.271ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=env-var-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"-oJLKv3lnshka2Rkczc4czczZHVoYWtn","service":{"autoDeploy":"yes","createdAt":"2025-01-13T17:01:05.654225Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kdkdds78s73duhakg","id":"srv-cu2kdkdds78s73duhakg","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"env-var-test-p2x3:10000"},"slug":"env-var-test-p2x3","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-01-13T17:01:06.488551Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-7767dddd75-gljv5/zSsYhtUqap-1792243
        status: 200 OK
        code: 200
        duration: 203.488417ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kdkdds78s73duhakg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T17:01:05.654225Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kdkdds78s73duhakg","id":"srv-cu2kdkdds78s73duhakg"[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"env-var-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kdkdds78s73duhakg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T17:01:05.654225Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kdkdds78s73duhakg","id":"s[...]
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kdkdds78s73duhakg/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"f3TDrnEQnBRkbjUybmcxczczODQ3cnJn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-7767dddd75-gljv5/zSsYhtUqap-1792490
        status: 200 OK
        code: 200
        duration: 112.006958ms
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kdkdds78s73duhakg/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"f3TDrnEQnBRkbjUybmcxczczODQ3cnMw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-7767dddd75-gljv5/zSsYhtUqap-1792496
        status: 200 OK
        code: 200
        duration: 101.531708ms
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kdkdds78s73duhakg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2kdndds78s73duhch0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:c375ae41bb29c0615ab18452822fedf1981f8ba7a7b00508b3d901b7ab682947"},"status":"update_in_progress","trigger":"api","createdAt":"2025-01-13T17:01:17.67039Z","updatedAt":"2025-01-13T17:01:17.980627Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-560501
        status: 201 Created
        code: 201
        duration: 1.108627583s
[...]
    - id: 43
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kdkdds78s73duhakg/env-vars?cursor=f3TDrnEQnBRkbjUybmcxczczODQ3cnJn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "363"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-7767dddd75-gljv5/zSsYhtUqap-1792548
        status: 200 OK
        code: 200
        duration: 123.078792ms
[...]
    - id: 45
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kdkdds78s73duhakg/secret-files?cursor=f3TDrnEQnBRkbjUybmcxczczODQ3cnMw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "361"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-7767dddd75-gljv5/zSsYhtUqap-1792564
        status: 200 OK
        code: 200
        duration: 109.923ms
[...]
    - id: 83
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kdkdds78s73duhakg/env-vars?cursor=f3TDrnEQnBRkcGwybmcxczczODQ3c3Vn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "328"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-7767dddd75-gljv5/zSsYhtUqap-1792906
        status: 200 OK
        code: 200
        duration: 221.119833ms
[...]
    - id: 85
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kdkdds78s73duhakg/secret-files?cursor=f3TDrnEQnBRkcGwybmcxczczODQ3c3Zn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "326"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-7767dddd75-gljv5/zSsYhtUqap-1792922
        status: 200 OK
        code: 200
        duration: 232.73575ms
[...]
