---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2kb9dds78s73dug7f0","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-01-13T16:56:04.903018Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kb95ds78s73dug7ag","id":"srv-cu2kb95ds78s73dug7ag","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node","sshAddress":"srv-email@example.com","url":"some-name-aap6:10000"},"slug":"some-name-aap6","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-01-13T16:56:06.159997Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "1"
            Ratelimit-Reset:
                - "236"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-553256
        status: 201 Created
        code: 201
        duration: 2.425272708s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cu2kb95ds78s73dug7ag
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-cu2kb95ds78s73dug7ag"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-553316
        status: 200 OK
        code: 200
        duration: 109.352ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kb95ds78s73dug7ag/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "383"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-553324
        status: 200 OK
        code: 200
        duration: 97.476042ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kb95ds78s73dug7ag/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "382"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-553329
        status: 200 OK
        code: 200
        duration: 100.976041ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-cu2kb95ds78s73dug7ag
        method: GET
      response:
        body: |
            {"message":"not found: srv-cu2kb95ds78s73dug7ag"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "380"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-553341
        status: 404 Not Found
        code: 404
        duration: 213.022833ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"-oJLKv3lnshiOTVkczc4czczZHVnN2Fn","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-01-13T16:56:04.903018Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kb95ds78s73dug7ag","id":"srv-cu2kb95ds78s73dug7ag","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node","sshAddress":"srv-email@example.com","url":"some-name-aap6:10000"},"slug":"some-name-aap6","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-01-13T16:56:06.159997Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "379"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-553345
        status: 200 OK
        code: 200
        duration: 166.176666ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kb95ds78s73dug7ag
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-01-13T16:56:04.903018Z","dashboardUrl":"https://das[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["bld/**"]},"name":"some-name","repo":"https://github.com/render-examples/nextjs-hello-world","rootDir":"","serviceDetails":{"envSpecificDetails":{"buildCommand":"yarn; yarn build","startCommand":"yarn start"},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kb95ds78s73dug7ag
        method: PATCH
      response:
        body: |
            {"autoDeploy":"no","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["bld/**"]},"createdAt":"2025-01-13T16:56:04.903018Z","das[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kb95ds78s73dug7ag/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2kbc5ds78s73dug8k0","commit":{"id":"a0f64db8bea168f884fcc6b95ec4f795b4b850f3","message":"Upgrade Next to v15 (#48)","createdAt":"2024-11-11T18:49:36Z"},"status":"build_in_progress","trigger":"api","createdAt":"2025-01-13T16:56:17.242163Z","updatedAt":"2025-01-13T16:56:17.242163Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-553579
        status: 201 Created
        code: 201
        duration: 1.581374666s
[...]
