---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":null,"serviceDetails":{"env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbo3lcolt5qq8i650jg","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-05-29T19:28:21.053744Z","id":"srv-cpbo3l4olt5qq8i650gg","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-fvgv:10000"},"slug":"some-name-fvgv","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:28:21.802203Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "151"
            Ratelimit-Reset:
                - "1899"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001023
        status: 201 Created
        code: 201
        duration: 1.344583833s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpbo3l4olt5qq8i650gg
        method: PATCH
      response:
        body: |
            {"id":"srv-cpbo3l4olt5qq8i650gg","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
                - "500"
            Ratelimit-Remaining:
                - "356"
                - "471"
            Ratelimit-Reset:
                - "36"
                - "36"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001032
        status: 200 OK
        code: 200
        duration: 46.914833ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3l4olt5qq8i650gg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "354"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001034
        status: 200 OK
        code: 200
        duration: 42.393834ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3l4olt5qq8i650gg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "352"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001036
        status: 200 OK
        code: 200
        duration: 45.64375ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"u_Q1SHOMly4zbDRvbHQ1cXE4aTY1MGdn","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-05-29T19:28:21.053744Z","id":"srv-cpbo3l4olt5qq8i650gg","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-fvgv:10000"},"slug":"some-name-fvgv","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:28:21.802203Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "350"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001038
        status: 200 OK
        code: 200
        duration: 64.591625ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3l4olt5qq8i650gg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-05-29T19:28:21.053744Z","id":"srv-cpbo3l4olt5qq8i650gg","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"some-name-fvgv:10000"},"slug":"some-name-fvgv","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:28:21.802203Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "342"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001046
        status: 200 OK
        code: 200
        duration: 55.001917ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["bld/**"]},"name":"some-name","repo":"https://github.com/render-examples/nextjs-hello-world","rootDir":"","serviceDetails":{"envSpecificDetails":{"buildCommand":"yarn; yarn build","startCommand":"yarn start"},"plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbo3l4olt5qq8i650gg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"no","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["bld/**"]},"createdAt":"2024-05-29T19:28:21.053744Z","id":"srv-cpbo3l4o[...]
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbo3l4olt5qq8i650gg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbo3n4olt5qq8i650q0","commit":{"id":"493ff91c6d6ce45b07e75e4386c68760cefef7c3","message":"Add instructions for deploying as static site (#39)","createdAt":"2024-03-15T20:08:29Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-05-29T19:28:28.505661Z","updatedAt":"2024-05-29T19:28:28.505661Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-001088
        status: 201 Created
        code: 201
        duration: 828.582417ms
[...]
