---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0egus7dlq4c73ao6ad0","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-05-08T20:09:20.261193Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0egurvdlq4c73ao6ac0","id":"srv-d0egurvdlq4c73ao6ac0","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node","sshAddress":"srv-email@example.com","url":"some-name:10000"},"slug":"some-name","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-08T20:09:21.504842Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "5"
            Ratelimit-Reset:
                - "3040"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001402
        status: 201 Created
        code: 201
        duration: 2.328664291s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-d0egurvdlq4c73ao6ac0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-d0egurvdlq4c73ao6ac0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001403
        status: 200 OK
        code: 200
        duration: 91.158208ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egurvdlq4c73ao6ac0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "329"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001404
        status: 200 OK
        code: 200
        duration: 102.110042ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egurvdlq4c73ao6ac0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "328"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001405
        status: 200 OK
        code: 200
        duration: 101.980708ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0egurvdlq4c73ao6ac0
        method: GET
      response:
        body: |
            {"message":"not found: srv-d0egurvdlq4c73ao6ac0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "326"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001407
        status: 404 Not Found
        code: 404
        duration: 140.204375ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"cAnJ6FlNUT51cnZkbHE0YzczYW82YWMw","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-05-08T20:09:20.261193Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0egurvdlq4c73ao6ac0","id":"srv-d0egurvdlq4c73ao6ac0","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node","sshAddress":"srv-email@example.com","url":"some-name:10000"},"slug":"some-name","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-08T20:09:21.504842Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "325"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001408
        status: 200 OK
        code: 200
        duration: 130.725375ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egurvdlq4c73ao6ac0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-05-08T20:09:20.261193Z[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeployTrigger":"off","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["bld/**"]},"name":"some-name","repo":"https://github.com/render-examples/nextjs-hello-world","rootDir":"","serviceDetails":{"envSpecificDetails":{"buildCommand":"yarn; yarn build","startCommand":"yarn start"},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0egurvdlq4c73ao6ac0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"no","autoDeployTrigger":"off","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["bld/**"]},"createdAt":"2025-05[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0egurvdlq4c73ao6ac0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0eguufdlq4c73ao6ag0","commit":{"id":"a0f64db8bea168f884fcc6b95ec4f795b4b850f3","message":"Upgrade Next to v15 (#48)","createdAt":"2024-11-11T18:49:36Z"},"status":"build_in_progress","trigger":"api","createdAt":"2025-05-08T20:09:30.405025Z","updatedAt":"2025-05-08T20:09:30.405025Z","startedAt":"2025-05-08T20:09:30.398954Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001443
        status: 201 Created
        code: 201
        duration: 1.303123458s
[...]
