---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0ibmhcfu1ps73eu3n5g","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-05-14T15:48:20.89122Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibmh4fu1ps73eu3n4g","id":"srv-d0ibmh4fu1ps73eu3n4g","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node","sshAddress":"srv-email@example.com","url":"some-name:10000"},"slug":"some-name","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-14T15:48:22.010753Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "5"
            Ratelimit-Reset:
                - "700"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001242
        status: 201 Created
        code: 201
        duration: 2.133628583s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-d0ibmh4fu1ps73eu3n4g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-d0ibmh4fu1ps73eu3n4g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "89"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001243
        status: 200 OK
        code: 200
        duration: 90.588541ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibmh4fu1ps73eu3n4g/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "325"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001244
        status: 200 OK
        code: 200
        duration: 91.478458ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibmh4fu1ps73eu3n4g/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "324"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001245
        status: 200 OK
        code: 200
        duration: 90.8985ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0ibmh4fu1ps73eu3n4g
        method: GET
      response:
        body: |
            {"message":"not found: srv-d0ibmh4fu1ps73eu3n4g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "322"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001247
        status: 404 Not Found
        code: 404
        duration: 127.402375ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=some-name&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"MJP_iHkqX0FtaDRmdTFwczczZXUzbjRn","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-05-14T15:48:20.89122Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibmh4fu1ps73eu3n4g","id":"srv-d0ibmh4fu1ps73eu3n4g","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node","sshAddress":"srv-email@example.com","url":"some-name:10000"},"slug":"some-name","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-14T15:48:22.010753Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "321"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001248
        status: 200 OK
        code: 200
        duration: 112.552709ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibmh4fu1ps73eu3n4g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-05-14T15:48:20.89122Z"[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeployTrigger":"off","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["bld/**"]},"name":"some-name","repo":"https://github.com/render-examples/nextjs-hello-world","rootDir":"","serviceDetails":{"envSpecificDetails":{"buildCommand":"yarn; yarn build","startCommand":"yarn start"},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ibmh4fu1ps73eu3n4g
        method: PATCH
      response:
        body: |
            {"autoDeploy":"no","autoDeployTrigger":"off","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["bld/**"]},"createdAt":"2025-05[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ibmh4fu1ps73eu3n4g/deploys
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-001291
        status: 202 Accepted
        code: 202
        duration: 117.912042ms
[...]
