---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0egucfdlq4c73ao69b0","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:08:16.8777Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0eguc7dlq4c73ao69a0","id":"srv-d0eguc7dlq4c73ao69a0","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"autoscaling-test:10000"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-08T20:08:17.52158Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "3103"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001107
        status: 201 Created
        code: 201
        duration: 1.759461875s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-d0eguc7dlq4c73ao69a0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-d0eguc7dlq4c73ao69a0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "91"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001108
        status: 200 OK
        code: 200
        duration: 103.970875ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0eguc7dlq4c73ao69a0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "342"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001109
        status: 200 OK
        code: 200
        duration: 98.423916ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0eguc7dlq4c73ao69a0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "341"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001110
        status: 200 OK
        code: 200
        duration: 96.964708ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0eguc7dlq4c73ao69a0
        method: GET
      response:
        body: |
            {"message":"not found: srv-d0eguc7dlq4c73ao69a0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "339"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001112
        status: 404 Not Found
        code: 404
        duration: 134.98775ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"cAnJ6FlNUT51YzdkbHE0YzczYW82OWEw","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:08:16.8777Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0eguc7dlq4c73ao69a0","id":"srv-d0eguc7dlq4c73ao69a0","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"autoscaling-test:10000"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-08T20:08:17.52158Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "338"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001113
        status: 200 OK
        code: 200
        duration: 124.725458ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0eguc7dlq4c73ao69a0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:08:16.8777Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0eguc7dlq4c73ao69[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0eguc7dlq4c73ao69a0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:08:16.8777Z","dashboardUrl":"https://dashboard.staging.render.com/pser[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0eguc7dlq4c73ao69a0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0eguefdlq4c73ao69dg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88b3388ea06c7262e410a3ab5c05dc4088b7b39dea569addd8c30766f4f47440"},"status":"update_in_progress","trigger":"api","createdAt":"2025-05-08T20:08:25.797507Z","updatedAt":"2025-05-08T20:08:26.102679Z","startedAt":"2025-05-08T20:08:26.079517Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001148
        status: 201 Created
        code: 201
        duration: 810.409625ms
[...]
