---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0ibm2kfu1ps73eu3meg","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:47:22.267278Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibm2kfu1ps73eu3mdg","id":"srv-d0ibm2kfu1ps73eu3mdg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"autoscaling-test:10000"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-14T15:47:22.813085Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "758"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000897
        status: 201 Created
        code: 201
        duration: 1.614078125s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-d0ibm2kfu1ps73eu3mdg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-d0ibm2kfu1ps73eu3mdg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "87"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000899
        status: 200 OK
        code: 200
        duration: 150.152542ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibm2kfu1ps73eu3mdg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "312"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000900
        status: 200 OK
        code: 200
        duration: 118.767291ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibm2kfu1ps73eu3mdg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "311"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000902
        status: 200 OK
        code: 200
        duration: 98.829375ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0ibm2kfu1ps73eu3mdg
        method: GET
      response:
        body: |
            {"message":"not found: srv-d0ibm2kfu1ps73eu3mdg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "309"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000904
        status: 404 Not Found
        code: 404
        duration: 129.74475ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"MJP_iHkqX0FtMmtmdTFwczczZXUzbWRn","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:47:22.267278Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibm2kfu1ps73eu3mdg","id":"srv-d0ibm2kfu1ps73eu3mdg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"autoscaling-test:10000"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-14T15:47:22.813085Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "308"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000905
        status: 200 OK
        code: 200
        duration: 118.68925ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibm2kfu1ps73eu3mdg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:47:22.267278Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibm2kfu1ps73eu[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ibm2kfu1ps73eu3mdg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:47:22.267278Z","dashboardUrl":"https://dashboard.staging.render.com/ps[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ibm2kfu1ps73eu3mdg/deploys
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000939
        status: 202 Accepted
        code: 202
        duration: 110.844791ms
[...]
