---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2kaqlds78s73dug0ag","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:55:05.821844Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kaqdds78s73dug050","id":"srv-cu2kaqdds78s73dug050","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"autoscaling-test-1wv5:10000"},"slug":"autoscaling-test-1wv5","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-01-13T16:55:06.759713Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "3"
            Ratelimit-Reset:
                - "295"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-551644
        status: 201 Created
        code: 201
        duration: 3.727327s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cu2kaqdds78s73dug050
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-cu2kaqdds78s73dug050"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-551716
        status: 200 OK
        code: 200
        duration: 107.090875ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kaqdds78s73dug050/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "380"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-551722
        status: 200 OK
        code: 200
        duration: 108.62125ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kaqdds78s73dug050/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "379"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-551729
        status: 200 OK
        code: 200
        duration: 105.149542ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-cu2kaqdds78s73dug050
        method: GET
      response:
        body: |
            {"message":"not found: srv-cu2kaqdds78s73dug050"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "377"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-551738
        status: 404 Not Found
        code: 404
        duration: 206.674208ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"-oJLKv3lnshhcWRkczc4czczZHVnMDUw","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:55:05.821844Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kaqdds78s73dug050","id":"srv-cu2kaqdds78s73dug050","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"autoscaling-test-1wv5:10000"},"slug":"autoscaling-test-1wv5","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-01-13T16:55:06.759713Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "376"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-551741
        status: 200 OK
        code: 200
        duration: 180.432375ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kaqdds78s73dug050
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:55:05.821844Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kaqdds78s73dug050","id":"srv-cu2kaqdds78s73dug050"[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kaqdds78s73dug050
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:55:05.821844Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kaqdds78s73dug050","id":"s[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kaqdds78s73dug050/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2katdds78s73dug1dg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:c375ae41bb29c0615ab18452822fedf1981f8ba7a7b00508b3d901b7ab682947"},"status":"update_in_progress","trigger":"api","createdAt":"2025-01-13T16:55:17.448215Z","updatedAt":"2025-01-13T16:55:18.85778Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-551985
        status: 201 Created
        code: 201
        duration: 1.903678875s
[...]
