---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfhv3c8m55c70055sr0","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:17:17.675285Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfhv3c8m55c70055sq0","id":"srv-crfhv3c8m55c70055sq0","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test-iztl:10000"},"slug":"autoscaling-test-iztl","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-09T16:17:18.066129Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000299
        status: 201 Created
        code: 201
        duration: 950.458709ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfhv3c8m55c70055sq0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-crfhv3c8m55c70055sq0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9827"
                - "9978"
            Ratelimit-Reset:
                - "41"
                - "41"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000300
        status: 200 OK
        code: 200
        duration: 39.862542ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhv3c8m55c70055sq0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9826"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000301
        status: 200 OK
        code: 200
        duration: 42.470416ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhv3c8m55c70055sq0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9825"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000302
        status: 200 OK
        code: 200
        duration: 39.457375ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfhv3c8m55c70055sq0
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfhv3c8m55c70055sq0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9823"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000304
        status: 404 Not Found
        code: 404
        duration: 32.090791ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"aZA8adK2BV12M2M4bTU1YzcwMDU1c3Ew","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:17:17.675285Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfhv3c8m55c70055sq0","id":"srv-crfhv3c8m55c70055sq0","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test-iztl:10000"},"slug":"autoscaling-test-iztl","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-09T16:17:18.066129Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9822"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000305
        status: 200 OK
        code: 200
        duration: 50.065125ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhv3c8m55c70055sq0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:17:17.675285Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfhv3c8m55c70055sq0","id":"srv-crfhv3c8m55[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhv3c8m55c70055sq0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:17:17.675285Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfhv3c8m55c70055sq[...]
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhv3c8m55c70055sq0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfhv448m55c70055stg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-09T16:17:20.809683Z","updatedAt":"2024-09-09T16:17:21.082304Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "39"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000339
        status: 201 Created
        code: 201
        duration: 490.1955ms
[...]
