---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbq0d3v2p9s73djirc0","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:48:04.253009Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq0d3v2p9s73djirag","id":"srv-crbq0d3v2p9s73djirag","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test:10000"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-03T23:48:05.175623Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "4"
            Ratelimit-Reset:
                - "716"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1525459
        status: 201 Created
        code: 201
        duration: 2.4671665s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbq0d3v2p9s73djirag
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-crbq0d3v2p9s73djirag"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "399"
                - "99"
            Ratelimit-Reset:
                - "54"
                - "54"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2667949
        status: 200 OK
        code: 200
        duration: 70.425625ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq0d3v2p9s73djirag/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1095193
        status: 200 OK
        code: 200
        duration: 61.766584ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq0d3v2p9s73djirag/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-5dfb588d7c-ntsn5/63XNsnqzpK-218885
        status: 200 OK
        code: 200
        duration: 59.404209ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"9DLTj91uR8cwZDN2MnA5czczZGppcmFn","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:48:04.253009Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq0d3v2p9s73djirag","id":"srv-crbq0d3v2p9s73djirag","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test:10000"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-03T23:48:05.175623Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2023580
        status: 200 OK
        code: 200
        duration: 72.638125ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq0d3v2p9s73djirag
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:48:04.253009Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq0d3v2p9s73djirag","id":"srv-crbq0d3v2p9s73djirag",[...]
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq0d3v2p9s73djirag
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:48:04.253009Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq0d3v2p9s73djirag","id":"s[...]
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq0d3v2p9s73djirag/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbq0edds78s73947tug","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-03T23:48:09.988481Z","updatedAt":"2024-09-03T23:48:10.533988Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-5dfb588d7c-ntsn5/63XNsnqzpK-218922
        status: 201 Created
        code: 201
        duration: 1.381860167s
[...]
