---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"env":"image","envSpecificDetails":{},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbo27kolt5qq8i64s30","service":{"autoDeploy":"yes","createdAt":"2024-05-29T19:25:18.182854Z","id":"srv-cpbo27kolt5qq8i64s20","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test-hhsc:10000"},"slug":"autoscaling-test-hhsc","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:25:18.604722Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "165"
            Ratelimit-Reset:
                - "2082"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000386
        status: 201 Created
        code: 201
        duration: 1.062583667s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpbo27kolt5qq8i64s20
        method: PATCH
      response:
        body: |
            {"id":"srv-cpbo27kolt5qq8i64s20","notificationsToSend":"all","previewNotificationsEnabled":"true","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
                - "500"
            Ratelimit-Remaining:
                - "241"
                - "459"
            Ratelimit-Reset:
                - "40"
                - "40"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000407
        status: 200 OK
        code: 200
        duration: 63.460125ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo27kolt5qq8i64s20/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "240"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000408
        status: 200 OK
        code: 200
        duration: 75.469375ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo27kolt5qq8i64s20/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "238"
            Ratelimit-Reset:
                - "39"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000410
        status: 200 OK
        code: 200
        duration: 49.839417ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"u_Q1SHOMly4yN2tvbHQ1cXE4aTY0czIw","service":{"autoDeploy":"yes","createdAt":"2024-05-29T19:25:18.182854Z","id":"srv-cpbo27kolt5qq8i64s20","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test-hhsc:10000"},"slug":"autoscaling-test-hhsc","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:25:18.604722Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "234"
            Ratelimit-Reset:
                - "39"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000414
        status: 200 OK
        code: 200
        duration: 65.917917ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo27kolt5qq8i64s20
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T19:25:18.182854Z","id":"srv-cpbo27kolt5qq8i64s20","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test-hhsc:10000"},"slug":"autoscaling-test-hhsc","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:25:18.604722Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "227"
            Ratelimit-Reset:
                - "39"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000421
        status: 200 OK
        code: 200
        duration: 52.634042ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbo27kolt5qq8i64s20
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T19:25:18.182854Z","id":"srv-cpbo27kolt5qq8i64s20","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test-hhsc:10000"},"slug":"autoscaling-test-hhsc","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:25:18.604722Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000462
        status: 200 OK
        code: 200
        duration: 479.91775ms
[...]
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbo27kolt5qq8i64s20/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbo294olt5qq8i64sf0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"update_in_progress","trigger":"api","createdAt":"2024-05-29T19:25:24.803602Z","updatedAt":"2024-05-29T19:25:25.147096Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000477
        status: 201 Created
        code: 201
        duration: 640.983167ms
[...]
