---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-29T19:27:48.398137Z","environmentIds":["evm-cpbo3d4olt5qq8i64tug"],"id":"prj-cpbo3d4olt5qq8i64tu0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-29T19:27:48.398137Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "498"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000697
        status: 201 Created
        code: 201
        duration: 148.253416ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpbo3d4olt5qq8i64tug
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpbo3d4olt5qq8i64tug","name":"prod","projectId":"prj-cpbo3d4olt5qq8i64tu0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "498"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000698
        status: 200 OK
        code: 200
        duration: 79.723125ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpbo3d4olt5qq8i64tvg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpbo3d4olt5qq8i64tvg","name":"prod","projectId":"prj-cpbo3d4olt5qq8i64tv0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "497"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000700
        status: 200 OK
        code: 200
        duration: 78.719709ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"private-service-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{},"numInstances":1,"plan":"starter","preDeployCommand":"echo ''hello world''","pullRequestPreviewsEnabled":"yes","region":"oregon"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbo3dkolt5qq8i64ub0","service":{"autoDeploy":"yes","createdAt":"2024-05-29T19:27:49.818259Z","id":"srv-cpbo3dcolt5qq8i64u10","imagePath":"docker.io/library/nginx:latest","name":"private-service-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpbo3dcolt5qq8i64u3g","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"yes","region":"oregon","url":"private-service-tf-lyoz:10000"},"slug":"private-service-tf-lyoz","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:27:50.437617Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "156"
            Ratelimit-Reset:
                - "1930"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000701
        status: 201 Created
        code: 201
        duration: 1.356313792s
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-cpbo3dcolt5qq8i64u10"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-cpbo3d4olt5qq8i64tug/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpbo3d4olt5qq8i64tug","name":"prod","projectId":"prj-cpbo3d4olt5qq8i64tu0","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-cpbo3dcolt5qq8i64u10"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "495"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000723
        status: 201 Created
        code: 201
        duration: 199.095916ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpbo3dcolt5qq8i64u10
        method: PATCH
      response:
        body: |
            {"id":"srv-cpbo3dcolt5qq8i64u10","notificationsToSend":"all","previewNotificationsEnabled":"true","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
                - "500"
            Ratelimit-Remaining:
                - "472"
                - "494"
            Ratelimit-Reset:
                - "7"
                - "7"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000728
        status: 200 OK
        code: 200
        duration: 65.779625ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3dcolt5qq8i64u10/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"12Jn7qHCUrczZGNvbHQ1cXE4aTY0dTIw"},{"envVar":{"key":"key1","value":"val1"},"cursor":"12Jn7qHCUrczZGNvbHQ1cXE4aTY0dTFn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "471"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000729
        status: 200 OK
        code: 200
        duration: 52.955083ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3dcolt5qq8i64u10/env-vars?cursor=12Jn7qHCUrczZGNvbHQ1cXE4aTY0dTFn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "470"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000732
        status: 200 OK
        code: 200
        duration: 55.189375ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3dcolt5qq8i64u10/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"12Jn7qHCUrczZGNvbHQ1cXE4aTY0dTMw"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"12Jn7qHCUrczZGNvbHQ1cXE4aTY0dTJn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "469"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000735
        status: 200 OK
        code: 200
        duration: 55.678708ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3dcolt5qq8i64u10/secret-files?cursor=12Jn7qHCUrczZGNvbHQ1cXE4aTY0dTJn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "467"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000738
        status: 200 OK
        code: 200
        duration: 54.643958ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=private-service-tf&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"u_Q1SHOMly4zZGNvbHQ1cXE4aTY0dTEw","service":{"autoDeploy":"yes","createdAt":"2024-05-29T19:27:49.818259Z","environmentId":"evm-cpbo3d4olt5qq8i64tug","id":"srv-cpbo3dcolt5qq8i64u10","imagePath":"docker.io/library/nginx:latest","name":"private-service-tf","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpbo3dcolt5qq8i64u3g","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"yes","region":"oregon","url":"private-service-tf-lyoz:10000"},"slug":"private-service-tf-lyoz","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:27:51.945955Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "462"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000744
        status: 200 OK
        code: 200
        duration: 75.121125ms
[...]
    - id: 18
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3dcolt5qq8i64u10
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T19:27:49.818259Z","environmentId":"evm-cpbo3d4olt5qq8i64tug","id":"srv-cpbo3dcolt5qq8i64u10","imagePath":"docker.io/library/ng[...]
[...]
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpbo3d4olt5qq8i64tu0
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-29T19:27:48.398137Z","environmentIds":["evm-cpbo3d4olt5qq8i64tug"],"id":"prj-cpbo3d4olt5qq8i64tu0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-29T19:27:48.398137Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "418"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000788
        status: 200 OK
        code: 200
        duration: 89.662875ms
[...]
    - id: 32
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpbo3d4olt5qq8i64tv0
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-29T19:27:48.826611Z","environmentIds":["evm-cpbo3d4olt5qq8i64tvg"],"id":"prj-cpbo3d4olt5qq8i64tv0","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-29T19:27:48.826611Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "408"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000798
        status: 200 OK
        code: 200
        duration: 88.782084ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data","name":"some-disk","sizeGB":1}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-cpbo3dcolt5qq8i64u3g
        method: PATCH
      response:
        body: |
            {"createdAt":"2024-05-29T19:27:49.880281Z","id":"dsk-cpbo3dcolt5qq8i64u3g","mountPath":"/data","name":"some-disk","serviceId":"srv-cpbo3dcolt5qq8i64u10","sizeGB":1,"updatedAt":"2024-05-29T19:27:49.880281Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "496"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000871
        status: 200 OK
        code: 200
        duration: 120.043292ms
[...]
    - id: 73
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/srv-cpbo3dcolt5qq8i64u10/resources?resourceIds=srv-cpbo3dcolt5qq8i64u10
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "494"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000873
        status: 204 No Content
        code: 204
        duration: 201.723875ms
    - id: 74
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-cpbo3dcolt5qq8i64u10"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-cpbo3d4olt5qq8i64tvg/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpbo3d4olt5qq8i64tvg","name":"prod","projectId":"prj-cpbo3d4olt5qq8i64tv0","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-cpbo3dcolt5qq8i64u10"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "493"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000874
        status: 201 Created
        code: 201
        duration: 301.984833ms
    - id: 75
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbo3dcolt5qq8i64u10/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbo3gsolt5qq8i64vdg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"pre_deploy_in_progress","trigger":"api","createdAt":"2024-05-29T19:28:03.565742Z","updatedAt":"2024-05-29T19:28:03.857638Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000875
        status: 201 Created
        code: 201
        duration: 606.307625ms
[...]
    - id: 78
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3dcolt5qq8i64u10/env-vars?cursor=12Jn7qHCUrczZ2NvbHQ1cXE4aTY0djdn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "483"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000879
        status: 200 OK
        code: 200
        duration: 58.317209ms
[...]
    - id: 80
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3dcolt5qq8i64u10/secret-files?cursor=12Jn7qHCUrczZ2NvbHQ1cXE4aTY0djhn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "478"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000884
        status: 200 OK
        code: 200
        duration: 59.424416ms
[...]
    - id: 119
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpbo3d4olt5qq8i64tvg/resources?resourceIds=srv-cpbo3dcolt5qq8i64u10
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "484"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000956
        status: 204 No Content
        code: 204
        duration: 314.836166ms
[...]
    - id: 123
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3dcolt5qq8i64u10/env-vars?cursor=12Jn7qHCUrczaXNvbHQ1cXE4aTY0dm8w
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "411"
            Ratelimit-Reset:
                - "46"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000965
        status: 200 OK
        code: 200
        duration: 55.463209ms
[...]
    - id: 125
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo3dcolt5qq8i64u10/secret-files?cursor=12Jn7qHCUrczaXNvbHQ1cXE4aTY0dnAw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "409"
            Ratelimit-Reset:
                - "45"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000967
        status: 200 OK
        code: 200
        duration: 53.109583ms
[...]
