---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-06T22:14:13.901533Z","environmentIds":["evm-crdntdbh12fc706omkd0"],"id":"prj-crdntdbh12fc706omkcg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-06T22:14:13.901533Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "46"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000299
        status: 201 Created
        code: 201
        duration: 139.875125ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crdntdbh12fc706omkd0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crdntdbh12fc706omkd0","name":"prod","projectId":"prj-crdntdbh12fc706omkcg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "46"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000300
        status: 200 OK
        code: 200
        duration: 40.755667ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crdntdjh12fc706omke0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crdntdjh12fc706omke0","name":"prod","projectId":"prj-crdntdjh12fc706omkdg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "45"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000302
        status: 200 OK
        code: 200
        duration: 43.954625ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key2","value":"val2"},{"key":"key1","value":"val1"}],"image":{"imagePath":"nginx","ownerId":""},"name":"private-service-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","preDeployCommand":"echo ''hello world''","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crdntdrh12fc706omkj0","service":{"autoDeploy":"yes","createdAt":"2024-09-06T22:14:14.68192Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crdntdjh12fc706omkf0","id":"srv-crdntdjh12fc706omkf0","imagePath":"docker.io/library/nginx:latest","name":"private-service-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crdntdjh12fc706omkhg","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"yes","region":"oregon","url":"private-service-tf-6lrq:10000"},"slug":"private-service-tf-6lrq","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-06T22:14:15.207096Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "193"
            Ratelimit-Reset:
                - "2745"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000303
        status: 201 Created
        code: 201
        duration: 1.127688833s
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-crdntdjh12fc706omkf0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crdntdbh12fc706omkd0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crdntdbh12fc706omkd0","name":"prod","projectId":"prj-crdntdbh12fc706omkcg","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-crdntdjh12fc706omkf0"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000304
        status: 201 Created
        code: 201
        duration: 182.615209ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crdntdjh12fc706omkf0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-crdntdjh12fc706omkf0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "397"
                - "96"
            Ratelimit-Reset:
                - "44"
                - "44"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000305
        status: 200 OK
        code: 200
        duration: 55.078542ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crdntdjh12fc706omkf0
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"srv-crdntdjh12fc706omkf0","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "29"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000306
        status: 200 OK
        code: 200
        duration: 87.252416ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdntdjh12fc706omkf0/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key1","value":"val1"},"cursor":"vFxH_7Mk4nx0ZGpoMTJmYzcwNm9ta2cw"},{"envVar":{"key":"key2","value":"val2"},"cursor":"vFxH_7Mk4nx0ZGpoMTJmYzcwNm9ta2Zn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000307
        status: 200 OK
        code: 200
        duration: 54.381917ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdntdjh12fc706omkf0/env-vars?cursor=vFxH_7Mk4nx0ZGpoMTJmYzcwNm9ta2Zn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000308
        status: 200 OK
        code: 200
        duration: 94.832083ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdntdjh12fc706omkf0/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"vFxH_7Mk4nx0ZGpoMTJmYzcwNm9ta2gw"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"vFxH_7Mk4nx0ZGpoMTJmYzcwNm9ta2dn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000309
        status: 200 OK
        code: 200
        duration: 65.631667ms
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdntdjh12fc706omkf0/secret-files?cursor=vFxH_7Mk4nx0ZGpoMTJmYzcwNm9ta2dn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000310
        status: 200 OK
        code: 200
        duration: 88.816833ms
[...]
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=private-service-tf&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"_B4BeiJiT7t0ZGpoMTJmYzcwNm9ta2Yw","service":{"autoDeploy":"yes","createdAt":"2024-09-06T22:14:14.68192Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crdntdjh12fc706omkf0","environmentId":"evm-crdntdbh12fc706omkd0","id":"srv-crdntdjh12fc706omkf0","imagePath":"docker.io/library/nginx:latest","name":"private-service-tf","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crdntdjh12fc706omkhg","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"yes","region":"oregon","url":"private-service-tf-6lrq:10000"},"slug":"private-service-tf-6lrq","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-06T22:14:15.357061Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000313
        status: 200 OK
        code: 200
        duration: 71.425875ms
[...]
    - id: 21
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdntdjh12fc706omkf0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-06T22:14:14.68192Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crdntdjh12fc706omkf0","environmentId":"evm-c[...]
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crdntdbh12fc706omkcg
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-06T22:14:13.901533Z","environmentIds":["evm-crdntdbh12fc706omkd0"],"id":"prj-crdntdbh12fc706omkcg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-06T22:14:13.901533Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "373"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000334
        status: 200 OK
        code: 200
        duration: 67.374708ms
[...]
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crdntdjh12fc706omkdg
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-06T22:14:14.038626Z","environmentIds":["evm-crdntdjh12fc706omke0"],"id":"prj-crdntdjh12fc706omkdg","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-06T22:14:14.038626Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "371"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000336
        status: 200 OK
        code: 200
        duration: 68.3475ms
[...]
    - id: 81
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data","name":"some-disk","sizeGB":1}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-crdntdjh12fc706omkhg
        method: PATCH
      response:
        body: |
            {"createdAt":"2024-09-06T22:14:14.726433Z","id":"dsk-crdntdjh12fc706omkhg","mountPath":"/data","name":"some-disk","serviceId":"srv-crdntdjh12fc706omkf0","sizeGB":1,"updatedAt":"2024-09-06T22:14:14.726433Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000380
        status: 200 OK
        code: 200
        duration: 112.761958ms
[...]
    - id: 84
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/srv-crdntdjh12fc706omkf0/resources?resourceIds=srv-crdntdjh12fc706omkf0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "91"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000383
        status: 204 No Content
        code: 204
        duration: 212.544334ms
    - id: 85
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-crdntdjh12fc706omkf0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crdntdjh12fc706omke0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crdntdjh12fc706omke0","name":"prod","projectId":"prj-crdntdjh12fc706omkdg","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-crdntdjh12fc706omkf0"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "90"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000384
        status: 201 Created
        code: 201
        duration: 381.392125ms
    - id: 86
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crdntdjh12fc706omkf0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crdntgrh12fc706omks0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"pre_deploy_in_progress","trigger":"api","createdAt":"2024-09-06T22:14:27.38346Z","updatedAt":"2024-09-06T22:14:27.644735Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000385
        status: 201 Created
        code: 201
        duration: 542.243375ms
[...]
    - id: 89
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdntdjh12fc706omkf0/env-vars?cursor=vFxH_7Mk4nx0Z2poMTJmYzcwNm9ta3Bn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "332"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000388
        status: 200 OK
        code: 200
        duration: 57.946625ms
[...]
    - id: 91
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdntdjh12fc706omkf0/secret-files?cursor=vFxH_7Mk4nx0Z2poMTJmYzcwNm9ta3Fn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "330"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000390
        status: 200 OK
        code: 200
        duration: 55.488084ms
[...]
    - id: 93
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crdntdjh12fc706omkf0
        method: GET
      response:
        body: |
            {"message":"not found: srv-crdntdjh12fc706omkf0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "18"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000392
        status: 404 Not Found
        code: 404
        duration: 38.276417ms
[...]
    - id: 135
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crdntdjh12fc706omke0/resources?resourceIds=srv-crdntdjh12fc706omkf0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "85"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000434
        status: 204 No Content
        code: 204
        duration: 202.216083ms
[...]
    - id: 139
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdntdjh12fc706omkf0/env-vars?cursor=vFxH_7Mk4nx0aHJoMTJmYzcwNm9tbDJn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "293"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000438
        status: 200 OK
        code: 200
        duration: 51.2675ms
[...]
    - id: 141
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdntdjh12fc706omkf0/secret-files?cursor=vFxH_7Mk4nx0aHJoMTJmYzcwNm9tbDNn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "291"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000440
        status: 200 OK
        code: 200
        duration: 55.620542ms
[...]
