---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-03T23:47:05.646935Z","environmentIds":["evm-crbpvubv2p9s73djilp0"],"id":"prj-crbpvubv2p9s73djilog","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-03T23:47:05.646935Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524596
        status: 201 Created
        code: 201
        duration: 173.8165ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbpvubv2p9s73djilp0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbpvubv2p9s73djilp0","name":"prod","projectId":"prj-crbpvubv2p9s73djilog","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524598
        status: 200 OK
        code: 200
        duration: 60.02025ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbpvubv2p9s73djilq0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbpvubv2p9s73djilq0","name":"prod","projectId":"prj-crbpvubv2p9s73djilpg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524601
        status: 200 OK
        code: 200
        duration: 65.234791ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"private-service-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","preDeployCommand":"echo ''hello world''","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbpvv3v2p9s73djimj0","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:47:07.293181Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbpvurv2p9s73djimbg","id":"srv-crbpvurv2p9s73djimbg","imagePath":"docker.io/library/nginx:latest","name":"private-service-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crbpvurv2p9s73djimeg","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"yes","region":"oregon","url":"private-service-tf:10000"},"slug":"private-service-tf","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-03T23:47:08.292214Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "6"
            Ratelimit-Reset:
                - "774"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524602
        status: 201 Created
        code: 201
        duration: 2.44182925s
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-crbpvurv2p9s73djimbg"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crbpvubv2p9s73djilp0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbpvubv2p9s73djilp0","name":"prod","projectId":"prj-crbpvubv2p9s73djilog","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-crbpvurv2p9s73djimbg"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524629
        status: 201 Created
        code: 201
        duration: 235.593ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbpvurv2p9s73djimbg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-crbpvurv2p9s73djimbg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "397"
                - "96"
            Ratelimit-Reset:
                - "51"
                - "51"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524633
        status: 200 OK
        code: 200
        duration: 79.41675ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpvurv2p9s73djimbg/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"vRXeQMKo7dF2dXJ2MnA5czczZGppbWQw"},{"envVar":{"key":"key1","value":"val1"},"cursor":"vRXeQMKo7dF2dXJ2MnA5czczZGppbWNn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524634
        status: 200 OK
        code: 200
        duration: 66.68425ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpvurv2p9s73djimbg/env-vars?cursor=vRXeQMKo7dF2dXJ2MnA5czczZGppbWNn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524636
        status: 200 OK
        code: 200
        duration: 64.829958ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpvurv2p9s73djimbg/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"vRXeQMKo7dF2dXJ2MnA5czczZGppbWUw"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"vRXeQMKo7dF2dXJ2MnA5czczZGppbWRn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524637
        status: 200 OK
        code: 200
        duration: 71.331208ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpvurv2p9s73djimbg/secret-files?cursor=vRXeQMKo7dF2dXJ2MnA5czczZGppbWRn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524638
        status: 200 OK
        code: 200
        duration: 64.583584ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=private-service-tf&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"JPWXxwKhepV2dXJ2MnA5czczZGppbWJn","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:47:07.293181Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbpvurv2p9s73djimbg","environmentId":"evm-crbpvubv2p9s73djilp0","id":"srv-crbpvurv2p9s73djimbg","imagePath":"docker.io/library/nginx:latest","name":"private-service-tf","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crbpvurv2p9s73djimeg","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"yes","region":"oregon","url":"private-service-tf:10000"},"slug":"private-service-tf","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-03T23:47:08.445614Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524642
        status: 200 OK
        code: 200
        duration: 98.261917ms
[...]
    - id: 18
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpvurv2p9s73djimbg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:47:07.293181Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbpvurv2p9s73djimbg","environmentId":"evm-crbpvubv2p[...]
[...]
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crbpvubv2p9s73djilog
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-03T23:47:05.646935Z","environmentIds":["evm-crbpvubv2p9s73djilp0"],"id":"prj-crbpvubv2p9s73djilog","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-03T23:47:05.646935Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "373"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524684
        status: 200 OK
        code: 200
        duration: 89.85325ms
[...]
    - id: 32
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crbpvubv2p9s73djilpg
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-03T23:47:05.812635Z","environmentIds":["evm-crbpvubv2p9s73djilq0"],"id":"prj-crbpvubv2p9s73djilpg","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-03T23:47:05.812635Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "371"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524688
        status: 200 OK
        code: 200
        duration: 80.796375ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data","name":"some-disk","sizeGB":1}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-crbpvurv2p9s73djimeg
        method: PATCH
      response:
        body: |
            {"createdAt":"2024-09-03T23:47:07.403961Z","id":"dsk-crbpvurv2p9s73djimeg","mountPath":"/data","name":"some-disk","serviceId":"srv-crbpvurv2p9s73djimbg","sizeGB":1,"updatedAt":"2024-09-03T23:47:07.403961Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524780
        status: 200 OK
        code: 200
        duration: 143.44275ms
[...]
    - id: 73
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/srv-crbpvurv2p9s73djimbg/resources?resourceIds=srv-crbpvurv2p9s73djimbg
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "91"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524786
        status: 204 No Content
        code: 204
        duration: 271.059791ms
    - id: 74
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-crbpvurv2p9s73djimbg"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crbpvubv2p9s73djilq0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbpvubv2p9s73djilq0","name":"prod","projectId":"prj-crbpvubv2p9s73djilpg","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-crbpvurv2p9s73djimbg"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "90"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524795
        status: 201 Created
        code: 201
        duration: 296.698333ms
    - id: 75
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbpvurv2p9s73djimbg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbq013v2p9s73djinb0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"pre_deploy_in_progress","trigger":"api","createdAt":"2024-09-03T23:47:16.59416Z","updatedAt":"2024-09-03T23:47:16.953422Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524798
        status: 201 Created
        code: 201
        duration: 939.832417ms
[...]
    - id: 78
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpvurv2p9s73djimbg/env-vars?cursor=g_JAsubTnI0wMHJ2MnA5czczZGppbjQw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "332"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524818
        status: 200 OK
        code: 200
        duration: 75.812666ms
[...]
    - id: 80
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpvurv2p9s73djimbg/secret-files?cursor=g_JAsubTnI0wMHJ2MnA5czczZGppbjVn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "330"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524821
        status: 200 OK
        code: 200
        duration: 86.494459ms
[...]
    - id: 119
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbpvubv2p9s73djilq0/resources?resourceIds=srv-crbpvurv2p9s73djimbg
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "85"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524921
        status: 204 No Content
        code: 204
        duration: 261.924834ms
[...]
    - id: 123
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpvurv2p9s73djimbg/env-vars?cursor=g_JAsubTnI0wMmJ2MnA5czczZGppbzIw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "293"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524945
        status: 200 OK
        code: 200
        duration: 143.068792ms
[...]
    - id: 125
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbpvurv2p9s73djimbg/secret-files?cursor=g_JAsubTnI0wMmJ2MnA5czczZGppbzMw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "291"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1524949
        status: 200 OK
        code: 200
        duration: 62.402042ms
[...]
