---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","networkIsolationEnabled":false,"protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2025-05-14T15:46:21.122446Z","environmentIds":["evm-d0ibljcfu1ps73eu3lhg"],"id":"prj-d0ibljcfu1ps73eu3lh0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"lizhi's workspace","type":"team"},"updatedAt":"2025-05-14T15:46:21.122446Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000579
        status: 201 Created
        code: 201
        duration: 524.395708ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d0ibljcfu1ps73eu3lhg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d0ibljcfu1ps73eu3lhg","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d0ibljcfu1ps73eu3lh0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000580
        status: 200 OK
        code: 200
        duration: 92.879917ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d0ibljcfu1ps73eu3lig
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d0ibljcfu1ps73eu3lig","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d0ibljcfu1ps73eu3li0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000582
        status: 200 OK
        code: 200
        duration: 92.555917ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key2","value":"val2"},{"key":"key1","value":"val1"}],"image":{"imagePath":"nginx","ownerId":""},"name":"private-service-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","preDeployCommand":"echo ''hello world''","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0ibljsfu1ps73eu3lo0","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:46:22.967527Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibljkfu1ps73eu3ljg","id":"srv-d0ibljkfu1ps73eu3ljg","imagePath":"docker.io/library/nginx:latest","name":"private-service-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-d0ibljkfu1ps73eu3lm0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"yes","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"private-service-tf:10000"},"slug":"private-service-tf","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-14T15:46:23.576443Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "10"
            Ratelimit-Reset:
                - "818"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000583
        status: 201 Created
        code: 201
        duration: 2.000196459s
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-d0ibljkfu1ps73eu3ljg"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-d0ibljcfu1ps73eu3lhg/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d0ibljcfu1ps73eu3lhg","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d0ibljcfu1ps73eu3lh0","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-d0ibljkfu1ps73eu3ljg"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000584
        status: 201 Created
        code: 201
        duration: 188.349583ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-d0ibljkfu1ps73eu3ljg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-d0ibljkfu1ps73eu3ljg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000585
        status: 200 OK
        code: 200
        duration: 99.426042ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0ibljkfu1ps73eu3ljg
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"srv-d0ibljkfu1ps73eu3ljg","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000587
        status: 200 OK
        code: 200
        duration: 111.379125ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibljkfu1ps73eu3ljg/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key1","value":"val1"},"cursor":"AUzblRGBAzxsamtmdTFwczczZXUzbGtn"},{"envVar":{"key":"key2","value":"val2"},"cursor":"AUzblRGBAzxsamtmdTFwczczZXUzbGsw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000588
        status: 200 OK
        code: 200
        duration: 94.09675ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibljkfu1ps73eu3ljg/env-vars?cursor=AUzblRGBAzxsamtmdTFwczczZXUzbGsw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000589
        status: 200 OK
        code: 200
        duration: 96.173917ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibljkfu1ps73eu3ljg/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"AUzblRGBAzxsamtmdTFwczczZXUzbGxn"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"AUzblRGBAzxsamtmdTFwczczZXUzbGww"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000590
        status: 200 OK
        code: 200
        duration: 97.795708ms
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibljkfu1ps73eu3ljg/secret-files?cursor=AUzblRGBAzxsamtmdTFwczczZXUzbGww
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000591
        status: 200 OK
        code: 200
        duration: 108.81225ms
[...]
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=private-service-tf&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"MJP_iHkqX0FsamtmdTFwczczZXUzbGpn","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:46:22.967527Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibljkfu1ps73eu3ljg","environmentId":"evm-d0ibljcfu1ps73eu3lhg","id":"srv-d0ibljkfu1ps73eu3ljg","imagePath":"docker.io/library/nginx:latest","name":"private-service-tf","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-d0ibljkfu1ps73eu3lm0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","preDeployCommand":"echo 'hello world'"},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"automatic"},"pullRequestPreviewsEnabled":"yes","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"private-service-tf:10000"},"slug":"private-service-tf","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-14T15:46:23.775754Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000594
        status: 200 OK
        code: 200
        duration: 126.782458ms
[...]
    - id: 21
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibljkfu1ps73eu3ljg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:46:22.967527Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0ibljkfu1ps73eu[...]
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-d0ibljcfu1ps73eu3lh0
        method: GET
      response:
        body: |
            {"createdAt":"2025-05-14T15:46:21.122446Z","environmentIds":["evm-d0ibljcfu1ps73eu3lhg"],"id":"prj-d0ibljcfu1ps73eu3lh0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"lizhi's workspace","type":"team"},"updatedAt":"2025-05-14T15:46:21.122446Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "370"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000618
        status: 200 OK
        code: 200
        duration: 126.446916ms
[...]
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-d0ibljcfu1ps73eu3li0
        method: GET
      response:
        body: |
            {"createdAt":"2025-05-14T15:46:21.426419Z","environmentIds":["evm-d0ibljcfu1ps73eu3lig"],"id":"prj-d0ibljcfu1ps73eu3li0","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"lizhi's workspace","type":"team"},"updatedAt":"2025-05-14T15:46:21.426419Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "368"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000620
        status: 200 OK
        code: 200
        duration: 121.582583ms
[...]
    - id: 81
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data","name":"some-disk","sizeGB":1}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-d0ibljkfu1ps73eu3lm0
        method: PATCH
      response:
        body: |
            {"createdAt":"2025-05-14T15:46:23.016908Z","id":"dsk-d0ibljkfu1ps73eu3lm0","mountPath":"/data","name":"some-disk","serviceId":"srv-d0ibljkfu1ps73eu3ljg","sizeGB":1,"updatedAt":"2025-05-14T15:46:23.016908Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000666
        status: 200 OK
        code: 200
        duration: 147.365333ms
[...]
    - id: 84
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/srv-d0ibljkfu1ps73eu3ljg/resources?resourceIds=srv-d0ibljkfu1ps73eu3ljg
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "89"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000670
        status: 204 No Content
        code: 204
        duration: 179.461833ms
    - id: 85
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-d0ibljkfu1ps73eu3ljg"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-d0ibljcfu1ps73eu3lig/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d0ibljcfu1ps73eu3lig","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d0ibljcfu1ps73eu3li0","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-d0ibljkfu1ps73eu3ljg"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "88"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000671
        status: 201 Created
        code: 201
        duration: 207.2ms
    - id: 86
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ibljkfu1ps73eu3ljg/deploys
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000672
        status: 202 Accepted
        code: 202
        duration: 124.602041ms
[...]
    - id: 89
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibljkfu1ps73eu3ljg/env-vars?cursor=AUzblRGBAzxsbmNmdTFwczczZXUzbHVn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "325"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000675
        status: 200 OK
        code: 200
        duration: 95.464042ms
[...]
    - id: 91
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibljkfu1ps73eu3ljg/secret-files?cursor=AUzblRGBAzxsbmtmdTFwczczZXUzbHZn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "323"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000678
        status: 200 OK
        code: 200
        duration: 95.768542ms
[...]
    - id: 93
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0ibljkfu1ps73eu3ljg
        method: GET
      response:
        body: |
            {"message":"not found: srv-d0ibljkfu1ps73eu3ljg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "321"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000682
        status: 404 Not Found
        code: 404
        duration: 150.932375ms
[...]
    - id: 135
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d0ibljcfu1ps73eu3lig/resources?resourceIds=srv-d0ibljkfu1ps73eu3ljg
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "83"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000727
        status: 204 No Content
        code: 204
        duration: 224.309875ms
[...]
    - id: 139
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibljkfu1ps73eu3ljg/env-vars?cursor=AUzblRGBAzxscHNmdTFwczczZXUzbTEw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "282"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000731
        status: 200 OK
        code: 200
        duration: 98.056125ms
[...]
    - id: 141
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ibljkfu1ps73eu3ljg/secret-files?cursor=AUzblRGBAzxscHNmdTFwczczZXUzbTIw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "280"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-87485677b-7czkc/uz1bU9FdOG-000733
        status: 200 OK
        code: 200
        duration: 93.08525ms
[...]
