---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbq05q3esus7393t6j0","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:47:34.44793Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq05i3esus7393t6i0","id":"srv-crbq05i3esus7393t6i0","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test:10000"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-03T23:47:35.424904Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "5"
            Ratelimit-Reset:
                - "746"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-459417
        status: 201 Created
        code: 201
        duration: 3.328428334s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbq05i3esus7393t6i0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crbq05i3esus7393t6i0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "267"
                - "81"
            Ratelimit-Reset:
                - "23"
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2023110
        status: 200 OK
        code: 200
        duration: 62.026833ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq05i3esus7393t6i0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "266"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2667489
        status: 200 OK
        code: 200
        duration: 101.006375ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq05i3esus7393t6i0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "265"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-ntsn5/63XNsnqzpK-218603
        status: 200 OK
        code: 200
        duration: 64.586ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"9DLTj91uR8cwNWkzZXN1czczOTN0Nmkw","service":{"autoDeploy":"yes","createdAt":"2024-09-03T23:47:34.44793Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq05i3esus7393t6i0","id":"srv-crbq05i3esus7393t6i0","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test:10000"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-03T23:47:35.424904Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "263"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2023116
        status: 200 OK
        code: 200
        duration: 99.817208ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq05i3esus7393t6i0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:47:34.44793Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq05i3esus7393t6i0","id":"srv-crbq05i3esus7393t6i0","[...]
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq05i3esus7393t6i0/autoscaling
        method: PUT
      response:
        body: |
            {"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "80"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2023166
        status: 200 OK
        code: 200
        duration: 271.795667ms
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq05i3esus7393t6i0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-03T23:47:34.44793Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-crbq05i3esus7393t6i0","id":"sr[...]
[...]
    - id: 34
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq05i3esus7393t6i0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbq07dsvqrc73f3a90g","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-03T23:47:41.538578Z","updatedAt":"2024-09-03T23:47:42.151596Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2667569
        status: 201 Created
        code: 201
        duration: 1.173953584s
[...]
    - id: 81
      request:
        host: https://api.testing.render.com/v1
        body: '{"numInstances":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq05i3esus7393t6i0/scale
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "5"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2023316
        status: 202 Accepted
        code: 202
        duration: 157.131292ms
[...]
