---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0egu57dlq4c73ao68rg","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:07:48.222883Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0egu57dlq4c73ao68qg","id":"srv-d0egu57dlq4c73ao68qg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"autoscaling-test:10000"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-08T20:07:48.86895Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "3132"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-000973
        status: 201 Created
        code: 201
        duration: 1.870169958s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-d0egu57dlq4c73ao68qg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-d0egu57dlq4c73ao68qg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "79"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-000974
        status: 200 OK
        code: 200
        duration: 102.285917ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egu57dlq4c73ao68qg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "252"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-000975
        status: 200 OK
        code: 200
        duration: 98.727959ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egu57dlq4c73ao68qg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "251"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-000976
        status: 200 OK
        code: 200
        duration: 96.198459ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0egu57dlq4c73ao68qg
        method: GET
      response:
        body: |
            {"message":"not found: srv-d0egu57dlq4c73ao68qg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "249"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-000979
        status: 404 Not Found
        code: 404
        duration: 151.868791ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"cAnJ6FlNUT51NTdkbHE0YzczYW82OHFn","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:07:48.222883Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0egu57dlq4c73ao68qg","id":"srv-d0egu57dlq4c73ao68qg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"autoscaling-test:10000"},"slug":"autoscaling-test","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-05-08T20:07:48.86895Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "248"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-000980
        status: 200 OK
        code: 200
        duration: 141.240833ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0egu57dlq4c73ao68qg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:07:48.222883Z","dashboardUrl":"https://dashboard.staging.render.com/pserv/srv-d0egu57dlq4c73ao[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0egu57dlq4c73ao68qg/autoscaling
        method: PUT
      response:
        body: |
            {"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "78"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001012
        status: 200 OK
        code: 200
        duration: 148.850208ms
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0egu57dlq4c73ao68qg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T20:07:48.222883Z","dashboardUrl":"https://dashboard.staging.render.com/ps[...]
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0egu57dlq4c73ao68qg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0egu7fdlq4c73ao68ug","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88b3388ea06c7262e410a3ab5c05dc4088b7b39dea569addd8c30766f4f47440"},"status":"update_in_progress","trigger":"api","createdAt":"2025-05-08T20:07:57.334744Z","updatedAt":"2025-05-08T20:07:57.670843Z","startedAt":"2025-05-08T20:07:57.641745Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001017
        status: 201 Created
        code: 201
        duration: 852.216291ms
[...]
    - id: 98
      request:
        host: https://api.testing.render.com/v1
        body: '{"numInstances":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0egu57dlq4c73ao68qg/scale
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "7"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-5ff7b8b57b-42kv2/Gx8uRrEx0R-001080
        status: 202 Accepted
        code: 202
        duration: 191.224125ms
[...]
