---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"env":"image","envSpecificDetails":{},"numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbo224olt5qq8i64q6g","service":{"autoDeploy":"yes","createdAt":"2024-05-29T19:24:55.257301Z","id":"srv-cpbo21solt5qq8i64pq0","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test-s8kn:10000"},"slug":"autoscaling-test-s8kn","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:24:56.329916Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "170"
            Ratelimit-Reset:
                - "2105"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000015
        status: 201 Created
        code: 201
        duration: 1.740924458s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpbo21solt5qq8i64pq0
        method: PATCH
      response:
        body: |
            {"id":"srv-cpbo21solt5qq8i64pq0","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
                - "500"
            Ratelimit-Remaining:
                - "470"
                - "492"
            Ratelimit-Reset:
                - "1"
                - "1"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000042
        status: 200 OK
        code: 200
        duration: 53.218542ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo21solt5qq8i64pq0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "467"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000045
        status: 200 OK
        code: 200
        duration: 49.381375ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo21solt5qq8i64pq0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "464"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000048
        status: 200 OK
        code: 200
        duration: 48.761458ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"u_Q1SHOMly4yMXNvbHQ1cXE4aTY0cHEw","service":{"autoDeploy":"yes","createdAt":"2024-05-29T19:24:55.257301Z","id":"srv-cpbo21solt5qq8i64pq0","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test-s8kn:10000"},"slug":"autoscaling-test-s8kn","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-05-29T19:24:56.329916Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "459"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000055
        status: 200 OK
        code: 200
        duration: 69.919291ms
[...]
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo21solt5qq8i64pq0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T19:24:55.257301Z","id":"srv-cpbo21solt5qq8i64pq0","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notif[...]
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbo21solt5qq8i64pq0/autoscaling
        method: PUT
      response:
        body: |
            {"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "499"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000149
        status: 200 OK
        code: 200
        duration: 114.004541ms
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbo21solt5qq8i64pq0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T19:24:55.257301Z","id":"srv-cpbo21solt5qq8i64pq0","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-t[...]
[...]
    - id: 34
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbo21solt5qq8i64pq0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbo23solt5qq8i64qog","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"update_in_progress","trigger":"api","createdAt":"2024-05-29T19:25:03.451082Z","updatedAt":"2024-05-29T19:25:03.82576Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000178
        status: 201 Created
        code: 201
        duration: 675.424ms
[...]
    - id: 81
      request:
        host: https://api.testing.render.com/v1
        body: '{"numInstances":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbo21solt5qq8i64pq0/scale
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "5"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000306
        status: 202 Accepted
        code: 202
        duration: 128.819625ms
[...]
