---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2kai1opnds738l8g1g","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:54:32.488261Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kai1opnds738l8fvg","id":"srv-cu2kai1opnds738l8fvg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"autoscaling-test-tdb7:10000"},"slug":"autoscaling-test-tdb7","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-01-13T16:54:33.083851Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "4"
            Ratelimit-Reset:
                - "328"
            Render-Request-Id:
                - api-7767dddd75-zqsqf/rtQy8BuN0w-477644
        status: 201 Created
        code: 201
        duration: 2.08503025s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cu2kai1opnds738l8fvg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-cu2kai1opnds738l8fvg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "84"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-550718
        status: 200 OK
        code: 200
        duration: 95.63825ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kai1opnds738l8fvg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "281"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-7767dddd75-zqsqf/rtQy8BuN0w-477706
        status: 200 OK
        code: 200
        duration: 97.962458ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kai1opnds738l8fvg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "280"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-550730
        status: 200 OK
        code: 200
        duration: 96.694084ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-cu2kai1opnds738l8fvg
        method: GET
      response:
        body: |
            {"message":"not found: srv-cu2kai1opnds738l8fvg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "278"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-550742
        status: 404 Not Found
        code: 404
        duration: 163.125708ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"-oJLKv3lnshhaTFvcG5kczczOGw4ZnZn","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:54:32.488261Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kai1opnds738l8fvg","id":"srv-cu2kai1opnds738l8fvg","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"autoscaling-test-tdb7:10000"},"slug":"autoscaling-test-tdb7","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2025-01-13T16:54:33.083851Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "277"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-550747
        status: 200 OK
        code: 200
        duration: 214.836166ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cu2kai1opnds738l8fvg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:54:32.488261Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kai1opnds738l8fvg","id":"srv-cu2kai1opnds738l8fvg"[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kai1opnds738l8fvg/autoscaling
        method: PUT
      response:
        body: |
            {"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "83"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-550929
        status: 200 OK
        code: 200
        duration: 153.33325ms
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kai1opnds738l8fvg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:54:32.488261Z","dashboardUrl":"https://dashboard.render.com/pserv/srv-cu2kai1opnds738l8fvg","id":"s[...]
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kai1opnds738l8fvg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2kaklds78s73duftig","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:c375ae41bb29c0615ab18452822fedf1981f8ba7a7b00508b3d901b7ab682947"},"status":"update_in_progress","trigger":"api","createdAt":"2025-01-13T16:54:42.524855Z","updatedAt":"2025-01-13T16:54:43.235235Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-550988
        status: 201 Created
        code: 201
        duration: 1.384427125s
[...]
    - id: 98
      request:
        host: https://api.testing.render.com/v1
        body: '{"numInstances":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cu2kai1opnds738l8fvg/scale
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "5"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-551428
        status: 202 Accepted
        code: 202
        duration: 620.1785ms
[...]
