---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"autoscaling-test","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"envSpecificDetails":{},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"private_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfhv0k8m55c70055sbg","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:17:06.323437Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfhv0k8m55c70055sag","id":"srv-crfhv0k8m55c70055sag","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test-gt0a:10000"},"slug":"autoscaling-test-gt0a","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-09T16:17:06.806714Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000174
        status: 201 Created
        code: 201
        duration: 1.075692458s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfhv0k8m55c70055sag
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crfhv0k8m55c70055sag"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9935"
                - "9991"
            Ratelimit-Reset:
                - "52"
                - "52"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000175
        status: 200 OK
        code: 200
        duration: 37.747375ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhv0k8m55c70055sag/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9934"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000176
        status: 200 OK
        code: 200
        duration: 42.970459ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhv0k8m55c70055sag/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9933"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000177
        status: 200 OK
        code: 200
        duration: 39.941208ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfhv0k8m55c70055sag
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfhv0k8m55c70055sag"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9931"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000179
        status: 404 Not Found
        code: 404
        duration: 34.484875ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=autoscaling-test&ownerId=some-owner-id&type=private_service
        method: GET
      response:
        body: |
            [{"cursor":"aZA8adK2BV12MGs4bTU1YzcwMDU1c2Fn","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:17:06.323437Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfhv0k8m55c70055sag","id":"srv-crfhv0k8m55c70055sag","imagePath":"docker.io/library/nginx:latest","name":"autoscaling-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"autoscaling-test-gt0a:10000"},"slug":"autoscaling-test-gt0a","suspended":"not_suspended","suspenders":[],"type":"private_service","updatedAt":"2024-09-09T16:17:06.806714Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9930"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000180
        status: 200 OK
        code: 200
        duration: 63.571709ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhv0k8m55c70055sag
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:17:06.323437Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfhv0k8m55c70055sag","id":"srv-crfhv0k8m55[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhv0k8m55c70055sag/autoscaling
        method: PUT
      response:
        body: |
            {"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":2}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9990"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000210
        status: 200 OK
        code: 200
        duration: 87.815125ms
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"autoscaling-test","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhv0k8m55c70055sag
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:17:06.323437Z","dashboardUrl":"http://dashboard.render.localhost:3000/pserv/srv-crfhv0k8m55c70055sa[...]
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhv0k8m55c70055sag/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfhv1c8m55c70055seg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-09T16:17:09.766711Z","updatedAt":"2024-09-09T16:17:10.074131Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000215
        status: 201 Created
        code: 201
        duration: 542.774834ms
[...]
    - id: 98
      request:
        host: https://api.testing.render.com/v1
        body: '{"numInstances":2}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhv0k8m55c70055sag/scale
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "5"
            Ratelimit-Reset:
                - "45"
            Render-Request-Id:
                - api-7bf7dc778b-nvtth/XBl3IIpPZF-000272
        status: 202 Accepted
        code: 202
        duration: 110.321583ms
[...]
