---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"one"},{"cidrBlock":"2.2.2.2/32","description":"two"}],"maxmemoryPolicy":"noeviction","name":"some-keyvalue","ownerId":"some-owner-id","persistenceMode":"snapshot","plan":"starter","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/key-value
        method: POST
      response:
        body: |
            {"createdAt":"2026-06-08T20:02:02.497912963Z","id":"red-d8jhvelkf5hc73agg2l0","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"one"},{"cidrBlock":"2.2.2.2/32","description":"two"}],"name":"some-keyvalue","options":{"maxmemoryPolicy":"noeviction","persistenceMode":"snapshot"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"starter","region":"oregon","status":"unknown","updatedAt":"2026-06-08T20:02:02.497912963Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "19"
            Ratelimit-Reset:
                - "3477"
            Render-Request-Id:
                - api-5b97655559-4vdk6/fVFYqEVdRW-000062
        status: 201 Created
        code: 201
        duration: 370.223833ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/key-value/red-d8jhvelkf5hc73agg2l0/connection-info
        method: GET
      response:
        body: |
            {"cliCommand":" REDISCLI_AUTH=PoTIpQigl6DFvF6AU5i14fEBoG5pupKO valkey-cli --user red-d8jhvelkf5hc73agg2l0 -h oregon-keyvalue.localhost.render.com -p 6377 --tls","externalConnectionString":"rediss://red-d8jhvelkf5hc73agg2l0:PoTIpQigl6DFvF6AU5i14fEBoG5pupKO@oregon-keyvalue.localhost.render.com:6377","internalConnectionString":"redis://red-d8jhvelkf5hc73agg2l0:6379"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-5b97655559-4vdk6/fVFYqEVdRW-000063
        status: 200 OK
        code: 200
        duration: 65.879667ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/key-value/red-d8jhvelkf5hc73agg2l0
        method: GET
      response:
        body: |
            {"createdAt":"2026-06-08T20:02:02.497913Z","id":"red-d8jhvelkf5hc73agg2l0","ipAllowList":[{"cidrBlock":"1.1.1.1/32","description":"one"},{"cidrBlock":"2.2.2.2/32","description":"two"}],"name":"some-keyvalue","options":{"maxmemoryPolicy":"noeviction","persistenceMode":"snapshot"},"owner":{"email":"email@example.com","id":"some-owner-id","name":"My Workspace","type":"team"},"plan":"starter","region":"oregon","status":"creating","updatedAt":"2026-06-08T20:02:02.497913Z","version":"8.1.4"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-5b97655559-4vdk6/fVFYqEVdRW-000064
        status: 200 OK
        code: 200
        duration: 96.592958ms
[...]
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/red-d8jhvelkf5hc73agg2l0
        method: GET
      response:
        body: |
            {"message":"not found: red-d8jhvelkf5hc73agg2l0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-5b97655559-4vdk6/fVFYqEVdRW-000066
        status: 404 Not Found
        code: 404
        duration: 61.174125ms
[...]
