---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"endpoint":"","preview":"drop","token":""}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/owner/some-owner-id
        method: PUT
      response:
        body: |
            {"endpoint":"","ownerId":"some-owner-id","preview":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "29"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-664b4c4884-8s4hc/5CKwHwuEPI-000128
        status: 200 OK
        code: 200
        duration: 85.109875ms
[...]
