---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"web-service-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{},"healthCheckPath":"","numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbo224olt5qq8i64q3g","service":{"autoDeploy":"yes","createdAt":"2024-05-29T19:24:55.775954Z","id":"srv-cpbo21solt5qq8i64prg","imagePath":"docker.io/library/nginx:latest","name":"web-service-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpbo21solt5qq8i64pu0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-tf-b1g4.localhost.onrender.com:9443"},"slug":"web-service-tf-b1g4","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-29T19:24:56.263491Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "169"
            Ratelimit-Reset:
                - "2104"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000016
        status: 201 Created
        code: 201
        duration: 1.441995875s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpbo21solt5qq8i64prg
        method: PATCH
      response:
        body: |
            {"id":"srv-cpbo21solt5qq8i64prg","notificationsToSend":"all","previewNotificationsEnabled":"true","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
                - "500"
            Ratelimit-Remaining:
                - "476"
                - "493"
            Ratelimit-Reset:
                - "2"
                - "2"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000036
        status: 200 OK
        code: 200
        duration: 61.232042ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo21solt5qq8i64prg/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"12Jn7qHCUrcyMXNvbHQ1cXE4aTY0cHNn"},{"envVar":{"key":"key1","value":"val1"},"cursor":"12Jn7qHCUrcyMXNvbHQ1cXE4aTY0cHMw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "474"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000038
        status: 200 OK
        code: 200
        duration: 49.650083ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo21solt5qq8i64prg/env-vars?cursor=12Jn7qHCUrcyMXNvbHQ1cXE4aTY0cHMw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "473"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000039
        status: 200 OK
        code: 200
        duration: 52.338834ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo21solt5qq8i64prg/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"12Jn7qHCUrcyMXNvbHQ1cXE4aTY0cHRn"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"12Jn7qHCUrcyMXNvbHQ1cXE4aTY0cHQw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "471"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000041
        status: 200 OK
        code: 200
        duration: 49.579542ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo21solt5qq8i64prg/secret-files?cursor=12Jn7qHCUrcyMXNvbHQ1cXE4aTY0cHQw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "468"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000044
        status: 200 OK
        code: 200
        duration: 50.190625ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo21solt5qq8i64prg/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "466"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000046
        status: 200 OK
        code: 200
        duration: 51.7ms
[...]
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"u_Q1SHOMly4yMXNvbHQ1cXE4aTY0cHJn","service":{"autoDeploy":"yes","createdAt":"2024-05-29T19:24:55.775954Z","id":"srv-cpbo21sol[...]
[...]
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbo21solt5qq8i64prg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T19:24:55.775954Z","id":"srv-cpbo21solt5qq8i64prg","imagePath":"docker.io/library/nginx:latest","name":"web-service-tf","notify[...]
[...]
