---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"web-service-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":[{"content":"content2","name":"file2"},{"content":"content1","name":"file1"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"healthCheckPath":"","numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbq9utsvqrc73f3c8pg","service":{"autoDeploy":"yes","createdAt":"2024-09-04T00:08:27.02497Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbq9ulsvqrc73f3c8k0","id":"srv-crbq9ulsvqrc73f3c8k0","imagePath":"docker.io/library/nginx:latest","name":"web-service-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crbq9utsvqrc73f3c8mg","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-tf.onrender.com"},"slug":"web-service-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-04T00:08:28.062648Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "13"
            Ratelimit-Reset:
                - "3094"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2685236
        status: 201 Created
        code: 201
        duration: 2.768873708s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbq9ulsvqrc73f3c8k0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-crbq9ulsvqrc73f3c8k0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "399"
                - "99"
            Ratelimit-Reset:
                - "31"
                - "31"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2685286
        status: 200 OK
        code: 200
        duration: 142.857333ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq9ulsvqrc73f3c8k0/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"g_JAsubTnI05dXRzdnFyYzczZjNjOGww"},{"envVar":{"key":"key1","value":"val1"},"cursor":"g_JAsubTnI05dXRzdnFyYzczZjNjOGtn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2685289
        status: 200 OK
        code: 200
        duration: 67.463916ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq9ulsvqrc73f3c8k0/env-vars?cursor=g_JAsubTnI05dXRzdnFyYzczZjNjOGtn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2685292
        status: 200 OK
        code: 200
        duration: 68.569625ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq9ulsvqrc73f3c8k0/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content1","name":"file1"},"cursor":"g_JAsubTnI05dXRzdnFyYzczZjNjOG0w"},{"secretFile":{"content":"content2","name":"file2"},"cursor":"g_JAsubTnI05dXRzdnFyYzczZjNjOGxn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2685294
        status: 200 OK
        code: 200
        duration: 87.984542ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq9ulsvqrc73f3c8k0/secret-files?cursor=g_JAsubTnI05dXRzdnFyYzczZjNjOGxn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2685295
        status: 200 OK
        code: 200
        duration: 138.404208ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq9ulsvqrc73f3c8k0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2685299
        status: 200 OK
        code: 200
        duration: 1.094860042s
[...]
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"9DLTj91uR8c5dWxzdnFyYzczZjNjOGsw","service":{"autoDeploy":"yes","createdAt":"2024-09-04T00:08:27.02497Z","dashboardUrl":"http[...]
[...]
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq9ulsvqrc73f3c8k0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-04T00:08:27.02497Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbq9ulsvqrc73f3c8k0","id":"srv-crbq9ulsvqrc73f3c8k0","i[...]
[...]
