---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"web-service-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-ct6vl1tj0q5s700ckc2g","service":{"autoDeploy":"yes","createdAt":"2024-12-02T18:20:54.838338Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vl1lj0q5s700ckbu0","id":"srv-ct6vl1lj0q5s700ckbu0","imagePath":"docker.io/library/nginx:latest","name":"web-service-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-ct6vl1lj0q5s700ckc0g","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"https://web-service-tf.localhost.onrender.com:9443"},"slug":"web-service-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-12-02T18:20:55.497943Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "19"
            Ratelimit-Reset:
                - "2346"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000129
        status: 201 Created
        code: 201
        duration: 2.368085959s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-ct6vl1lj0q5s700ckbu0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-ct6vl1lj0q5s700ckbu0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000130
        status: 200 OK
        code: 200
        duration: 124.307584ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vl1lj0q5s700ckbu0/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"DLRR7F1e8FhsMWxqMHE1czcwMGNrYnYw"},{"envVar":{"key":"key1","value":"val1"},"cursor":"DLRR7F1e8FhsMWxqMHE1czcwMGNrYnVn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000131
        status: 200 OK
        code: 200
        duration: 85.746584ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vl1lj0q5s700ckbu0/env-vars?cursor=DLRR7F1e8FhsMWxqMHE1czcwMGNrYnVn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000132
        status: 200 OK
        code: 200
        duration: 96.289042ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vl1lj0q5s700ckbu0/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"DLRR7F1e8FhsMWxqMHE1czcwMGNrYzAw"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"DLRR7F1e8FhsMWxqMHE1czcwMGNrYnZn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000133
        status: 200 OK
        code: 200
        duration: 87.773167ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vl1lj0q5s700ckbu0/secret-files?cursor=DLRR7F1e8FhsMWxqMHE1czcwMGNrYnZn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000134
        status: 200 OK
        code: 200
        duration: 95.384208ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vl1lj0q5s700ckbu0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000137
        status: 200 OK
        code: 200
        duration: 81.661208ms
[...]
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-ct6vl1lj0q5s700ckbu0
        method: GET
      response:
        body: |
            {"message":"not found: srv-ct6vl1lj0q5s700ckbu0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000139
        status: 404 Not Found
        code: 404
        duration: 117.513583ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"LLUBv6QtETNsMWxqMHE1czcwMGNrYnUw","service":{"autoDeploy":"yes","createdAt":"2024-12-02T18:20:54.838338Z","dashboardUrl":"htt[...]
[...]
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vl1lj0q5s700ckbu0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-12-02T18:20:54.838338Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vl1lj0q5s700ckbu0","id":"srv-ct6vl1lj0q5s7[...]
[...]
