---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"web-service-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{},"healthCheckPath":"","numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crficts8m55c703hl5ig","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:46:46.728124Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfictk8m55c703hl5eg","id":"srv-crfictk8m55c703hl5eg","imagePath":"docker.io/library/nginx:latest","name":"web-service-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crfictk8m55c703hl5h0","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-tf-fhx5.localhost.onrender.com:9443"},"slug":"web-service-tf-fhx5","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-09T16:46:47.141907Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9997"
            Ratelimit-Reset:
                - "13"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000620
        status: 201 Created
        code: 201
        duration: 1.193707083s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfictk8m55c703hl5eg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"srv-crfictk8m55c703hl5eg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9856"
                - "9977"
            Ratelimit-Reset:
                - "12"
                - "12"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000621
        status: 200 OK
        code: 200
        duration: 45.378292ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfictk8m55c703hl5eg/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"Ih-xRG4fuapjdGs4bTU1YzcwM2hsNWZn"},{"envVar":{"key":"key1","value":"val1"},"cursor":"Ih-xRG4fuapjdGs4bTU1YzcwM2hsNWYw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9855"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000622
        status: 200 OK
        code: 200
        duration: 49.671208ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfictk8m55c703hl5eg/env-vars?cursor=Ih-xRG4fuapjdGs4bTU1YzcwM2hsNWYw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9854"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000623
        status: 200 OK
        code: 200
        duration: 46.099542ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfictk8m55c703hl5eg/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"Ih-xRG4fuapjdGs4bTU1YzcwM2hsNWdn"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"Ih-xRG4fuapjdGs4bTU1YzcwM2hsNWcw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9853"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000624
        status: 200 OK
        code: 200
        duration: 43.03325ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfictk8m55c703hl5eg/secret-files?cursor=Ih-xRG4fuapjdGs4bTU1YzcwM2hsNWcw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9852"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000625
        status: 200 OK
        code: 200
        duration: 45.09625ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfictk8m55c703hl5eg/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9851"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000626
        status: 200 OK
        code: 200
        duration: 42.833042ms
[...]
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfictk8m55c703hl5eg
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfictk8m55c703hl5eg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9849"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000628
        status: 404 Not Found
        code: 404
        duration: 40.636958ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"EzP5dw8em7hjdGs4bTU1YzcwM2hsNWVn","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:46:46.728124Z","dashboardUrl":"htt[...]
[...]
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfictk8m55c703hl5eg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:46:46.728124Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfictk8m55c703hl5eg","id":"srv-crfictk8m55c7[...]
[...]
