---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-06T22:12:57.788472Z","environmentIds":["evm-crdnsqbh12fc706omis0"],"id":"prj-crdnsqbh12fc706omirg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-06T22:12:57.788472Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000003
        status: 201 Created
        code: 201
        duration: 142.051292ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crdnsqbh12fc706omis0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crdnsqbh12fc706omis0","name":"prod","projectId":"prj-crdnsqbh12fc706omirg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000004
        status: 200 OK
        code: 200
        duration: 42.064333ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crdnsqbh12fc706omit0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crdnsqbh12fc706omit0","name":"prod","projectId":"prj-crdnsqbh12fc706omisg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000006
        status: 200 OK
        code: 200
        duration: 44.723833ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"cron-job-tf","ownerId":"some-owner-id","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crdnsqjh12fc706omj10","service":{"autoDeploy":"yes","createdAt":"2024-09-06T22:12:58.584526Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-crdnsqjh12fc706omiu0","id":"crn-crdnsqjh12fc706omiu0","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"cron-job-tf-xd6f","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-06T22:12:58.584526Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "195"
            Ratelimit-Reset:
                - "2821"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000007
        status: 201 Created
        code: 201
        duration: 929.813833ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["crn-crdnsqjh12fc706omiu0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crdnsqbh12fc706omis0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crdnsqbh12fc706omis0","name":"prod","projectId":"prj-crdnsqbh12fc706omirg","protectedStatus":"protected","redisIds":null,"serviceIds":["crn-crdnsqjh12fc706omiu0"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000008
        status: 201 Created
        code: 201
        duration: 123.685291ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-crdnsqjh12fc706omiu0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"crn-crdnsqjh12fc706omiu0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "397"
                - "96"
            Ratelimit-Reset:
                - "0"
                - "0"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000009
        status: 200 OK
        code: 200
        duration: 51.553166ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-crdnsqjh12fc706omiu0
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"crn-crdnsqjh12fc706omiu0","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "29"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000010
        status: 200 OK
        code: 200
        duration: 64.617042ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crdnsqjh12fc706omiu0/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"vFxH_7Mk4nxzcWpoMTJmYzcwNm9taXYw"},{"envVar":{"key":"key1","value":"val1"},"cursor":"vFxH_7Mk4nxzcWpoMTJmYzcwNm9taXVn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000011
        status: 200 OK
        code: 200
        duration: 50.502583ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crdnsqjh12fc706omiu0/env-vars?cursor=vFxH_7Mk4nxzcWpoMTJmYzcwNm9taXVn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000012
        status: 200 OK
        code: 200
        duration: 49.364959ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crdnsqjh12fc706omiu0/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"vFxH_7Mk4nxzcWpoMTJmYzcwNm9tajAw"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"vFxH_7Mk4nxzcWpoMTJmYzcwNm9taXZn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000013
        status: 200 OK
        code: 200
        duration: 49.32ms
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crdnsqjh12fc706omiu0/secret-files?cursor=vFxH_7Mk4nxzcWpoMTJmYzcwNm9taXZn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000014
        status: 200 OK
        code: 200
        duration: 48.766583ms
[...]
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crdnsqjh12fc706omiu0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-06T22:12:58.584526Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-crdnsqjh12fc706omiu0","environmentId":"evm-crdnsqbh12fc706omis0","id":"crn-crdnsqjh12fc706omiu0","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"cron-job-tf-xd6f","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-06T22:12:59.050541Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000017
        status: 200 OK
        code: 200
        duration: 58.558292ms
[...]
    - id: 28
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crdnsqbh12fc706omirg
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-06T22:12:57.788472Z","environmentIds":["evm-crdnsqbh12fc706omis0"],"id":"prj-crdnsqbh12fc706omirg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-06T22:12:57.788472Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000031
        status: 200 OK
        code: 200
        duration: 66.614125ms
[...]
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crdnsqbh12fc706omisg
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-06T22:12:57.939559Z","environmentIds":["evm-crdnsqbh12fc706omit0"],"id":"prj-crdnsqbh12fc706omisg","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-06T22:12:57.939559Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000033
        status: 200 OK
        code: 200
        duration: 64.744375ms
[...]
    - id: 62
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/crn-crdnsqjh12fc706omiu0/resources?resourceIds=crn-crdnsqjh12fc706omiu0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000065
        status: 204 No Content
        code: 204
        duration: 95.310958ms
    - id: 63
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["crn-crdnsqjh12fc706omiu0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crdnsqbh12fc706omit0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crdnsqbh12fc706omit0","name":"prod","projectId":"prj-crdnsqbh12fc706omisg","protectedStatus":"protected","redisIds":null,"serviceIds":["crn-crdnsqjh12fc706omiu0"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000066
        status: 201 Created
        code: 201
        duration: 125.781583ms
    - id: 64
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crdnsqjh12fc706omiu0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crdnsqjh12fc706omj10","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"live","trigger":"manual","createdAt":"2024-09-06T22:12:58.903791Z","updatedAt":"2024-09-06T22:12:58.929212Z","finishedAt":"2024-09-06T22:12:58.928367Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000067
        status: 201 Created
        code: 201
        duration: 335.495ms
[...]
    - id: 67
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crdnsqjh12fc706omiu0/env-vars?cursor=vFxH_7Mk4nxzcnJoMTJmYzcwNm9tajNn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "364"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000070
        status: 200 OK
        code: 200
        duration: 48.406625ms
[...]
    - id: 69
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crdnsqjh12fc706omiu0/secret-files?cursor=vFxH_7Mk4nxzcnJoMTJmYzcwNm9tajRn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "362"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000072
        status: 200 OK
        code: 200
        duration: 49.609042ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-crdnsqjh12fc706omiu0
        method: GET
      response:
        body: |
            {"message":"not found: crn-crdnsqjh12fc706omiu0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "24"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000074
        status: 404 Not Found
        code: 404
        duration: 37.560083ms
[...]
    - id: 112
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crdnsqbh12fc706omit0/resources?resourceIds=crn-crdnsqjh12fc706omiu0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "91"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000115
        status: 204 No Content
        code: 204
        duration: 92.432416ms
[...]
    - id: 116
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crdnsqjh12fc706omiu0/env-vars?cursor=vFxH_7Mk4nxzc3JoMTJmYzcwNm9tajdn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "325"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000119
        status: 200 OK
        code: 200
        duration: 45.474167ms
[...]
    - id: 118
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crdnsqjh12fc706omiu0/secret-files?cursor=vFxH_7Mk4nxzc3JoMTJmYzcwNm9tajhn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "323"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-58f8df567f-c6hzd/AP6P1VUc2o-000121
        status: 200 OK
        code: 200
        duration: 43.338875ms
[...]
