---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","networkIsolationEnabled":false,"protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2025-01-13T16:51:16.774565Z","environmentIds":["evm-cu2k910gph6c73ffcm0g"],"id":"prj-cu2k910gph6c73ffclvg","name":"first","owner":{"email":"email@example.com","id":"tea-cspvinogph6c73ft00h0","name":"Jake Malachowski's Workspace","type":"team"},"updatedAt":"2025-01-13T16:51:16.774565Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091013
        status: 201 Created
        code: 201
        duration: 349.40825ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cu2k910gph6c73ffcm0g
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cu2k910gph6c73ffcm0g","name":"prod","projectId":"prj-cu2k910gph6c73ffclvg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-545625
        status: 200 OK
        code: 200
        duration: 110.690333ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cu2k918gph6c73ffcm20
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cu2k918gph6c73ffcm20","name":"prod","projectId":"prj-cu2k918gph6c73ffcm1g","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-545635
        status: 200 OK
        code: 200
        duration: 134.37175ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"cron-job-tf","ownerId":"some-owner-id","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2k91ogph6c73ffcmd0","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:51:18.774044Z","dashboardUrl":"https://dashboard.render.com/cron/crn-cu2k91ggph6c73ffcma0","id":"crn-cu2k91ggph6c73ffcma0","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"cron-job-tf-rwoa","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-01-13T16:51:18.774044Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "10"
            Ratelimit-Reset:
                - "522"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091030
        status: 201 Created
        code: 201
        duration: 1.749259584s
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["crn-cu2k91ggph6c73ffcma0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-cu2k910gph6c73ffcm0g/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cu2k910gph6c73ffcm0g","name":"prod","projectId":"prj-cu2k910gph6c73ffclvg","protectedStatus":"protected","redisIds":null,"serviceIds":["crn-cu2k91ggph6c73ffcma0"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-545672
        status: 201 Created
        code: 201
        duration: 183.5245ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-cu2k91ggph6c73ffcma0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"crn-cu2k91ggph6c73ffcma0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091065
        status: 200 OK
        code: 200
        duration: 101.375708ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-cu2k91ggph6c73ffcma0
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"crn-cu2k91ggph6c73ffcma0","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-545679
        status: 200 OK
        code: 200
        duration: 163.002041ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k91ggph6c73ffcma0/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"f3TDrnEQnBQ5MWdncGg2YzczZmZjbWIw"},{"envVar":{"key":"key1","value":"val1"},"cursor":"f3TDrnEQnBQ5MWdncGg2YzczZmZjbWFn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091073
        status: 200 OK
        code: 200
        duration: 99.531042ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k91ggph6c73ffcma0/env-vars?cursor=f3TDrnEQnBQ5MWdncGg2YzczZmZjbWFn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "39"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-545686
        status: 200 OK
        code: 200
        duration: 102.729292ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k91ggph6c73ffcma0/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"f3TDrnEQnBQ5MWdncGg2YzczZmZjbWMw"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"f3TDrnEQnBQ5MWdncGg2YzczZmZjbWJn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "39"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091080
        status: 200 OK
        code: 200
        duration: 105.062791ms
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k91ggph6c73ffcma0/secret-files?cursor=f3TDrnEQnBQ5MWdncGg2YzczZmZjbWJn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "39"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-545698
        status: 200 OK
        code: 200
        duration: 126.82ms
[...]
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k91ggph6c73ffcma0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:51:18.774044Z","dashboardUrl":"https://dashboard.render.com/cron/crn-cu2k91ggph6c73ffcma0","environmentId":"evm-cu2k910gph6c73ffcm0g","id":"crn-cu2k91ggph6c73ffcma0","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"notify","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"cron-job-tf-rwoa","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-01-13T16:51:19.374435Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "39"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091091
        status: 200 OK
        code: 200
        duration: 104.328291ms
[...]
    - id: 28
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cu2k910gph6c73ffclvg
        method: GET
      response:
        body: |
            {"createdAt":"2025-01-13T16:51:16.774565Z","environmentIds":["evm-cu2k910gph6c73ffcm0g"],"id":"prj-cu2k910gph6c73ffclvg","name":"first","owner":{"email":"email@example.com","id":"tea-cspvinogph6c73ft00h0","name":"Jake Malachowski's Workspace","type":"team"},"updatedAt":"2025-01-13T16:51:16.774565Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "377"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-545796
        status: 200 OK
        code: 200
        duration: 207.84175ms
[...]
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cu2k918gph6c73ffcm1g
        method: GET
      response:
        body: |
            {"createdAt":"2025-01-13T16:51:17.185928Z","environmentIds":["evm-cu2k918gph6c73ffcm20"],"id":"prj-cu2k918gph6c73ffcm1g","name":"second","owner":{"email":"email@example.com","id":"tea-cspvinogph6c73ft00h0","name":"Jake Malachowski's Workspace","type":"team"},"updatedAt":"2025-01-13T16:51:17.185928Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "375"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-545797
        status: 200 OK
        code: 200
        duration: 314.826333ms
[...]
    - id: 62
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/crn-cu2k91ggph6c73ffcma0/resources?resourceIds=crn-cu2k91ggph6c73ffcma0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "90"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091292
        status: 204 No Content
        code: 204
        duration: 145.288083ms
    - id: 63
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["crn-cu2k91ggph6c73ffcma0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-cu2k918gph6c73ffcm20/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cu2k918gph6c73ffcm20","name":"prod","projectId":"prj-cu2k918gph6c73ffcm1g","protectedStatus":"protected","redisIds":null,"serviceIds":["crn-cu2k91ggph6c73ffcma0"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "89"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-546004
        status: 201 Created
        code: 201
        duration: 212.279458ms
    - id: 64
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cu2k91ggph6c73ffcma0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2k958gph6c73ffcop0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:c375ae41bb29c0615ab18452822fedf1981f8ba7a7b00508b3d901b7ab682947"},"status":"live","trigger":"api","createdAt":"2025-01-13T16:51:33.478549Z","updatedAt":"2025-01-13T16:51:33.516604Z","finishedAt":"2025-01-13T16:51:33.516197Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091302
        status: 201 Created
        code: 201
        duration: 896.181792ms
[...]
    - id: 67
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k91ggph6c73ffcma0/env-vars?cursor=f3TDrnEQnBQ5NG9ncGg2YzczZmZjb2pn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "346"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-546036
        status: 200 OK
        code: 200
        duration: 254.159458ms
[...]
    - id: 69
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k91ggph6c73ffcma0/secret-files?cursor=f3TDrnEQnBQ5NHRkczc4czczZHVmNGIw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "344"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-546046
        status: 200 OK
        code: 200
        duration: 153.336417ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-cu2k91ggph6c73ffcma0
        method: GET
      response:
        body: |
            {"message":"not found: crn-cu2k91ggph6c73ffcma0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "342"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091341
        status: 404 Not Found
        code: 404
        duration: 179.203375ms
[...]
    - id: 112
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cu2k918gph6c73ffcm20/resources?resourceIds=crn-cu2k91ggph6c73ffcma0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "85"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091502
        status: 204 No Content
        code: 204
        duration: 140.577583ms
[...]
    - id: 116
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k91ggph6c73ffcma0/env-vars?cursor=f3TDrnEQnBQ5N3Rkczc4czczZHVmNTln
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "303"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091533
        status: 200 OK
        code: 200
        duration: 101.061541ms
[...]
    - id: 118
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k91ggph6c73ffcma0/secret-files?cursor=f3TDrnEQnBQ5N29ncGg2YzczZmZjcGpn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "301"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091537
        status: 200 OK
        code: 200
        duration: 114.204125ms
[...]
