---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","networkIsolationEnabled":false,"protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2025-05-14T15:40:45.581761Z","environmentIds":["evm-d0ibivcfunbc73fd4g5g"],"id":"prj-d0ibivcfunbc73fd4g50","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"lizhi's workspace","type":"team"},"updatedAt":"2025-05-14T15:40:45.581761Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000439
        status: 201 Created
        code: 201
        duration: 583.738875ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d0ibivcfunbc73fd4g5g
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d0ibivcfunbc73fd4g5g","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d0ibivcfunbc73fd4g50","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000440
        status: 200 OK
        code: 200
        duration: 97.89375ms
[...]
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key2","value":"val2"},{"key":"key1","value":"val1"}],"image":{"imagePath":"nginx","ownerId":""},"name":"cron-job-tf","ownerId":"some-owner-id","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0ibivsfunbc73fd4gag","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:40:47.473062Z","dashboardUrl":"https://dashboard.staging.render.com/cron/crn-d0ibivsfunbc73fd4g7g","id":"crn-d0ibivsfunbc73fd4g7g","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"cron-job-tf-d6na","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-14T15:40:47.473062Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "16"
            Ratelimit-Reset:
                - "1153"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000443
        status: 201 Created
        code: 201
        duration: 1.832755s
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["crn-d0ibivsfunbc73fd4g7g"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-d0ibivcfunbc73fd4g5g/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d0ibivcfunbc73fd4g5g","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d0ibivcfunbc73fd4g50","protectedStatus":"protected","redisIds":null,"serviceIds":["crn-d0ibivsfunbc73fd4g7g"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000444
        status: 201 Created
        code: 201
        duration: 162.630916ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-d0ibivsfunbc73fd4g7g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"crn-d0ibivsfunbc73fd4g7g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000445
        status: 200 OK
        code: 200
        duration: 102.419ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-d0ibivsfunbc73fd4g7g
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"crn-d0ibivsfunbc73fd4g7g","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000446
        status: 200 OK
        code: 200
        duration: 115.5575ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibivsfunbc73fd4g7g/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key1","value":"val1"},"cursor":"AUzblRGBAzxpdnNmdW5iYzczZmQ0Zzhn"},{"envVar":{"key":"key2","value":"val2"},"cursor":"AUzblRGBAzxpdnNmdW5iYzczZmQ0Zzgw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000447
        status: 200 OK
        code: 200
        duration: 96.780125ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibivsfunbc73fd4g7g/env-vars?cursor=AUzblRGBAzxpdnNmdW5iYzczZmQ0Zzgw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000448
        status: 200 OK
        code: 200
        duration: 104.258917ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibivsfunbc73fd4g7g/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"AUzblRGBAzxpdnNmdW5iYzczZmQ0Zzln"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"AUzblRGBAzxpdnNmdW5iYzczZmQ0Zzkw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000449
        status: 200 OK
        code: 200
        duration: 104.076791ms
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibivsfunbc73fd4g7g/secret-files?cursor=AUzblRGBAzxpdnNmdW5iYzczZmQ0Zzkw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000450
        status: 200 OK
        code: 200
        duration: 103.341458ms
[...]
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibivsfunbc73fd4g7g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:40:47.473062Z","dashboardUrl":"https://dashboard.staging.render.com/cron/crn-d0ibivsfunbc73fd4g7g","environmentId":"evm-d0ibivcfunbc73fd4g5g","id":"crn-d0ibivsfunbc73fd4g7g","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"cron-job-tf-d6na","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-14T15:40:48.089898Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000454
        status: 200 OK
        code: 200
        duration: 104.265042ms
[...]
    - id: 28
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-d0ibivcfunbc73fd4g50
        method: GET
      response:
        body: |
            {"createdAt":"2025-05-14T15:40:45.581761Z","environmentIds":["evm-d0ibivcfunbc73fd4g5g"],"id":"prj-d0ibivcfunbc73fd4g50","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"lizhi's workspace","type":"team"},"updatedAt":"2025-05-14T15:40:45.581761Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "377"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000470
        status: 200 OK
        code: 200
        duration: 143.092708ms
[...]
    - id: 62
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/crn-d0ibivsfunbc73fd4g7g/resources?resourceIds=crn-d0ibivsfunbc73fd4g7g
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "90"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000504
        status: 204 No Content
        code: 204
        duration: 139.549125ms
[...]
    - id: 64
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0ibivsfunbc73fd4g7g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0ibj2sfunbc73fd4gg0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88b3388ea06c7262e410a3ab5c05dc4088b7b39dea569addd8c30766f4f47440"},"status":"live","trigger":"api","createdAt":"2025-05-14T15:40:59.808909Z","updatedAt":"2025-05-14T15:40:59.894268Z","startedAt":"2025-05-14T15:40:59.808191Z","finishedAt":"2025-05-14T15:40:59.89361Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000506
        status: 201 Created
        code: 201
        duration: 619.144083ms
[...]
    - id: 67
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibivsfunbc73fd4g7g/env-vars?cursor=AUzblRGBAzxqMmtmdW5iYzczZmQ0Z2Rn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000509
        status: 200 OK
        code: 200
        duration: 105.239584ms
[...]
    - id: 69
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibivsfunbc73fd4g7g/secret-files?cursor=AUzblRGBAzxqMmtmdW5iYzczZmQ0Z2Vn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000511
        status: 200 OK
        code: 200
        duration: 100.774708ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-d0ibivsfunbc73fd4g7g
        method: GET
      response:
        body: |
            {"message":"not found: crn-d0ibivsfunbc73fd4g7g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000513
        status: 404 Not Found
        code: 404
        duration: 162.305ms
[...]
    - id: 112
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d0ibivcfunbc73fd4g6g/resources?resourceIds=crn-d0ibivsfunbc73fd4g7g
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000557
        status: 204 No Content
        code: 204
        duration: 136.084542ms
[...]
    - id: 116
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibivsfunbc73fd4g7g/env-vars?cursor=AUzblRGBAzxqNTRmdW5iYzczZmQ0Z2hn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "354"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000561
        status: 200 OK
        code: 200
        duration: 105.416625ms
[...]
    - id: 118
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibivsfunbc73fd4g7g/secret-files?cursor=AUzblRGBAzxqNTRmdW5iYzczZmQ0Z2ln
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "352"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000563
        status: 200 OK
        code: 200
        duration: 97.881292ms
[...]
