---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-04T01:08:52.728521Z","environmentIds":["evm-crbr693v2p9s73djqmrg"],"id":"prj-crbr693v2p9s73djqmr0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-04T01:08:52.728521Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1595805
        status: 201 Created
        code: 201
        duration: 161.426833ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbr693v2p9s73djqmrg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbr693v2p9s73djqmrg","name":"prod","projectId":"prj-crbr693v2p9s73djqmr0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2743853
        status: 200 OK
        code: 200
        duration: 513.232334ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbr69dsvqrc73f3i93g
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbr69dsvqrc73f3i93g","name":"prod","projectId":"prj-crbr69dsvqrc73f3i930","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1595818
        status: 200 OK
        code: 200
        duration: 64.246208ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"cron-job-tf","ownerId":"some-owner-id","secretFiles":[{"content":"content2","name":"file2"},{"content":"content1","name":"file1"}],"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbr69tsvqrc73f3i9dg","service":{"autoDeploy":"yes","createdAt":"2024-09-04T01:08:54.742498Z","dashboardUrl":"https://dashboard.render.com/cron/crn-crbr69lsvqrc73f3i990","id":"crn-crbr69lsvqrc73f3i990","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"cron-job-tf-ey8z","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-04T01:08:54.742498Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "19"
            Ratelimit-Reset:
                - "3066"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2743861
        status: 201 Created
        code: 201
        duration: 1.974876292s
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["crn-crbr69lsvqrc73f3i990"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crbr693v2p9s73djqmrg/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbr693v2p9s73djqmrg","name":"prod","projectId":"prj-crbr693v2p9s73djqmr0","protectedStatus":"protected","redisIds":null,"serviceIds":["crn-crbr69lsvqrc73f3i990"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2743905
        status: 201 Created
        code: 201
        duration: 189.768916ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-crbr69lsvqrc73f3i990
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"crn-crbr69lsvqrc73f3i990"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "397"
                - "96"
            Ratelimit-Reset:
                - "4"
                - "4"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1595860
        status: 200 OK
        code: 200
        duration: 669.308792ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr69lsvqrc73f3i990/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"3v_X7pJvF1g2OWxzdnFyYzczZjNpOWEw"},{"envVar":{"key":"key1","value":"val1"},"cursor":"3v_X7pJvF1g2OWxzdnFyYzczZjNpOTln"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2743926
        status: 200 OK
        code: 200
        duration: 68.38325ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr69lsvqrc73f3i990/env-vars?cursor=3v_X7pJvF1g2OWxzdnFyYzczZjNpOTln
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2743927
        status: 200 OK
        code: 200
        duration: 85.268583ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr69lsvqrc73f3i990/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content1","name":"file1"},"cursor":"3v_X7pJvF1g2OWxzdnFyYzczZjNpOWIw"},{"secretFile":{"content":"content2","name":"file2"},"cursor":"3v_X7pJvF1g2OWxzdnFyYzczZjNpOWFn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1595876
        status: 200 OK
        code: 200
        duration: 1.013005042s
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr69lsvqrc73f3i990/secret-files?cursor=3v_X7pJvF1g2OWxzdnFyYzczZjNpOWFn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2743944
        status: 200 OK
        code: 200
        duration: 84.335083ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr69lsvqrc73f3i990
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-04T01:08:54.742498Z","dashboardUrl":"https://dashboard.render.com/cron/crn-crbr69lsvqrc73f3i990","environmentId":"evm-crbr693v2p9s73djqmrg","id":"crn-crbr69lsvqrc73f3i990","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"cron-job-tf-ey8z","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-04T01:08:55.556045Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1595888
        status: 200 OK
        code: 200
        duration: 683.487708ms
[...]
    - id: 24
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crbr693v2p9s73djqmr0
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-04T01:08:52.728521Z","environmentIds":["evm-crbr693v2p9s73djqmrg"],"id":"prj-crbr693v2p9s73djqmr0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-04T01:08:52.728521Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "379"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1595914
        status: 200 OK
        code: 200
        duration: 74.428125ms
[...]
    - id: 26
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crbr69dsvqrc73f3i930
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-04T01:08:53.354287Z","environmentIds":["evm-crbr69dsvqrc73f3i93g"],"id":"prj-crbr69dsvqrc73f3i930","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-04T01:08:53.354287Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "377"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2743986
        status: 200 OK
        code: 200
        duration: 70.071042ms
[...]
    - id: 54
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/crn-crbr69lsvqrc73f3i990/resources?resourceIds=crn-crbr69lsvqrc73f3i990
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1595990
        status: 204 No Content
        code: 204
        duration: 137.950875ms
    - id: 55
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["crn-crbr69lsvqrc73f3i990"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crbr69dsvqrc73f3i93g/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbr69dsvqrc73f3i93g","name":"prod","projectId":"prj-crbr69dsvqrc73f3i930","protectedStatus":"protected","redisIds":null,"serviceIds":["crn-crbr69lsvqrc73f3i990"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2744064
        status: 201 Created
        code: 201
        duration: 168.907833ms
    - id: 56
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crbr69lsvqrc73f3i990/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbr6c5svqrc73f3ia20","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"live","trigger":"api","createdAt":"2024-09-04T01:09:04.162448Z","updatedAt":"2024-09-04T01:09:04.181183Z","finishedAt":"2024-09-04T01:09:04.180758Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2744072
        status: 201 Created
        code: 201
        duration: 693.386958ms
[...]
    - id: 59
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr69lsvqrc73f3i990/env-vars?cursor=3v_X7pJvF1g2YnJ2MnA5czczZGpxbnAw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "378"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2744098
        status: 200 OK
        code: 200
        duration: 175.710334ms
[...]
    - id: 61
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr69lsvqrc73f3i990/secret-files?cursor=3v_X7pJvF1g2YnRzdnFyYzczZjNpOXZn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "376"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2744105
        status: 200 OK
        code: 200
        duration: 106.839542ms
[...]
    - id: 99
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbr69dsvqrc73f3i93g/resources?resourceIds=crn-crbr69lsvqrc73f3i990
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "91"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2744214
        status: 204 No Content
        code: 204
        duration: 176.244709ms
[...]
    - id: 103
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr69lsvqrc73f3i990/env-vars?cursor=3v_X7pJvF1g2ZGRzdnFyYzczZjNpYWRn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "339"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2744241
        status: 200 OK
        code: 200
        duration: 175.597667ms
[...]
    - id: 105
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr69lsvqrc73f3i990/secret-files?cursor=3v_X7pJvF1g2ZGRzdnFyYzczZjNpYWVn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "337"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2744251
        status: 200 OK
        code: 200
        duration: 178.6755ms
[...]
