---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","networkIsolationEnabled":false,"protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2025-05-08T18:31:47.070689Z","environmentIds":["evm-d0efh4ra98ec73bj4d20"],"id":"prj-d0efh4ra98ec73bj4d1g","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"teest","type":"team"},"updatedAt":"2025-05-08T18:31:47.070689Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000501
        status: 201 Created
        code: 201
        duration: 195.549959ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d0efh4ra98ec73bj4d20
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d0efh4ra98ec73bj4d20","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d0efh4ra98ec73bj4d1g","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000502
        status: 200 OK
        code: 200
        duration: 57.951583ms
[...]
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key2","value":"val2"},{"key":"key1","value":"val1"}],"image":{"imagePath":"nginx","ownerId":""},"name":"cron-job-tf","ownerId":"some-owner-id","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0efh53a98ec73bj4d70","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T18:31:48.181593Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-d0efh53a98ec73bj4d40","id":"crn-d0efh53a98ec73bj4d40","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"cron-job-tf-der9","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-08T18:31:48.181593Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "14"
            Ratelimit-Reset:
                - "1692"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000505
        status: 201 Created
        code: 201
        duration: 877.039833ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["crn-d0efh53a98ec73bj4d40"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-d0efh4ra98ec73bj4d20/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d0efh4ra98ec73bj4d20","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d0efh4ra98ec73bj4d1g","protectedStatus":"protected","redisIds":null,"serviceIds":["crn-d0efh53a98ec73bj4d40"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000506
        status: 201 Created
        code: 201
        duration: 131.452208ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-d0efh53a98ec73bj4d40
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"crn-d0efh53a98ec73bj4d40"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000507
        status: 200 OK
        code: 200
        duration: 125.990375ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-d0efh53a98ec73bj4d40
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"crn-d0efh53a98ec73bj4d40","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000508
        status: 200 OK
        code: 200
        duration: 81.489792ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efh53a98ec73bj4d40/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key1","value":"val1"},"cursor":"4XQBJyzF8oloNTNhOThlYzczYmo0ZDUw"},{"envVar":{"key":"key2","value":"val2"},"cursor":"4XQBJyzF8oloNTNhOThlYzczYmo0ZDRn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000509
        status: 200 OK
        code: 200
        duration: 58.574791ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efh53a98ec73bj4d40/env-vars?cursor=4XQBJyzF8oloNTNhOThlYzczYmo0ZDRn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000510
        status: 200 OK
        code: 200
        duration: 57.1265ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efh53a98ec73bj4d40/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"4XQBJyzF8oloNTNhOThlYzczYmo0ZDYw"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"4XQBJyzF8oloNTNhOThlYzczYmo0ZDVn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000511
        status: 200 OK
        code: 200
        duration: 70.489541ms
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efh53a98ec73bj4d40/secret-files?cursor=4XQBJyzF8oloNTNhOThlYzczYmo0ZDVn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000512
        status: 200 OK
        code: 200
        duration: 53.920666ms
[...]
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efh53a98ec73bj4d40
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T18:31:48.181593Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-d0efh53a98ec73bj4d40","environmentId":"evm-d0efh4ra98ec73bj4d20","id":"crn-d0efh53a98ec73bj4d40","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"cron-job-tf-der9","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-08T18:31:48.590862Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000515
        status: 200 OK
        code: 200
        duration: 66.539708ms
[...]
    - id: 28
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-d0efh4ra98ec73bj4d1g
        method: GET
      response:
        body: |
            {"createdAt":"2025-05-08T18:31:47.070689Z","environmentIds":["evm-d0efh4ra98ec73bj4d20"],"id":"prj-d0efh4ra98ec73bj4d1g","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"teest","type":"team"},"updatedAt":"2025-05-08T18:31:47.070689Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "377"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000529
        status: 200 OK
        code: 200
        duration: 121.022208ms
[...]
    - id: 62
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/crn-d0efh53a98ec73bj4d40/resources?resourceIds=crn-d0efh53a98ec73bj4d40
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "90"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000563
        status: 204 No Content
        code: 204
        duration: 136.432292ms
[...]
    - id: 64
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0efh53a98ec73bj4d40/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0efh53a98ec73bj4d70","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88b3388ea06c7262e410a3ab5c05dc4088b7b39dea569addd8c30766f4f47440"},"status":"live","trigger":"manual","createdAt":"2025-05-08T18:31:48.406747Z","updatedAt":"2025-05-08T18:31:48.480399Z","startedAt":"2025-05-08T18:31:48.406035Z","finishedAt":"2025-05-08T18:31:48.479757Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000565
        status: 201 Created
        code: 201
        duration: 365.493208ms
[...]
    - id: 67
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efh53a98ec73bj4d40/env-vars?cursor=4XQBJyzF8oloN2phOThlYzczYmo0ZDln
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000568
        status: 200 OK
        code: 200
        duration: 109.458542ms
[...]
    - id: 69
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efh53a98ec73bj4d40/secret-files?cursor=4XQBJyzF8oloN2phOThlYzczYmo0ZGFn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000570
        status: 200 OK
        code: 200
        duration: 63.13725ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-d0efh53a98ec73bj4d40
        method: GET
      response:
        body: |
            {"message":"not found: crn-d0efh53a98ec73bj4d40"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000572
        status: 404 Not Found
        code: 404
        duration: 111.817458ms
[...]
    - id: 112
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d0efh4ra98ec73bj4d30/resources?resourceIds=crn-d0efh53a98ec73bj4d40
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000613
        status: 204 No Content
        code: 204
        duration: 266.972917ms
[...]
    - id: 116
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efh53a98ec73bj4d40/env-vars?cursor=4XQBJyzF8oloOXJhOThlYzczYmo0ZGRn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "356"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000617
        status: 200 OK
        code: 200
        duration: 73.016542ms
[...]
    - id: 118
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efh53a98ec73bj4d40/secret-files?cursor=4XQBJyzF8oloOXJhOThlYzczYmo0ZGVn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "354"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000619
        status: 200 OK
        code: 200
        duration: 63.420667ms
[...]
