---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-09T16:29:52.473351Z","environmentIds":["evm-crfi50239eqs702lff2g"],"id":"prj-crfi50239eqs702lff20","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-09T16:29:52.473351Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9960"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001047
        status: 201 Created
        code: 201
        duration: 89.421292ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crfi50239eqs702lff2g
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crfi50239eqs702lff2g","name":"prod","projectId":"prj-crfi50239eqs702lff20","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9585"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001048
        status: 200 OK
        code: 200
        duration: 19.675042ms
[...]
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"cron-job-tf","ownerId":"some-owner-id","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfi50a39eqs702lff7g","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:29:52.984736Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-crfi50239eqs702lff4g","id":"crn-crfi50239eqs702lff4g","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"cron-job-tf-tt9d","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-09T16:29:52.984736Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9995"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001051
        status: 201 Created
        code: 201
        duration: 614.173584ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["crn-crfi50239eqs702lff4g"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crfi50239eqs702lff2g/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crfi50239eqs702lff2g","name":"prod","projectId":"prj-crfi50239eqs702lff20","protectedStatus":"protected","redisIds":null,"serviceIds":["crn-crfi50239eqs702lff4g"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9958"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001052
        status: 201 Created
        code: 201
        duration: 64.728417ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-crfi50239eqs702lff4g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"crn-crfi50239eqs702lff4g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9583"
                - "9957"
            Ratelimit-Reset:
                - "6"
                - "6"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001053
        status: 200 OK
        code: 200
        duration: 26.36125ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-crfi50239eqs702lff4g
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"crn-crfi50239eqs702lff4g","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9956"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001054
        status: 200 OK
        code: 200
        duration: 23.984458ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi50239eqs702lff4g/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"Ih-xRG4fuao1MDIzOWVxczcwMmxmZjVn"},{"envVar":{"key":"key1","value":"val1"},"cursor":"Ih-xRG4fuao1MDIzOWVxczcwMmxmZjUw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9582"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001055
        status: 200 OK
        code: 200
        duration: 23.351541ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi50239eqs702lff4g/env-vars?cursor=Ih-xRG4fuao1MDIzOWVxczcwMmxmZjUw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9581"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001056
        status: 200 OK
        code: 200
        duration: 22.423167ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi50239eqs702lff4g/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"Ih-xRG4fuao1MDIzOWVxczcwMmxmZjZn"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"Ih-xRG4fuao1MDIzOWVxczcwMmxmZjYw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9580"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001057
        status: 200 OK
        code: 200
        duration: 22.96175ms
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi50239eqs702lff4g/secret-files?cursor=Ih-xRG4fuao1MDIzOWVxczcwMmxmZjYw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9579"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001058
        status: 200 OK
        code: 200
        duration: 23.059292ms
[...]
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi50239eqs702lff4g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:29:52.984736Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-crfi50239eqs702lff4g","environmentId":"evm-crfi50239eqs702lff2g","id":"crn-crfi50239eqs702lff4g","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"cron-job-tf-tt9d","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-09T16:29:53.235863Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9576"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001061
        status: 200 OK
        code: 200
        duration: 26.705291ms
[...]
    - id: 28
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crfi50239eqs702lff20
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-09T16:29:52.473351Z","environmentIds":["evm-crfi50239eqs702lff2g"],"id":"prj-crfi50239eqs702lff20","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-09T16:29:52.473351Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9562"
            Ratelimit-Reset:
                - "5"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001075
        status: 200 OK
        code: 200
        duration: 33.879375ms
[...]
    - id: 62
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/crn-crfi50239eqs702lff4g/resources?resourceIds=crn-crfi50239eqs702lff4g
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9951"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001109
        status: 204 No Content
        code: 204
        duration: 79.614458ms
[...]
    - id: 64
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crfi50239eqs702lff4g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfi50a39eqs702lff7g","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"live","trigger":"manual","createdAt":"2024-09-09T16:29:53.178403Z","updatedAt":"2024-09-09T16:29:53.1878Z","finishedAt":"2024-09-09T16:29:53.187617Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001111
        status: 201 Created
        code: 201
        duration: 221.439125ms
[...]
    - id: 67
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi50239eqs702lff4g/env-vars?cursor=Ih-xRG4fuao1MHEzOWVxczcwMmxmZmEw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9530"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001114
        status: 200 OK
        code: 200
        duration: 23.000708ms
[...]
    - id: 69
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi50239eqs702lff4g/secret-files?cursor=Ih-xRG4fuao1MHEzOWVxczcwMmxmZmIw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9528"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001116
        status: 200 OK
        code: 200
        duration: 27.096167ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-crfi50239eqs702lff4g
        method: GET
      response:
        body: |
            {"message":"not found: crn-crfi50239eqs702lff4g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9526"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001118
        status: 404 Not Found
        code: 404
        duration: 20.29175ms
[...]
    - id: 112
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crfi50239eqs702lff3g/resources?resourceIds=crn-crfi50239eqs702lff4g
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9946"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001159
        status: 204 No Content
        code: 204
        duration: 62.080042ms
[...]
    - id: 116
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi50239eqs702lff4g/env-vars?cursor=Ih-xRG4fuao1MWkzOWVxczcwMmxmZmUw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9486"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001163
        status: 200 OK
        code: 200
        duration: 31.6785ms
[...]
    - id: 118
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi50239eqs702lff4g/secret-files?cursor=Ih-xRG4fuao1MWkzOWVxczcwMmxmZmYw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9484"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001165
        status: 200 OK
        code: 200
        duration: 26.250625ms
[...]
