---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-29T19:24:52.872306Z","environmentIds":["evm-cpbo214olt5qq8i64pj0"],"id":"prj-cpbo214olt5qq8i64pig","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-29T19:24:52.872306Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "499"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000005
        status: 201 Created
        code: 201
        duration: 146.482458ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpbo214olt5qq8i64pj0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpbo214olt5qq8i64pj0","name":"prod","projectId":"prj-cpbo214olt5qq8i64pig","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "499"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000006
        status: 200 OK
        code: 200
        duration: 75.259708ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpbo21colt5qq8i64pk0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpbo21colt5qq8i64pk0","name":"prod","projectId":"prj-cpbo21colt5qq8i64pjg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "497"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000009
        status: 200 OK
        code: 200
        duration: 76.524375ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"image":{"imagePath":"nginx","ownerId":""},"name":"cron-job-tf","ownerId":"some-owner-id","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","username":""}},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbo21kolt5qq8i64po0","service":{"autoDeploy":"yes","createdAt":"2024-05-29T19:24:54.129794Z","id":"crn-cpbo21kolt5qq8i64pl0","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"cron-job-tf-ai3i","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-05-29T19:24:54.129794Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "171"
            Ratelimit-Reset:
                - "2106"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000012
        status: 201 Created
        code: 201
        duration: 873.317416ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["crn-cpbo21kolt5qq8i64pl0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-cpbo214olt5qq8i64pj0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpbo214olt5qq8i64pj0","name":"prod","projectId":"prj-cpbo214olt5qq8i64pig","protectedStatus":"protected","redisIds":null,"serviceIds":["crn-cpbo21kolt5qq8i64pl0"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "495"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000018
        status: 201 Created
        code: 201
        duration: 178.442208ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-cpbo21kolt5qq8i64pl0
        method: PATCH
      response:
        body: |
            {"id":"crn-cpbo21kolt5qq8i64pl0","notificationsToSend":"all","previewNotificationsEnabled":"true","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
                - "500"
            Ratelimit-Remaining:
                - "493"
                - "494"
            Ratelimit-Reset:
                - "4"
                - "4"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000019
        status: 200 OK
        code: 200
        duration: 63.732834ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo21kolt5qq8i64pl0/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"12Jn7qHCUrcyMWtvbHQ1cXE4aTY0cG0w"},{"envVar":{"key":"key1","value":"val1"},"cursor":"12Jn7qHCUrcyMWtvbHQ1cXE4aTY0cGxn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "492"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000020
        status: 200 OK
        code: 200
        duration: 52.217209ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo21kolt5qq8i64pl0/env-vars?cursor=12Jn7qHCUrcyMWtvbHQ1cXE4aTY0cGxn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "491"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000021
        status: 200 OK
        code: 200
        duration: 69.197042ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo21kolt5qq8i64pl0/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"12Jn7qHCUrcyMWtvbHQ1cXE4aTY0cG4w"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"12Jn7qHCUrcyMWtvbHQ1cXE4aTY0cG1n"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "490"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000022
        status: 200 OK
        code: 200
        duration: 57.170042ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo21kolt5qq8i64pl0/secret-files?cursor=12Jn7qHCUrcyMWtvbHQ1cXE4aTY0cG1n
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "489"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000023
        status: 200 OK
        code: 200
        duration: 54.835791ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo21kolt5qq8i64pl0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T19:24:54.129794Z","environmentId":"evm-cpbo214olt5qq8i64pj0","id":"crn-cpbo21kolt5qq8i64pl0","imagePath":"docker.io/library/nginx:latest","name":"cron-job-tf","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"cron-job-tf-ai3i","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-05-29T19:24:55.448368Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "487"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000025
        status: 200 OK
        code: 200
        duration: 71.552459ms
[...]
    - id: 24
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpbo214olt5qq8i64pig
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-29T19:24:52.872306Z","environmentIds":["evm-cpbo214olt5qq8i64pj0"],"id":"prj-cpbo214olt5qq8i64pig","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-29T19:24:52.872306Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "472"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000040
        status: 200 OK
        code: 200
        duration: 79.33475ms
[...]
    - id: 26
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpbo21colt5qq8i64pjg
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-29T19:24:53.288776Z","environmentIds":["evm-cpbo21colt5qq8i64pk0"],"id":"prj-cpbo21colt5qq8i64pjg","name":"second","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-29T19:24:53.288776Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "465"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000047
        status: 200 OK
        code: 200
        duration: 83.424583ms
[...]
    - id: 54
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/crn-cpbo21kolt5qq8i64pl0/resources?resourceIds=crn-cpbo21kolt5qq8i64pl0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "490"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000183
        status: 204 No Content
        code: 204
        duration: 104.852917ms
    - id: 55
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["crn-cpbo21kolt5qq8i64pl0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-cpbo21colt5qq8i64pk0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpbo21colt5qq8i64pk0","name":"prod","projectId":"prj-cpbo21colt5qq8i64pjg","protectedStatus":"protected","redisIds":null,"serviceIds":["crn-cpbo21kolt5qq8i64pl0"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "487"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000186
        status: 201 Created
        code: 201
        duration: 186.368167ms
    - id: 56
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cpbo21kolt5qq8i64pl0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbo21kolt5qq8i64po0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"live","trigger":"manual","createdAt":"2024-05-29T19:24:54.374397Z","updatedAt":"2024-05-29T19:24:54.419574Z","finishedAt":"2024-05-29T19:24:54.407411Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000188
        status: 201 Created
        code: 201
        duration: 339.98225ms
[...]
    - id: 59
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo21kolt5qq8i64pl0/env-vars?cursor=12Jn7qHCUrcyM3NvbHQ1cXE4aTY0cWsw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "416"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000200
        status: 200 OK
        code: 200
        duration: 54.040375ms
[...]
    - id: 61
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo21kolt5qq8i64pl0/secret-files?cursor=12Jn7qHCUrcyM3NvbHQ1cXE4aTY0cW1n
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "412"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000204
        status: 200 OK
        code: 200
        duration: 54.376666ms
[...]
    - id: 99
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpbo21colt5qq8i64pk0/resources?resourceIds=crn-cpbo21kolt5qq8i64pl0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "474"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000286
        status: 204 No Content
        code: 204
        duration: 103.411583ms
[...]
    - id: 103
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo21kolt5qq8i64pl0/env-vars?cursor=12Jn7qHCUrcyNXNvbHQ1cXE4aTY0cmcw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "322"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000308
        status: 200 OK
        code: 200
        duration: 59.577375ms
[...]
    - id: 105
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo21kolt5qq8i64pl0/secret-files?cursor=12Jn7qHCUrcyNXNvbHQ1cXE4aTY0cmgw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "318"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000312
        status: 200 OK
        code: 200
        duration: 41.589584ms
[...]
