---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"docker","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfi55q39eqs702lffug","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:30:15.208123Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-crfi55i39eqs702lffu0","id":"crn-crfi55i39eqs702lffu0","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"some-name-qtzj","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-09T16:30:16.809946Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9997"
            Ratelimit-Reset:
                - "45"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001335
        status: 201 Created
        code: 201
        duration: 2.226212375s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-crfi55i39eqs702lffu0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-crfi55i39eqs702lffu0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9872"
                - "9989"
            Ratelimit-Reset:
                - "43"
                - "43"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001336
        status: 200 OK
        code: 200
        duration: 18.115667ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi55i39eqs702lffu0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9871"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001337
        status: 200 OK
        code: 200
        duration: 20.691583ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi55i39eqs702lffu0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9870"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001338
        status: 200 OK
        code: 200
        duration: 18.97725ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-crfi55i39eqs702lffu0
        method: GET
      response:
        body: |
            {"message":"not found: crn-crfi55i39eqs702lffu0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9868"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001340
        status: 404 Not Found
        code: 404
        duration: 19.403333ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi55i39eqs702lffu0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:30:15.208123Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-crfi55i39eqs702lffu0","id":"crn-crfi55i39eqs702lffu0","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"some-name-qtzj","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-09T16:30:16.809946Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9867"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001341
        status: 200 OK
        code: 200
        duration: 24.855042ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crfi55i39eqs702lffu0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfi56i39eqs702lfg0g","commit":{"id":"bca0502a57b3f3a1a935ebdf8e85d0d704038bd3","message":"Fix render.yaml: \"env\" --\u003e \"runtime\" (#3)\n\nPer the `render.yaml` schema, `env` is still supported but is superseded by `runtime`. Using `env` will show a schema error if using the `render.yaml` validator in an IDE like VS Code.\r\n\r\nSee https://docs.render.com/blueprint-spec#runtime","createdAt":"2024-08-14T21:28:24Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-09T16:30:19.926213Z","updatedAt":"2024-09-09T16:30:19.926213Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "4"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001370
        status: 201 Created
        code: 201
        duration: 1.749824958s
[...]
