---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"docker","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbr6tlds78s7394dba0","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-09-04T01:10:14.531948Z","dashboardUrl":"https://dashboard.render.com/cron/crn-crbr6tlds78s7394db9g","id":"crn-crbr6tlds78s7394db9g","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"some-name-ronb","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-04T01:10:16.934197Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "16"
            Ratelimit-Reset:
                - "2986"
            Render-Request-Id:
                - api-5dfb588d7c-ntsn5/63XNsnqzpK-264656
        status: 201 Created
        code: 201
        duration: 3.369239417s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-crbr6tlds78s7394db9g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-crbr6tlds78s7394db9g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "383"
                - "98"
            Ratelimit-Reset:
                - "42"
                - "42"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1597137
        status: 200 OK
        code: 200
        duration: 130.281291ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr6tlds78s7394db9g/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "382"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1349652
        status: 200 OK
        code: 200
        duration: 59.37925ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr6tlds78s7394db9g/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "381"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1349653
        status: 200 OK
        code: 200
        duration: 121.882ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr6tlds78s7394db9g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-09-04T01:10:14.531948Z","dashboardUrl":"https://dashboard.render.com/cron/crn-crbr6tlds78s7394db9g","id":"crn-crbr6tlds78s7394db9g","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"some-name-ronb","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-04T01:10:16.934197Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "379"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2745469
        status: 200 OK
        code: 200
        duration: 86.610625ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crbr6tlds78s7394db9g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbr6v3qf0us73dfpv9g","commit":{"id":"bca0502a57b3f3a1a935ebdf8e85d0d704038bd3","message":"Fix render.yaml: \"env\" --\u003e \"runtime\" (#3)\n\nPer the `render.yaml` schema, `env` is still supported but is superseded by `runtime`. Using `env` will show a schema error if using the `render.yaml` validator in an IDE like VS Code.\r\n\r\nSee https://docs.render.com/blueprint-spec#runtime","createdAt":"2024-08-14T21:28:24Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-04T01:10:22.937623Z","updatedAt":"2024-09-04T01:10:22.937623Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "39"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1349716
        status: 201 Created
        code: 201
        duration: 2.686168333s
[...]
