---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"docker","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2k9j0gph6c73ffcuig","service":{"autoDeploy":"yes","branch":"main","createdAt":"2025-01-13T16:52:28.478217Z","dashboardUrl":"https://dashboard.render.com/cron/crn-cu2k9iogph6c73ffcueg","id":"crn-cu2k9iogph6c73ffcueg","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","region":"oregon","runtime":"docker","schedule":"0 0 * * *"},"slug":"some-name-ooth","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-01-13T16:52:29.609477Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "7"
            Ratelimit-Reset:
                - "452"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-092382
        status: 201 Created
        code: 201
        duration: 2.211366583s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-cu2k9iogph6c73ffcueg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-cu2k9iogph6c73ffcueg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "90"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-547478
        status: 200 OK
        code: 200
        duration: 159.02175ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9iogph6c73ffcueg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "305"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-092437
        status: 200 OK
        code: 200
        duration: 88.884ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9iogph6c73ffcueg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "304"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-547486
        status: 200 OK
        code: 200
        duration: 99.164208ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-cu2k9iogph6c73ffcueg
        method: GET
      response:
        body: |
            {"message":"not found: crn-cu2k9iogph6c73ffcueg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "302"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-547495
        status: 404 Not Found
        code: 404
        duration: 250.395083ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9iogph6c73ffcueg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2025-01-13T16:52:28.478217Z","dashboardUrl":"https://dashboard.render.com/cron/crn-cu2k9iogph6c73ffcueg","id":"crn-cu2k9iogph6c73ffcueg","name":"some-name","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","region":"oregon","runtime":"docker","schedule":"0 0 * * *"},"slug":"some-name-ooth","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-01-13T16:52:29.609477Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "301"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-092456
        status: 200 OK
        code: 200
        duration: 106.466709ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cu2k9iogph6c73ffcueg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2k9l5ds78s73dufdlg","commit":{"id":"bca0502a57b3f3a1a935ebdf8e85d0d704038bd3","message":"Fix render.yaml: \"env\" --\u003e \"runtime\" (#3)\n\nPer the `render.yaml` schema, `env` is still supported but is superseded by `runtime`. Using `env` will show a schema error if using the `render.yaml` validator in an IDE like VS Code.\r\n\r\nSee https://docs.render.com/blueprint-spec#runtime","createdAt":"2024-08-14T21:28:24Z"},"status":"build_in_progress","trigger":"api","createdAt":"2025-01-13T16:52:37.025455Z","updatedAt":"2025-01-13T16:52:37.025455Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "5"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-547651
        status: 201 Created
        code: 201
        duration: 1.158046375s
[...]
