---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","secretFiles":null,"serviceDetails":{"env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile","registryCredential":{"id":"","name":"","registry":"","username":""}},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbo3csolt5qq8i64ts0","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-05-29T19:27:47.489173Z","id":"crn-cpbo3csolt5qq8i64trg","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"some-name-75le","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-05-29T19:27:48.030627Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "157"
            Ratelimit-Reset:
                - "1933"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000695
        status: 201 Created
        code: 201
        duration: 1.352318167s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-cpbo3csolt5qq8i64trg
        method: PATCH
      response:
        body: |
            {"id":"crn-cpbo3csolt5qq8i64trg","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
                - "500"
            Ratelimit-Remaining:
                - "496"
                - "496"
            Ratelimit-Reset:
                - "10"
                - "10"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000703
        status: 200 OK
        code: 200
        duration: 53.943458ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo3csolt5qq8i64trg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "495"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000704
        status: 200 OK
        code: 200
        duration: 41.057375ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo3csolt5qq8i64trg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "494"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000705
        status: 200 OK
        code: 200
        duration: 43.225333ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo3csolt5qq8i64trg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-05-29T19:27:47.489173Z","id":"crn-cpbo3csolt5qq8i64trg","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"some-name-75le","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-05-29T19:27:48.030627Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "492"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000707
        status: 200 OK
        code: 200
        duration: 54.978125ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cpbo3csolt5qq8i64trg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbo3ecolt5qq8i64um0","commit":{"id":"f416edd30e0d61af811c8da9fd09567c33b6d9b8","message":"Add note about Bun native support (#1)","createdAt":"2024-04-09T16:21:23Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-05-29T19:27:53.525024Z","updatedAt":"2024-05-29T19:27:53.525024Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000743
        status: 201 Created
        code: 201
        duration: 719.631292ms
[...]
