---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"docker","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0efhmba98ec73bj4e40","service":{"autoDeploy":"no","autoDeployTrigger":"off","branch":"main","createdAt":"2025-05-08T18:32:57.228757Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-d0efhm3a98ec73bj4e3g","id":"crn-d0efhm3a98ec73bj4e3g","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","region":"oregon","runtime":"docker","schedule":"0 0 * * *"},"slug":"some-name-v5bz","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-08T18:32:58.051313Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "10"
            Ratelimit-Reset:
                - "1623"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000846
        status: 201 Created
        code: 201
        duration: 1.738893125s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-d0efhm3a98ec73bj4e3g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-d0efhm3a98ec73bj4e3g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "77"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000847
        status: 200 OK
        code: 200
        duration: 51.418042ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhm3a98ec73bj4e3g/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "154"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000848
        status: 200 OK
        code: 200
        duration: 49.731333ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhm3a98ec73bj4e3g/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "153"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000849
        status: 200 OK
        code: 200
        duration: 48.754042ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-d0efhm3a98ec73bj4e3g
        method: GET
      response:
        body: |
            {"message":"not found: crn-d0efhm3a98ec73bj4e3g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "151"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000851
        status: 404 Not Found
        code: 404
        duration: 111.237916ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhm3a98ec73bj4e3g
        method: GET
      response:
        body: |
            {"autoDeploy":"no","autoDeployTrigger":"off","branch":"main","createdAt":"2025-05-08T18:32:57.228757Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-d0efhm3a98ec73bj4e3g","id":"crn-d0efhm3a98ec73bj4e3g","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","region":"oregon","runtime":"docker","schedule":"0 0 * * *"},"slug":"some-name-v5bz","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-08T18:32:58.051313Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "150"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000852
        status: 200 OK
        code: 200
        duration: 60.249625ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0efhm3a98ec73bj4e3g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0efho3a98ec73bj4e60","commit":{"id":"bca0502a57b3f3a1a935ebdf8e85d0d704038bd3","message":"Fix render.yaml: \"env\" --\u003e \"runtime\" (#3)\n\nPer the `render.yaml` schema, `env` is still supported but is superseded by `runtime`. Using `env` will show a schema error if using the `render.yaml` validator in an IDE like VS Code.\r\n\r\nSee https://docs.render.com/blueprint-spec#runtime","createdAt":"2024-08-14T21:28:24Z"},"status":"build_in_progress","trigger":"api","createdAt":"2025-05-08T18:33:04.835455Z","updatedAt":"2025-05-08T18:33:04.835455Z","startedAt":"2025-05-08T18:33:04.83475Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000881
        status: 201 Created
        code: 201
        duration: 917.555083ms
[...]
