---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeployTrigger":"commit","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"some-name","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"docker","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0ibjicfunbc73fd4h3g","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"main","createdAt":"2025-05-14T15:42:01.471178Z","dashboardUrl":"https://dashboard.staging.render.com/cron/crn-d0ibji4funbc73fd4h30","id":"crn-d0ibji4funbc73fd4h30","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","region":"oregon","runtime":"docker","schedule":"0 0 * * *"},"slug":"some-name-qsvg","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-14T15:42:02.483952Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "12"
            Ratelimit-Reset:
                - "1079"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000814
        status: 201 Created
        code: 201
        duration: 2.232605208s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-d0ibji4funbc73fd4h30
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-d0ibji4funbc73fd4h30"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000815
        status: 200 OK
        code: 200
        duration: 98.022875ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibji4funbc73fd4h30/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000816
        status: 200 OK
        code: 200
        duration: 97.691042ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibji4funbc73fd4h30/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000817
        status: 200 OK
        code: 200
        duration: 94.844875ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-d0ibji4funbc73fd4h30
        method: GET
      response:
        body: |
            {"message":"not found: crn-d0ibji4funbc73fd4h30"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000819
        status: 404 Not Found
        code: 404
        duration: 148.860291ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibji4funbc73fd4h30
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"main","createdAt":"2025-05-14T15:42:01.471178Z","dashboardUrl":"https://dashboard.staging.render.com/cron/crn-d0ibji4funbc73fd4h30","id":"crn-d0ibji4funbc73fd4h30","name":"some-name","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"docker","envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"plan":"starter","region":"oregon","runtime":"docker","schedule":"0 0 * * *"},"slug":"some-name-qsvg","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-14T15:42:02.483952Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000820
        status: 200 OK
        code: 200
        duration: 102.458542ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0ibji4funbc73fd4h30/deploys
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000852
        status: 202 Accepted
        code: 202
        duration: 114.625084ms
[...]
