---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0efhpba98ec73bj4eb0","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T18:33:09.254538Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-d0efhpba98ec73bj4ea0","id":"crn-d0efhpba98ec73bj4ea0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"env-var-test-qzwl","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-08T18:33:09.254538Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "1611"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000903
        status: 201 Created
        code: 201
        duration: 767.8945ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-d0efhpba98ec73bj4ea0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-d0efhpba98ec73bj4ea0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000904
        status: 200 OK
        code: 200
        duration: 51.02325ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhpba98ec73bj4ea0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "360"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000905
        status: 200 OK
        code: 200
        duration: 51.63375ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhpba98ec73bj4ea0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "359"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000906
        status: 200 OK
        code: 200
        duration: 52.194542ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-d0efhpba98ec73bj4ea0
        method: GET
      response:
        body: |
            {"message":"not found: crn-d0efhpba98ec73bj4ea0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "357"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000908
        status: 404 Not Found
        code: 404
        duration: 99.783417ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhpba98ec73bj4ea0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T18:33:09.254538Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-d0efhpba98ec73bj4ea0","id":"crn-d0efhpba98ec73bj4ea0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"env-var-test-qzwl","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-08T18:33:09.254538Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "356"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000909
        status: 200 OK
        code: 200
        duration: 55.949583ms
[...]
    - id: 32
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0efhpba98ec73bj4ea0/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"4XQBJyzF8olocXJhOThlYzczYmo0ZWNn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "94"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000935
        status: 200 OK
        code: 200
        duration: 58.210333ms
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0efhpba98ec73bj4ea0/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"4XQBJyzF8olocXJhOThlYzczYmo0ZWQw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000936
        status: 200 OK
        code: 200
        duration: 58.144666ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0efhpba98ec73bj4ea0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0efhpba98ec73bj4eb0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88b3388ea06c7262e410a3ab5c05dc4088b7b39dea569addd8c30766f4f47440"},"status":"live","trigger":"manual","createdAt":"2025-05-08T18:33:09.447443Z","updatedAt":"2025-05-08T18:33:09.520144Z","startedAt":"2025-05-08T18:33:09.445997Z","finishedAt":"2025-05-08T18:33:09.519536Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "6"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000938
        status: 201 Created
        code: 201
        duration: 323.669875ms
[...]
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhpba98ec73bj4ea0/env-vars?cursor=4XQBJyzF8olocXJhOThlYzczYmo0ZWNn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "329"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000941
        status: 200 OK
        code: 200
        duration: 52.46775ms
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhpba98ec73bj4ea0/secret-files?cursor=4XQBJyzF8olocXJhOThlYzczYmo0ZWQw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "327"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000943
        status: 200 OK
        code: 200
        duration: 48.349833ms
[...]
    - id: 78
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhpba98ec73bj4ea0/env-vars?cursor=4XQBJyzF8oloc2phOThlYzczYmo0ZWZn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "294"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000981
        status: 200 OK
        code: 200
        duration: 49.625209ms
[...]
    - id: 80
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhpba98ec73bj4ea0/secret-files?cursor=4XQBJyzF8oloc2phOThlYzczYmo0ZWdn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "292"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000983
        status: 200 OK
        code: 200
        duration: 51.494792ms
[...]
