---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0ibjlkfunbc73fd4h80","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:42:14.130565Z","dashboardUrl":"https://dashboard.staging.render.com/cron/crn-d0ibjlkfunbc73fd4h70","id":"crn-d0ibjlkfunbc73fd4h70","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"env-var-test-qhde","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-14T15:42:14.130565Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "11"
            Ratelimit-Reset:
                - "1067"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000876
        status: 201 Created
        code: 201
        duration: 1.773621708s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-d0ibjlkfunbc73fd4h70
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-d0ibjlkfunbc73fd4h70"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "45"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000877
        status: 200 OK
        code: 200
        duration: 106.336666ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibjlkfunbc73fd4h70/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "350"
            Ratelimit-Reset:
                - "45"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000878
        status: 200 OK
        code: 200
        duration: 102.898792ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibjlkfunbc73fd4h70/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "349"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000879
        status: 200 OK
        code: 200
        duration: 99.576959ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-d0ibjlkfunbc73fd4h70
        method: GET
      response:
        body: |
            {"message":"not found: crn-d0ibjlkfunbc73fd4h70"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "347"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000881
        status: 404 Not Found
        code: 404
        duration: 167.445125ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibjlkfunbc73fd4h70
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:42:14.130565Z","dashboardUrl":"https://dashboard.staging.render.com/cron/crn-d0ibjlkfunbc73fd4h70","id":"crn-d0ibjlkfunbc73fd4h70","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"env-var-test-qhde","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-14T15:42:14.130565Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "346"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000882
        status: 200 OK
        code: 200
        duration: 104.248541ms
[...]
    - id: 32
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0ibjlkfunbc73fd4h70/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"AUzblRGBAzxqbmNmdW5iYzczZmQ0aDln"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000908
        status: 200 OK
        code: 200
        duration: 103.266333ms
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0ibjlkfunbc73fd4h70/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"AUzblRGBAzxqbmNmdW5iYzczZmQ0aGEw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "91"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000909
        status: 200 OK
        code: 200
        duration: 110.639416ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0ibjlkfunbc73fd4h70/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0ibjnkfunbc73fd4hb0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88b3388ea06c7262e410a3ab5c05dc4088b7b39dea569addd8c30766f4f47440"},"status":"live","trigger":"api","createdAt":"2025-05-14T15:42:22.073217Z","updatedAt":"2025-05-14T15:42:22.136631Z","startedAt":"2025-05-14T15:42:22.07258Z","finishedAt":"2025-05-14T15:42:22.136201Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "6"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000911
        status: 201 Created
        code: 201
        duration: 581.137125ms
[...]
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibjlkfunbc73fd4h70/env-vars?cursor=AUzblRGBAzxqbmNmdW5iYzczZmQ0aDln
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "319"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000914
        status: 200 OK
        code: 200
        duration: 97.229708ms
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibjlkfunbc73fd4h70/secret-files?cursor=AUzblRGBAzxqbmNmdW5iYzczZmQ0aGEw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "317"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000916
        status: 200 OK
        code: 200
        duration: 98.399542ms
[...]
    - id: 78
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibjlkfunbc73fd4h70/env-vars?cursor=AUzblRGBAzxqcGNmdW5iYzczZmQ0aGQw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "284"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000959
        status: 200 OK
        code: 200
        duration: 99.908667ms
[...]
    - id: 80
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibjlkfunbc73fd4h70/secret-files?cursor=AUzblRGBAzxqcGNmdW5iYzczZmQ0aGUw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "282"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000961
        status: 200 OK
        code: 200
        duration: 97.521375ms
[...]
