---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","secretFiles":null,"serviceDetails":{"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","username":""}},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbqs9jievbks45cfb8g","service":{"autoDeploy":"yes","createdAt":"2024-05-29T22:37:26.275347Z","id":"crn-cpbqs9jievbks45cfb7g","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"env-var-test-3vwc","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-05-29T22:37:26.275347Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "19"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001909
        status: 201 Created
        code: 201
        duration: 628.508875ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-cpbqs9jievbks45cfb7g
        method: PATCH
      response:
        body: |
            {"id":"crn-cpbqs9jievbks45cfb7g","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "30"
            Ratelimit-Remaining:
                - "398"
                - "28"
            Ratelimit-Reset:
                - "32"
                - "32"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001910
        status: 200 OK
        code: 200
        duration: 18.159792ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbqs9jievbks45cfb7g/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001911
        status: 200 OK
        code: 200
        duration: 20.531ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbqs9jievbks45cfb7g/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001912
        status: 200 OK
        code: 200
        duration: 20.1575ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbqs9jievbks45cfb7g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T22:37:26.275347Z","id":"crn-cpbqs9jievbks45cfb7g","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"env-var-test-3vwc","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-05-29T22:37:26.275347Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001914
        status: 200 OK
        code: 200
        duration: 25.75725ms
[...]
    - id: 26
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cpbqs9jievbks45cfb7g/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"RC94lLbYFQ9zYWJpZXZia3M0NWNmYmEw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "27"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001935
        status: 200 OK
        code: 200
        duration: 24.131167ms
    - id: 27
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cpbqs9jievbks45cfb7g/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"RC94lLbYFQ9zYWJpZXZia3M0NWNmYmFn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "26"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001936
        status: 200 OK
        code: 200
        duration: 32.553792ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cpbqs9jievbks45cfb7g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbqs9jievbks45cfb8g","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"live","trigger":"manual","createdAt":"2024-05-29T22:37:26.476404Z","updatedAt":"2024-05-29T22:37:26.485514Z","finishedAt":"2024-05-29T22:37:26.485279Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001938
        status: 201 Created
        code: 201
        duration: 217.079375ms
[...]
    - id: 32
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbqs9jievbks45cfb7g/env-vars?cursor=RC94lLbYFQ9zYWJpZXZia3M0NWNmYmEw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "371"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001941
        status: 200 OK
        code: 200
        duration: 22.275375ms
[...]
    - id: 34
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbqs9jievbks45cfb7g/secret-files?cursor=RC94lLbYFQ9zYWJpZXZia3M0NWNmYmFn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "369"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001943
        status: 200 OK
        code: 200
        duration: 25.499833ms
[...]
    - id: 67
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbqs9jievbks45cfb7g/env-vars?cursor=RC94lLbYFQ9zYmJpZXZia3M0NWNmYmQw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "340"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001976
        status: 200 OK
        code: 200
        duration: 21.583792ms
[...]
    - id: 69
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbqs9jievbks45cfb7g/secret-files?cursor=RC94lLbYFQ9zYmJpZXZia3M0NWNmYmUw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "338"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-001978
        status: 200 OK
        code: 200
        duration: 26.154541ms
[...]
