---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2k9mggph6c73ffcvq0","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:52:42.506808Z","dashboardUrl":"https://dashboard.render.com/cron/crn-cu2k9mggph6c73ffcvp0","id":"crn-cu2k9mggph6c73ffcvp0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"env-var-test-vw0d","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-01-13T16:52:42.506808Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "6"
            Ratelimit-Reset:
                - "438"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-092677
        status: 201 Created
        code: 201
        duration: 1.806648292s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-cu2k9mggph6c73ffcvp0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-cu2k9mggph6c73ffcvp0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "85"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-547835
        status: 200 OK
        code: 200
        duration: 129.423666ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9mggph6c73ffcvp0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "256"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-092709
        status: 200 OK
        code: 200
        duration: 103.779625ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9mggph6c73ffcvp0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "255"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-547844
        status: 200 OK
        code: 200
        duration: 93.748042ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-cu2k9mggph6c73ffcvp0
        method: GET
      response:
        body: |
            {"message":"not found: crn-cu2k9mggph6c73ffcvp0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "253"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-547855
        status: 404 Not Found
        code: 404
        duration: 203.751792ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9mggph6c73ffcvp0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:52:42.506808Z","dashboardUrl":"https://dashboard.render.com/cron/crn-cu2k9mggph6c73ffcvp0","id":"crn-cu2k9mggph6c73ffcvp0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"env-var-test-vw0d","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-01-13T16:52:42.506808Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "252"
            Ratelimit-Reset:
                - "15"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-092717
        status: 200 OK
        code: 200
        duration: 101.1395ms
[...]
    - id: 32
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cu2k9mggph6c73ffcvp0/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"f3TDrnEQnBQ5b2xkczc4czczZHVmZnFn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "84"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-548000
        status: 200 OK
        code: 200
        duration: 130.441583ms
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cu2k9mggph6c73ffcvp0/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"f3TDrnEQnBQ5b2dncGg2YzczZmZkMGxn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "83"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-092832
        status: 200 OK
        code: 200
        duration: 135.430875ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cu2k9mggph6c73ffcvp0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2k9oogph6c73ffd0n0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:c375ae41bb29c0615ab18452822fedf1981f8ba7a7b00508b3d901b7ab682947"},"status":"live","trigger":"api","createdAt":"2025-01-13T16:52:51.143492Z","updatedAt":"2025-01-13T16:52:51.188189Z","finishedAt":"2025-01-13T16:52:51.187772Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "3"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-092839
        status: 201 Created
        code: 201
        duration: 632.183375ms
[...]
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9mggph6c73ffcvp0/env-vars?cursor=f3TDrnEQnBQ5b2xkczc4czczZHVmZnFn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "225"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-548035
        status: 200 OK
        code: 200
        duration: 121.064958ms
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9mggph6c73ffcvp0/secret-files?cursor=f3TDrnEQnBQ5b2dncGg2YzczZmZkMGxn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "223"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-548041
        status: 200 OK
        code: 200
        duration: 114.718792ms
[...]
    - id: 78
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9mggph6c73ffcvp0/env-vars?cursor=f3TDrnEQnBQ5cXRkczc4czczZHVmaGcw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-548270
        status: 200 OK
        code: 200
        duration: 121.159459ms
[...]
    - id: 80
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9mggph6c73ffcvp0/secret-files?cursor=f3TDrnEQnBQ5cW9ncGg2YzczZmZkMWQw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-7767dddd75-zqsqf/rtQy8BuN0w-475220
        status: 200 OK
        code: 200
        duration: 109.700291ms
[...]
