---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfi7as8m55c703hl23g","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:34:51.023118Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-crfi7ak8m55c703hl22g","id":"crn-crfi7ak8m55c703hl22g","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"env-var-test-sdm3","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-09T16:34:51.023118Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "9"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000002
        status: 201 Created
        code: 201
        duration: 829.380667ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-crfi7ak8m55c703hl22g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-crfi7ak8m55c703hl22g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9999"
                - "9999"
            Ratelimit-Reset:
                - "8"
                - "8"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000003
        status: 200 OK
        code: 200
        duration: 33.879875ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi7ak8m55c703hl22g/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000004
        status: 200 OK
        code: 200
        duration: 36.521958ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi7ak8m55c703hl22g/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9997"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000005
        status: 200 OK
        code: 200
        duration: 40.689709ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-crfi7ak8m55c703hl22g
        method: GET
      response:
        body: |
            {"message":"not found: crn-crfi7ak8m55c703hl22g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9995"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000007
        status: 404 Not Found
        code: 404
        duration: 34.066042ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi7ak8m55c703hl22g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:34:51.023118Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-crfi7ak8m55c703hl22g","id":"crn-crfi7ak8m55c703hl22g","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"env-var-test-sdm3","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-09T16:34:51.023118Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9994"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000008
        status: 200 OK
        code: 200
        duration: 43.767166ms
[...]
    - id: 32
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crfi7ak8m55c703hl22g/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"Ih-xRG4fuao3YmM4bTU1YzcwM2hsMjVn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000038
        status: 200 OK
        code: 200
        duration: 81.651417ms
    - id: 33
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crfi7ak8m55c703hl22g/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"Ih-xRG4fuao3YmM4bTU1YzcwM2hsMjYw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9997"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000039
        status: 200 OK
        code: 200
        duration: 51.637791ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crfi7ak8m55c703hl22g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfi7as8m55c703hl23g","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"live","trigger":"manual","createdAt":"2024-09-09T16:34:51.220746Z","updatedAt":"2024-09-09T16:34:51.24205Z","finishedAt":"2024-09-09T16:34:51.241423Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000041
        status: 201 Created
        code: 201
        duration: 285.662541ms
[...]
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi7ak8m55c703hl22g/env-vars?cursor=Ih-xRG4fuao3YmM4bTU1YzcwM2hsMjVn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9966"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000044
        status: 200 OK
        code: 200
        duration: 40.3785ms
[...]
    - id: 40
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi7ak8m55c703hl22g/secret-files?cursor=Ih-xRG4fuao3YmM4bTU1YzcwM2hsMjYw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9964"
            Ratelimit-Reset:
                - "5"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000046
        status: 200 OK
        code: 200
        duration: 38.257416ms
[...]
    - id: 78
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi7ak8m55c703hl22g/env-vars?cursor=Ih-xRG4fuao3YzQ4bTU1YzcwM2hsMjhn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9930"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000084
        status: 200 OK
        code: 200
        duration: 40.962417ms
[...]
    - id: 80
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi7ak8m55c703hl22g/secret-files?cursor=Ih-xRG4fuao3YzQ4bTU1YzcwM2hsMjln
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9928"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000086
        status: 200 OK
        code: 200
        duration: 50.5185ms
[...]
