---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"env-var-test","ownerId":"some-owner-id","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbr72ij1k6c738ej9h0","service":{"autoDeploy":"yes","createdAt":"2024-09-04T01:10:34.426222Z","dashboardUrl":"https://dashboard.render.com/cron/crn-crbr72ij1k6c738ej9g0","id":"crn-crbr72ij1k6c738ej9g0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"env-var-test-skon","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-04T01:10:34.426222Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "15"
            Ratelimit-Reset:
                - "2966"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1169800
        status: 201 Created
        code: 201
        duration: 1.930062708s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-crbr72ij1k6c738ej9g0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-crbr72ij1k6c738ej9g0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "342"
                - "93"
            Ratelimit-Reset:
                - "24"
                - "24"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2098324
        status: 200 OK
        code: 200
        duration: 62.492375ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr72ij1k6c738ej9g0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "341"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-518808
        status: 200 OK
        code: 200
        duration: 61.201208ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr72ij1k6c738ej9g0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "340"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1350007
        status: 200 OK
        code: 200
        duration: 113.551333ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr72ij1k6c738ej9g0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-04T01:10:34.426222Z","dashboardUrl":"https://dashboard.render.com/cron/crn-crbr72ij1k6c738ej9g0","id":"crn-crbr72ij1k6c738ej9g0","imagePath":"docker.io/library/nginx:latest","name":"env-var-test","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"env-var-test-skon","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-04T01:10:34.426222Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "338"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-518814
        status: 200 OK
        code: 200
        duration: 114.052417ms
[...]
    - id: 26
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crbr72ij1k6c738ej9g0/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"3v_X7pJvF1g3M3EzZXN1czczOTQ0a2Rn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-518871
        status: 200 OK
        code: 200
        duration: 481.854708ms
    - id: 27
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crbr72ij1k6c738ej9g0/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"3v_X7pJvF1g3M3JxZjB1czczZGZxMDgw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "91"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1350072
        status: 200 OK
        code: 200
        duration: 71.571708ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crbr72ij1k6c738ej9g0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbr7423esus73944keg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"live","trigger":"api","createdAt":"2024-09-04T01:10:40.549973Z","updatedAt":"2024-09-04T01:10:40.756317Z","finishedAt":"2024-09-04T01:10:40.755107Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "6"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-518881
        status: 201 Created
        code: 201
        duration: 1.653418875s
[...]
    - id: 32
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr72ij1k6c738ej9g0/env-vars?cursor=3v_X7pJvF1g3M3EzZXN1czczOTQ0a2Rn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "315"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-518898
        status: 200 OK
        code: 200
        duration: 75.457708ms
[...]
    - id: 34
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr72ij1k6c738ej9g0/secret-files?cursor=3v_X7pJvF1g3M3JxZjB1czczZGZxMDgw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "313"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2745880
        status: 200 OK
        code: 200
        duration: 66.52025ms
[...]
    - id: 67
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr72ij1k6c738ej9g0/env-vars?cursor=3v_X7pJvF1g3NXQ2bDQ3YzczZDhvZ2Vn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "284"
            Ratelimit-Reset:
                - "11"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2098550
        status: 200 OK
        code: 200
        duration: 65.519333ms
[...]
    - id: 69
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr72ij1k6c738ej9g0/secret-files?cursor=3v_X7pJvF1g3NXEzZXN1czczOTQ0a3Uw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "282"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1350260
        status: 200 OK
        code: 200
        duration: 66.232292ms
[...]
