---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":null,"name":"some-cron","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","runtime":"node","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfi53i39eqs702lffog","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-09-09T16:30:06.212102Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-crfi53a39eqs702lffo0","id":"crn-crfi53a39eqs702lffo0","name":"some-cron","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"some-cron-esyn","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-09T16:30:08.848481Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "54"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001278
        status: 201 Created
        code: 201
        duration: 3.240415709s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-crfi53a39eqs702lffo0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-crfi53a39eqs702lffo0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9923"
                - "9994"
            Ratelimit-Reset:
                - "51"
                - "51"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001279
        status: 200 OK
        code: 200
        duration: 17.852792ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi53a39eqs702lffo0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9922"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001280
        status: 200 OK
        code: 200
        duration: 23.5865ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi53a39eqs702lffo0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9921"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001281
        status: 200 OK
        code: 200
        duration: 26.610459ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-crfi53a39eqs702lffo0
        method: GET
      response:
        body: |
            {"message":"not found: crn-crfi53a39eqs702lffo0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9919"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001283
        status: 404 Not Found
        code: 404
        duration: 19.667292ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi53a39eqs702lffo0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-09-09T16:30:06.212102Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-crfi53a39eqs702lffo0","id":"crn-crfi53a39eqs702lffo0","name":"some-cron","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"some-cron-esyn","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-09T16:30:08.848481Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9918"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001284
        status: 200 OK
        code: 200
        duration: 26.700541ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crfi53a39eqs702lffo0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfi54i39eqs702lffqg","commit":{"id":"e7a45cd334016b3c781167c4eaa5ae1a28f1bf22","message":"Upgrade Next to v14.2 (#42)","createdAt":"2024-07-16T15:42:41Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-09T16:30:13.222991Z","updatedAt":"2024-09-09T16:30:13.222991Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "6"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001313
        status: 201 Created
        code: 201
        duration: 2.518651292s
[...]
