---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":null,"name":"some-cron","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","runtime":"node","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0efhj3a98ec73bj4du0","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-05-08T18:32:44.212509Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-d0efhira98ec73bj4dtg","id":"crn-d0efhira98ec73bj4dtg","name":"some-cron","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","runtime":"node","schedule":"0 0 * * *"},"slug":"some-cron-2xd5","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-08T18:32:44.984276Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "11"
            Ratelimit-Reset:
                - "1636"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000789
        status: 201 Created
        code: 201
        duration: 1.449578125s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-d0efhira98ec73bj4dtg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-d0efhira98ec73bj4dtg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "82"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000790
        status: 200 OK
        code: 200
        duration: 54.790792ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhira98ec73bj4dtg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "203"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000791
        status: 200 OK
        code: 200
        duration: 50.148834ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhira98ec73bj4dtg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "202"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000792
        status: 200 OK
        code: 200
        duration: 54.320417ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-d0efhira98ec73bj4dtg
        method: GET
      response:
        body: |
            {"message":"not found: crn-d0efhira98ec73bj4dtg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "200"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000794
        status: 404 Not Found
        code: 404
        duration: 115.243542ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhira98ec73bj4dtg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-05-08T18:32:44.212509Z"[...]
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0efhira98ec73bj4dtg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0efhkra98ec73bj4e00","commit":{"id":"a0f64db8bea168f884fcc6b95ec4f795b4b850f3","message":"Upgrade Next to v15 (#48)","createdAt":"2024-11-11T18:49:36Z"},"status":"build_in_progress","trigger":"api","createdAt":"2025-05-08T18:32:52.351048Z","updatedAt":"2025-05-08T18:32:52.351048Z","startedAt":"2025-05-08T18:32:52.350403Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "2"
            Ratelimit-Reset:
                - "8"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000824
        status: 201 Created
        code: 201
        duration: 894.400458ms
[...]
