---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":null,"name":"some-cron","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","runtime":"node","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2k9f0gph6c73ffcsv0","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-01-13T16:52:12.134585Z","dashboardUrl":"https://dashboard.render.com/cron/crn-cu2k9eogph6c73ffcsrg","id":"crn-cu2k9eogph6c73ffcsrg","name":"some-cron","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","runtime":"node","schedule":"0 0 * * *"},"slug":"some-cron-8i7v","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-01-13T16:52:13.115028Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "469"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-092057
        status: 201 Created
        code: 201
        duration: 2.271789791s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-cu2k9eogph6c73ffcsrg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-cu2k9eogph6c73ffcsrg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "46"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-547041
        status: 200 OK
        code: 200
        duration: 120.689917ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9eogph6c73ffcsrg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "354"
            Ratelimit-Reset:
                - "46"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-092103
        status: 200 OK
        code: 200
        duration: 91.657041ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9eogph6c73ffcsrg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "353"
            Ratelimit-Reset:
                - "46"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-547050
        status: 200 OK
        code: 200
        duration: 124.529667ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-cu2k9eogph6c73ffcsrg
        method: GET
      response:
        body: |
            {"message":"not found: crn-cu2k9eogph6c73ffcsrg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "351"
            Ratelimit-Reset:
                - "46"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-547058
        status: 404 Not Found
        code: 404
        duration: 228.566833ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9eogph6c73ffcsrg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-01-13T16:52:12.134585Z","dashboardUrl":"https://dashboard.render.com/cron/crn-cu2k9eogph6c73ffcsrg","id":"crn-cu2k9eogph6c73ffcsrg","name":"some-cron","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","runtime":"node","schedule":"0 0 * * *"},"slug":"some-cron-8i7v","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-01-13T16:52:13.115028Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "350"
            Ratelimit-Reset:
                - "45"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-092120
        status: 200 OK
        code: 200
        duration: 110.566916ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cu2k9eogph6c73ffcsrg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2k9hlds78s73dufcd0","commit":{"id":"a0f64db8bea168f884fcc6b95ec4f795b4b850f3","message":"Upgrade Next to v15 (#48)","createdAt":"2024-11-11T18:49:36Z"},"status":"build_in_progress","trigger":"api","createdAt":"2025-01-13T16:52:22.882899Z","updatedAt":"2025-01-13T16:52:22.882899Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "7"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-547269
        status: 201 Created
        code: 201
        duration: 1.473095417s
[...]
