---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":null,"name":"some-cron","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","secretFiles":null,"serviceDetails":{"env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbo2acolt5qq8i64so0","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-05-29T19:25:29.114329Z","id":"crn-cpbo2a4olt5qq8i64sng","name":"some-cron","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"some-cron-gd5u","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-05-29T19:25:29.701316Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "163"
            Ratelimit-Reset:
                - "2071"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000541
        status: 201 Created
        code: 201
        duration: 1.253450166s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-cpbo2a4olt5qq8i64sng
        method: PATCH
      response:
        body: |
            {"id":"crn-cpbo2a4olt5qq8i64sng","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
                - "500"
            Ratelimit-Remaining:
                - "93"
                - "444"
            Ratelimit-Reset:
                - "28"
                - "28"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000573
        status: 200 OK
        code: 200
        duration: 53.3245ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo2a4olt5qq8i64sng/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000575
        status: 200 OK
        code: 200
        duration: 43.167083ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo2a4olt5qq8i64sng/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "91"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000577
        status: 200 OK
        code: 200
        duration: 39.529833ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo2a4olt5qq8i64sng
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-05-29T19:25:29.114329Z","id":"crn-cpbo2a4olt5qq8i64sng","name":"some-cron","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"some-cron-gd5u","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-05-29T19:25:29.701316Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "89"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000579
        status: 200 OK
        code: 200
        duration: 53.682167ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cpbo2a4olt5qq8i64sng/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbo2bsolt5qq8i64t7g","commit":{"id":"493ff91c6d6ce45b07e75e4386c68760cefef7c3","message":"Add instructions for deploying as static site (#39)","createdAt":"2024-03-15T20:08:29Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-05-29T19:25:36.160585Z","updatedAt":"2024-05-29T19:25:36.160585Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "2"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000624
        status: 201 Created
        code: 201
        duration: 692.538708ms
[...]
