---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":null,"name":"some-cron","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","runtime":"node","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0ibjf4funbc73fd4gvg","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-05-14T15:41:48.149835Z","dashboardUrl":"https://dashboard.staging.render.com/cron/crn-d0ibjesfunbc73fd4gv0","id":"crn-d0ibjesfunbc73fd4gv0","name":"some-cron","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","runtime":"node","schedule":"0 0 * * *"},"slug":"some-cron-m2e3","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-14T15:41:49.17781Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "13"
            Ratelimit-Reset:
                - "1093"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000755
        status: 201 Created
        code: 201
        duration: 2.329874459s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-d0ibjesfunbc73fd4gv0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-d0ibjesfunbc73fd4gv0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "82"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000756
        status: 200 OK
        code: 200
        duration: 99.917292ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibjesfunbc73fd4gv0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "201"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000757
        status: 200 OK
        code: 200
        duration: 96.056708ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibjesfunbc73fd4gv0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "200"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000758
        status: 200 OK
        code: 200
        duration: 96.336833ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-d0ibjesfunbc73fd4gv0
        method: GET
      response:
        body: |
            {"message":"not found: crn-d0ibjesfunbc73fd4gv0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "198"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000761
        status: 404 Not Found
        code: 404
        duration: 140.711833ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibjesfunbc73fd4gv0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2025-05-14T15:41:48.149835Z"[...]
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0ibjesfunbc73fd4gv0/deploys
        method: POST
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "2"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000792
        status: 202 Accepted
        code: 202
        duration: 113.701875ms
[...]
