---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":null,"name":"some-cron","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","runtime":"node","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbr6nl6l47c73d8oe00","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-09-04T01:09:50.111261Z","dashboardUrl":"https://dashboard.render.com/cron/crn-crbr6nd6l47c73d8odv0","id":"crn-crbr6nd6l47c73d8odv0","name":"some-cron","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"some-cron-nwmb","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-04T01:09:53.689854Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "17"
            Ratelimit-Reset:
                - "3010"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2097543
        status: 201 Created
        code: 201
        duration: 4.474708417s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-crbr6nd6l47c73d8odv0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"crn-crbr6nd6l47c73d8odv0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "252"
                - "82"
            Ratelimit-Reset:
                - "6"
                - "6"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1169114
        status: 200 OK
        code: 200
        duration: 59.955208ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr6nd6l47c73d8odv0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "251"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1169116
        status: 200 OK
        code: 200
        duration: 56.339708ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr6nd6l47c73d8odv0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "250"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1169117
        status: 200 OK
        code: 200
        duration: 56.130458ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr6nd6l47c73d8odv0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-09-04T01:09:50.111261Z","dashboardUrl":"https://dashboard.render.com/cron/crn-crbr6nd6l47c73d8odv0","id":"crn-crbr6nd6l47c73d8odv0","name":"some-cron","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"some-cron-nwmb","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-04T01:09:53.689854Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "248"
            Ratelimit-Reset:
                - "5"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-518250
        status: 200 OK
        code: 200
        duration: 97.575917ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crbr6nd6l47c73d8odv0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbr6pa3esus73944ij0","commit":{"id":"e7a45cd334016b3c781167c4eaa5ae1a28f1bf22","message":"Upgrade Next to v14.2 (#42)","createdAt":"2024-07-16T15:42:41Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-04T01:10:00.539993Z","updatedAt":"2024-09-04T01:10:00.539993Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "2"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-518302
        status: 201 Created
        code: 201
        duration: 3.670415125s
[...]
