---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"my-cron-job","ownerId":"some-owner-id","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0ibj7cfunbc73fd4gng","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:41:17.249286Z","dashboardUrl":"https://dashboard.staging.render.com/cron/crn-d0ibj7cfunbc73fd4gmg","id":"crn-d0ibj7cfunbc73fd4gmg","imagePath":"docker.io/library/nginx:latest","name":"my-cron-job","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"my-cron-job-q3fz","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-14T15:41:17.249286Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "15"
            Ratelimit-Reset:
                - "1123"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000595
        status: 201 Created
        code: 201
        duration: 1.448623291s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-d0ibj7cfunbc73fd4gmg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"crn-d0ibj7cfunbc73fd4gmg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000596
        status: 200 OK
        code: 200
        duration: 117.922292ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibj7cfunbc73fd4gmg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "324"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000597
        status: 200 OK
        code: 200
        duration: 95.425417ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibj7cfunbc73fd4gmg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "323"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000598
        status: 200 OK
        code: 200
        duration: 94.522166ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-d0ibj7cfunbc73fd4gmg
        method: GET
      response:
        body: |
            {"message":"not found: crn-d0ibj7cfunbc73fd4gmg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "321"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000600
        status: 404 Not Found
        code: 404
        duration: 154.192541ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0ibj7cfunbc73fd4gmg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-14T15:41:17.249286Z","dashboardUrl":"https://dashboard.staging.render.com/cron/crn-d0ibj7cfunbc73fd4gmg","id":"crn-d0ibj7cfunbc73fd4gmg","imagePath":"docker.io/library/nginx:latest","name":"my-cron-job","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"my-cron-job-q3fz","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-14T15:41:17.249286Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "320"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000601
        status: 200 OK
        code: 200
        duration: 103.765834ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0ibj7cfunbc73fd4gmg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0ibj9cfunbc73fd4gpg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88b3388ea06c7262e410a3ab5c05dc4088b7b39dea569addd8c30766f4f47440"},"status":"live","trigger":"api","createdAt":"2025-05-14T15:41:25.045855Z","updatedAt":"2025-05-14T15:41:25.097507Z","startedAt":"2025-05-14T15:41:25.045338Z","finishedAt":"2025-05-14T15:41:25.097009Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "6"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-87485677b-zqlg6/d2FZydMAwM-000630
        status: 201 Created
        code: 201
        duration: 544.709334ms
[...]
