---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"my-cron-job","ownerId":"some-owner-id","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfi52239eqs702lffk0","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:30:00.597305Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-crfi52239eqs702lffj0","id":"crn-crfi52239eqs702lffj0","imagePath":"docker.io/library/nginx:latest","name":"my-cron-job","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"my-cron-job-vicr","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-09T16:30:00.597305Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001196
        status: 201 Created
        code: 201
        duration: 581.704833ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-crfi52239eqs702lffj0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"crn-crfi52239eqs702lffj0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9999"
                - "9999"
            Ratelimit-Reset:
                - "59"
                - "59"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001197
        status: 200 OK
        code: 200
        duration: 20.516375ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi52239eqs702lffj0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001198
        status: 200 OK
        code: 200
        duration: 23.121709ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi52239eqs702lffj0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9997"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001199
        status: 200 OK
        code: 200
        duration: 22.440834ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-crfi52239eqs702lffj0
        method: GET
      response:
        body: |
            {"message":"not found: crn-crfi52239eqs702lffj0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9995"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001201
        status: 404 Not Found
        code: 404
        duration: 18.539125ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crfi52239eqs702lffj0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:30:00.597305Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-crfi52239eqs702lffj0","id":"crn-crfi52239eqs702lffj0","imagePath":"docker.io/library/nginx:latest","name":"my-cron-job","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"my-cron-job-vicr","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-09T16:30:00.597305Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9994"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001202
        status: 200 OK
        code: 200
        duration: 40.744334ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crfi52239eqs702lffj0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfi52q39eqs702lffm0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"live","trigger":"api","createdAt":"2024-09-09T16:30:03.219043Z","updatedAt":"2024-09-09T16:30:03.226311Z","finishedAt":"2024-09-09T16:30:03.22607Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-76dcfc777b-j4kxq/nqfTj1kSz7-001231
        status: 201 Created
        code: 201
        duration: 243.108667ms
[...]
