---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"my-cron-job","ownerId":"some-owner-id","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbr6jaj1k6c738ej6hg","service":{"autoDeploy":"yes","createdAt":"2024-09-04T01:09:32.868507Z","dashboardUrl":"https://dashboard.render.com/cron/crn-crbr6j2j1k6c738ej6f0","id":"crn-crbr6j2j1k6c738ej6f0","imagePath":"docker.io/library/nginx:latest","name":"my-cron-job","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"my-cron-job-2qx7","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-04T01:09:32.868507Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "18"
            Ratelimit-Reset:
                - "3028"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1168771
        status: 201 Created
        code: 201
        duration: 1.968997583s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-crbr6j2j1k6c738ej6f0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"crn-crbr6j2j1k6c738ej6f0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "313"
                - "87"
            Ratelimit-Reset:
                - "26"
                - "26"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1348841
        status: 200 OK
        code: 200
        duration: 75.77575ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr6j2j1k6c738ej6f0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "312"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2097301
        status: 200 OK
        code: 200
        duration: 65.659042ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr6j2j1k6c738ej6f0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "311"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3960872
        status: 200 OK
        code: 200
        duration: 71.655959ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-crbr6j2j1k6c738ej6f0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-04T01:09:32.868507Z","dashboardUrl":"https://dashboard.render.com/cron/crn-crbr6j2j1k6c738ej6f0","id":"crn-crbr6j2j1k6c738ej6f0","imagePath":"docker.io/library/nginx:latest","name":"my-cron-job","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"my-cron-job-2qx7","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-09-04T01:09:32.868507Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "309"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1348846
        status: 200 OK
        code: 200
        duration: 95.551333ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-crbr6j2j1k6c738ej6f0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbr6kjqf0us73dfpsh0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"live","trigger":"api","createdAt":"2024-09-04T01:09:38.050021Z","updatedAt":"2024-09-04T01:09:38.067322Z","finishedAt":"2024-09-04T01:09:38.067006Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "4"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1348914
        status: 201 Created
        code: 201
        duration: 672.606792ms
[...]
