---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"my-cron-job","ownerId":"some-owner-id","secretFiles":null,"serviceDetails":{"env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","username":""}},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbo27colt5qq8i64rvg","service":{"autoDeploy":"yes","createdAt":"2024-05-29T19:25:16.927419Z","id":"crn-cpbo274olt5qq8i64ru0","imagePath":"docker.io/library/nginx:latest","name":"my-cron-job","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"my-cron-job-xe9n","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-05-29T19:25:16.927419Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "166"
            Ratelimit-Reset:
                - "2083"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000374
        status: 201 Created
        code: 201
        duration: 744.19025ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-cpbo274olt5qq8i64ru0
        method: PATCH
      response:
        body: |
            {"id":"crn-cpbo274olt5qq8i64ru0","notificationsToSend":"all","previewNotificationsEnabled":"true","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
                - "500"
            Ratelimit-Remaining:
                - "258"
                - "463"
            Ratelimit-Reset:
                - "41"
                - "41"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000387
        status: 200 OK
        code: 200
        duration: 58.643833ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo274olt5qq8i64ru0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "257"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000388
        status: 200 OK
        code: 200
        duration: 54.072459ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo274olt5qq8i64ru0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "256"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000389
        status: 200 OK
        code: 200
        duration: 45.973959ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cpbo274olt5qq8i64ru0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-29T19:25:16.927419Z","id":"crn-cpbo274olt5qq8i64ru0","imagePath":"docker.io/library/nginx:latest","name":"my-cron-job","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","schedule":"0 0 * * *"},"slug":"my-cron-job-xe9n","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2024-05-29T19:25:16.927419Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
            Ratelimit-Remaining:
                - "254"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000392
        status: 200 OK
        code: 200
        duration: 60.957166ms
[...]
    - id: 29
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cpbo274olt5qq8i64ru0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbo27colt5qq8i64rvg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"live","trigger":"manual","createdAt":"2024-05-29T19:25:17.179642Z","updatedAt":"2024-05-29T19:25:17.208183Z","finishedAt":"2024-05-29T19:25:17.207241Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "4"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-79b88fd555-kb4hz/Xeo48y3RKV-000453
        status: 201 Created
        code: 201
        duration: 609.415959ms
[...]
