---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"my-cron-job","ownerId":"some-owner-id","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0efhbra98ec73bj4djg","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T18:32:15.21546Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-d0efhbra98ec73bj4dig","id":"crn-d0efhbra98ec73bj4dig","imagePath":"docker.io/library/nginx:latest","name":"my-cron-job","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"my-cron-job-u6xp","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-08T18:32:15.21546Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "13"
            Ratelimit-Reset:
                - "1665"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000650
        status: 201 Created
        code: 201
        duration: 699.751792ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-d0efhbra98ec73bj4dig
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"crn-d0efhbra98ec73bj4dig"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000651
        status: 200 OK
        code: 200
        duration: 62.196875ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhbra98ec73bj4dig/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "326"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000652
        status: 200 OK
        code: 200
        duration: 57.321791ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhbra98ec73bj4dig/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "325"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000653
        status: 200 OK
        code: 200
        duration: 52.457333ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-d0efhbra98ec73bj4dig
        method: GET
      response:
        body: |
            {"message":"not found: crn-d0efhbra98ec73bj4dig"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "323"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000655
        status: 404 Not Found
        code: 404
        duration: 113.533041ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-d0efhbra98ec73bj4dig
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","createdAt":"2025-05-08T18:32:15.21546Z","dashboardUrl":"http://dashboard.render.localhost:3000/cron/crn-d0efhbra98ec73bj4dig","id":"crn-d0efhbra98ec73bj4dig","imagePath":"docker.io/library/nginx:latest","name":"my-cron-job","notifyOnFail":"notify","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"my-cron-job-u6xp","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-05-08T18:32:15.21546Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "322"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000656
        status: 200 OK
        code: 200
        duration: 62.408ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-d0efhbra98ec73bj4dig/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0efhbra98ec73bj4djg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88b3388ea06c7262e410a3ab5c05dc4088b7b39dea569addd8c30766f4f47440"},"status":"live","trigger":"manual","createdAt":"2025-05-08T18:32:15.399575Z","updatedAt":"2025-05-08T18:32:15.475908Z","startedAt":"2025-05-08T18:32:15.398814Z","finishedAt":"2025-05-08T18:32:15.475289Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "6"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-56f8d88854-4xbn5/i5Qvf0l7V3-000685
        status: 201 Created
        code: 201
        duration: 306.315625ms
[...]
