---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"my-cron-job","ownerId":"some-owner-id","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":"","registryCredential":{"id":"","name":"","registry":"","updatedAt":"0001-01-01T00:00:00Z","username":""}},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"type":"cron_job"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cu2k9adds78s73duf7cg","service":{"autoDeploy":"yes","createdAt":"2025-01-13T16:51:52.63079Z","dashboardUrl":"https://dashboard.render.com/cron/crn-cu2k9a5ds78s73duf6o0","id":"crn-cu2k9a5ds78s73duf6o0","imagePath":"docker.io/library/nginx:latest","name":"my-cron-job","notifyOnFail":"default","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"my-cron-job-7bvy","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-01-13T16:51:52.63079Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "488"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-546488
        status: 201 Created
        code: 201
        duration: 1.881934625s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"all","previewNotificationsEnabled":"true"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/crn-cu2k9a5ds78s73duf6o0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"all","previewNotificationsEnabled":"true","serviceId":"crn-cu2k9a5ds78s73duf6o0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "81"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091701
        status: 200 OK
        code: 200
        duration: 105.391916ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9a5ds78s73duf6o0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "273"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-546536
        status: 200 OK
        code: 200
        duration: 107.12525ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9a5ds78s73duf6o0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "272"
            Ratelimit-Reset:
                - "6"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091707
        status: 200 OK
        code: 200
        duration: 94.337833ms
[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/crn-cu2k9a5ds78s73duf6o0
        method: GET
      response:
        body: |
            {"message":"not found: crn-cu2k9a5ds78s73duf6o0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "270"
            Ratelimit-Reset:
                - "5"
            Render-Request-Id:
                - api-7767dddd75-5szt8/zXmamFU14n-091711
        status: 404 Not Found
        code: 404
        duration: 186.682542ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/crn-cu2k9a5ds78s73duf6o0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2025-01-13T16:51:52.63079Z","dashboardUrl":"https://dashboard.render.com/cron/crn-cu2k9a5ds78s73duf6o0","id":"crn-cu2k9a5ds78s73duf6o0","imagePath":"docker.io/library/nginx:latest","name":"my-cron-job","notifyOnFail":"notify","ownerId":"tea-cspvinogph6c73ft00h0","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"plan":"starter","region":"oregon","runtime":"image","schedule":"0 0 * * *"},"slug":"my-cron-job-7bvy","suspended":"not_suspended","suspenders":[],"type":"cron_job","updatedAt":"2025-01-13T16:51:52.63079Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "269"
            Ratelimit-Reset:
                - "5"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-546547
        status: 200 OK
        code: 200
        duration: 191.447208ms
[...]
    - id: 35
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/crn-cu2k9a5ds78s73duf6o0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cu2k9cdds78s73duf8s0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:c375ae41bb29c0615ab18452822fedf1981f8ba7a7b00508b3d901b7ab682947"},"status":"live","trigger":"api","createdAt":"2025-01-13T16:52:01.815569Z","updatedAt":"2025-01-13T16:52:01.836807Z","finishedAt":"2025-01-13T16:52:01.836291Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-7767dddd75-q8jrz/09gDytFBRG-546724
        status: 201 Created
        code: 201
        duration: 599.661708ms
[...]
