---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/owners/some-owner-id
        method: PATCH
      response:
        body: |
            {"emailEnabled":true,"notificationsToSend":"failure","ownerId":"some-owner-id","previewNotificationsEnabled":false,"slackEnabled":false}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "500"
                - "500"
            Ratelimit-Remaining:
                - "499"
                - "499"
            Ratelimit-Reset:
                - "24"
                - "24"
            Render-Request-Id:
                - api-79b88fd555-m465x/0AgflQbxqy-000540
        status: 200 OK
        code: 200
        duration: 68.717041ms
[...]
