---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-09T16:46:23.132869Z","environmentIds":["evm-crficns8m55c703hl57g"],"id":"prj-crficns8m55c703hl570","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-09T16:46:23.132869Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9981"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000587
        status: 201 Created
        code: 201
        duration: 84.602875ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crficns8m55c703hl57g
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crficns8m55c703hl57g","name":"prod","projectId":"prj-crficns8m55c703hl570","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9885"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000589
        status: 200 OK
        code: 200
        duration: 38.305583ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"updated-static-site","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","headers":[],"previews":{},"publishPath":"public","pullRequestPreviewsEnabled":"no","routes":null},"type":"static_site"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfico48m55c703hl59g","service":{"autoDeploy":"no","branch":"main","createdAt":"2024-09-09T16:46:23.772734Z","dashboardUrl":"http://dashboard.render.localhost:3000/static/srv-crficns8m55c703hl580","id":"srv-crficns8m55c703hl580","name":"updated-static-site","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","buildPlan":"starter","previews":{"generation":"off"},"publishPath":"public","pullRequestPreviewsEnabled":"no","url":"https://updated-static-site.localhost.onrender.com:9443"},"slug":"updated-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-09-09T16:46:26.662891Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000588
        status: 201 Created
        code: 201
        duration: 3.582808667s
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crficns8m55c703hl580
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crficns8m55c703hl580"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9884"
                - "9980"
            Ratelimit-Reset:
                - "33"
                - "33"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000590
        status: 200 OK
        code: 200
        duration: 40.660666ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficns8m55c703hl580/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9883"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000591
        status: 200 OK
        code: 200
        duration: 40.906708ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficns8m55c703hl580/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9882"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000592
        status: 200 OK
        code: 200
        duration: 40.377541ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficns8m55c703hl580/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9881"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000593
        status: 200 OK
        code: 200
        duration: 34.371625ms
[...]
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crficns8m55c703hl580
        method: GET
      response:
        body: |
            {"message":"not found: srv-crficns8m55c703hl580"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9879"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000595
        status: 404 Not Found
        code: 404
        duration: 33.931ms
[...]
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficns8m55c703hl580/routes?cursor=&limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9873"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000601
        status: 200 OK
        code: 200
        duration: 38.48ms
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficns8m55c703hl580/headers?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9872"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000602
        status: 200 OK
        code: 200
        duration: 32.977167ms
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficns8m55c703hl580
        method: GET
      response:
        body: |
            {"autoDeploy":"no","branch":"main","createdAt":"2024-09-09T16:46:23.772734Z","dashboardUrl":"http://dashboard.render.localhost:3000/static/srv-crficns8m55c703hl580","id":"srv-crficns8m55c703hl580","name":"updated-static-site","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","buildPlan":"starter","previews":{"generation":"off"},"publishPath":"public","pullRequestPreviewsEnabled":"no","url":"https://updated-static-site.localhost.onrender.com:9443"},"slug":"updated-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-09-09T16:46:26.662891Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9870"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000604
        status: 200 OK
        code: 200
        duration: 43.340792ms
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crficns8m55c703hl570
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-09T16:46:23.132869Z","environmentIds":["evm-crficns8m55c703hl57g"],"id":"prj-crficns8m55c703hl570","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-09T16:46:23.132869Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9871"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000603
        status: 200 OK
        code: 200
        duration: 67.445125ms
[...]
