---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","networkIsolationEnabled":false,"protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2025-05-08T20:58:06.428925Z","environmentIds":["evm-d0ehlnjif6oc7397dukg"],"id":"prj-d0ehlnjif6oc7397duk0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"lizhi's workspace","type":"team"},"updatedAt":"2025-05-08T20:58:06.428925Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "90"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000484
        status: 201 Created
        code: 201
        duration: 194.636958ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d0ehlnjif6oc7397dukg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d0ehlnjif6oc7397dukg","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d0ehlnjif6oc7397duk0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "383"
            Ratelimit-Reset:
                - "53"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000486
        status: 200 OK
        code: 200
        duration: 97.953542ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"updated-static-site","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","headers":[],"previews":{},"publishPath":"public","pullRequestPreviewsEnabled":"no","routes":null},"type":"static_site"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0ehlo3if6oc7397dumg","service":{"autoDeploy":"no","autoDeployTrigger":"off","branch":"main","createdAt":"2025-05-08T20:58:07.724167Z","dashboardUrl":"https://dashboard.staging.render.com/static/srv-d0ehlnjif6oc7397dul0","id":"srv-d0ehlnjif6oc7397dul0","name":"updated-static-site","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","buildPlan":"starter","previews":{"generation":"off"},"publishPath":"public","pullRequestPreviewsEnabled":"no","url":"https://updated-static-site.onrender-staging.com"},"slug":"updated-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2025-05-08T20:58:09.049016Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "0"
            Ratelimit-Reset:
                - "113"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000485
        status: 201 Created
        code: 201
        duration: 2.565915291s
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-d0ehlnjif6oc7397dul0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-d0ehlnjif6oc7397dul0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "89"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000488
        status: 200 OK
        code: 200
        duration: 104.3105ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehlnjif6oc7397dul0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "382"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000489
        status: 200 OK
        code: 200
        duration: 99.928666ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehlnjif6oc7397dul0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "381"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000490
        status: 200 OK
        code: 200
        duration: 112.257416ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehlnjif6oc7397dul0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "380"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000491
        status: 200 OK
        code: 200
        duration: 103.456542ms
[...]
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0ehlnjif6oc7397dul0
        method: GET
      response:
        body: |
            {"message":"not found: srv-d0ehlnjif6oc7397dul0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "378"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000493
        status: 404 Not Found
        code: 404
        duration: 169.407708ms
[...]
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehlnjif6oc7397dul0/routes?cursor=&limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "372"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000499
        status: 200 OK
        code: 200
        duration: 101.192041ms
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehlnjif6oc7397dul0/headers?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "371"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000500
        status: 200 OK
        code: 200
        duration: 99.321167ms
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-d0ehlnjif6oc7397duk0
        method: GET
      response:
        body: |
            {"createdAt":"2025-05-08T20:58:06.428925Z","environmentIds":["evm-d0ehlnjif6oc7397dukg"],"id":"prj-d0ehlnjif6oc7397duk0","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"lizhi's workspace","type":"team"},"updatedAt":"2025-05-08T20:58:06.428925Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "370"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000501
        status: 200 OK
        code: 200
        duration: 170.6865ms
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehlnjif6oc7397dul0
        method: GET
      response:
        body: |
            {"autoDeploy":"no","autoDeployTrigger":"off","branch":"main","createdAt":"2025-05-08T20:58:07.724167Z","dashboardUrl":"https://dashboard.staging.render.com/static/srv-d0ehlnjif6oc7397dul0","id":"srv-d0ehlnjif6oc7397dul0","name":"updated-static-site","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","buildPlan":"starter","previews":{"generation":"off"},"publishPath":"public","pullRequestPreviewsEnabled":"no","url":"https://updated-static-site.onrender-staging.com"},"slug":"updated-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2025-05-08T20:58:09.049016Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "369"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000502
        status: 200 OK
        code: 200
        duration: 100.344083ms
[...]
