---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-04T00:04:26.993843Z","environmentIds":["evm-crbq82i3esus7393up20"],"id":"prj-crbq82i3esus7393up1g","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-04T00:04:26.993843Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "81"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469879
        status: 201 Created
        code: 201
        duration: 115.0735ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbq82i3esus7393up20
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbq82i3esus7393up20","name":"prod","projectId":"prj-crbq82i3esus7393up1g","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "299"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2681487
        status: 200 OK
        code: 200
        duration: 74.588916ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"updated-static-site","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","headers":[],"previews":{},"publishPath":"public","pullRequestPreviewsEnabled":"no","routes":null},"type":"static_site"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbq833tq21c73cln4lg","service":{"autoDeploy":"no","branch":"main","createdAt":"2024-09-04T00:04:28.027247Z","dashboardUrl":"https://dashboard.render.com/static/srv-crbq82rtq21c73cln4j0","id":"srv-crbq82rtq21c73cln4j0","name":"updated-static-site","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","buildPlan":"starter","previews":{"generation":"off"},"publishPath":"public","pullRequestPreviewsEnabled":"no","url":"https://updated-static-site.onrender.com"},"slug":"updated-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-09-04T00:04:32.358508Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "14"
            Ratelimit-Reset:
                - "3333"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3899833
        status: 201 Created
        code: 201
        duration: 5.438998458s
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbq82rtq21c73cln4j0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crbq82rtq21c73cln4j0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "298"
                - "80"
            Ratelimit-Reset:
                - "27"
                - "27"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1538546
        status: 200 OK
        code: 200
        duration: 233.664917ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq82rtq21c73cln4j0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "297"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469930
        status: 200 OK
        code: 200
        duration: 58.769833ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq82rtq21c73cln4j0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "296"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2681588
        status: 200 OK
        code: 200
        duration: 62.543833ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq82rtq21c73cln4j0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "295"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3899936
        status: 200 OK
        code: 200
        duration: 65.957833ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq82rtq21c73cln4j0/routes?cursor=&limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "289"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469937
        status: 200 OK
        code: 200
        duration: 271.837417ms
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq82rtq21c73cln4j0/headers?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "288"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2681600
        status: 200 OK
        code: 200
        duration: 63.202208ms
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq82rtq21c73cln4j0
        method: GET
      response:
        body: |
            {"autoDeploy":"no","branch":"main","createdAt":"2024-09-04T00:04:28.027247Z","dashboardUrl":"https://dashboard.render.com/static/srv-crbq82rtq21c73cln4j0","id":"srv-crbq82rtq21c73cln4j0","name":"updated-static-site","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","buildPlan":"starter","previews":{"generation":"off"},"publishPath":"public","pullRequestPreviewsEnabled":"no","url":"https://updated-static-site.onrender.com"},"slug":"updated-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-09-04T00:04:32.358508Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "286"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1538571
        status: 200 OK
        code: 200
        duration: 74.507709ms
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crbq82i3esus7393up1g
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-04T00:04:26.993843Z","environmentIds":["evm-crbq82i3esus7393up20"],"id":"prj-crbq82i3esus7393up1g","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-04T00:04:26.993843Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "287"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3899956
        status: 200 OK
        code: 200
        duration: 118.530959ms
[...]
