---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-30T23:55:41.14625Z","environmentIds":["evm-cpch3vbbmnls706f14d0"],"id":"prj-cpch3vbbmnls706f14cg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"GCP","type":"team"},"updatedAt":"2024-05-30T23:55:41.14625Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9981"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001543
        status: 201 Created
        code: 201
        duration: 67.767292ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpch3vbbmnls706f14d0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpch3vbbmnls706f14d0","name":"prod","projectId":"prj-cpch3vbbmnls706f14cg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39899"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001545
        status: 200 OK
        code: 200
        duration: 53.540791ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"updated-static-site","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","headers":[],"publishPath":"public","pullRequestPreviewsEnabled":"no","routes":null},"type":"static_site"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpch3vjbmnls706f14fg","service":{"autoDeploy":"no","branch":"main","createdAt":"2024-05-30T23:55:41.792033Z","id":"srv-cpch3vbbmnls706f14dg","name":"updated-static-site","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","buildPlan":"starter","publishPath":"public","pullRequestPreviewsEnabled":"no","url":"https://updated-static-site.localhost.onrender.com:9443"},"slug":"updated-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-05-30T23:55:42.8736Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "988"
            Ratelimit-Reset:
                - "258"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001544
        status: 201 Created
        code: 201
        duration: 1.78338925s
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpch3vbbmnls706f14dg
        method: PATCH
      response:
        body: |
            {"id":"srv-cpch3vbbmnls706f14dg","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
                - "10000"
            Ratelimit-Remaining:
                - "39898"
                - "9980"
            Ratelimit-Reset:
                - "17"
                - "17"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001546
        status: 200 OK
        code: 200
        duration: 51.915417ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3vbbmnls706f14dg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39897"
            Ratelimit-Reset:
                - "17"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001547
        status: 200 OK
        code: 200
        duration: 53.372625ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3vbbmnls706f14dg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39896"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001548
        status: 200 OK
        code: 200
        duration: 53.320458ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3vbbmnls706f14dg/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39895"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001549
        status: 200 OK
        code: 200
        duration: 47.369084ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3vbbmnls706f14dg/routes?cursor=&limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39889"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001555
        status: 200 OK
        code: 200
        duration: 47.652625ms
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3vbbmnls706f14dg/headers?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39888"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001556
        status: 200 OK
        code: 200
        duration: 60.351083ms
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3vbbmnls706f14dg
        method: GET
      response:
        body: |
            {"autoDeploy":"no","branch":"main","createdAt":"2024-05-30T23:55:41.792033Z","id":"srv-cpch3vbbmnls706f14dg","name":"updated-static-site","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","buildPlan":"starter","publishPath":"public","pullRequestPreviewsEnabled":"no","url":"https://updated-static-site.localhost.onrender.com:9443"},"slug":"updated-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-05-30T23:55:42.8736Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39886"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001557
        status: 200 OK
        code: 200
        duration: 50.491083ms
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpch3vbbmnls706f14cg
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T23:55:41.14625Z","environmentIds":["evm-cpch3vbbmnls706f14d0"],"id":"prj-cpch3vbbmnls706f14cg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"GCP","type":"team"},"updatedAt":"2024-05-30T23:55:41.14625Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39887"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001558
        status: 200 OK
        code: 200
        duration: 63.424167ms
[...]
