---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"envVars":[{"key":"API_URL","value":"https://api.example.com"},{"key":"SITE_TITLE","value":"My Static Site"}],"name":"example-static-site","ownerId":"some-owner-id","repo":"https://github.com/render-examples/create-react-app","rootDir":"web","serviceDetails":{"buildCommand":"npm run build","headers":[{"name":"Cache-Control","path":"/assets/*","value":"max-age=31536000"},{"name":"X-Frame-Options","path":"/*","value":"SAMEORIGIN"}],"previews":{"generation":"automatic"},"publishPath":"dist","pullRequestPreviewsEnabled":"no","routes":[{"destination":"/blog/index.html","source":"/blog","type":"rewrite"},{"destination":"/about-us","source":"/about","type":"redirect"},{"destination":"/new-page","source":"/old-page","type":"redirect"},{"destination":"/api/index.html","source":"/api/*","type":"rewrite"}]},"type":"static_site"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-d0ehlebif6oc7397dte0","service":{"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"createdAt":"2025-05-08T20:57:28.862419Z","dashboardUrl":"https://dashboard.staging.render.com/static/srv-d0ehle3if6oc7397dt7g","id":"srv-d0ehle3if6oc7397dt7g","name":"example-static-site","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/create-react-app","rootDir":"web","serviceDetails":{"buildCommand":"npm run build","buildPlan":"starter","previews":{"generation":"automatic"},"publishPath":"dist","pullRequestPreviewsEnabled":"yes","url":"https://example-static-site.onrender-staging.com"},"slug":"example-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2025-05-08T20:57:30.201462Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "1"
            Ratelimit-Reset:
                - "152"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000272
        status: 201 Created
        code: 201
        duration: 2.491821167s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"name":"static-site.example.com"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/custom-domains
        method: POST
      response:
        body: |
            [{"createdAt":"2025-05-08T20:57:30.370959504Z","domainType":"subdomain","id":"cdm-d0ehlejif6oc7397dthg","name":"static-site.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "48"
            Ratelimit-Reset:
                - "149"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000279
        status: 201 Created
        code: 201
        duration: 150.112292ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"failure","previewNotificationsEnabled":"false"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-d0ehle3if6oc7397dt7g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"failure","previewNotificationsEnabled":"false","serviceId":"srv-d0ehle3if6oc7397dt7g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000280
        status: 200 OK
        code: 200
        duration: 108.560208ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"SITE_TITLE","value":"My Static Site"},"cursor":"LzJCvIy2NtBsZWJpZjZvYzczOTdkdDkw"},{"envVar":{"key":"API_URL","value":"https://api.example.com"},"cursor":"LzJCvIy2NtBsZWJpZjZvYzczOTdkdDhn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000281
        status: 200 OK
        code: 200
        duration: 102.41775ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/env-vars?cursor=LzJCvIy2NtBsZWJpZjZvYzczOTdkdDhn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000282
        status: 200 OK
        code: 200
        duration: 95.462084ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000283
        status: 200 OK
        code: 200
        duration: 99.221125ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/custom-domains?limit=100
        method: GET
      response:
        body: |
            [{"cursor":"p17lIOazW9FsZWppZjZvYzczOTdkdGhn","customDomain":{"createdAt":"2025-05-08T20:57:30.37096Z","domainType":"subdomain","id":"cdm-d0ehlejif6oc7397dthg","name":"static-site.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000284
        status: 200 OK
        code: 200
        duration: 100.775583ms
[...]
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-d0ehle3if6oc7397dt7g
        method: GET
      response:
        body: |
            {"message":"not found: srv-d0ehle3if6oc7397dt7g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000286
        status: 404 Not Found
        code: 404
        duration: 155.647542ms
[...]
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/routes?cursor=&limit=100
        method: GET
      response:
        body: |
            [{"route":{"destination":"/blog/index.html","id":"rdr-d0ehlebif6oc7397dt9g","priority":0,"source":"/blog","type":"rewrite"},"cursor":"etJXGhTDUixsZWJpZjZvYzczOTdkdDln"},{"route":{"destination":"/about-us","id":"rdr-d0ehlebif6oc7397dta0","priority":1,"source":"/about","type":"redirect"},"cursor":"etJXGhTDUixsZWJpZjZvYzczOTdkdGEw"},{"route":{"destination":"/new-page","id":"rdr-d0ehlebif6oc7397dtag","priority":2,"source":"/old-page","type":"redirect"},"cursor":"etJXGhTDUixsZWJpZjZvYzczOTdkdGFn"},{"route":{"destination":"/api/index.html","id":"rdr-d0ehlebif6oc7397dtb0","priority":3,"source":"/api/*","type":"rewrite"},"cursor":"etJXGhTDUixsZWJpZjZvYzczOTdkdGIw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "387"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000296
        status: 200 OK
        code: 200
        duration: 119.351083ms
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/headers?limit=100
        method: GET
      response:
        body: |
            [{"header":{"id":"hdr-d0ehlebif6oc7397dtcg","name":"X-Frame-Options","path":"/*","value":"SAMEORIGIN"},"cursor":"AThiGK6ttbtsZWJpZjZvYzczOTdkdGNn"},{"header":{"id":"hdr-d0ehlebif6oc7397dtc0","name":"Cache-Control","path":"/assets/*","value":"max-age=31536000"},"cursor":"AThiGK6ttbtsZWJpZjZvYzczOTdkdGMw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "386"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000298
        status: 200 OK
        code: 200
        duration: 104.142667ms
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","autoDeployTrigger":"commit","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"createdAt":"2025-[...]
[...]
    - id: 62
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","networkIsolationEnabled":false,"protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2025-05-08T20:57:40.901683Z","environmentIds":["evm-d0ehlh3if6oc7397dto0"],"id":"prj-d0ehlh3if6oc7397dtng","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"lizhi's workspace","type":"team"},"updatedAt":"2025-05-08T20:57:40.901683Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000344
        status: 201 Created
        code: 201
        duration: 165.243291ms
    - id: 63
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d0ehlh3if6oc7397dto0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d0ehlh3if6oc7397dto0","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d0ehlh3if6oc7397dtng","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "340"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000345
        status: 200 OK
        code: 200
        duration: 102.051958ms
    - id: 64
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":["node_modules/**"],"paths":["path/**"]},"name":"updated-static-site","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","previews":{"generation":"off"},"publishPath":"build","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
 [...]
[...]
    - id: 68
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-d0ehle3if6oc7397dt7g"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-d0ehlh3if6oc7397dto0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-d0ehlh3if6oc7397dto0","name":"prod","networkIsolationEnabled":false,"projectId":"prj-d0ehlh3if6oc7397dtng","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-d0ehle3if6oc7397dt7g"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "94"
            Ratelimit-Reset:
                - "17"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000353
        status: 201 Created
        code: 201
        duration: 276.890292ms
[...]
    - id: 70
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/custom-domains/static-site.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000358
        status: 204 No Content
        code: 204
        duration: 130.437333ms
[...]
    - id: 72
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-d0ehli3if6oc7397dts0","commit":{"id":"9e4477477dceac932bf6b25a03f48d92a43453fa","message":"Upgrade dependencies to latest (#27)","createdAt":"2025-02-21T19:49:49Z"},"status":"build_in_progress","trigger":"api","createdAt":"2025-05-08T20:57:44.882354Z","updatedAt":"2025-05-08T20:57:44.882354Z","startedAt":"2025-05-08T20:57:44.879695Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000362
        status: 201 Created
        code: 201
        duration: 1.359609584s
    - id: 73
      request:
        host: https://api.testing.render.com/v1
        body: '[{"name":"Cache-Control","path":"/api/*","value":"max-age=12345"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/headers
        method: PUT
      response:
        body: |
            [{"id":"hdr-d0ehlibif6oc7397du1g","name":"Cache-Control","path":"/api/*","value":"max-age=12345"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000364
        status: 200 OK
        code: 200
        duration: 104.915042ms
    - id: 74
      request:
        host: https://api.testing.render.com/v1
        body: '[{"destination":"/about-us","source":"/about","type":"redirect"},{"destination":"/blog/index.html","source":"/blog","type":"rewrite"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/routes
        method: PUT
      response:
        body: |
            [{"destination":"/about-us","id":"rdr-d0ehlibif6oc7397du2g","priority":0,"source":"/about","type":"redirect"},{"destination":"/blog/index.html","id":"rdr-d0ehlibif6oc7397du30","priority":1,"source":"/blog","type":"rewrite"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "91"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000365
        status: 200 OK
        code: 200
        duration: 121.397875ms
    - id: 75
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-d0ehlh3if6oc7397dtng
        method: GET
      response:
        body: |
            {"createdAt":"2025-05-08T20:57:40.901683Z","environmentIds":["evm-d0ehlh3if6oc7397dto0"],"id":"prj-d0ehlh3if6oc7397dtng","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"lizhi's workspace","type":"team"},"updatedAt":"2025-05-08T20:57:40.901683Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "338"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000366
        status: 200 OK
        code: 200
        duration: 159.649041ms
[...]
    - id: 77
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g
        method: GET
      response:
        body: |
            {"autoDeploy":"no","autoDeployTrigger":"off","branch":"main","buildFilter":{"ignoredPaths":["node_modules/**"],"paths":["path/**"]},"createdAt":"2025-05-08T20:57:28.862419Z","dashboardUrl":"https://dashboard.staging.render.com/static/srv-d0ehle3if6oc7397dt7g","environmentId":"evm-d0ehlh3if6oc7397dto0","id":"srv-d0ehle3if6oc7397dt7g","name":"updated-static-site","notifyOnFail":"notify","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","buildPlan":"starter","previews":{"generation":"off"},"publishPath":"build","pullRequestPreviewsEnabled":"no","url":"https://example-static-site.onrender-staging.com"},"slug":"example-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2025-05-08T20:57:45.021707Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "336"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000368
        status: 200 OK
        code: 200
        duration: 108.905416ms
[...]
    - id: 79
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/env-vars?cursor=LzJCvIy2NtBsaGppZjZvYzczOTdkdG9n
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "334"
            Ratelimit-Reset:
                - "13"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000370
        status: 200 OK
        code: 200
        duration: 110.974833ms
[...]
    - id: 121
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/env-vars?cursor=LzJCvIy2NtBsanJpZjZvYzczOTdkdTRn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "299"
            Ratelimit-Reset:
                - "5"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000419
        status: 200 OK
        code: 200
        duration: 97.773917ms
[...]
    - id: 151
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"updated-static-site","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","previews":{},"publishPath":"public","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
            [...]
[...]
    - id: 155
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-d0ehlh3if6oc7397dto0/resources?resourceIds=srv-d0ehle3if6oc7397dt7g
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000457
        status: 204 No Content
        code: 204
        duration: 233.391625ms
    - id: 156
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/custom-domains/static-site-2.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000458
        status: 204 No Content
        code: 204
        duration: 118.35975ms
[...]
    - id: 159
      request:
        host: https://api.testing.render.com/v1
        body: '[]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-d0ehle3if6oc7397dt7g/headers
        method: PUT
      response:
        body: |
            null
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "94"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-79c494f66f-98gjj/XxNaC9IWZP-000463
        status: 200 OK
        code: 200
        duration: 107.109459ms
[...]
