---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"envVars":[{"key":"SITE_TITLE","value":"My Static Site"},{"key":"API_URL","value":"https://api.example.com"}],"name":"example-static-site","ownerId":"some-owner-id","repo":"https://github.com/render-examples/create-react-app","rootDir":"web","serviceDetails":{"buildCommand":"npm run build","headers":[{"name":"Cache-Control","path":"/assets/*","value":"max-age=31536000"},{"name":"X-Frame-Options","path":"/*","value":"SAMEORIGIN"}],"publishPath":"dist","pullRequestPreviewsEnabled":"yes","routes":[{"destination":"/blog/index.html","source":"/blog","type":"rewrite"},{"destination":"/about-us","source":"/about","type":"redirect"},{"destination":"/new-page","source":"/old-page","type":"redirect"},{"destination":"/api/index.html","source":"/api/*","type":"rewrite"}]},"type":"static_site"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpbr9c5pbjrs709tsh90","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"createdAt":"2024-05-29T23:05:19.557104Z","id":"srv-cpbr9btpbjrs709tsh20","name":"example-static-site","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/create-react-app","rootDir":"web","serviceDetails":{"buildCommand":"npm run build","buildPlan":"starter","publishPath":"dist","pullRequestPreviewsEnabled":"yes","url":"https://example-static-site.localhost.onrender.com:9443"},"slug":"example-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-05-29T23:05:20.838642Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "998"
            Ratelimit-Reset:
                - "3281"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000215
        status: 201 Created
        code: 201
        duration: 2.2037835s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"name":"static-site.example.com"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/custom-domains
        method: POST
      response:
        body: |
            [{"createdAt":"2024-05-29T23:05:20.911745138Z","domainType":"subdomain","id":"cdm-cpbr9c5pbjrs709tshcg","name":"static-site.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "47"
            Ratelimit-Reset:
                - "3279"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000216
        status: 201 Created
        code: 201
        duration: 64.88175ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"failure","previewNotificationsEnabled":"false"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpbr9btpbjrs709tsh20
        method: PATCH
      response:
        body: |
            {"id":"srv-cpbr9btpbjrs709tsh20","notificationsToSend":"failure","previewNotificationsEnabled":"false","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "30"
            Ratelimit-Remaining:
                - "399"
                - "29"
            Ratelimit-Reset:
                - "39"
                - "39"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000217
        status: 200 OK
        code: 200
        duration: 69.884667ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"API_URL","value":"https://api.example.com"},"cursor":"Yt7HrcHxm485YnRwYmpyczcwOXRzaDNn"},{"envVar":{"key":"SITE_TITLE","value":"My Static Site"},"cursor":"Yt7HrcHxm485YnRwYmpyczcwOXRzaDMw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000218
        status: 200 OK
        code: 200
        duration: 54.656459ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/env-vars?cursor=Yt7HrcHxm485YnRwYmpyczcwOXRzaDMw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000219
        status: 200 OK
        code: 200
        duration: 56.392416ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000220
        status: 200 OK
        code: 200
        duration: 52.67575ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/custom-domains?limit=100
        method: GET
      response:
        body: |
            [{"cursor":"96ctbMAbgQU5YzVwYmpyczcwOXRzaGNn","customDomain":{"createdAt":"2024-05-29T23:05:20.911745Z","domainType":"subdomain","id":"cdm-cpbr9c5pbjrs709tshcg","name":"static-site.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000221
        status: 200 OK
        code: 200
        duration: 60.953542ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/routes?cursor=&limit=100
        method: GET
      response:
        body: |
            [{"route":{"destination":"/blog/index.html","id":"rdr-cpbr9btpbjrs709tsh40","priority":0,"source":"/blog","type":"rewrite"},"cursor":"95ny_gidXLg5YnRwYmpyczcwOXRzaDQw"},{"route":{"destination":"/about-us","id":"rdr-cpbr9btpbjrs709tsh4g","priority":1,"source":"/about","type":"redirect"},"cursor":"95ny_gidXLg5YnRwYmpyczcwOXRzaDRn"},{"route":{"destination":"/new-page","id":"rdr-cpbr9btpbjrs709tsh50","priority":2,"source":"/old-page","type":"redirect"},"cursor":"95ny_gidXLg5YnRwYmpyczcwOXRzaDUw"},{"route":{"destination":"/api/index.html","id":"rdr-cpbr9btpbjrs709tsh5g","priority":3,"source":"/api/*","type":"rewrite"},"cursor":"95ny_gidXLg5YnRwYmpyczcwOXRzaDVn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "388"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000228
        status: 200 OK
        code: 200
        duration: 63.460542ms
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/headers?limit=100
        method: GET
      response:
        body: |
            [{"header":{"id":"hdr-cpbr9btpbjrs709tsh70","name":"X-Frame-Options","path":"/*","value":"SAMEORIGIN"},"cursor":"elhGtVwLqNo5YnRwYmpyczcwOXRzaDcw"},{"header":{"id":"hdr-cpbr9btpbjrs709tsh6g","name":"Cache-Control","path":"/assets/*","value":"max-age=31536000"},"cursor":"elhGtVwLqNo5YnRwYmpyczcwOXRzaDZn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "387"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000229
        status: 200 OK
        code: 200
        duration: 148.679375ms
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"createdAt":"2024-05-29T23:05:19.557104Z","id":"srv-cpbr9btpbjrs709tsh20","name":"example-static-site","notifyOnFail":"notify","ownerId":"some-owner-id","repo":"https://github.com/render-examples/create-react-app","rootDir":"web","serviceDetails":{"buildCommand":"npm run build","buildPlan":"starter","publishPath":"dist","pullRequestPreviewsEnabled":"yes","url":"https://example-static-site.localhost.onrender.com:9443"},"slug":"example-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-05-29T23:05:20.838642Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "386"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000230
        status: 200 OK
        code: 200
        duration: 51.106916ms
[...]
    - id: 54
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-29T23:05:24.590891Z","environmentIds":["evm-cpbr9d5pbjrs709tshfg"],"id":"prj-cpbr9d5pbjrs709tshf0","name":"first","owner":{"email":"jake@example.com","id":"some-owner-id","name":"GCP","type":"team"},"updatedAt":"2024-05-29T23:05:24.590891Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "28"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000269
        status: 201 Created
        code: 201
        duration: 83.2165ms
    - id: 55
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpbr9d5pbjrs709tshfg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpbr9d5pbjrs709tshfg","name":"prod","projectId":"prj-cpbr9d5pbjrs709tshf0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "347"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000270
        status: 200 OK
        code: 200
        duration: 58.735709ms
    - id: 56
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":["node_modules/**"],"paths":["path/**"]},"name":"updated-static-site","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","publishPath":"build","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
      [...]
[...]
    - id: 60
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-cpbr9btpbjrs709tsh20"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-cpbr9d5pbjrs709tshfg/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpbr9d5pbjrs709tshfg","name":"prod","projectId":"prj-cpbr9d5pbjrs709tshf0","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-cpbr9btpbjrs709tsh20"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "24"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000275
        status: 201 Created
        code: 201
        duration: 328.446291ms
[...]
    - id: 62
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/custom-domains/static-site.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "23"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000277
        status: 204 No Content
        code: 204
        duration: 68.449542ms
[...]
    - id: 64
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpbr9dlpbjrs709tshjg","commit":{"id":"1f36d20f6527cb3984cc326ce67b8f5ffa8a5b93","message":"Upgrade SvelteKit to v2","createdAt":"2024-01-29T18:19:49Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-05-29T23:05:27.151323Z","updatedAt":"2024-05-29T23:05:27.151323Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000279
        status: 201 Created
        code: 201
        duration: 1.079021416s
    - id: 65
      request:
        host: https://api.testing.render.com/v1
        body: '[{"name":"Cache-Control","path":"/api/*","value":"max-age=12345"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/headers
        method: PUT
      response:
        body: |
            [{"id":"hdr-cpbr9dtpbjrs709tshn0","name":"Cache-Control","path":"/api/*","value":"max-age=12345"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "22"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000280
        status: 200 OK
        code: 200
        duration: 69.730125ms
    - id: 66
      request:
        host: https://api.testing.render.com/v1
        body: '[{"destination":"/about-us","source":"/about","type":"redirect"},{"destination":"/blog/index.html","source":"/blog","type":"rewrite"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/routes
        method: PUT
      response:
        body: |
            [{"destination":"/about-us","id":"rdr-cpbr9dtpbjrs709tsho0","priority":0,"source":"/about","type":"redirect"},{"destination":"/blog/index.html","id":"rdr-cpbr9dtpbjrs709tshog","priority":1,"source":"/blog","type":"rewrite"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "21"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000281
        status: 200 OK
        code: 200
        duration: 67.809792ms
    - id: 67
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpbr9d5pbjrs709tshf0
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-29T23:05:24.590891Z","environmentIds":["evm-cpbr9d5pbjrs709tshfg"],"id":"prj-cpbr9d5pbjrs709tshf0","name":"first","owner":{"email":"jake@example.com","id":"some-owner-id","name":"GCP","type":"team"},"updatedAt":"2024-05-29T23:05:24.590891Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "344"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000282
        status: 200 OK
        code: 200
        duration: 74.5045ms
[...]
    - id: 69
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20
        method: GET
      response:
        body: |
            {"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":["node_modules/**"],"paths":["path/**"]},"createdAt":"2024-05-29T23:05:19.557104Z","environmentId":"evm-cpbr9d5pbjrs709tshfg","id":"srv-cpbr9btpbjrs709tsh20","name":"updated-static-site","notifyOnFail":"notify","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","buildPlan":"starter","publishPath":"build","pullRequestPreviewsEnabled":"no","url":"https://example-static-site.localhost.onrender.com:9443"},"slug":"example-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-05-29T23:05:27.223337Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "342"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000284
        status: 200 OK
        code: 200
        duration: 55.925666ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/env-vars?cursor=Yt7HrcHxm485ZGRwYmpyczcwOXRzaGcw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "340"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000286
        status: 200 OK
        code: 200
        duration: 57.631625ms
[...]
    - id: 101
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpbr9d5pbjrs709tshfg/resources?resourceIds=srv-cpbr9btpbjrs709tsh20
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "17"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000316
        status: 204 No Content
        code: 204
        duration: 303.747708ms
    - id: 102
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/custom-domains/static-site-2.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "16"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000317
        status: 204 No Content
        code: 204
        duration: 63.4745ms
[...]
    - id: 105
      request:
        host: https://api.testing.render.com/v1
        body: '[]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpbr9btpbjrs709tsh20/headers
        method: PUT
      response:
        body: |
            null
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "15"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-f58848b4f-s7wfc/atvmROxPQW-000320
        status: 200 OK
        code: 200
        duration: 60.413459ms
[...]
