---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"envVars":[{"key":"API_URL","value":"https://api.example.com"},{"key":"SITE_TITLE","value":"My Static Site"}],"name":"example-static-site","ownerId":"some-owner-id","repo":"https://github.com/render-examples/create-react-app","rootDir":"web","serviceDetails":{"buildCommand":"npm run build","headers":[{"name":"Cache-Control","path":"/assets/*","value":"max-age=31536000"},{"name":"X-Frame-Options","path":"/*","value":"SAMEORIGIN"}],"previews":{"generation":"automatic"},"publishPath":"dist","pullRequestPreviewsEnabled":"no","routes":[{"destination":"/blog/index.html","source":"/blog","type":"rewrite"},{"destination":"/about-us","source":"/about","type":"redirect"},{"destination":"/new-page","source":"/old-page","type":"redirect"},{"destination":"/api/index.html","source":"/api/*","type":"rewrite"}]},"type":"static_site"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crficjc8m55c703hl4g0","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"createdAt":"2024-09-09T16:46:05.207175Z","dashboardUrl":"http://dashboard.render.localhost:3000/static/srv-crficj48m55c703hl49g","id":"srv-crficj48m55c703hl49g","name":"example-static-site","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/create-react-app","rootDir":"web","serviceDetails":{"buildCommand":"npm run build","buildPlan":"starter","previews":{"generation":"automatic"},"publishPath":"dist","pullRequestPreviewsEnabled":"yes","url":"https://example-static-site.localhost.onrender.com:9443"},"slug":"example-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-09-09T16:46:08.095125Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9999"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000451
        status: 201 Created
        code: 201
        duration: 3.676156417s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"name":"static-site.example.com"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/custom-domains
        method: POST
      response:
        body: |
            [{"createdAt":"2024-09-09T16:46:08.153536203Z","domainType":"subdomain","id":"cdm-crfick48m55c703hl4jg","name":"static-site.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "44"
            Ratelimit-Reset:
                - "831"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000452
        status: 201 Created
        code: 201
        duration: 42.427833ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"failure","previewNotificationsEnabled":"false"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crficj48m55c703hl49g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"failure","previewNotificationsEnabled":"false","serviceId":"srv-crficj48m55c703hl49g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
                - "10000"
            Ratelimit-Remaining:
                - "9999"
                - "9999"
            Ratelimit-Reset:
                - "51"
                - "51"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000453
        status: 200 OK
        code: 200
        duration: 45.359291ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"SITE_TITLE","value":"My Static Site"},"cursor":"Ih-xRG4fuapjamM4bTU1YzcwM2hsNGIw"},{"envVar":{"key":"API_URL","value":"https://api.example.com"},"cursor":"Ih-xRG4fuapjamM4bTU1YzcwM2hsNGFn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000454
        status: 200 OK
        code: 200
        duration: 37.730875ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/env-vars?cursor=Ih-xRG4fuapjamM4bTU1YzcwM2hsNGFn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9997"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000455
        status: 200 OK
        code: 200
        duration: 41.228125ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9996"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000456
        status: 200 OK
        code: 200
        duration: 36.495041ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/custom-domains?limit=100
        method: GET
      response:
        body: |
            [{"cursor":"b0CaXhyr5jpjazQ4bTU1YzcwM2hsNGpn","customDomain":{"createdAt":"2024-09-09T16:46:08.153536Z","domainType":"subdomain","id":"cdm-crfick48m55c703hl4jg","name":"static-site.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9995"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000457
        status: 200 OK
        code: 200
        duration: 42.882541ms
[...]
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crficj48m55c703hl49g
        method: GET
      response:
        body: |
            {"message":"not found: srv-crficj48m55c703hl49g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9993"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000459
        status: 404 Not Found
        code: 404
        duration: 32.724583ms
[...]
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/routes?cursor=&limit=100
        method: GET
      response:
        body: |
            [{"route":{"destination":"/blog/index.html","id":"rdr-crficjc8m55c703hl4bg","priority":0,"source":"/blog","type":"rewrite"},"cursor":"MOWbIQozlgljamM4bTU1YzcwM2hsNGJn"},{"route":{"destination":"/about-us","id":"rdr-crficjc8m55c703hl4c0","priority":1,"source":"/about","type":"redirect"},"cursor":"MOWbIQozlgljamM4bTU1YzcwM2hsNGMw"},{"route":{"destination":"/new-page","id":"rdr-crficjc8m55c703hl4cg","priority":2,"source":"/old-page","type":"redirect"},"cursor":"MOWbIQozlgljamM4bTU1YzcwM2hsNGNn"},{"route":{"destination":"/api/index.html","id":"rdr-crficjc8m55c703hl4d0","priority":3,"source":"/api/*","type":"rewrite"},"cursor":"MOWbIQozlgljamM4bTU1YzcwM2hsNGQw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9986"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000466
        status: 200 OK
        code: 200
        duration: 43.432292ms
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/headers?limit=100
        method: GET
      response:
        body: |
            [{"header":{"id":"hdr-crficjc8m55c703hl4eg","name":"X-Frame-Options","path":"/*","value":"SAMEORIGIN"},"cursor":"iZg1qsd5-OxjamM4bTU1YzcwM2hsNGVn"},{"header":{"id":"hdr-crficjc8m55c703hl4e0","name":"Cache-Control","path":"/assets/*","value":"max-age=31536000"},"cursor":"iZg1qsd5-OxjamM4bTU1YzcwM2hsNGUw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9985"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000467
        status: 200 OK
        code: 200
        duration: 43.031708ms
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"createdAt":"2024-09-09T16:46:05.207175Z","dash[...]
[...]
    - id: 62
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-09T16:46:11.387595Z","environmentIds":["evm-crficks8m55c703hl4m0"],"id":"prj-crficks8m55c703hl4lg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-09T16:46:11.387595Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000513
        status: 201 Created
        code: 201
        duration: 78.670042ms
    - id: 63
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crficks8m55c703hl4m0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crficks8m55c703hl4m0","name":"prod","projectId":"prj-crficks8m55c703hl4lg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9939"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000514
        status: 200 OK
        code: 200
        duration: 40.364292ms
    - id: 64
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":["node_modules/**"],"paths":["path/**"]},"name":"updated-static-site","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","previews":{"generation":"off"},"publishPath":"build","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
 [...]
[...]
    - id: 68
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-crficj48m55c703hl49g"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crficks8m55c703hl4m0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crficks8m55c703hl4m0","name":"prod","projectId":"prj-crficks8m55c703hl4lg","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-crficj48m55c703hl49g"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9994"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000519
        status: 201 Created
        code: 201
        duration: 174.507041ms
[...]
    - id: 70
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/custom-domains/static-site.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9993"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000521
        status: 204 No Content
        code: 204
        duration: 46.651584ms
[...]
    - id: 72
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crficlc8m55c703hl4q0","commit":{"id":"1f36d20f6527cb3984cc326ce67b8f5ffa8a5b93","message":"Upgrade SvelteKit to v2","createdAt":"2024-01-29T18:19:49Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-09T16:46:15.829991Z","updatedAt":"2024-09-09T16:46:15.829991Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000523
        status: 201 Created
        code: 201
        duration: 3.098878167s
    - id: 73
      request:
        host: https://api.testing.render.com/v1
        body: '[{"name":"Cache-Control","path":"/api/*","value":"max-age=12345"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/headers
        method: PUT
      response:
        body: |
            [{"id":"hdr-crficls8m55c703hl4tg","name":"Cache-Control","path":"/api/*","value":"max-age=12345"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9992"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000524
        status: 200 OK
        code: 200
        duration: 44.53375ms
    - id: 74
      request:
        host: https://api.testing.render.com/v1
        body: '[{"destination":"/about-us","source":"/about","type":"redirect"},{"destination":"/blog/index.html","source":"/blog","type":"rewrite"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/routes
        method: PUT
      response:
        body: |
            [{"destination":"/about-us","id":"rdr-crficm48m55c703hl4ug","priority":0,"source":"/about","type":"redirect"},{"destination":"/blog/index.html","id":"rdr-crficm48m55c703hl4v0","priority":1,"source":"/blog","type":"rewrite"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9991"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000525
        status: 200 OK
        code: 200
        duration: 46.5235ms
    - id: 75
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crficks8m55c703hl4lg
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-09T16:46:11.387595Z","environmentIds":["evm-crficks8m55c703hl4m0"],"id":"prj-crficks8m55c703hl4lg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-09-09T16:46:11.387595Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9936"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000526
        status: 200 OK
        code: 200
        duration: 59.914875ms
[...]
    - id: 77
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g
        method: GET
      response:
        body: |
            {"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":["node_modules/**"],"paths":["path/**"]},"createdAt":"2024-09-09T16:46:05.207175Z","dashboardUrl":"http://dashboard.render.localhost:3000/static/srv-crficj48m55c703hl49g","environmentId":"evm-crficks8m55c703hl4m0","id":"srv-crficj48m55c703hl49g","name":"updated-static-site","notifyOnFail":"notify","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","buildPlan":"starter","previews":{"generation":"off"},"publishPath":"build","pullRequestPreviewsEnabled":"no","url":"https://example-static-site.localhost.onrender.com:9443"},"slug":"example-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-09-09T16:46:15.900837Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9934"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000528
        status: 200 OK
        code: 200
        duration: 44.508333ms
[...]
    - id: 79
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/env-vars?cursor=Ih-xRG4fuapjbDQ4bTU1YzcwM2hsNG1n
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9932"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000530
        status: 200 OK
        code: 200
        duration: 44.848583ms
[...]
    - id: 109
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"updated-static-site","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","previews":{},"publishPath":"public","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
            [...]
[...]
    - id: 113
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crficks8m55c703hl4m0/resources?resourceIds=srv-crficj48m55c703hl49g
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9987"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000564
        status: 204 No Content
        code: 204
        duration: 207.788666ms
    - id: 114
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/custom-domains/static-site-2.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9986"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000565
        status: 204 No Content
        code: 204
        duration: 39.497458ms
[...]
    - id: 117
      request:
        host: https://api.testing.render.com/v1
        body: '[]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crficj48m55c703hl49g/headers
        method: PUT
      response:
        body: |
            null
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9985"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-cb6686ccd-gtczz/osocDdt2rF-000568
        status: 200 OK
        code: 200
        duration: 38.82325ms
[...]
