---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"envVars":[{"key":"API_URL","value":"https://api.example.com"},{"key":"SITE_TITLE","value":"My Static Site"}],"name":"example-static-site","ownerId":"some-owner-id","repo":"https://github.com/render-examples/create-react-app","rootDir":"web","serviceDetails":{"buildCommand":"npm run build","headers":[{"name":"Cache-Control","path":"/assets/*","value":"max-age=31536000"},{"name":"X-Frame-Options","path":"/*","value":"SAMEORIGIN"}],"publishPath":"dist","pullRequestPreviewsEnabled":"yes","routes":[{"destination":"/blog/index.html","source":"/blog","type":"rewrite"},{"destination":"/about-us","source":"/about","type":"redirect"},{"destination":"/new-page","source":"/old-page","type":"redirect"},{"destination":"/api/index.html","source":"/api/*","type":"rewrite"}]},"type":"static_site"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpch3s3bmnls706f13k0","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"createdAt":"2024-05-30T23:55:28.584172Z","id":"srv-cpch3s3bmnls706f13d0","name":"example-static-site","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/create-react-app","rootDir":"web","serviceDetails":{"buildCommand":"npm run build","buildPlan":"starter","publishPath":"dist","pullRequestPreviewsEnabled":"yes","url":"https://example-static-site.localhost.onrender.com:9443"},"slug":"example-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-05-30T23:55:29.690237Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "989"
            Ratelimit-Reset:
                - "272"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001419
        status: 201 Created
        code: 201
        duration: 1.926807417s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"name":"static-site.example.com"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/custom-domains
        method: POST
      response:
        body: |
            [{"createdAt":"2024-05-30T23:55:29.760736485Z","domainType":"subdomain","id":"cdm-cpch3sbbmnls706f13ng","name":"static-site.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "41"
            Ratelimit-Reset:
                - "270"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001420
        status: 201 Created
        code: 201
        duration: 57.457ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"failure","previewNotificationsEnabled":"false"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpch3s3bmnls706f13d0
        method: PATCH
      response:
        body: |
            {"id":"srv-cpch3s3bmnls706f13d0","notificationsToSend":"failure","previewNotificationsEnabled":"false","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
                - "10000"
            Ratelimit-Remaining:
                - "39999"
                - "9999"
            Ratelimit-Reset:
                - "30"
                - "30"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001421
        status: 200 OK
        code: 200
        duration: 52.514291ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"SITE_TITLE","value":"My Static Site"},"cursor":"JlG2gHLAxwkzczNibW5sczcwNmYxM2Vn"},{"envVar":{"key":"API_URL","value":"https://api.example.com"},"cursor":"JlG2gHLAxwkzczNibW5sczcwNmYxM2Uw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39998"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001422
        status: 200 OK
        code: 200
        duration: 45.402959ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/env-vars?cursor=JlG2gHLAxwkzczNibW5sczcwNmYxM2Uw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39997"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001423
        status: 200 OK
        code: 200
        duration: 50.784208ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39996"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001424
        status: 200 OK
        code: 200
        duration: 49.094875ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/custom-domains?limit=100
        method: GET
      response:
        body: |
            [{"cursor":"XxL9IRTRv88zc2JibW5sczcwNmYxM25n","customDomain":{"createdAt":"2024-05-30T23:55:29.760736Z","domainType":"subdomain","id":"cdm-cpch3sbbmnls706f13ng","name":"static-site.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39995"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001425
        status: 200 OK
        code: 200
        duration: 59.210834ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/routes?cursor=&limit=100
        method: GET
      response:
        body: |
            [{"route":{"destination":"/blog/index.html","id":"rdr-cpch3s3bmnls706f13f0","priority":0,"source":"/blog","type":"rewrite"},"cursor":"i19tFRDTpKczczNibW5sczcwNmYxM2Yw"},{"route":{"destination":"/about-us","id":"rdr-cpch3s3bmnls706f13fg","priority":1,"source":"/about","type":"redirect"},"cursor":"i19tFRDTpKczczNibW5sczcwNmYxM2Zn"},{"route":{"destination":"/new-page","id":"rdr-cpch3s3bmnls706f13g0","priority":2,"source":"/old-page","type":"redirect"},"cursor":"i19tFRDTpKczczNibW5sczcwNmYxM2cw"},{"route":{"destination":"/api/index.html","id":"rdr-cpch3s3bmnls706f13gg","priority":3,"source":"/api/*","type":"rewrite"},"cursor":"i19tFRDTpKczczNibW5sczcwNmYxM2dn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39988"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001432
        status: 200 OK
        code: 200
        duration: 57.817667ms
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/headers?limit=100
        method: GET
      response:
        body: |
            [{"header":{"id":"hdr-cpch3s3bmnls706f13i0","name":"X-Frame-Options","path":"/*","value":"SAMEORIGIN"},"cursor":"0JrwbAEDo70zczNibW5sczcwNmYxM2kw"},{"header":{"id":"hdr-cpch3s3bmnls706f13hg","name":"Cache-Control","path":"/assets/*","value":"max-age=31536000"},"cursor":"0JrwbAEDo70zczNibW5sczcwNmYxM2hn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39987"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001433
        status: 200 OK
        code: 200
        duration: 55.47025ms
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"createdAt":"2024-05-30T23:55:28.584172Z","id":"srv-cpch3s3bmnls706f13d0","name":"example-static-site","notifyOnFail":"notify","ownerId":"some-owner-id","repo":"https://github.com/render-examples/create-react-app","rootDir":"web","serviceDetails":{"buildCommand":"npm run build","buildPlan":"starter","publishPath":"dist","pullRequestPreviewsEnabled":"yes","url":"https://example-static-site.localhost.onrender.com:9443"},"slug":"example-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-05-30T23:55:29.690237Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39986"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001434
        status: 200 OK
        code: 200
        duration: 49.751375ms
[...]
    - id: 54
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-30T23:55:33.120821Z","environmentIds":["evm-cpch3tbbmnls706f13q0"],"id":"prj-cpch3tbbmnls706f13pg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"GCP","type":"team"},"updatedAt":"2024-05-30T23:55:33.120821Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9998"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001473
        status: 201 Created
        code: 201
        duration: 70.642417ms
    - id: 55
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpch3tbbmnls706f13q0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpch3tbbmnls706f13q0","name":"prod","projectId":"prj-cpch3tbbmnls706f13pg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39947"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001474
        status: 200 OK
        code: 200
        duration: 53.253ms
    - id: 56
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":["node_modules/**"],"paths":["path/**"]},"name":"updated-static-site","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","publishPath":"build","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
      [...]
[...]
    - id: 60
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-cpch3s3bmnls706f13d0"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-cpch3tbbmnls706f13q0/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpch3tbbmnls706f13q0","name":"prod","projectId":"prj-cpch3tbbmnls706f13pg","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-cpch3s3bmnls706f13d0"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9994"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001481
        status: 201 Created
        code: 201
        duration: 325.852208ms
[...]
    - id: 62
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/custom-domains/static-site.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9993"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001483
        status: 204 No Content
        code: 204
        duration: 75.413708ms
[...]
    - id: 64
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpch3tjbmnls706f13ug","commit":{"id":"1f36d20f6527cb3984cc326ce67b8f5ffa8a5b93","message":"Upgrade SvelteKit to v2","createdAt":"2024-01-29T18:19:49Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-05-30T23:55:35.663485Z","updatedAt":"2024-05-30T23:55:35.663485Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001485
        status: 201 Created
        code: 201
        duration: 1.223478375s
    - id: 65
      request:
        host: https://api.testing.render.com/v1
        body: '[{"name":"Cache-Control","path":"/api/*","value":"max-age=12345"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/headers
        method: PUT
      response:
        body: |
            [{"id":"hdr-cpch3trbmnls706f1430","name":"Cache-Control","path":"/api/*","value":"max-age=12345"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9992"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001486
        status: 200 OK
        code: 200
        duration: 55.303875ms
    - id: 66
      request:
        host: https://api.testing.render.com/v1
        body: '[{"destination":"/about-us","source":"/about","type":"redirect"},{"destination":"/blog/index.html","source":"/blog","type":"rewrite"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/routes
        method: PUT
      response:
        body: |
            [{"destination":"/about-us","id":"rdr-cpch3trbmnls706f1440","priority":0,"source":"/about","type":"redirect"},{"destination":"/blog/index.html","id":"rdr-cpch3trbmnls706f144g","priority":1,"source":"/blog","type":"rewrite"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9991"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001487
        status: 200 OK
        code: 200
        duration: 65.317375ms
    - id: 67
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpch3tbbmnls706f13pg
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T23:55:33.120821Z","environmentIds":["evm-cpch3tbbmnls706f13q0"],"id":"prj-cpch3tbbmnls706f13pg","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"GCP","type":"team"},"updatedAt":"2024-05-30T23:55:33.120821Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39944"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001488
        status: 200 OK
        code: 200
        duration: 60.013291ms
[...]
    - id: 69
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0
        method: GET
      response:
        body: |
            {"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":["node_modules/**"],"paths":["path/**"]},"createdAt":"2024-05-30T23:55:28.584172Z","environmentId":"evm-cpch3tbbmnls706f13q0","id":"srv-cpch3s3bmnls706f13d0","name":"updated-static-site","notifyOnFail":"notify","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","buildPlan":"starter","publishPath":"build","pullRequestPreviewsEnabled":"no","url":"https://example-static-site.localhost.onrender.com:9443"},"slug":"example-static-site","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-05-30T23:55:35.849358Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39942"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001490
        status: 200 OK
        code: 200
        duration: 52.916041ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/env-vars?cursor=JlG2gHLAxwkzdGpibW5sczcwNmYxM3Fn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "40000"
            Ratelimit-Remaining:
                - "39940"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001492
        status: 200 OK
        code: 200
        duration: 53.783708ms
[...]
    - id: 97
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"updated-static-site","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","publishPath":"public","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
                - some-api-[...]
[...]
    - id: 101
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpch3tbbmnls706f13q0/resources?resourceIds=srv-cpch3s3bmnls706f13d0
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9987"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001522
        status: 204 No Content
        code: 204
        duration: 315.996334ms
    - id: 102
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/custom-domains/static-site-2.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9986"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001523
        status: 204 No Content
        code: 204
        duration: 62.684333ms
[...]
    - id: 105
      request:
        host: https://api.testing.render.com/v1
        body: '[]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpch3s3bmnls706f13d0/headers
        method: PUT
      response:
        body: |
            null
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10000"
            Ratelimit-Remaining:
                - "9985"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-f7665fb84-gls8c/ItF7c2IEzf-001526
        status: 200 OK
        code: 200
        duration: 58.533333ms
[...]
