---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"envVars":[{"key":"API_URL","value":"https://api.example.com"},{"key":"SITE_TITLE","value":"My Static Site"}],"name":"example-static-site","ownerId":"some-owner-id","repo":"https://github.com/render-examples/create-react-app","rootDir":"web","serviceDetails":{"buildCommand":"npm run build","headers":[{"name":"Cache-Control","path":"/assets/*","value":"max-age=31536000"},{"name":"X-Frame-Options","path":"/*","value":"SAMEORIGIN"}],"previews":{"generation":"automatic"},"publishPath":"dist","pullRequestPreviewsEnabled":"no","routes":[{"destination":"/blog/index.html","source":"/blog","type":"rewrite"},{"destination":"/about-us","source":"/about","type":"redirect"},{"destination":"/new-page","source":"/old-page","type":"redirect"},{"destination":"/api/index.html","source":"/api/*","type":"rewrite"}]},"type":"static_site"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbq7r5svqrc73f3brug","service":{"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"createdAt":"2024-09-04T00:03:55.565888Z","dashboardUrl":"https://dashboard.render.com/static/srv-crbq7qlsvqrc73f3bj3g","id":"srv-crbq7qlsvqrc73f3bj3g","name":"example-static-site","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/create-react-app","rootDir":"web","serviceDetails":{"buildCommand":"npm run build","buildPlan":"starter","previews":{"generation":"automatic"},"publishPath":"dist","pullRequestPreviewsEnabled":"yes","url":"https://example-static-site-wet6.onrender.com"},"slug":"example-static-site-wet6","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-09-04T00:04:00.212437Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "15"
            Ratelimit-Reset:
                - "3365"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2680978
        status: 201 Created
        code: 201
        duration: 5.769351791s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"name":"static-site.example.com"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/custom-domains
        method: POST
      response:
        body: |
            [{"createdAt":"2024-09-04T00:04:00.903093136Z","domainType":"subdomain","id":"cdm-crbq7s3v2p9s73djk5l0","name":"static-site.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "49"
            Ratelimit-Reset:
                - "3359"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1538107
        status: 201 Created
        code: 201
        duration: 642.035959ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"failure","previewNotificationsEnabled":"false"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbq7qlsvqrc73f3bj3g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"failure","previewNotificationsEnabled":"false","serviceId":"srv-crbq7qlsvqrc73f3bj3g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "399"
                - "99"
            Ratelimit-Reset:
                - "59"
                - "59"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469600
        status: 200 OK
        code: 200
        duration: 172.028125ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"SITE_TITLE","value":"My Static Site"},"cursor":"g_JAsubTnI03cXRzdnFyYzczZjNia2Jn"},{"envVar":{"key":"API_URL","value":"https://api.example.com"},"cursor":"g_JAsubTnI03cXRzdnFyYzczZjNiazgw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3899409
        status: 200 OK
        code: 200
        duration: 143.226291ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/env-vars?cursor=g_JAsubTnI03cXRzdnFyYzczZjNiazgw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2681090
        status: 200 OK
        code: 200
        duration: 72.261916ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1538117
        status: 200 OK
        code: 200
        duration: 917.451ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/custom-domains?limit=100
        method: GET
      response:
        body: |
            [{"cursor":"mCyQ7JvVSGM3czN2MnA5czczZGprNWww","customDomain":{"createdAt":"2024-09-04T00:04:00.903093Z","domainType":"subdomain","id":"cdm-crbq7s3v2p9s73djk5l0","name":"static-site.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469609
        status: 200 OK
        code: 200
        duration: 70.492875ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/routes?cursor=&limit=100
        method: GET
      response:
        body: |
            [{"route":{"destination":"/blog/index.html","id":"rdr-crbq7qtsvqrc73f3bkeg","priority":0,"source":"/blog","type":"rewrite"},"cursor":"MxGdfrF4-Dw3cXRzdnFyYzczZjNia2Vn"},{"route":{"destination":"/about-us","id":"rdr-crbq7qtsvqrc73f3bkgg","priority":1,"source":"/about","type":"redirect"},"cursor":"MxGdfrF4-Dw3cXRzdnFyYzczZjNia2dn"},{"route":{"destination":"/new-page","id":"rdr-crbq7qtsvqrc73f3bkh0","priority":2,"source":"/old-page","type":"redirect"},"cursor":"MxGdfrF4-Dw3cXRzdnFyYzczZjNia2gw"},{"route":{"destination":"/api/index.html","id":"rdr-crbq7qtsvqrc73f3bkhg","priority":3,"source":"/api/*","type":"rewrite"},"cursor":"MxGdfrF4-Dw3cXRzdnFyYzczZjNia2hn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "388"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1538140
        status: 200 OK
        code: 200
        duration: 1.03080625s
    - id: 14
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/headers?limit=100
        method: GET
      response:
        body: |
            [{"header":{"id":"hdr-crbq7qtsvqrc73f3bkn0","name":"X-Frame-Options","path":"/*","value":"SAMEORIGIN"},"cursor":"3X8Yp4KDYAE3cXRzdnFyYzczZjNia24w"},{"header":{"id":"hdr-crbq7qtsvqrc73f3bkmg","name":"Cache-Control","path":"/assets/*","value":"max-age=31536000"},"cursor":"3X8Yp4KDYAE3cXRzdnFyYzczZjNia21n"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "387"
            Ratelimit-Reset:
                - "55"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469631
        status: 200 OK
        code: 200
        duration: 67.501083ms
    - id: 15
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"master","buildFilter":{"ignoredPaths":["tests/**","docs/**"],"paths":["src/**","public/**"]},"createdAt":"2024-09-04T00:03:55.565888Z","dash[...]
[...]
    - id: 54
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"first","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-04T00:04:07.818456Z","environmentIds":["evm-crbq7tq3esus7393uo90"],"id":"prj-crbq7tq3esus7393uo8g","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-04T00:04:07.818456Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469682
        status: 201 Created
        code: 201
        duration: 96.617542ms
    - id: 55
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbq7tq3esus7393uo90
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbq7tq3esus7393uo90","name":"prod","projectId":"prj-crbq7tq3esus7393uo8g","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "347"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3899518
        status: 200 OK
        code: 200
        duration: 72.031417ms
    - id: 56
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":["node_modules/**"],"paths":["path/**"]},"name":"updated-static-site","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","previews":{"generation":"off"},"publishPath":"build","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
 [...]
[...]
    - id: 60
      request:
        host: https://api.testing.render.com/v1
        body: '{"resourceIds":["srv-crbq7qlsvqrc73f3bj3g"]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments/evm-crbq7tq3esus7393uo90/resources
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbq7tq3esus7393uo90","name":"prod","projectId":"prj-crbq7tq3esus7393uo8g","protectedStatus":"protected","redisIds":null,"serviceIds":["srv-crbq7qlsvqrc73f3bj3g"]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "94"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2681201
        status: 201 Created
        code: 201
        duration: 247.949417ms
[...]
    - id: 62
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/custom-domains/static-site.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469698
        status: 204 No Content
        code: 204
        duration: 450.751375ms
[...]
    - id: 64
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbq7ulsvqrc73f3bsm0","commit":{"id":"1f36d20f6527cb3984cc326ce67b8f5ffa8a5b93","message":"Upgrade SvelteKit to v2","createdAt":"2024-01-29T18:19:49Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-04T00:04:15.11276Z","updatedAt":"2024-09-04T00:04:15.11276Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2681217
        status: 201 Created
        code: 201
        duration: 5.185001667s
    - id: 65
      request:
        host: https://api.testing.render.com/v1
        body: '[{"name":"Cache-Control","path":"/api/*","value":"max-age=12345"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/headers
        method: PUT
      response:
        body: |
            [{"id":"hdr-crbq7vrv2p9s73djk680","name":"Cache-Control","path":"/api/*","value":"max-age=12345"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1538307
        status: 200 OK
        code: 200
        duration: 110.510583ms
    - id: 66
      request:
        host: https://api.testing.render.com/v1
        body: '[{"destination":"/about-us","source":"/about","type":"redirect"},{"destination":"/blog/index.html","source":"/blog","type":"rewrite"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/routes
        method: PUT
      response:
        body: |
            [{"destination":"/about-us","id":"rdr-crbq7vq3esus7393uodg","priority":0,"source":"/about","type":"redirect"},{"destination":"/blog/index.html","id":"rdr-crbq7vq3esus7393uoe0","priority":1,"source":"/blog","type":"rewrite"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "91"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469765
        status: 200 OK
        code: 200
        duration: 81.883792ms
    - id: 67
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crbq7tq3esus7393uo8g
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-04T00:04:07.818456Z","environmentIds":["evm-crbq7tq3esus7393uo90"],"id":"prj-crbq7tq3esus7393uo8g","name":"first","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-04T00:04:07.818456Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "344"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3899642
        status: 200 OK
        code: 200
        duration: 65.28125ms
[...]
    - id: 69
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g
        method: GET
      response:
        body: |
            {"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":["node_modules/**"],"paths":["path/**"]},"createdAt":"2024-09-04T00:03:55.565888Z","dashboardUrl":"https://dashboard.render.com/static/srv-crbq7qlsvqrc73f3bj3g","environmentId":"evm-crbq7tq3esus7393uo90","id":"srv-crbq7qlsvqrc73f3bj3g","name":"updated-static-site","notifyOnFail":"notify","ownerId":"some-owner-id","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","buildPlan":"starter","previews":{"generation":"off"},"publishPath":"build","pullRequestPreviewsEnabled":"no","url":"https://example-static-site-wet6.onrender.com"},"slug":"example-static-site-wet6","suspended":"not_suspended","suspenders":[],"type":"static_site","updatedAt":"2024-09-04T00:04:15.176182Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "342"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1538314
        status: 200 OK
        code: 200
        duration: 64.666709ms
[...]
    - id: 71
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/env-vars?cursor=g_JAsubTnI03dTN2MnA5czczZGprNXVn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "340"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3899650
        status: 200 OK
        code: 200
        duration: 73.25425ms
[...]
    - id: 97
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"no","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"updated-static-site","repo":"https://github.com/render-examples/sveltekit-static","rootDir":"","serviceDetails":{"buildCommand":"npm install \u0026\u0026 npm run build","previews":{},"publishPath":"public","pullRequestPreviewsEnabled":"no"}}'
        form: {}
        headers:
            Authorization:
             [...]
[...]
    - id: 101
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbq7tq3esus7393uo90/resources?resourceIds=srv-crbq7qlsvqrc73f3bj3g
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "87"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1538367
        status: 204 No Content
        code: 204
        duration: 305.269375ms
    - id: 102
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/custom-domains/static-site-2.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "86"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469808
        status: 204 No Content
        code: 204
        duration: 553.777958ms
[...]
    - id: 105
      request:
        host: https://api.testing.render.com/v1
        body: '[]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbq7qlsvqrc73f3bj3g/headers
        method: PUT
      response:
        body: |
            null
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "85"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1538415
        status: 200 OK
        code: 200
        duration: 76.784334ms
[...]
