---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"description":"initial","environmentIds":[],"name":"tf-acc-dsip","ownerId":"some-owner-id","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/dedicated-ips
        method: POST
      response:
        body: |
            {"createdAt":"2026-05-12T21:16:44.160656935Z","description":"initial","environmentIds":[],"id":"egs-d81phf0g4nts738b2vm0","ips":[],"name":"tf-acc-dsip","ownerId":"some-owner-id","region":"oregon","status":"CREATING","updatedAt":"2026-05-12T21:16:44.160656935Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "15"
            Render-Request-Id:
                - api-5545d6987d-2245g/XB45LP3QAt-714993
        status: 201 Created
        code: 201
        duration: 613.118959ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/dedicated-ips/egs-d81phf0g4nts738b2vm0
        method: GET
      response:
        body: |
            {"createdAt":"2026-05-12T21:16:44.160657Z","description":"initial","environmentIds":[],"id":"egs-d81phf0g4nts738b2vm0","ips":[],"name":"tf-acc-dsip","ownerId":"some-owner-id","region":"oregon","status":"PENDING","updatedAt":"2026-05-12T21:16:44.468342Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "15"
            Render-Request-Id:
                - api-5545d6987d-9d2j9/2gRkO6y2Iz-723987
        status: 200 OK
        code: 200
        duration: 104.407042ms
[...]
