---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"description":"","environmentIds":[],"name":"tf-acc-dsip-import","ownerId":"some-owner-id","region":"oregon"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/dedicated-ips
        method: POST
      response:
        body: |
            {"createdAt":"2026-05-12T21:17:11.048747891Z","description":"","environmentIds":[],"id":"egs-d81phlsdirrc73ds5lpg","ips":[],"name":"tf-acc-dsip-import","ownerId":"some-owner-id","region":"oregon","status":"CREATING","updatedAt":"2026-05-12T21:17:11.048747891Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-5545d6987d-pg64j/h6z52TOS70-659985
        status: 201 Created
        code: 201
        duration: 381.87ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/dedicated-ips/egs-d81phlsdirrc73ds5lpg
        method: GET
      response:
        body: |
            {"createdAt":"2026-05-12T21:17:11.048748Z","description":"","environmentIds":[],"id":"egs-d81phlsdirrc73ds5lpg","ips":[],"name":"tf-acc-dsip-import","ownerId":"some-owner-id","region":"oregon","status":"PENDING","updatedAt":"2026-05-12T21:17:11.159639Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "390"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-5545d6987d-9d2j9/2gRkO6y2Iz-726292
        status: 200 OK
        code: 200
        duration: 97.398833ms
[...]
