---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"new-key","value":"some-value"},{"key":"key1","value":"new-value"}],"name":"some-env-group","ownerId":"some-owner-id","secretFiles":[{"content":"new-content","name":"file1"},{"content":"some-content","name":"new-file"}]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/env-groups
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-03T23:39:57.923427706Z","envVars":[{"key":"key1","value":"new-value"},{"key":"new-key","value":"some-value"}],"id":"evg-crbpsjbtq21c73clkse0","name":"some-env-group","ownerId":"some-owner-id","secretFiles":[{"content":"some-content","name":"new-file"},{"content":"new-content","name":"file1"}],"serviceLinks":[],"updatedAt":"2024-09-03T23:39:57.923427706Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3878186
        status: 201 Created
        code: 201
        duration: 152.68425ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-crbpsjbtq21c73clkse0
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-03T23:39:57.923428Z","envVars":[{"key":"key1","value":"new-value"},{"key":"new-key","value":"some-value"}],"id":"evg-crbpsjbtq21c73clkse0","name":"some-env-group","ownerId":"some-owner-id","secretFiles":[{"content":"some-content","name":"new-file"},{"content":"new-content","name":"file1"}],"serviceLinks":[],"updatedAt":"2024-09-03T23:39:57.923428Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1519045
        status: 200 OK
        code: 200
        duration: 64.059917ms
[...]
