---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"DATABASE_URL","value":"postgresql://user:password@localhost/mydb"},{"key":"DEBUG_MODE","value":"false"},{"generateValue":true,"key":"INSTANCE_ID"}],"name":"my-environment-group","ownerId":"some-owner-id","secretFiles":[{"content":"username:password","name":"credentials.txt"},{"content":"{\"aws_access_key\":\"AKIAIOSFODNN7EXAMPLE\",\"aws_secret_key\":\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"}","name":"secrets.json"}]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/env-groups
        method: POST
      response:
        body: |
            {"envVars":[{"key":"INSTANCE_ID","value":"bMymF2vEgfAUe86s5hHLdkSzOcrpHzso9JENN7uxq7c="},{"key":"DEBUG_MODE","value":"false"},{"key":"DATABASE_URL","value":"postgresql://user:password@localhost/mydb"}],"id":"evg-cp70lahk64ms73e22hng","name":"my-environment-group","ownerId":"some-owner-id","secretFiles":[{"content":"{\"aws_access_key\":\"AKIAIOSFODNN7EXAMPLE\",\"aws_secret_key\":\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"}","name":"secrets.json"},{"content":"username:password","name":"credentials.txt"}],"serviceLinks":[]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "29"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-7646845948-lnw4k/9sMaqLcoUR-000057
        status: 201 Created
        code: 201
        duration: 340.113834ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-cp70lahk64ms73e22hng
        method: GET
      response:
        body: |
            {"envVars":[{"key":"DATABASE_URL","value":"postgresql://user:password@localhost/mydb"},{"key":"DEBUG_MODE","value":"false"},{"key":"INSTANCE_ID","value":"bMymF2vEgfAUe86s5hHLdkSzOcrpHzso9JENN7uxq7c="}],"id":"evg-cp70lahk64ms73e22hng","name":"my-environment-group","ownerId":"some-owner-id","secretFiles":[{"content":"username:password","name":"credentials.txt"},{"content":"{\"aws_access_key\":\"AKIAIOSFODNN7EXAMPLE\",\"aws_secret_key\":\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"}","name":"secrets.json"}],"serviceLinks":[]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "29"
            Render-Request-Id:
                - api-7646845948-lnw4k/9sMaqLcoUR-000058
        status: 200 OK
        code: 200
        duration: 71.002292ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: '{"key":"key1","value":"new-value"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/env-groups/evg-cp70lahk64ms73e22hng/env-vars/key1
        method: PUT
      response:
        body: |
            {"envVars":[{"key":"DATABASE_URL","value":"postgresql://user:password@localhost/mydb"},{"key":"DEBUG_MODE","value":"false"},{"key":"INSTANCE_ID","value":"bMymF2vEgfAUe86s5hHLdkSzOcrpHzso9JENN7uxq7c="},{"key":"key1","value":"new-value"}],"id":"evg-cp70lahk64ms73e22hng","name":"my-environment-group","ownerId":"some-owner-id","secretFiles":[{"content":"username:password","name":"credentials.txt"},{"content":"{\"aws_access_key\":\"AKIAIOSFODNN7EXAMPLE\",\"aws_secret_key\":\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"}","name":"secrets.json"}],"serviceLinks":[]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "28"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-7646845948-lnw4k/9sMaqLcoUR-000060
        status: 200 OK
        code: 200
        duration: 90.844833ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"key":"new-key","value":"some-value"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/env-groups/evg-cp70lahk64ms73e22hng/env-vars/new-key
        method: PUT
      response:
        body: |
            {"envVars":[{"key":"DATABASE_URL","value":"postgresql://user:password@localhost/mydb"},{"key":"DEBUG_MODE","value":"false"},{"key":"INSTANCE_ID","value":"bMymF2vEgfAUe86s5hHLdkSzOcrpHzso9JENN7uxq7c="},{"key":"key1","value":"new-value"},{"key":"new-key","value":"some-value"}],"id":"evg-cp70lahk64ms73e22hng","name":"my-environment-group","ownerId":"some-owner-id","secretFiles":[{"content":"username:password","name":"credentials.txt"},{"content":"{\"aws_access_key\":\"AKIAIOSFODNN7EXAMPLE\",\"aws_secret_key\":\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"}","name":"secrets.json"}],"serviceLinks":[]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "27"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-7646845948-lnw4k/9sMaqLcoUR-000061
        status: 200 OK
        code: 200
        duration: 90.138833ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-cp70lahk64ms73e22hng/env-vars/DATABASE_URL
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "26"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-7646845948-lnw4k/9sMaqLcoUR-000062
        status: 204 No Content
        code: 204
        duration: 76.298042ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-cp70lahk64ms73e22hng/env-vars/DEBUG_MODE
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "25"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-7646845948-lnw4k/9sMaqLcoUR-000063
        status: 204 No Content
        code: 204
        duration: 76.690708ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-cp70lahk64ms73e22hng/env-vars/INSTANCE_ID
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "24"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-7646845948-lnw4k/9sMaqLcoUR-000064
        status: 204 No Content
        code: 204
        duration: 77.436084ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: '{"content":"some-content"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/env-groups/evg-cp70lahk64ms73e22hng/secret-files/new-file
        method: PUT
      response:
        body: |
            {"envVars":[{"key":"key1","value":"new-value"},{"key":"new-key","value":"some-value"}],"id":"evg-cp70lahk64ms73e22hng","name":"my-environment-group","ownerId":"some-owner-id","secretFiles":[{"content":"username:password","name":"credentials.txt"},{"content":"{\"aws_access_key\":\"AKIAIOSFODNN7EXAMPLE\",\"aws_secret_key\":\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"}","name":"secrets.json"},{"content":"some-content","name":"new-file"}],"serviceLinks":[]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "23"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-7646845948-lnw4k/9sMaqLcoUR-000065
        status: 200 OK
        code: 200
        duration: 98.375916ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: '{"content":"new-content"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/env-groups/evg-cp70lahk64ms73e22hng/secret-files/file1
        method: PUT
      response:
        body: |
            {"envVars":[{"key":"key1","value":"new-value"},{"key":"new-key","value":"some-value"}],"id":"evg-cp70lahk64ms73e22hng","name":"my-environment-group","ownerId":"some-owner-id","secretFiles":[{"content":"username:password","name":"credentials.txt"},{"content":"{\"aws_access_key\":\"AKIAIOSFODNN7EXAMPLE\",\"aws_secret_key\":\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"}","name":"secrets.json"},{"content":"some-content","name":"new-file"},{"content":"new-content","name":"file1"}],"serviceLinks":[]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "22"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-7646845948-lnw4k/9sMaqLcoUR-000066
        status: 200 OK
        code: 200
        duration: 93.695083ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-cp70lahk64ms73e22hng/secret-files/credentials.txt
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "21"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-7646845948-lnw4k/9sMaqLcoUR-000067
        status: 204 No Content
        code: 204
        duration: 78.467667ms
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-cp70lahk64ms73e22hng/secret-files/secrets.json
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "20"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-7646845948-lnw4k/9sMaqLcoUR-000068
        status: 204 No Content
        code: 204
        duration: 74.404083ms
[...]
