---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"DEBUG_MODE","value":"false"},{"generateValue":true,"key":"INSTANCE_ID"},{"key":"DATABASE_URL","value":"postgresql://user:password@localhost/mydb"}],"name":"my-environment-group","ownerId":"some-owner-id","secretFiles":[{"content":"username:password","name":"credentials.txt"},{"content":"{\"aws_access_key\":\"AKIAIOSFODNN7EXAMPLE\",\"aws_secret_key\":\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"}","name":"secrets.json"}]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/env-groups
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-03T23:38:57.548501021Z","envVars":[{"key":"DATABASE_URL","value":"postgresql://user:password@localhost/mydb"},{"key":"INSTANCE_ID","value":"AvPmamLYqoETjPfT8luXZipSxsMpXSXlw7cXlUAx4Qw="},{"key":"DEBUG_MODE","value":"false"}],"id":"evg-crbps4bqf0us73dfggr0","name":"my-environment-group","ownerId":"some-owner-id","secretFiles":[{"content":"{\"aws_access_key\":\"AKIAIOSFODNN7EXAMPLE\",\"aws_secret_key\":\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"}","name":"secrets.json"},{"content":"username:password","name":"credentials.txt"}],"serviceLinks":[],"updatedAt":"2024-09-03T23:38:57.548501021Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1263033
        status: 201 Created
        code: 201
        duration: 188.531ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-crbps4bqf0us73dfggr0
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-03T23:38:57.548501Z","envVars":[{"key":"DATABASE_URL","value":"postgresql://user:password@localhost/mydb"},{"key":"INSTANCE_ID","value":"AvPmamLYqoETjPfT8luXZipSxsMpXSXlw7cXlUAx4Qw="},{"key":"DEBUG_MODE","value":"false"}],"id":"evg-crbps4bqf0us73dfggr0","name":"my-environment-group","ownerId":"some-owner-id","secretFiles":[{"content":"{\"aws_access_key\":\"AKIAIOSFODNN7EXAMPLE\",\"aws_secret_key\":\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"}","name":"secrets.json"},{"content":"username:password","name":"credentials.txt"}],"serviceLinks":[],"updatedAt":"2024-09-03T23:38:57.548501Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "2"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2015974
        status: 200 OK
        code: 200
        duration: 80.806042ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: '{"value":"new-value"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/env-groups/evg-crbps4bqf0us73dfggr0/env-vars/key1
        method: PUT
      response:
        body: |
            {"createdAt":"2024-09-03T23:38:57.548501Z","envVars":[{"key":"key1","value":"new-value"},{"key":"DATABASE_URL","value":"postgresql://user:password@localhost/mydb"},{"key":"INSTANCE_ID","value":"AvPmamLYqoETjPfT8luXZipSxsMpXSXlw7cXlUAx4Qw="},{"key":"DEBUG_MODE","value":"false"}],"id":"evg-crbps4bqf0us73dfggr0","name":"my-environment-group","ownerId":"some-owner-id","secretFiles":[{"content":"{\"aws_access_key\":\"AKIAIOSFODNN7EXAMPLE\",\"aws_secret_key\":\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"}","name":"secrets.json"},{"content":"username:password","name":"credentials.txt"}],"serviceLinks":[],"updatedAt":"2024-09-03T23:38:57.548501Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1087797
        status: 200 OK
        code: 200
        duration: 82.278375ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"value":"some-value"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/env-groups/evg-crbps4bqf0us73dfggr0/env-vars/new-key
        method: PUT
      response:
        body: |
            {"createdAt":"2024-09-03T23:38:57.548501Z","envVars":[{"key":"new-key[...]
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-crbps4bqf0us73dfggr0/env-vars/DEBUG_MODE
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5dfb588d7c-ntsn5/63XNsnqzpK-214549
        status: 204 No Content
        code: 204
        duration: 63.496542ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-crbps4bqf0us73dfggr0/env-vars/INSTANCE_ID
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "95"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2015994
        status: 204 No Content
        code: 204
        duration: 60.311583ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-crbps4bqf0us73dfggr0/env-vars/DATABASE_URL
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "94"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1518269
        status: 204 No Content
        code: 204
        duration: 194.864875ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: '{"content":"new-content"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/env-groups/evg-crbps4bqf0us73dfggr0/secret-files/file1
        method: PUT
      response:
        body: |
            {"createdAt":"2024-09-03T23:38:57.548501Z","envVars":[{"key":"new-key","value":"some-value"},{"key":"key1","value":"new-value"}],"id":"evg-crbps4bqf0us73dfggr0","name":"my-environment-group","ownerId":"some-owner-id","secretFiles":[{"content":"new-content","name":"file1"},{"content":"{\"aws_access_key\":\"AKIAIOSFODNN7EXAMPLE\",\"aws_secret_key\":\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"}","name":"secrets.json"},{"content":"username:password","name":"credentials.txt"}],"serviceLinks":[],"updatedAt":"2024-09-03T23:38:57.548501Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1263066
        status: 200 OK
        code: 200
        duration: 90.110667ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: '{"content":"some-content"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/env-groups/evg-crbps4bqf0us73dfggr0/secret-files/new-file
        method: PUT
      response:
        body: |
            {"createdAt":"2024-09-03T23:38:57.548501Z","envVars":[{"key":"new-key","value":"some-value"},{"key":"key1","value":"new-value"}],"id":"evg-crbps4bqf0us73dfggr0","name":"my-environment-group","ownerId":"some-owner-id","secretFiles":[{"content":"some-content","name":"new-file"},{"content":"new-content","name":"file1"},{"content":"{\"aws_access_key\":\"AKIAIOSFODNN7EXAMPLE\",\"aws_secret_key\":\"wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY\"}","name":"secrets.json"},{"content":"username:password","name":"credentials.txt"}],"serviceLinks":[],"updatedAt":"2024-09-03T23:38:57.548501Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2016000
        status: 200 OK
        code: 200
        duration: 93.460292ms
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-crbps4bqf0us73dfggr0/secret-files/secrets.json
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "91"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-5dfb588d7c-ntsn5/63XNsnqzpK-214555
        status: 204 No Content
        code: 204
        duration: 74.545167ms
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-crbps4bqf0us73dfggr0/secret-files/credentials.txt
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "90"
            Ratelimit-Reset:
                - "0"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1087816
        status: 204 No Content
        code: 204
        duration: 57.284375ms
[...]
