---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":[{"key":"key1","value":"new-value"},{"key":"new-key","value":"some-value"}],"name":"some-env-group","ownerId":"some-owner-id","secretFiles":[{"content":"new-content","name":"file1"},{"content":"some-content","name":"new-file"}]}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/env-groups
        method: POST
      response:
        body: |
            {"envVars":[{"key":"new-key","value":"some-value"},{"key":"key1","value":"new-value"}],"id":"evg-cp6fu4bidesc73d0qang","name":"some-env-group","ownerId":"some-owner-id","secretFiles":[{"content":"some-content","name":"new-file"},{"content":"new-content","name":"file1"}],"serviceLinks":[]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "17"
            Ratelimit-Reset:
                - "15"
            Render-Request-Id:
                - api-b49467dcd-d6f8x/Zedw2FGZSZ-000190
        status: 201 Created
        code: 201
        duration: 102.505375ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/env-groups/evg-cp6fu4bidesc73d0qang
        method: GET
      response:
        body: |
            {"envVars":[{"key":"key1","value":"new-value"},{"key":"new-key","value":"some-value"}],"id":"evg-cp6fu4bidesc73d0qang","name":"some-env-group","ownerId":"some-owner-id","secretFiles":[{"content":"new-content","name":"file1"},{"content":"some-content","name":"new-file"}],"serviceLinks":[]}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "14"
            Render-Request-Id:
                - api-b49467dcd-d6f8x/Zedw2FGZSZ-000191
        status: 200 OK
        code: 200
        duration: 74.742333ms
[...]
