---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","networkIsolationEnabled":false,"protectedStatus":"protected"}],"name":"foo","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2025-01-13T16:09:16.897198Z","environmentIds":["evm-cu2jlb4uvdrs71saleqg"],"id":"prj-cu2jlb4uvdrs71saleq0","name":"foo","owner":{"email":"email@example.com","id":"some-owner-id","name":"Terraform Testing","type":"team"},"updatedAt":"2025-01-13T16:09:16.897198Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-59dfc564db-h462b/OaC6DLH6bZ-000096
        status: 201 Created
        code: 201
        duration: 251.110458ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cu2jlb4uvdrs71saleqg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cu2jlb4uvdrs71saleqg","name":"prod","networkIsolationEnabled":false,"projectId":"prj-cu2jlb4uvdrs71saleq0","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-59dfc564db-h462b/OaC6DLH6bZ-000097
        status: 200 OK
        code: 200
        duration: 56.450959ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cu2jlb4uvdrs71saleq0
        method: GET
      response:
        body: |
            {"createdAt":"2025-01-13T16:09:16.897198Z","environmentIds":["evm-cu2jlb4uvdrs71saleqg"],"id":"prj-cu2jlb4uvdrs71saleq0","name":"foo","owner":{"email":"email@example.com","id":"some-owner-id","name":"Terraform Testing","type":"team"},"updatedAt":"2025-01-13T16:09:16.897198Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-59dfc564db-h462b/OaC6DLH6bZ-000098
        status: 200 OK
        code: 200
        duration: 115.162ms
[...]
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: '{"name":"staging","networkIsolationEnabled":true,"projectId":"prj-cu2jlb4uvdrs71saleq0","protectedStatus":"unprotected"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cu2jlbsuvdrs71saler0","name":"staging","networkIsolationEnabled":true,"projectId":"prj-cu2jlb4uvdrs71saleq0","protectedStatus":"unprotected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "94"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-59dfc564db-h462b/OaC6DLH6bZ-000112
        status: 201 Created
        code: 201
        duration: 109.291208ms
[...]
    - id: 19
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cu2jlbsuvdrs71saler0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cu2jlbsuvdrs71saler0","name":"staging","networkIsolationEnabled":true,"projectId":"prj-cu2jlb4uvdrs71saleq0","protectedStatus":"unprotected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "386"
            Ratelimit-Reset:
                - "39"
            Render-Request-Id:
                - api-59dfc564db-h462b/OaC6DLH6bZ-000115
        status: 200 OK
        code: 200
        duration: 58.349542ms
[...]
