---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"foo","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-09-04T00:03:16.205068Z","environmentIds":["evm-crbq7h23esus7393umj0"],"id":"prj-crbq7h23esus7393umig","name":"foo","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-04T00:03:16.205068Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-469098
        status: 201 Created
        code: 201
        duration: 169.548583ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbq7h23esus7393umj0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbq7h23esus7393umj0","name":"prod","projectId":"prj-crbq7h23esus7393umig","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1537498
        status: 200 OK
        code: 200
        duration: 74.848416ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-crbq7h23esus7393umig
        method: GET
      response:
        body: |
            {"createdAt":"2024-09-04T00:03:16.205068Z","environmentIds":["evm-crbq7h23esus7393umj0"],"id":"prj-crbq7h23esus7393umig","name":"foo","owner":{"email":"email@example.com","id":"some-owner-id","name":"TerraformAcceptanceTesting","type":"team"},"updatedAt":"2024-09-04T00:03:16.205068Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "43"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1107466
        status: 200 OK
        code: 200
        duration: 71.26025ms
[...]
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: '{"name":"staging","projectId":"prj-crbq7h23esus7393umig","protectedStatus":"unprotected"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbq7hjv2p9s73djk3o0","name":"staging","projectId":"prj-crbq7h23esus7393umig","protectedStatus":"unprotected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "94"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1537538
        status: 201 Created
        code: 201
        duration: 70.371875ms
[...]
    - id: 19
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-crbq7hjv2p9s73djk3o0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-crbq7hjv2p9s73djk3o0","name":"staging","projectId":"prj-crbq7h23esus7393umig","protectedStatus":"unprotected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "386"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1537544
        status: 200 OK
        code: 200
        duration: 61.396292ms
[...]
