---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"environments":[{"name":"prod","protectedStatus":"protected"}],"name":"foo","ownerId":"some-owner-id"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/projects
        method: POST
      response:
        body: |
            {"createdAt":"2024-05-30T17:20:01.121714Z","environmentIds":["evm-cpcbagbievbks45cfff0"],"id":"prj-cpcbagbievbks45cffeg","name":"foo","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-30T17:20:01.121714Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "29"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002791
        status: 201 Created
        code: 201
        duration: 89.687209ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpcbagbievbks45cfff0
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpcbagbievbks45cfff0","name":"prod","projectId":"prj-cpcbagbievbks45cffeg","protectedStatus":"protected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002792
        status: 200 OK
        code: 200
        duration: 29.839166ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/projects/prj-cpcbagbievbks45cffeg
        method: GET
      response:
        body: |
            {"createdAt":"2024-05-30T17:20:01.121714Z","environmentIds":["evm-cpcbagbievbks45cfff0"],"id":"prj-cpcbagbievbks45cffeg","name":"foo","owner":{"email":"email@example.com","id":"some-owner-id","name":"Test Terraform","type":"team"},"updatedAt":"2024-05-30T17:20:01.121714Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002793
        status: 200 OK
        code: 200
        duration: 27.029375ms
[...]
    - id: 16
      request:
        host: https://api.testing.render.com/v1
        body: '{"name":"staging","projectId":"prj-cpcbagbievbks45cffeg","protectedStatus":"unprotected"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/environments
        method: POST
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpcbagjievbks45cfffg","name":"staging","projectId":"prj-cpcbagbievbks45cffeg","protectedStatus":"unprotected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "24"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002807
        status: 201 Created
        code: 201
        duration: 45.347625ms
[...]
    - id: 19
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/environments/evm-cpcbagjievbks45cfffg
        method: GET
      response:
        body: |
            {"databasesIds":null,"envGroupIds":null,"id":"evm-cpcbagjievbks45cfffg","name":"staging","projectId":"prj-cpcbagbievbks45cffeg","protectedStatus":"unprotected","redisIds":null,"serviceIds":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "386"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-5654479875-hcrp8/3E17df9peV-002810
        status: 200 OK
        code: 200
        duration: 27.690708ms
[...]
