---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"web-service-env-var-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"env":"image","envSpecificDetails":{},"healthCheckPath":"","numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpcbiarievbmau0leo4g","service":{"autoDeploy":"yes","createdAt":"2024-05-30T17:36:43.03817Z","id":"srv-cpcbiarievbmau0leo3g","imagePath":"docker.io/library/nginx:latest","name":"web-service-env-var-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-env-var-tf.localhost.onrender.com:9443"},"slug":"web-service-env-var-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:43.425052Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "45"
            Ratelimit-Reset:
                - "17"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000380
        status: 201 Created
        code: 201
        duration: 826.022166ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpcbiarievbmau0leo3g
        method: PATCH
      response:
        body: |
            {"id":"srv-cpcbiarievbmau0leo3g","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "238"
                - "66"
            Ratelimit-Reset:
                - "16"
                - "16"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000381
        status: 200 OK
        code: 200
        duration: 22.667583ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbiarievbmau0leo3g/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "237"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000382
        status: 200 OK
        code: 200
        duration: 20.489625ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbiarievbmau0leo3g/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "236"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000383
        status: 200 OK
        code: 200
        duration: 24.406375ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbiarievbmau0leo3g/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "235"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000384
        status: 200 OK
        code: 200
        duration: 21.217458ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-env-var-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"W5ufAyYUt6xpYXJpZXZibWF1MGxlbzNn","service":{"autoDeploy":"yes","createdAt":"2024-05-30T17:36:43.03817Z","id":"srv-cpcbiarievbmau0leo3g","imagePath":"docker.io/library/nginx:latest","name":"web-service-env-var-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-env-var-tf.localhost.onrender.com:9443"},"slug":"web-service-env-var-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:43.425052Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "233"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000386
        status: 200 OK
        code: 200
        duration: 26.219959ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbiarievbmau0leo3g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-30T17:36:43.03817Z","id":"srv-cpcbiarievbmau0leo3g","imagePath":"docker.io/library/nginx:latest","name":"web-service-env-var-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-env-var-tf.localhost.onrender.com:9443"},"slug":"web-service-env-var-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:43.425052Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "228"
            Ratelimit-Reset:
                - "16"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000391
        status: 200 OK
        code: 200
        duration: 32.328125ms
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"web-service-env-var-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"healthCheckPath":"","plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbiarievbmau0leo3g
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-30T17:36:43.03817Z","id":"srv-cpcbiarievbmau0leo3g","imagePath":"docker.io/library/nginx:latest","name":"web-service-env-var-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-env-var-tf.localhost.onrender.com:9443"},"slug":"web-service-env-var-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:43.425052Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "15"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000416
        status: 200 OK
        code: 200
        duration: 1.909935208s
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbiarievbmau0leo3g/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"h5Z8T49TDntpYmppZXZibWF1MGxlbzZn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "65"
            Ratelimit-Reset:
                - "13"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000417
        status: 200 OK
        code: 200
        duration: 28.790709ms
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbiarievbmau0leo3g/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"h5Z8T49TDntpYmppZXZibWF1MGxlbzcw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "64"
            Ratelimit-Reset:
                - "13"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000418
        status: 200 OK
        code: 200
        duration: 24.975292ms
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbiarievbmau0leo3g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpcbibrievbmau0leo80","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"update_in_progress","trigger":"api","createdAt":"2024-05-30T17:36:47.096982Z","updatedAt":"2024-05-30T17:36:47.331554Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "13"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000421
        status: 201 Created
        code: 201
        duration: 639.099959ms
[...]
    - id: 44
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbiarievbmau0leo3g/env-vars?cursor=h5Z8T49TDntpYmppZXZibWF1MGxlbzZn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "199"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000424
        status: 200 OK
        code: 200
        duration: 24.279833ms
[...]
    - id: 46
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbiarievbmau0leo3g/secret-files?cursor=h5Z8T49TDntpYmppZXZibWF1MGxlbzcw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "197"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000426
        status: 200 OK
        code: 200
        duration: 26.435125ms
[...]
    - id: 85
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbiarievbmau0leo3g/env-vars?cursor=h5Z8T49TDntpYzNpZXZibWF1MGxlb2Jn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "162"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000465
        status: 200 OK
        code: 200
        duration: 26.184417ms
[...]
    - id: 87
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbiarievbmau0leo3g/secret-files?cursor=h5Z8T49TDntpYzNpZXZibWF1MGxlb2Nn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "160"
            Ratelimit-Reset:
                - "10"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000467
        status: 200 OK
        code: 200
        duration: 22.857292ms
[...]
