---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"web-service-env-var-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"healthCheckPath":"","numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbqc323esus7393vbrg","service":{"autoDeploy":"yes","createdAt":"2024-09-04T00:12:59.841766Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqc2q3esus7393vbq0","id":"srv-crbqc2q3esus7393vbq0","imagePath":"docker.io/library/nginx:latest","name":"web-service-env-var-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-env-var-tf.onrender.com"},"slug":"web-service-env-var-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-04T00:13:00.873231Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "2821"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-475550
        status: 201 Created
        code: 201
        duration: 2.573212541s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbqc2q3esus7393vbq0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crbqc2q3esus7393vbq0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "399"
                - "99"
            Ratelimit-Reset:
                - "58"
                - "58"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1293460
        status: 200 OK
        code: 200
        duration: 88.010209ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqc2q3esus7393vbq0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-475587
        status: 200 OK
        code: 200
        duration: 69.662959ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqc2q3esus7393vbq0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1293465
        status: 200 OK
        code: 200
        duration: 87.862541ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqc2q3esus7393vbq0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-475596
        status: 200 OK
        code: 200
        duration: 65.333375ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-env-var-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"9DLTj91uR8djMnEzZXN1czczOTN2YnEw","service":{"autoDeploy":"yes","createdAt":"2024-09-04T00:12:59.841766Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqc2q3esus7393vbq0","id":"srv-crbqc2q3esus7393vbq0","imagePath":"docker.io/library/nginx:latest","name":"web-service-env-var-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-env-var-tf.onrender.com"},"slug":"web-service-env-var-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-04T00:13:00.873231Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "58"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-475600
        status: 200 OK
        code: 200
        duration: 79.063916ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqc2q3esus7393vbq0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-04T00:12:59.841766Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqc2q3esus7393vbq0","id":"srv-crbqc2q3esus7393vbq0","[...]
[...]
    - id: 36
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"web-service-env-var-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"healthCheckPath":"","plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqc2q3esus7393vbq0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-04T00:12:59.841766Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqc2q3esus7[...]
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqc2q3esus7393vbq0/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"g_JAsubTnI1jNTNxZjB1czczZGZqdTAw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1293600
        status: 200 OK
        code: 200
        duration: 89.890958ms
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqc2q3esus7393vbq0/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"g_JAsubTnI1jNTN2MnA5czczZGpsMjEw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1546030
        status: 200 OK
        code: 200
        duration: 68.824416ms
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqc2q3esus7393vbq0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbqc5a3esus7393vc3g","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-04T00:13:09.131958Z","updatedAt":"2024-09-04T00:13:09.650976Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-475691
        status: 201 Created
        code: 201
        duration: 1.063391667s
[...]
    - id: 44
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqc2q3esus7393vbq0/env-vars?cursor=g_JAsubTnI1jNTNxZjB1czczZGZqdTAw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "360"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-475700
        status: 200 OK
        code: 200
        duration: 74.286167ms
[...]
    - id: 46
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqc2q3esus7393vbq0/secret-files?cursor=g_JAsubTnI1jNTN2MnA5czczZGpsMjEw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "358"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-475702
        status: 200 OK
        code: 200
        duration: 89.005166ms
[...]
    - id: 85
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqc2q3esus7393vbq0/env-vars?cursor=g_JAsubTnI1jNnJ2MnA5czczZGpsMjgw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "323"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2689689
        status: 200 OK
        code: 200
        duration: 70.391041ms
[...]
    - id: 87
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqc2q3esus7393vbq0/secret-files?cursor=g_JAsubTnI1jNnEzZXN1czczOTN2Yzhn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "321"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1293759
        status: 200 OK
        code: 200
        duration: 65.567583ms
[...]
