---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"web-service-env-var-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"healthCheckPath":"","numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfhr9a39eqs701htcn0","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:09:09.708993Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfhr9a39eqs701htcm0","id":"srv-crfhr9a39eqs701htcm0","imagePath":"docker.io/library/nginx:latest","name":"web-service-env-var-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-env-var-tf.localhost.onrender.com:9443"},"slug":"web-service-env-var-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-09T16:09:10.052333Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "199"
            Ratelimit-Reset:
                - "50"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000002
        status: 201 Created
        code: 201
        duration: 1.035072583s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfhr9a39eqs701htcm0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crfhr9a39eqs701htcm0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
                - "1000"
            Ratelimit-Remaining:
                - "999"
                - "999"
            Ratelimit-Reset:
                - "49"
                - "49"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000003
        status: 200 OK
        code: 200
        duration: 19.441917ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhr9a39eqs701htcm0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "998"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000004
        status: 200 OK
        code: 200
        duration: 35.43025ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhr9a39eqs701htcm0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "997"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000005
        status: 200 OK
        code: 200
        duration: 21.177ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhr9a39eqs701htcm0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "996"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000006
        status: 200 OK
        code: 200
        duration: 17.481459ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfhr9a39eqs701htcm0
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfhr9a39eqs701htcm0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "29"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000008
        status: 404 Not Found
        code: 404
        duration: 20.631666ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-env-var-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"aZA8adK2BV1yOWEzOWVxczcwMWh0Y20w","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:09:09.708993Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfhr9a39eqs701htcm0","id":"srv-crfhr9a39eqs701htcm0","imagePath":"docker.io/library/nginx:latest","name":"web-service-env-var-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-env-var-tf.localhost.onrender.com:9443"},"slug":"web-service-env-var-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-09T16:09:10.052333Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "994"
            Ratelimit-Reset:
                - "49"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000009
        status: 200 OK
        code: 200
        duration: 32.155834ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhr9a39eqs701htcm0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:09:09.708993Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfhr9a39eqs701htcm0","id":"srv-crfhr9a39eqs7[...]
[...]
    - id: 43
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"web-service-env-var-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"healthCheckPath":"","plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhr9a39eqs701htcm0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:09:09.708993Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crf[...]
    - id: 44
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhr9a39eqs701htcm0/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"iQ0XMTOr5JZyOXEzOWVxczcwMWh0Y3Aw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "998"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000046
        status: 200 OK
        code: 200
        duration: 26.365833ms
    - id: 45
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhr9a39eqs701htcm0/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"iQ0XMTOr5JZyYTIzOWVxczcwMWh0Y3Bn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "997"
            Ratelimit-Reset:
                - "48"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000047
        status: 200 OK
        code: 200
        duration: 35.449375ms
[...]
    - id: 48
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhr9a39eqs701htcm0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfhra239eqs701htcqg","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-09T16:09:12.214005Z","updatedAt":"2024-09-09T16:09:12.442871Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000050
        status: 201 Created
        code: 201
        duration: 408.19675ms
[...]
    - id: 51
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhr9a39eqs701htcm0/env-vars?cursor=iQ0XMTOr5JZyOXEzOWVxczcwMWh0Y3Aw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "960"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000053
        status: 200 OK
        code: 200
        duration: 21.62475ms
[...]
    - id: 53
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhr9a39eqs701htcm0/secret-files?cursor=iQ0XMTOr5JZyYTIzOWVxczcwMWh0Y3Bn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "958"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000055
        status: 200 OK
        code: 200
        duration: 21.418917ms
[...]
    - id: 97
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhr9a39eqs701htcm0/env-vars?cursor=iQ0XMTOr5JZyYWkzOWVxczcwMWh0Y3Uw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "923"
            Ratelimit-Reset:
                - "45"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000099
        status: 200 OK
        code: 200
        duration: 20.524291ms
[...]
    - id: 99
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhr9a39eqs701htcm0/secret-files?cursor=iQ0XMTOr5JZyYWkzOWVxczcwMWh0Y3Yw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "921"
            Ratelimit-Reset:
                - "45"
            Render-Request-Id:
                - api-55867bd9c6-w26bp/Q0yJSKUYd5-000101
        status: 200 OK
        code: 200
        duration: 22.718875ms
[...]
