---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"nginx","ownerId":""},"name":"web-service-env-var-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-ct6vn35j0q5s700ckgb0","service":{"autoDeploy":"yes","createdAt":"2024-12-02T18:25:16.437791Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vn35j0q5s700ckga0","id":"srv-ct6vn35j0q5s700ckga0","imagePath":"docker.io/library/nginx:latest","name":"web-service-env-var-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"https://web-service-env-var-tf.localhost.onrender.com:9443"},"slug":"web-service-env-var-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-12-02T18:25:16.986341Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "2084"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000758
        status: 201 Created
        code: 201
        duration: 1.640346416s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-ct6vn35j0q5s700ckga0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-ct6vn35j0q5s700ckga0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "90"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000759
        status: 200 OK
        code: 200
        duration: 102.136708ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vn35j0q5s700ckga0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "356"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000760
        status: 200 OK
        code: 200
        duration: 93.56925ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vn35j0q5s700ckga0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "355"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000761
        status: 200 OK
        code: 200
        duration: 97.107333ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vn35j0q5s700ckga0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "354"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000762
        status: 200 OK
        code: 200
        duration: 94.84725ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-ct6vn35j0q5s700ckga0
        method: GET
      response:
        body: |
            {"message":"not found: srv-ct6vn35j0q5s700ckga0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "352"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000764
        status: 404 Not Found
        code: 404
        duration: 139.311584ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-env-var-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"LLUBv6QtETNuMzVqMHE1czcwMGNrZ2Ew","service":{"autoDeploy":"yes","createdAt":"2024-12-02T18:25:16.437791Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vn35j0q5s700ckga0","id":"srv-ct6vn35j0q5s700ckga0","imagePath":"docker.io/library/nginx:latest","name":"web-service-env-var-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"https://web-service-env-var-tf.localhost.onrender.com:9443"},"slug":"web-service-env-var-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-12-02T18:25:16.986341Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "351"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000765
        status: 200 OK
        code: 200
        duration: 154.850375ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vn35j0q5s700ckga0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-12-02T18:25:16.437791Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vn35j0q5s700ckga0","id":"srv-ct6vn35j0q5s7[...]
[...]
    - id: 43
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"nginx","ownerId":"some-owner-id"},"name":"web-service-env-var-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vn35j0q5s700ckga0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-12-02T18:25:16.437791Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6[...]
    - id: 44
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"foo","value":"bar"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vn35j0q5s700ckga0/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"foo","value":"bar"},"cursor":"DLRR7F1e8FhuNWRqMHE1czcwMGNrZ2Rn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "89"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000802
        status: 200 OK
        code: 200
        duration: 158.404333ms
    - id: 45
      request:
        host: https://api.testing.render.com/v1
        body: '[{"content":"bar","name":"file1"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vn35j0q5s700ckga0/secret-files
        method: PUT
      response:
        body: |
            [{"secretFile":{"content":"bar","name":"file1"},"cursor":"DLRR7F1e8FhuNWxqMHE1czcwMGNrZ2Uw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "88"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000803
        status: 200 OK
        code: 200
        duration: 107.981375ms
[...]
    - id: 48
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vn35j0q5s700ckga0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-ct6vn5lj0q5s700ckgf0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:8987949924fc00ae83e3609611990c17cceedc876c5bb9c9f60ca917170ebde1"},"status":"update_in_progress","trigger":"api","createdAt":"2024-12-02T18:25:26.846684Z","updatedAt":"2024-12-02T18:25:27.132171Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000806
        status: 201 Created
        code: 201
        duration: 764.176416ms
[...]
    - id: 51
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vn35j0q5s700ckga0/env-vars?cursor=DLRR7F1e8FhuNWRqMHE1czcwMGNrZ2Rn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "312"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000809
        status: 200 OK
        code: 200
        duration: 87.457083ms
[...]
    - id: 53
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vn35j0q5s700ckga0/secret-files?cursor=DLRR7F1e8FhuNWxqMHE1czcwMGNrZ2Uw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "310"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000811
        status: 200 OK
        code: 200
        duration: 85.384333ms
[...]
    - id: 97
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vn35j0q5s700ckga0/env-vars?cursor=DLRR7F1e8FhuN3RqMHE1czcwMGNrZ2ln
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "271"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000855
        status: 200 OK
        code: 200
        duration: 88.241625ms
[...]
    - id: 99
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vn35j0q5s700ckga0/secret-files?cursor=DLRR7F1e8FhuN3RqMHE1czcwMGNrZ2pn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "269"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000857
        status: 200 OK
        code: 200
        duration: 83.044208ms
[...]
