---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"web-service-native-tf","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":null,"serviceDetails":{"env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpcbi6jievbmau0lemv0","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-05-30T17:36:26.22619Z","id":"srv-cpcbi6bievbmau0lemu0","name":"web-service-native-tf","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-native-tf.localhost.onrender.com:9443"},"slug":"web-service-native-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:26.944217Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "48"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000232
        status: 201 Created
        code: 201
        duration: 1.247703458s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpcbi6bievbmau0lemu0
        method: PATCH
      response:
        body: |
            {"id":"srv-cpcbi6bievbmau0lemu0","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "355"
                - "91"
            Ratelimit-Reset:
                - "33"
                - "33"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000233
        status: 200 OK
        code: 200
        duration: 22.402666ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi6bievbmau0lemu0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "354"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000234
        status: 200 OK
        code: 200
        duration: 23.751667ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi6bievbmau0lemu0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "353"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000235
        status: 200 OK
        code: 200
        duration: 24.904208ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi6bievbmau0lemu0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "352"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000236
        status: 200 OK
        code: 200
        duration: 19.295625ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-native-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"W5ufAyYUt6xpNmJpZXZibWF1MGxlbXUw","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-05-30T17:36:26.22619Z","id":"srv-cpcbi6bievbmau0lemu0","name":"web-service-native-tf","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-native-tf.localhost.onrender.com:9443"},"slug":"web-service-native-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:26.944217Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "350"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000238
        status: 200 OK
        code: 200
        duration: 33.8045ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi6bievbmau0lemu0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-05-30T17:36:26.22619Z","id":"srv-cpcbi6bievbmau0lemu0","name":"web-service-native-tf","notifyOnFail":"default","owne[...]
[...]
    - id: 21
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"web-service-native-tf","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no","runtime":"python"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbi6bievbmau0lemu0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-05-30T17:36:26.22619Z","id":"srv-cpcbi6bievbmau0lemu0","name":"web-service-native-tf","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"python","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-native-tf.localhost.onrender.com:9443"},"slug":"web-service-native-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:27.890138Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000253
        status: 200 OK
        code: 200
        duration: 34.220333ms
[...]
    - id: 26
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbi6bievbmau0lemu0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpcbi73ievbmau0len20","commit":{"id":"a7e6f8df87774111038d0246629c18e5aaee9797","message":"Merge pull request #32 from render-examples/et/keepalive\n\nIn order to avoid race conditions with the render reverse proxy, we should set the keepAlive to be longer than 60s. Setting it to 2 minutes here just in case.","createdAt":"2023-06-02T16:16:22Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-05-30T17:36:28.448772Z","updatedAt":"2024-05-30T17:36:28.448772Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000258
        status: 201 Created
        code: 201
        duration: 661.095ms
[...]
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"web-service-docker-tf","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"healthCheckPath":"","plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no","runtime":"docker"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbi6bievbmau0lemu0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-05-30T17:36:26[...]
[...]
    - id: 53
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"docker.io/library/nginx:latest","ownerId":"some-owner-id"},"name":"web-service-runtime-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"healthCheckPath":"","plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbi6b[...]
[...]
    - id: 58
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbi6bievbmau0lemu0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpcbi7rievbmau0lenag","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:e688fed0b0c7513a63364959e7d389c37ac8ecac7a6c6a31455eca2f5a71ab8b"},"status":"update_in_progress","trigger":"api","createdAt":"2024-05-30T17:36:31.974139Z","updatedAt":"2024-05-30T17:36:32.277944Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "4"
            Ratelimit-Reset:
                - "28"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000290
        status: 201 Created
        code: 201
        duration: 504.117ms
[...]
