---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"web-service-native-tf","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-ct6vmntj0q5s700ckf50","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-12-02T18:24:30.915358Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vmnlj0q5s700ckf40","id":"srv-ct6vmnlj0q5s700ckf40","name":"web-service-native-tf","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node","sshAddress":"srv-email@example.com","url":"https://web-service-native-tf.localhost.onrender.com:9443"},"slug":"web-service-native-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-12-02T18:24:31.938563Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "12"
            Ratelimit-Reset:
                - "2129"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000589
        status: 201 Created
        code: 201
        duration: 1.95268725s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-ct6vmnlj0q5s700ckf40
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-ct6vmnlj0q5s700ckf40"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "89"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000590
        status: 200 OK
        code: 200
        duration: 87.705417ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmnlj0q5s700ckf40/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "351"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000591
        status: 200 OK
        code: 200
        duration: 82.366917ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmnlj0q5s700ckf40/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "350"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000592
        status: 200 OK
        code: 200
        duration: 85.017959ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmnlj0q5s700ckf40/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "349"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000593
        status: 200 OK
        code: 200
        duration: 86.8105ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-ct6vmnlj0q5s700ckf40
        method: GET
      response:
        body: |
            {"message":"not found: srv-ct6vmnlj0q5s700ckf40"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "347"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000595
        status: 404 Not Found
        code: 404
        duration: 115.824ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-native-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"LLUBv6QtETNtbmxqMHE1czcwMGNrZjQw","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-12-02T18:24:30.915358Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vmnlj0q5s700ckf40","id":"srv-ct6vmnlj0q5s700ckf40","name":"web-service-native-tf","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node","sshAddress":"srv-email@example.com","url":"https://web-service-native-tf.localhost.onrender.com:9443"},"slug":"web-service-native-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-12-02T18:24:31.938563Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "346"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000596
        status: 200 OK
        code: 200
        duration: 133.073667ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmnlj0q5s700ckf40
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-12-02T18:24:30.915358Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vmnlj0q5s700ckf40","id":"s[...]
[...]
    - id: 25
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"web-service-native-tf","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"python"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vmnlj0q5s700ckf40
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-12-02T18:24:30.915358Z","dashboardUrl":"http://dashboard.render.localhost[...]
[...]
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vmnlj0q5s700ckf40/deploys
        method: POST
      response:
        body: |
            {"id":"dep-ct6vmpdj0q5s700ckf80","commit":{"id":"59bb07278c918ac8798e2532b4251f7c34e365f5","message":"Drop `package.json#engines` restriction","createdAt":"2024-09-11T15:56:52Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-12-02T18:24:38.005734Z","updatedAt":"2024-12-02T18:24:38.005734Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000619
        status: 201 Created
        code: 201
        duration: 1.170739083s
[...]
    - id: 43
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"web-service-docker-tf","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"docker"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vmnlj0q5s700ckf40
        method: PATCH
      response:
        body: |
            {"autoDep[...]
[...]
    - id: 61
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"docker.io/library/nginx:latest","ownerId":"some-owner-id"},"name":"web-service-runtime-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        [...]
[...]
    - id: 66
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vmnlj0q5s700ckf40/deploys
        method: POST
      response:
        body: |
            {"id":"dep-ct6vms5j0q5s700ckfh0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:8987949924fc00ae83e3609611990c17cceedc876c5bb9c9f60ca917170ebde1"},"status":"update_in_progress","trigger":"api","createdAt":"2024-12-02T18:24:48.190022Z","updatedAt":"2024-12-02T18:24:48.54542Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "4"
            Ratelimit-Reset:
                - "12"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000655
        status: 201 Created
        code: 201
        duration: 832.217209ms
[...]
