---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"web-service-native-tf","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfhqe48m55c70304vug","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:07:19.880293Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfhqds8m55c70304vtg","id":"srv-crfhqds8m55c70304vtg","name":"web-service-native-tf","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-native-tf.localhost.onrender.com:9443"},"slug":"web-service-native-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-09T16:07:22.759255Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "198"
            Ratelimit-Reset:
                - "40"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000065
        status: 201 Created
        code: 201
        duration: 3.490157s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfhqds8m55c70304vtg
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crfhqds8m55c70304vtg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "1000"
            Ratelimit-Remaining:
                - "355"
                - "991"
            Ratelimit-Reset:
                - "37"
                - "37"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000066
        status: 200 OK
        code: 200
        duration: 39.77475ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqds8m55c70304vtg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "354"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000067
        status: 200 OK
        code: 200
        duration: 42.594417ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqds8m55c70304vtg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "353"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000068
        status: 200 OK
        code: 200
        duration: 38.869166ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqds8m55c70304vtg/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "352"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000069
        status: 200 OK
        code: 200
        duration: 35.060042ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfhqds8m55c70304vtg
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfhqds8m55c70304vtg"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "21"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000071
        status: 404 Not Found
        code: 404
        duration: 32.954875ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-native-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"aZA8adK2BV1xZHM4bTU1YzcwMzA0dnRn","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:07:19.880293Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfhqds8m55c70304vtg","id":"srv-crfhqds8m55c70304vtg","name":"web-service-native-tf","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-native-tf.localhost.onrender.com:9443"},"slug":"web-service-native-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-09T16:07:22.759255Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "350"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000072
        status: 200 OK
        code: 200
        duration: 49.596833ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqds8m55c70304vtg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:07:19.880293Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfhqds8m55c70304vtg","id":"s[...]
[...]
    - id: 25
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"web-service-native-tf","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"python"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhqds8m55c70304vtg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-09-09T16:07:19.880293Z","dashboardUrl":"http://dashboard.render.localhost[...]
[...]
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhqds8m55c70304vtg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfhqf48m55c7030501g","commit":{"id":"a7e6f8df87774111038d0246629c18e5aaee9797","message":"Merge pull request #32 from render-examples/et/keepalive\n\nIn order to avoid race conditions with the render reverse proxy, we should set the keepAlive to be longer than 60s. Setting it to 2 minutes here just in case.","createdAt":"2023-06-02T16:16:22Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-09T16:07:27.203797Z","updatedAt":"2024-09-09T16:07:27.203797Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000095
        status: 201 Created
        code: 201
        duration: 2.967570667s
[...]
    - id: 43
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"web-service-docker-tf","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"healthCheckPath":"","plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"docker"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhqds8m55c70304vtg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-[...]
[...]
    - id: 61
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"docker.io/library/nginx:latest","ownerId":"some-owner-id"},"name":"web-service-runtime-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"healthCheckPath":"","plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/servic[...]
[...]
    - id: 66
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhqds8m55c70304vtg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfhqhc8m55c703050a0","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:88a0a069d5e9865fcaaf8c1e53ba6bf3d8d987b0fdc5e0135fec8ce8567d673e"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-09T16:07:33.107127Z","updatedAt":"2024-09-09T16:07:33.46457Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "4"
            Ratelimit-Reset:
                - "27"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000131
        status: 201 Created
        code: 201
        duration: 599.159875ms
[...]
