---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"envVars":null,"name":"web-service-native-tf","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbqbii3esus7393v9cg","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-09-04T00:11:53.923272Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqbia3esus7393v9b0","id":"srv-crbqbia3esus7393v9b0","name":"web-service-native-tf","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-native-tf.onrender.com"},"slug":"web-service-native-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-04T00:11:58.10882Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "11"
            Ratelimit-Reset:
                - "2886"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-474777
        status: 201 Created
        code: 201
        duration: 5.162830583s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbqbia3esus7393v9b0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crbqbia3esus7393v9b0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "355"
                - "91"
            Ratelimit-Reset:
                - "1"
                - "1"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-474828
        status: 200 OK
        code: 200
        duration: 80.336584ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbia3esus7393v9b0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "354"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1115166
        status: 200 OK
        code: 200
        duration: 85.19425ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbia3esus7393v9b0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "353"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1115169
        status: 200 OK
        code: 200
        duration: 59.168875ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbia3esus7393v9b0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "352"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1292466
        status: 200 OK
        code: 200
        duration: 60.93925ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-native-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"9DLTj91uR8diaWEzZXN1czczOTN2OWIw","service":{"autoDeploy":"yes","branch":"main","createdAt":"2024-09-04T00:11:53.923272Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqbia3esus7393v9b0","id":"srv-crbqbia3esus7393v9b0","name":"web-service-native-tf","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-native-tf.onrender.com"},"slug":"web-service-native-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-04T00:11:58.10882Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "350"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3907292
        status: 200 OK
        code: 200
        duration: 90.80175ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbia3esus7393v9b0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-09-04T00:11:53.923272Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqbia3esus7393v9b0","id":"srv-crbqbia[...]
[...]
    - id: 21
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"web-service-native-tf","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"python"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqbia3esus7393v9b0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-09-04T00:11:53.923272Z","dashboardUrl":"https://dashboard.render.com/web/[...]
[...]
    - id: 26
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqbia3esus7393v9b0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbqbk2j1k6c738edc50","commit":{"id":"a7e6f8df87774111038d0246629c18e5aaee9797","message":"Merge pull request #32 from render-examples/et/keepalive\n\nIn order to avoid race conditions with the render reverse proxy, we should set the keepAlive to be longer than 60s. Setting it to 2 minutes here just in case.","createdAt":"2023-06-02T16:16:22Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-04T00:12:03.914505Z","updatedAt":"2024-09-04T00:12:03.914505Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "59"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1115208
        status: 201 Created
        code: 201
        duration: 3.975911792s
[...]
    - id: 37
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":null,"paths":null},"name":"web-service-docker-tf","repo":"https://github.com/render-examples/bun-docker","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"","dockerContext":".","dockerfilePath":"./Dockerfile"},"healthCheckPath":"","plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"docker"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqbia3esus7393v9b0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","createdAt":"2024-[...]
[...]
    - id: 53
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"docker.io/library/nginx:latest","ownerId":"some-owner-id"},"name":"web-service-runtime-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"healthCheckPath":"","plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/servic[...]
[...]
    - id: 58
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqbia3esus7393v9b0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbqbnaj1k6c738edd4g","commit":null,"image":{"ref":"docker.io/library/nginx:latest","sha":"sha256:5f0574409b3add89581b96c68afe9e9c7b284651c3a974b6e8bac46bf95e6b7f"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-04T00:12:13.598768Z","updatedAt":"2024-09-04T00:12:14.151027Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "4"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1115420
        status: 201 Created
        code: 201
        duration: 1.391845584s
[...]
