---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"name":"terraform-web-service","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"plan":"starter","preDeployCommand":"echo ''hello world''","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crdnrr3h12fc706tdle0","service":{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-09-06T22:10:52.625244Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crdnrr3h12fc706tdla0","id":"srv-crdnrr3h12fc706tdla0","name":"terraform-web-service","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crdnrr3h12fc706tdlcg","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"node","envSpecificDetails":{"buildCommand":"npm install","preDeployCommand":"echo 'hello world'","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://terraform-web-service-fxun.localhost.onrender.com:9443"},"slug":"terraform-web-service-fxun","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-06T22:10:55.288313Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "18"
            Ratelimit-Reset:
                - "2947"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000015
        status: 201 Created
        code: 201
        duration: 3.363010167s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"name":"terraform-provider-1.example.com"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crdnrr3h12fc706tdla0/custom-domains
        method: POST
      response:
        body: |
            [{"createdAt":"2024-09-06T22:10:55.361692626Z","domainType":"subdomain","id":"cdm-crdnrrrh12fc706tdlig","name":"terraform-provider-1.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "49"
            Ratelimit-Reset:
                - "2944"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000016
        status: 201 Created
        code: 201
        duration: 59.35ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"failure","previewNotificationsEnabled":"false"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crdnrr3h12fc706tdla0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"failure","previewNotificationsEnabled":"false","serviceId":"srv-crdnrr3h12fc706tdla0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "394"
                - "98"
            Ratelimit-Reset:
                - "4"
                - "4"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000018
        status: 200 OK
        code: 200
        duration: 55.598667ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crdnrr3h12fc706tdla0
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"srv-crdnrr3h12fc706tdla0","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "28"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000019
        status: 200 OK
        code: 200
        duration: 92.963708ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdnrr3h12fc706tdla0/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"vFxH_7Mk4nxycjNoMTJmYzcwNnRkbGIw"},{"envVar":{"key":"key1","value":"val1"},"cursor":"vFxH_7Mk4nxycjNoMTJmYzcwNnRkbGFn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "393"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000020
        status: 200 OK
        code: 200
        duration: 47.758208ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdnrr3h12fc706tdla0/env-vars?cursor=vFxH_7Mk4nxycjNoMTJmYzcwNnRkbGFn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "392"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000021
        status: 200 OK
        code: 200
        duration: 54.804875ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdnrr3h12fc706tdla0/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"vFxH_7Mk4nxycjNoMTJmYzcwNnRkbGMw"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"vFxH_7Mk4nxycjNoMTJmYzcwNnRkbGJn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "391"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000022
        status: 200 OK
        code: 200
        duration: 49.427584ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdnrr3h12fc706tdla0/secret-files?cursor=vFxH_7Mk4nxycjNoMTJmYzcwNnRkbGJn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "390"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000023
        status: 200 OK
        code: 200
        duration: 64.138208ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdnrr3h12fc706tdla0/custom-domains?limit=100
        method: GET
      response:
        body: |
            [{"cursor":"iHzBfNDRs0RycnJoMTJmYzcwNnRkbGsw","customDomain":{"createdAt":"2024-09-06T22:10:55.424054Z","domainType":"subdomain","id":"cdm-crdnrrrh12fc706tdlk0","name":"terraform-provider-2.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}},{"cursor":"iHzBfNDRs0RycnJoMTJmYzcwNnRkbGln","customDomain":{"createdAt":"2024-09-06T22:10:55.361693Z","domainType":"subdomain","id":"cdm-crdnrrrh12fc706tdlig","name":"terraform-provider-1.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "389"
            Ratelimit-Reset:
                - "4"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000024
        status: 200 OK
        code: 200
        duration: 65.1725ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=terraform-web-service&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"_B4BeiJiT7tycjNoMTJmYzcwNnRkbGEw","service":{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests[...]
[...]
    - id: 20
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdnrr3h12fc706tdla0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-09-06T22:10:52.625244Z","dashboardUrl":"http://dashbo[...]
[...]
    - id: 45
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"key1","value":"new-value"},{"generateValue":true,"key":"new-key"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crdnrr3h12fc706tdla0/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"key1","value":"new-value"},"cursor":"vFxH_7Mk4nxyc2poMTJmYzcwNnRkbG1n"},{"envVar":{"key":"new-key","value":"LMMFVXneniuCqsFf/Cw5JvDHyqfZ6bu9d0Vj7oLwmno="},"cursor":"vFxH_7Mk4nxyc2poMTJmYzcwNnRkbG4w"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000060
        status: 200 OK
        code: 200
        duration: 69.470542ms
[...]
    - id: 51
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdnrr3h12fc706tdla0/custom-domains/terraform-provider-1.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "93"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000066
        status: 204 No Content
        code: 204
        duration: 48.513458ms
[...]
    - id: 54
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crdnrr3h12fc706tdla0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crdnrsrh12fc706tdlr0","commit":{"id":"a7e6f8df87774111038d0246629c18e5aaee9797","message":"Merge pull request #32 from render-examples/et/keepalive\n\nIn order to avoid race conditions with the render reverse proxy, we should set the keepAlive to be longer than 60s. Setting it to 2 minutes here just in case.","createdAt":"2023-06-02T16:16:22Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-06T22:11:01.607359Z","updatedAt":"2024-09-06T22:11:01.607359Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000069
        status: 201 Created
        code: 201
        duration: 2.930266333s
[...]
    - id: 57
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdnrr3h12fc706tdla0/env-vars?cursor=vFxH_7Mk4nxyc2poMTJmYzcwNnRkbG1n
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000072
        status: 200 OK
        code: 200
        duration: 44.021375ms
[...]
    - id: 59
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crdnrr3h12fc706tdla0/secret-files?cursor=vFxH_7Mk4nxyc2poMTJmYzcwNnRkbG5n
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-5fc4c5b69c-pm6b2/KZnjKPcHtN-000074
        status: 200 OK
        code: 200
        duration: 43.751583ms
[...]
