---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"docker.io/library/redis:latest","ownerId":""},"name":"web-service-autoscaling-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"env":"image","envSpecificDetails":{},"healthCheckPath":"","numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpcbi8jievbmau0lengg","service":{"autoDeploy":"yes","createdAt":"2024-05-30T17:36:33.814647Z","id":"srv-cpcbi8bievbmau0lenfg","imagePath":"docker.io/library/redis:latest","name":"web-service-autoscaling-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-autoscaling-tf-sbnj.localhost.onrender.com:9443"},"slug":"web-service-autoscaling-tf-sbnj","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:34.272018Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "47"
            Ratelimit-Reset:
                - "26"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000297
        status: 201 Created
        code: 201
        duration: 1.309267334s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpcbi8bievbmau0lenfg
        method: PATCH
      response:
        body: |
            {"id":"srv-cpcbi8bievbmau0lenfg","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "304"
                - "80"
            Ratelimit-Reset:
                - "25"
                - "25"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000298
        status: 200 OK
        code: 200
        duration: 20.032875ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi8bievbmau0lenfg/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "303"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000299
        status: 200 OK
        code: 200
        duration: 19.803541ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi8bievbmau0lenfg/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "302"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000300
        status: 200 OK
        code: 200
        duration: 18.956959ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi8bievbmau0lenfg/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "301"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000301
        status: 200 OK
        code: 200
        duration: 23.672709ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-autoscaling-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"W5ufAyYUt6xpOGJpZXZibWF1MGxlbmZn","service":{"autoDeploy":"yes","createdAt":"2024-05-30T17:36:33.814647Z","id":"srv-cpcbi8bievbmau0lenfg","imagePath":"docker.io/library/redis:latest","name":"web-service-autoscaling-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-autoscaling-tf-sbnj.localhost.onrender.com:9443"},"slug":"web-service-autoscaling-tf-sbnj","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:34.272018Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "299"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000303
        status: 200 OK
        code: 200
        duration: 31.251375ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi8bievbmau0lenfg
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-30T17:36:33.814647Z","id":"srv-cpcbi8bievbmau0lenfg","imagePath":"docker.io/library/redis:latest","name":"web-service-autoscaling[...]
[...]
    - id: 21
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi8bievbmau0lenfg/autoscaling
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "79"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000318
        status: 204 No Content
        code: 204
        duration: 80.29975ms
    - id: 22
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"docker.io/library/redis:latest","ownerId":"some-owner-id"},"name":"web-service-autoscaling-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"healthCheckPath":"","plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbi8bievbmau0lenfg
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-30T17:36:33.814647Z","id":"srv-cpcbi8bievbmau0lenfg","imagePath":"docker.io/library/redis:latest","name":"web-service-autoscaling-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-autoscaling-tf-sbnj.localhost.onrender.com:9443"},"slug":"web-service-autoscaling-tf-sbnj","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:34.272018Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000319
        status: 200 OK
        code: 200
        duration: 350.516166ms
[...]
    - id: 27
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbi8bievbmau0lenfg/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpcbi93ievbmau0lenjg","commit":null,"image":{"ref":"docker.io/library/redis:latest","sha":"sha256:276dd5763e8a5380d0ce922af362f0cd706f55caef83f8f3eee743552420c692"},"status":"update_in_progress","trigger":"api","createdAt":"2024-05-30T17:36:36.087811Z","updatedAt":"2024-05-30T17:36:36.328893Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000324
        status: 201 Created
        code: 201
        duration: 553.6235ms
[...]
