---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"docker.io/library/nginx:latest","ownerId":""},"name":"web-service-image-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"env":"image","envSpecificDetails":{},"healthCheckPath":"","numInstances":1,"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpcbi9bievbmau0lenp0","service":{"autoDeploy":"yes","createdAt":"2024-05-30T17:36:37.576799Z","id":"srv-cpcbi9bievbmau0leno0","imagePath":"docker.io/library/nginx:latest","name":"web-service-image-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-image-tf.localhost.onrender.com:9443"},"slug":"web-service-image-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:37.922379Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "46"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000331
        status: 201 Created
        code: 201
        duration: 804.512666ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpcbi9bievbmau0leno0
        method: PATCH
      response:
        body: |
            {"id":"srv-cpcbi9bievbmau0leno0","notificationsToSend":"default","previewNotificationsEnabled":"default","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "277"
                - "74"
            Ratelimit-Reset:
                - "21"
                - "21"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000332
        status: 200 OK
        code: 200
        duration: 19.203291ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi9bievbmau0leno0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "276"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000333
        status: 200 OK
        code: 200
        duration: 33.2625ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi9bievbmau0leno0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "275"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000334
        status: 200 OK
        code: 200
        duration: 19.308541ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi9bievbmau0leno0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "274"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000335
        status: 200 OK
        code: 200
        duration: 18.303125ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-image-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"W5ufAyYUt6xpOWJpZXZibWF1MGxlbm8w","service":{"autoDeploy":"yes","createdAt":"2024-05-30T17:36:37.576799Z","id":"srv-cpcbi9bievbmau0leno0","imagePath":"docker.io/library/nginx:latest","name":"web-service-image-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-image-tf.localhost.onrender.com:9443"},"slug":"web-service-image-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:37.922379Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "272"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000337
        status: 200 OK
        code: 200
        duration: 24.567791ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi9bievbmau0leno0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-30T17:36:37.576799Z","id":"srv-cpcbi9bievbmau0leno0","imagePath":"docker.io/library/nginx:latest","name":"web-service-image-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-image-tf.localhost.onrender.com:9443"},"slug":"web-service-image-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:37.922379Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "267"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000342
        status: 200 OK
        code: 200
        duration: 25.395375ms
[...]
    - id: 21
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"docker.io/library/nginx:stable-perl","ownerId":"some-owner-id"},"name":"web-service-image-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"echo hello"},"healthCheckPath":"","plan":"starter","preDeployCommand":"","pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbi9bievbmau0leno0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-05-30T17:36:37.576799Z","id":"srv-cpcbi9bievbmau0leno0","imagePath":"docker.io/library/nginx:stable-perl","name":"web-service-image-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"echo hello","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-image-tf.localhost.onrender.com:9443"},"slug":"web-service-image-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:39.664786Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "21"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000352
        status: 200 OK
        code: 200
        duration: 869.9425ms
[...]
    - id: 26
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbi9bievbmau0leno0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpcbi9rievbmau0lenrg","commit":null,"image":{"ref":"docker.io/library/nginx:stable-perl","sha":"sha256:15585364514a1e9df46ec8d6ddfd1a56ee316724f47cb7b375ce4d4df137c856"},"status":"update_in_progress","trigger":"api","createdAt":"2024-05-30T17:36:39.974015Z","updatedAt":"2024-05-30T17:36:40.205993Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000357
        status: 201 Created
        code: 201
        duration: 426.82925ms
[...]
