---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"name":"terraform-web-service","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"plan":"starter","preDeployCommand":"echo ''hello world''","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbqbctds78s73949c00","service":{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-09-04T00:11:31.277291Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqbclds78s73949bq0","id":"srv-crbqbclds78s73949bq0","name":"terraform-web-service","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crbqbctds78s73949bsg","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"node","envSpecificDetails":{"buildCommand":"npm install","preDeployCommand":"echo 'hello world'","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://terraform-web-service-wwoi.onrender.com"},"slug":"terraform-web-service-wwoi","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-04T00:11:35.705126Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "12"
            Ratelimit-Reset:
                - "2909"
            Render-Request-Id:
                - api-5dfb588d7c-ntsn5/63XNsnqzpK-230253
        status: 201 Created
        code: 201
        duration: 5.615527s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"name":"terraform-provider-1.example.com"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqbclds78s73949bq0/custom-domains
        method: POST
      response:
        body: |
            [{"createdAt":"2024-09-04T00:11:35.8091549Z","domainType":"subdomain","id":"cdm-crbqbdt6l47c73d8itig","name":"terraform-provider-1.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "47"
            Ratelimit-Reset:
                - "2904"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2043825
        status: 201 Created
        code: 201
        duration: 72.22825ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"failure","previewNotificationsEnabled":"false"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbqbclds78s73949bq0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"failure","previewNotificationsEnabled":"false","serviceId":"srv-crbqbclds78s73949bq0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "399"
                - "99"
            Ratelimit-Reset:
                - "24"
                - "24"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1292086
        status: 200 OK
        code: 200
        duration: 84.1375ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbclds78s73949bq0/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"g_JAsubTnI1iY3Rkczc4czczOTQ5YnIw"},{"envVar":{"key":"key1","value":"val1"},"cursor":"g_JAsubTnI1iY3Rkczc4czczOTQ5YnFn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1292088
        status: 200 OK
        code: 200
        duration: 66.207667ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbclds78s73949bq0/env-vars?cursor=g_JAsubTnI1iY3Rkczc4czczOTQ5YnFn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-rpk2v/ghfGv3MfHH-1544653
        status: 200 OK
        code: 200
        duration: 60.423959ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbclds78s73949bq0/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"g_JAsubTnI1iY3Rkczc4czczOTQ5YnMw"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"g_JAsubTnI1iY3Rkczc4czczOTQ5YnJn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2043832
        status: 200 OK
        code: 200
        duration: 59.457334ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbclds78s73949bq0/secret-files?cursor=g_JAsubTnI1iY3Rkczc4czczOTQ5YnJn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2688104
        status: 200 OK
        code: 200
        duration: 107.2945ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbclds78s73949bq0/custom-domains?limit=100
        method: GET
      response:
        body: |
            [{"cursor":"mCyQ7JvVSGNiZHQ2bDQ3YzczZDhpdGsw","customDomain":{"createdAt":"2024-09-04T00:11:35.884056Z","domainType":"subdomain","id":"cdm-crbqbdt6l47c73d8itk0","name":"terraform-provider-2.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}},{"cursor":"mCyQ7JvVSGNiZHQ2bDQ3YzczZDhpdGln","customDomain":{"createdAt":"2024-09-04T00:11:35.809155Z","domainType":"subdomain","id":"cdm-crbqbdt6l47c73d8itig","name":"terraform-provider-1.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "23"
            Render-Request-Id:
                - api-5dfb588d7c-ntsn5/63XNsnqzpK-230305
        status: 200 OK
        code: 200
        duration: 70.752417ms
[...]
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=terraform-web-service&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"9DLTj91uR8diY2xkczc4czczOTQ5YnEw","service":{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests[...]
[...]
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbclds78s73949bq0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-09-04T00:11:31.277291Z","dashboardUrl":"https://dashb[...]
[...]
    - id: 39
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"key1","value":"new-value"},{"generateValue":true,"key":"new-key"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqbclds78s73949bq0/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"key1","value":"new-value"},"cursor":"g_JAsubTnI1iZXRzdnFyYzczZjNjaTBn"},{"envVar":{"key":"new-key","value":"ANup01epdY45hBOgv8rLfoml8CKOnkWzpYseSH/zvvU="},"cursor":"g_JAsubTnI1iZXRzdnFyYzczZjNjaTEw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2688148
        status: 200 OK
        code: 200
        duration: 78.991166ms
[...]
    - id: 44
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbclds78s73949bq0/custom-domains/terraform-provider-1.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "94"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1292137
        status: 204 No Content
        code: 204
        duration: 532.346167ms
[...]
    - id: 47
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqbclds78s73949bq0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbqbflsvqrc73f3ci80","commit":{"id":"a7e6f8df87774111038d0246629c18e5aaee9797","message":"Merge pull request #32 from render-examples/et/keepalive\n\nIn order to avoid race conditions with the render reverse proxy, we should set the keepAlive to be longer than 60s. Setting it to 2 minutes here just in case.","createdAt":"2023-06-02T16:16:22Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-04T00:11:45.392731Z","updatedAt":"2024-09-04T00:11:45.392731Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "18"
            Render-Request-Id:
                - api-5dfb588d7c-zdq84/zQ1v1A2eHd-2688184
        status: 201 Created
        code: 201
        duration: 4.249605042s
[...]
    - id: 50
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbclds78s73949bq0/env-vars?cursor=g_JAsubTnI1iZXRzdnFyYzczZjNjaTBn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "360"
            Ratelimit-Reset:
                - "13"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2043972
        status: 200 OK
        code: 200
        duration: 59.817792ms
[...]
    - id: 52
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbclds78s73949bq0/secret-files?cursor=g_JAsubTnI1iZXRkczc4czczOTQ5Y3Aw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "358"
            Ratelimit-Reset:
                - "13"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1292238
        status: 200 OK
        code: 200
        duration: 75.024916ms
[...]
