---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"docker.io/library/nginx:latest","ownerId":""},"name":"web-service-image-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"healthCheckPath":"","numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfhqj48m55c703050og","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:07:39.747208Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfhqis8m55c703050ng","id":"srv-crfhqis8m55c703050ng","imagePath":"docker.io/library/nginx:latest","name":"web-service-image-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-image-tf.localhost.onrender.com:9443"},"slug":"web-service-image-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-09T16:07:40.153511Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "196"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000178
        status: 201 Created
        code: 201
        duration: 950.247459ms
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfhqis8m55c703050ng
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crfhqis8m55c703050ng"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "1000"
            Ratelimit-Remaining:
                - "277"
                - "974"
            Ratelimit-Reset:
                - "19"
                - "19"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000179
        status: 200 OK
        code: 200
        duration: 42.437792ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqis8m55c703050ng/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "276"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000180
        status: 200 OK
        code: 200
        duration: 49.224ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqis8m55c703050ng/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "275"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000181
        status: 200 OK
        code: 200
        duration: 45.315333ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqis8m55c703050ng/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "274"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000182
        status: 200 OK
        code: 200
        duration: 35.626916ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfhqis8m55c703050ng
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfhqis8m55c703050ng"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "7"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000184
        status: 404 Not Found
        code: 404
        duration: 38.169166ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-image-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"aZA8adK2BV1xaXM4bTU1YzcwMzA1MG5n","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:07:39.747208Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfhqis8m55c703050ng","id":"srv-crfhqis8m55c703050ng","imagePath":"docker.io/library/nginx:latest","name":"web-service-image-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-image-tf.localhost.onrender.com:9443"},"slug":"web-service-image-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-09T16:07:40.153511Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "272"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000185
        status: 200 OK
        code: 200
        duration: 62.286167ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqis8m55c703050ng
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:07:39.747208Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfhqis8m55c703050ng","id":"srv-crfhqis8m55c7[...]
[...]
    - id: 25
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"docker.io/library/nginx:stable-perl","ownerId":"some-owner-id"},"name":"web-service-image-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"echo hello"},"healthCheckPath":"","plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhqis8m55c703050ng
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:07:39.747208Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crf[...]
[...]
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhqis8m55c703050ng/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfhqjk8m55c703050r0","commit":null,"image":{"ref":"docker.io/library/nginx:stable-perl","sha":"sha256:05fefa00464007ca5c63f3d470aba1d60d4875bd22800fb3b5471ff3ad3e8d51"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-09T16:07:42.449785Z","updatedAt":"2024-09-09T16:07:42.721229Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "17"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000208
        status: 201 Created
        code: 201
        duration: 495.594333ms
[...]
