---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"docker.io/library/nginx:latest","ownerId":""},"name":"web-service-image-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-ct6vmvlj0q5s700ckg00","service":{"autoDeploy":"yes","createdAt":"2024-12-02T18:25:01.582299Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vmvdj0q5s700ckfv0","id":"srv-ct6vmvdj0q5s700ckfv0","imagePath":"docker.io/library/nginx:latest","name":"web-service-image-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"https://web-service-image-tf.localhost.onrender.com:9443"},"slug":"web-service-image-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-12-02T18:25:02.117223Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "10"
            Ratelimit-Reset:
                - "2099"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000702
        status: 201 Created
        code: 201
        duration: 1.609652042s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-ct6vmvdj0q5s700ckfv0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-ct6vmvdj0q5s700ckfv0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000703
        status: 200 OK
        code: 200
        duration: 106.34275ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmvdj0q5s700ckfv0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000704
        status: 200 OK
        code: 200
        duration: 96.259459ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmvdj0q5s700ckfv0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000705
        status: 200 OK
        code: 200
        duration: 92.417209ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmvdj0q5s700ckfv0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "57"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000706
        status: 200 OK
        code: 200
        duration: 91.724375ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-ct6vmvdj0q5s700ckfv0
        method: GET
      response:
        body: |
            {"message":"not found: srv-ct6vmvdj0q5s700ckfv0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000708
        status: 404 Not Found
        code: 404
        duration: 132.218708ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-image-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"LLUBv6QtETNtdmRqMHE1czcwMGNrZnYw","service":{"autoDeploy":"yes","createdAt":"2024-12-02T18:25:01.582299Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vmvdj0q5s700ckfv0","id":"srv-ct6vmvdj0q5s700ckfv0","imagePath":"docker.io/library/nginx:latest","name":"web-service-image-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"https://web-service-image-tf.localhost.onrender.com:9443"},"slug":"web-service-image-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-12-02T18:25:02.117223Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "56"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000709
        status: 200 OK
        code: 200
        duration: 174.552166ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmvdj0q5s700ckfv0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-12-02T18:25:01.582299Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vmvdj0q5s700ckfv0","id":"srv-ct6vmvdj0q5s7[...]
[...]
    - id: 25
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"docker.io/library/nginx:stable-perl","ownerId":"some-owner-id"},"name":"web-service-image-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"echo hello"},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vmvdj0q5s700ckfv0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-12-02T18:25:01.582299Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6[...]
[...]
    - id: 30
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vmvdj0q5s700ckfv0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-ct6vn15j0q5s700ckg2g","commit":null,"image":{"ref":"docker.io/library/nginx:stable-perl","sha":"sha256:622ce149c59ac876e2d19e0c78e764e6f63dd63cc0d064a2eef1b9078560b880"},"status":"update_in_progress","trigger":"api","createdAt":"2024-12-02T18:25:08.813852Z","updatedAt":"2024-12-02T18:25:09.055981Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "51"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000732
        status: 201 Created
        code: 201
        duration: 733.761583ms
[...]
