---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"docker.io/library/redis:latest","ownerId":""},"name":"web-service-autoscaling-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"envSpecificDetails":{},"healthCheckPath":"","numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfhqhs8m55c703050g0","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:07:34.94061Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfhqhk8m55c703050f0","id":"srv-crfhqhk8m55c703050f0","imagePath":"docker.io/library/redis:latest","name":"web-service-autoscaling-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-autoscaling-tf-rcq6.localhost.onrender.com:9443"},"slug":"web-service-autoscaling-tf-rcq6","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-09T16:07:35.385009Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "197"
            Ratelimit-Reset:
                - "25"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000139
        status: 201 Created
        code: 201
        duration: 1.027545458s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfhqhk8m55c703050f0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crfhqhk8m55c703050f0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "1000"
            Ratelimit-Remaining:
                - "304"
                - "980"
            Ratelimit-Reset:
                - "24"
                - "24"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000140
        status: 200 OK
        code: 200
        duration: 45.552333ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqhk8m55c703050f0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "303"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000141
        status: 200 OK
        code: 200
        duration: 40.588417ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqhk8m55c703050f0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "302"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000142
        status: 200 OK
        code: 200
        duration: 41.262042ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqhk8m55c703050f0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "301"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000143
        status: 200 OK
        code: 200
        duration: 43.838084ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfhqhk8m55c703050f0
        method: GET
      response:
        body: |
            {"message":"not found: srv-crfhqhk8m55c703050f0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "12"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000145
        status: 404 Not Found
        code: 404
        duration: 38.235958ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-autoscaling-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"aZA8adK2BV1xaGs4bTU1YzcwMzA1MGYw","service":{"autoDeploy":"yes","createdAt":"2024-09-09T16:07:34.94061Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfhqhk8m55c703050f0","id":"srv-crfhqhk8m55c703050f0","imagePath":"docker.io/library/redis:latest","name":"web-service-autoscaling-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-autoscaling-tf-rcq6.localhost.onrender.com:9443"},"slug":"web-service-autoscaling-tf-rcq6","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-09T16:07:35.385009Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "299"
            Ratelimit-Reset:
                - "24"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000146
        status: 200 OK
        code: 200
        duration: 51.654708ms
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqhk8m55c703050f0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:07:34.94061Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfhqhk8m55c703050f0","id":"srv-crfhqhk8m55c70[...]
[...]
    - id: 25
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqhk8m55c703050f0/autoscaling
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "979"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000164
        status: 204 No Content
        code: 204
        duration: 109.975334ms
    - id: 26
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"docker.io/library/redis:latest","ownerId":"some-owner-id"},"name":"web-service-autoscaling-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"healthCheckPath":"","plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhqhk8m55c703050f0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-09T16:07:34.94061Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfh[...]
[...]
    - id: 31
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhqhk8m55c703050f0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfhqic8m55c703050j0","commit":null,"image":{"ref":"docker.io/library/redis:latest","sha":"sha256:de8d697be6deafe656d530b2d40a625df8678d4019e2c3dc90669293ee7d387d"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-09T16:07:37.887884Z","updatedAt":"2024-09-09T16:07:38.164687Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "22"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000170
        status: 201 Created
        code: 201
        duration: 513.39075ms
[...]
