---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":[{"key":"key2","value":"val2"},{"key":"key1","value":"val1"}],"name":"terraform-web-service","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"plan":"starter","preDeployCommand":"echo ''hello world''","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crfhqbc8m55c70304v8g","service":{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-09-09T16:07:08.676807Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-crfhqb48m55c70304v4g","id":"srv-crfhqb48m55c70304v4g","name":"terraform-web-service","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-crfhqb48m55c70304v70","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"node","envSpecificDetails":{"buildCommand":"npm install","preDeployCommand":"echo 'hello world'","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://terraform-web-service-29am.localhost.onrender.com:9443"},"slug":"terraform-web-service-29am","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-09T16:07:11.895108Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "200"
            Ratelimit-Remaining:
                - "199"
            Ratelimit-Reset:
                - "52"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000001
        status: 201 Created
        code: 201
        duration: 4.227287041s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"name":"terraform-provider-1.example.com"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhqb48m55c70304v4g/custom-domains
        method: POST
      response:
        body: |
            [{"createdAt":"2024-09-09T16:07:11.968861827Z","domainType":"subdomain","id":"cdm-crfhqbs8m55c70304vd0","name":"terraform-provider-1.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "49"
            Ratelimit-Reset:
                - "3168"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000002
        status: 201 Created
        code: 201
        duration: 50.220167ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"failure","previewNotificationsEnabled":"false"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crfhqb48m55c70304v4g
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"failure","previewNotificationsEnabled":"false","serviceId":"srv-crfhqb48m55c70304v4g"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "1000"
            Ratelimit-Remaining:
                - "399"
                - "999"
            Ratelimit-Reset:
                - "47"
                - "47"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000004
        status: 200 OK
        code: 200
        duration: 45.704542ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-crfhqb48m55c70304v4g
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"srv-crfhqb48m55c70304v4g","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "30"
            Ratelimit-Remaining:
                - "29"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000005
        status: 200 OK
        code: 200
        duration: 53.745666ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqb48m55c70304v4g/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key1","value":"val1"},"cursor":"iQ0XMTOr5JZxYjQ4bTU1YzcwMzA0djVn"},{"envVar":{"key":"key2","value":"val2"},"cursor":"iQ0XMTOr5JZxYjQ4bTU1YzcwMzA0djUw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000006
        status: 200 OK
        code: 200
        duration: 40.641208ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqb48m55c70304v4g/env-vars?cursor=iQ0XMTOr5JZxYjQ4bTU1YzcwMzA0djUw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000007
        status: 200 OK
        code: 200
        duration: 42.302333ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqb48m55c70304v4g/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"iQ0XMTOr5JZxYjQ4bTU1YzcwMzA0djZn"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"iQ0XMTOr5JZxYjQ4bTU1YzcwMzA0djYw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000008
        status: 200 OK
        code: 200
        duration: 54.451833ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqb48m55c70304v4g/secret-files?cursor=iQ0XMTOr5JZxYjQ4bTU1YzcwMzA0djYw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000009
        status: 200 OK
        code: 200
        duration: 44.486958ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqb48m55c70304v4g/custom-domains?limit=100
        method: GET
      response:
        body: |
            [{"cursor":"OA7-zTofGNdxYzQ4bTU1YzcwMzA0dmVn","customDomain":{"createdAt":"2024-09-09T16:07:12.016892Z","domainType":"subdomain","id":"cdm-crfhqc48m55c70304veg","name":"terraform-provider-2.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}},{"cursor":"OA7-zTofGNdxYnM4bTU1YzcwMzA0dmQw","customDomain":{"createdAt":"2024-09-09T16:07:11.968862Z","domainType":"subdomain","id":"cdm-crfhqbs8m55c70304vd0","name":"terraform-provider-1.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "47"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000010
        status: 200 OK
        code: 200
        duration: 43.199875ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=terraform-web-service&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"aZA8adK2BV1xYjQ4bTU1YzcwMzA0djRn","service":{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests[...]
[...]
    - id: 20
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqb48m55c70304v4g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-09-09T16:07:08.676807Z","dashboardUrl":"http://dashbo[...]
[...]
    - id: 45
      request:
        host: https://api.testing.render.com/v1
        body: '[{"generateValue":true,"key":"new-key"},{"key":"key1","value":"new-value"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhqb48m55c70304v4g/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"new-key","value":"9FPV8/Rd2/rgv7oOCuUJC7GcjuyimaEt9MeQmeOrMzE="},"cursor":"iQ0XMTOr5JZxY2s4bTU1YzcwMzA0dmgw"},{"envVar":{"key":"key1","value":"new-value"},"cursor":"iQ0XMTOr5JZxY2s4bTU1YzcwMzA0dmhn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "998"
            Ratelimit-Reset:
                - "45"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000046
        status: 200 OK
        code: 200
        duration: 58.445375ms
[...]
    - id: 51
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqb48m55c70304v4g/custom-domains/terraform-provider-1.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "1000"
            Ratelimit-Remaining:
                - "994"
            Ratelimit-Reset:
                - "45"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000052
        status: 204 No Content
        code: 204
        duration: 47.703958ms
[...]
    - id: 54
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crfhqb48m55c70304v4g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crfhqcs8m55c70304vlg","commit":{"id":"a7e6f8df87774111038d0246629c18e5aaee9797","message":"Merge pull request #32 from render-examples/et/keepalive\n\nIn order to avoid race conditions with the render reverse proxy, we should set the keepAlive to be longer than 60s. Setting it to 2 minutes here just in case.","createdAt":"2023-06-02T16:16:22Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-09-09T16:07:17.743035Z","updatedAt":"2024-09-09T16:07:17.743035Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "44"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000055
        status: 201 Created
        code: 201
        duration: 2.890109959s
[...]
    - id: 57
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqb48m55c70304v4g/env-vars?cursor=iQ0XMTOr5JZxY2s4bTU1YzcwMzA0dmgw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "360"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000058
        status: 200 OK
        code: 200
        duration: 44.836708ms
[...]
    - id: 59
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crfhqb48m55c70304v4g/secret-files?cursor=iQ0XMTOr5JZxY2s4bTU1YzcwMzA0dmkw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "358"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-65dd7c94f7-929qz/kiWFvO9Det-000060
        status: 200 OK
        code: 200
        duration: 44.010833ms
[...]
