---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"docker.io/library/redis:latest","ownerId":""},"name":"web-service-autoscaling-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"envSpecificDetails":{},"healthCheckPath":"","numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbqbpqj1k6c738eddi0","service":{"autoDeploy":"yes","createdAt":"2024-09-04T00:12:22.661014Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqbpij1k6c738eddg0","id":"srv-crbqbpij1k6c738eddg0","imagePath":"docker.io/library/redis:latest","name":"web-service-autoscaling-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-autoscaling-tf.onrender.com"},"slug":"web-service-autoscaling-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-04T00:12:23.693186Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "10"
            Ratelimit-Reset:
                - "2858"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1115554
        status: 201 Created
        code: 201
        duration: 2.692664375s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbqbpij1k6c738eddg0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crbqbpij1k6c738eddg0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "368"
                - "89"
            Ratelimit-Reset:
                - "35"
                - "35"
            Render-Request-Id:
                - api-5dfb588d7c-ntsn5/63XNsnqzpK-230713
        status: 200 OK
        code: 200
        duration: 68.210459ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbpij1k6c738eddg0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "367"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1115603
        status: 200 OK
        code: 200
        duration: 67.992417ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbpij1k6c738eddg0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "366"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3907774
        status: 200 OK
        code: 200
        duration: 70.455458ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbpij1k6c738eddg0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "365"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3907777
        status: 200 OK
        code: 200
        duration: 61.686417ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-autoscaling-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"9DLTj91uR8dicGlqMWs2YzczOGVkZGcw","service":{"autoDeploy":"yes","createdAt":"2024-09-04T00:12:22.661014Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqbpij1k6c738eddg0","id":"srv-crbqbpij1k6c738eddg0","imagePath":"docker.io/library/redis:latest","name":"web-service-autoscaling-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-autoscaling-tf.onrender.com"},"slug":"web-service-autoscaling-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-04T00:12:23.693186Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "363"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-5dfb588d7c-vtfzv/Y6vInJ4FWm-475168
        status: 200 OK
        code: 200
        duration: 1.832482708s
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbpij1k6c738eddg0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-04T00:12:22.661014Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqbpij1k6c738eddg0","id":"srv-crbqbpij1k6c738eddg0","[...]
[...]
    - id: 21
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbpij1k6c738eddg0/autoscaling
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "88"
            Ratelimit-Reset:
                - "32"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1292946
        status: 204 No Content
        code: 204
        duration: 220.898167ms
    - id: 22
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"docker.io/library/redis:latest","ownerId":"some-owner-id"},"name":"web-service-autoscaling-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"healthCheckPath":"","plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqbpij1k6c738eddg0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-04T00:12:22.661014Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqbpij1k6c7[...]
[...]
    - id: 27
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqbpij1k6c738eddg0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbqbrjtq21c73clnrmg","commit":null,"image":{"ref":"docker.io/library/redis:latest","sha":"sha256:bdaf8425515f443a223fd16d071c6903d42d8f3bee28ec0aa3b36ecace9afd80"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-04T00:12:30.505744Z","updatedAt":"2024-09-04T00:12:30.978544Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "30"
            Render-Request-Id:
                - api-5dfb588d7c-zk4z5/ZlQgAGJQgW-3907882
        status: 201 Created
        code: 201
        duration: 1.53060175s
[...]
