---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"docker.io/library/nginx:latest","ownerId":""},"name":"web-service-image-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"envSpecificDetails":{},"healthCheckPath":"","numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-crbqbtrqf0us73dfjqhg","service":{"autoDeploy":"yes","createdAt":"2024-09-04T00:12:38.572843Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqbtjqf0us73dfjqf0","id":"srv-crbqbtjqf0us73dfjqf0","imagePath":"docker.io/library/nginx:latest","name":"web-service-image-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-image-tf.onrender.com"},"slug":"web-service-image-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-04T00:12:39.465921Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "9"
            Ratelimit-Reset:
                - "2842"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1293071
        status: 201 Created
        code: 201
        duration: 2.445118583s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-crbqbtjqf0us73dfjqf0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-crbqbtjqf0us73dfjqf0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "341"
                - "83"
            Ratelimit-Reset:
                - "20"
                - "20"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1115824
        status: 200 OK
        code: 200
        duration: 64.727416ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbtjqf0us73dfjqf0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "340"
            Ratelimit-Reset:
                - "20"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2044801
        status: 200 OK
        code: 200
        duration: 629.107709ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbtjqf0us73dfjqf0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "339"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-5dfb588d7c-tjj9c/Cvjs9XM2VF-1115834
        status: 200 OK
        code: 200
        duration: 61.600083ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbtjqf0us73dfjqf0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "338"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-5dfb588d7c-js44c/vVKqdgsQoF-1293128
        status: 200 OK
        code: 200
        duration: 66.549333ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-image-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"9DLTj91uR8didGpxZjB1czczZGZqcWYw","service":{"autoDeploy":"yes","createdAt":"2024-09-04T00:12:38.572843Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqbtjqf0us73dfjqf0","id":"srv-crbqbtjqf0us73dfjqf0","imagePath":"docker.io/library/nginx:latest","name":"web-service-image-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://web-service-image-tf.onrender.com"},"slug":"web-service-image-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-09-04T00:12:39.465921Z"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "336"
            Ratelimit-Reset:
                - "19"
            Render-Request-Id:
                - api-5dfb588d7c-ntsn5/63XNsnqzpK-230834
        status: 200 OK
        code: 200
        duration: 73.834584ms
[...]
    - id: 11
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-crbqbtjqf0us73dfjqf0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-04T00:12:38.572843Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqbtjqf0us73dfjqf0","id":"srv-crbqbtjqf0us73dfjqf0","[...]
[...]
    - id: 21
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"docker.io/library/nginx:stable-perl","ownerId":"some-owner-id"},"name":"web-service-image-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":"echo hello"},"healthCheckPath":"","plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqbtjqf0us73dfjqf0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-09-04T00:12:38.572843Z","dashboardUrl":"https://dashboard.render.com/web/srv-crbqbtjqf0us7[...]
[...]
    - id: 26
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-crbqbtjqf0us73dfjqf0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-crbqbvd6l47c73d8j040","commit":null,"image":{"ref":"docker.io/library/nginx:stable-perl","sha":"sha256:2d796eabc04717adaad67af0e82b93ac7d5781974551a06530612f4518e49dad"},"status":"update_in_progress","trigger":"api","createdAt":"2024-09-04T00:12:45.171849Z","updatedAt":"2024-09-04T00:12:45.785323Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "15"
            Render-Request-Id:
                - api-5dfb588d7c-gvn66/5HbnvSs0QQ-2044867
        status: 201 Created
        code: 201
        duration: 1.498997375s
[...]
