---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"name":"terraform-web-service","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":[{"content":"content2","name":"file2"},{"content":"content1","name":"file1"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"plan":"starter","preDeployCommand":"echo ''hello world''","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-ct6vmk5j0q5s700ckeeg","service":{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-12-02T18:24:16.047704Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vmjtj0q5s700ckea0","id":"srv-ct6vmjtj0q5s700ckea0","name":"terraform-web-service","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-ct6vmk5j0q5s700ckecg","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"node","envSpecificDetails":{"buildCommand":"npm install","preDeployCommand":"echo 'hello world'","startCommand":"npm start"},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"node","sshAddress":"srv-email@example.com","url":"https://terraform-web-service.localhost.onrender.com:9443"},"slug":"terraform-web-service","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-12-02T18:24:17.131053Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "13"
            Ratelimit-Reset:
                - "2144"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000525
        status: 201 Created
        code: 201
        duration: 2.355577s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"name":"terraform-provider-1.example.com"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vmjtj0q5s700ckea0/custom-domains
        method: POST
      response:
        body: |
            [{"createdAt":"2024-12-02T18:24:17.249914324Z","domainType":"subdomain","id":"cdm-ct6vmkdj0q5s700ckej0","name":"terraform-provider-1.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "49"
            Ratelimit-Reset:
                - "2142"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000526
        status: 201 Created
        code: 201
        duration: 93.498875ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"failure","previewNotificationsEnabled":"false"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-ct6vmjtj0q5s700ckea0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"failure","previewNotificationsEnabled":"false","serviceId":"srv-ct6vmjtj0q5s700ckea0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "99"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000528
        status: 200 OK
        code: 200
        duration: 86.955708ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: '{"setting":"drop"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-ct6vmjtj0q5s700ckea0
        method: PUT
      response:
        body: |
            {"endpoint":"","resourceId":"srv-ct6vmjtj0q5s700ckea0","setting":"drop"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000529
        status: 200 OK
        code: 200
        duration: 92.019459ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmjtj0q5s700ckea0/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"DLRR7F1e8FhtazVqMHE1czcwMGNrZWIw"},{"envVar":{"key":"key1","value":"val1"},"cursor":"DLRR7F1e8FhtazVqMHE1czcwMGNrZWFn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "399"
            Ratelimit-Reset:
                - "42"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000530
        status: 200 OK
        code: 200
        duration: 77.564125ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmjtj0q5s700ckea0/env-vars?cursor=DLRR7F1e8FhtazVqMHE1czcwMGNrZWFn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000531
        status: 200 OK
        code: 200
        duration: 78.327ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmjtj0q5s700ckea0/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content1","name":"file1"},"cursor":"DLRR7F1e8FhtazVqMHE1czcwMGNrZWMw"},{"secretFile":{"content":"content2","name":"file2"},"cursor":"DLRR7F1e8FhtazVqMHE1czcwMGNrZWJn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000532
        status: 200 OK
        code: 200
        duration: 75.97675ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmjtj0q5s700ckea0/secret-files?cursor=DLRR7F1e8FhtazVqMHE1czcwMGNrZWJn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000533
        status: 200 OK
        code: 200
        duration: 76.263625ms
    - id: 9
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmjtj0q5s700ckea0/custom-domains?limit=100
        method: GET
      response:
        body: |
            [{"cursor":"uH4CHnLGak5ta2RqMHE1czcwMGNrZWtn","customDomain":{"createdAt":"2024-12-02T18:24:17.411644Z","domainType":"subdomain","id":"cdm-ct6vmkdj0q5s700ckekg","name":"terraform-provider-2.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}},{"cursor":"uH4CHnLGak5ta2RqMHE1czcwMGNrZWow","customDomain":{"createdAt":"2024-12-02T18:24:17.249914Z","domainType":"subdomain","id":"cdm-ct6vmkdj0q5s700ckej0","name":"terraform-provider-1.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "41"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000534
        status: 200 OK
        code: 200
        duration: 86.678916ms
[...]
    - id: 12
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=terraform-web-service&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"LLUBv6QtETNtanRqMHE1czcwMGNrZWEw","service":{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests[...]
[...]
    - id: 20
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmjtj0q5s700ckea0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-12-02T18:24:16.047704Z","dashboardUrl":"http://dashbo[...]
[...]
    - id: 45
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"key1","value":"new-value"},{"generateValue":true,"key":"new-key"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vmjtj0q5s700ckea0/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"key1","value":"new-value"},"cursor":"DLRR7F1e8FhtbWRqMHE1czcwMGNrZW5n"},{"envVar":{"key":"new-key","value":"XBS02Qe5n5sY09XGvqKUF14iGNFZKAjCv+NHY8yZ4Fg="},"cursor":"DLRR7F1e8FhtbWRqMHE1czcwMGNrZW8w"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "97"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000570
        status: 200 OK
        code: 200
        duration: 104.571125ms
[...]
    - id: 51
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmjtj0q5s700ckea0/custom-domains/terraform-provider-1.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "92"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000576
        status: 204 No Content
        code: 204
        duration: 112.214541ms
[...]
    - id: 54
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vmjtj0q5s700ckea0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-ct6vmmlj0q5s700ckes0","commit":{"id":"59bb07278c918ac8798e2532b4251f7c34e365f5","message":"Drop `package.json#engines` restriction","createdAt":"2024-09-11T15:56:52Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-12-02T18:24:27.608994Z","updatedAt":"2024-12-02T18:24:27.608994Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "33"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000579
        status: 201 Created
        code: 201
        duration: 1.210814459s
[...]
    - id: 57
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmjtj0q5s700ckea0/env-vars?cursor=DLRR7F1e8FhtbWRqMHE1czcwMGNrZW5n
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "357"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000582
        status: 200 OK
        code: 200
        duration: 87.365583ms
[...]
    - id: 59
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmjtj0q5s700ckea0/secret-files?cursor=DLRR7F1e8FhtbWRqMHE1czcwMGNrZW9n
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "355"
            Ratelimit-Reset:
                - "31"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000584
        status: 200 OK
        code: 200
        duration: 88.243416ms
[...]
