---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"envVars":null,"image":{"imagePath":"docker.io/library/redis:latest","ownerId":""},"name":"web-service-autoscaling-tf","ownerId":"some-owner-id","rootDir":"","secretFiles":null,"serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"envSpecificDetails":{},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"plan":"starter","previews":{},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-ct6vmstj0q5s700ckfn0","service":{"autoDeploy":"yes","createdAt":"2024-12-02T18:24:51.29603Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vmstj0q5s700ckfm0","id":"srv-ct6vmstj0q5s700ckfm0","imagePath":"docker.io/library/redis:latest","name":"web-service-autoscaling-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"enabled":true,"max":3,"min":1},"buildPlan":"starter","env":"image","envSpecificDetails":{"dockerCommand":"","dockerContext":"","dockerfilePath":""},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","previews":{"generation":"off"},"pullRequestPreviewsEnabled":"no","region":"oregon","runtime":"image","sshAddress":"srv-email@example.com","url":"https://web-service-autoscaling-tf.localhost.onrender.com:9443"},"slug":"web-service-autoscaling-tf","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-12-02T18:24:51.868583Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "20"
            Ratelimit-Remaining:
                - "11"
            Ratelimit-Reset:
                - "2109"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000663
        status: 201 Created
        code: 201
        duration: 1.66664425s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-ct6vmstj0q5s700ckfm0
        method: PATCH
      response:
        body: |
            {"notificationsToSend":"default","previewNotificationsEnabled":"default","serviceId":"srv-ct6vmstj0q5s700ckfm0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "78"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000664
        status: 200 OK
        code: 200
        duration: 83.540583ms
    - id: 2
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmstj0q5s700ckfm0/env-vars
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "295"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000665
        status: 200 OK
        code: 200
        duration: 73.32425ms
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmstj0q5s700ckfm0/secret-files
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "294"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000666
        status: 200 OK
        code: 200
        duration: 78.282542ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmstj0q5s700ckfm0/custom-domains?limit=100
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "293"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000667
        status: 200 OK
        code: 200
        duration: 76.643958ms
[...]
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/logs/streams/resource/srv-ct6vmstj0q5s700ckfm0
        method: GET
      response:
        body: |
            {"message":"not found: srv-ct6vmstj0q5s700ckfm0"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "291"
            Ratelimit-Reset:
                - "7"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000669
        status: 404 Not Found
        code: 404
        duration: 104.867416ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=web-service-autoscaling-tf&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"LLUBv6QtETNtc3RqMHE1czcwMGNrZm0w","service":{"autoDeploy":"yes","createdAt":"2024-12-02T18:24:51.29603Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vmstj0q5s700ckfm0","id":"srv-ct6vmstj0q5s700ckfm0","imagePath":"docker.io/library/redis:latest","name":"web-service-autoscaling-tf","notifyOnFail":"default","ownerId":"some-owner-id","rootDir":"","serviceDetails":{"autoscaling":{"criteria":{"cpu":{"enabled":true,"percentage":60},"memory":{"enabled":false,"percentage":70}},"ena[...]
[...]
    - id: 13
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmstj0q5s700ckfm0
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-12-02T18:24:51.29603Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6vmstj0q5s700ckfm0","id":"srv-ct6vmstj0q5s70[...]
[...]
    - id: 25
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-ct6vmstj0q5s700ckfm0/autoscaling
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "77"
            Ratelimit-Reset:
                - "3"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000688
        status: 204 No Content
        code: 204
        duration: 228.440667ms
    - id: 26
      request:
        host: https://api.testing.render.com/v1
        body: '{"image":{"imagePath":"docker.io/library/redis:latest","ownerId":"some-owner-id"},"name":"web-service-autoscaling-tf","rootDir":"","serviceDetails":{"envSpecificDetails":{"dockerCommand":""},"healthCheckPath":"","maintenanceMode":{"enabled":false,"uri":""},"plan":"starter","preDeployCommand":"","previews":{},"pullRequestPreviewsEnabled":"no","runtime":"image"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vmstj0q5s700ckfm0
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","createdAt":"2024-12-02T18:24:51.29603Z","dashboardUrl":"http://dashboard.render.localhost:3000/web/srv-ct6v[...]
[...]
    - id: 31
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-ct6vmstj0q5s700ckfm0/deploys
        method: POST
      response:
        body: |
            {"id":"dep-ct6vmulj0q5s700ckfqg","commit":null,"image":{"ref":"docker.io/library/redis:latest","sha":"sha256:126cc4da63a39000ce527ae644b880d26608d27d8b7d35b3ee37670f5ee55eea"},"status":"update_in_progress","trigger":"api","createdAt":"2024-12-02T18:24:58.587823Z","updatedAt":"2024-12-02T18:24:58.823777Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "1"
            Render-Request-Id:
                - api-86f88f97dc-mq7v6/f6uEMMelME-000694
        status: 201 Created
        code: 201
        duration: 699.87975ms
[...]
