---
version: 2
interactions:
    - id: 0
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"envVars":[{"key":"key1","value":"val1"},{"key":"key2","value":"val2"}],"name":"terraform-web-service","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","secretFiles":[{"content":"content1","name":"file1"},{"content":"content2","name":"file2"}],"serviceDetails":{"disk":{"mountPath":"/data","name":"some-disk","sizeGB":1},"env":"node","envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"plan":"starter","preDeployCommand":"echo ''hello world''","pullRequestPreviewsEnabled":"no","region":"oregon"},"type":"web_service"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services
        method: POST
      response:
        body: |
            {"deployId":"dep-cpcbi5bievbmau0lem9g","service":{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-05-30T17:36:21.552005Z","id":"srv-cpcbi5bievbmau0lem5g","name":"terraform-web-service","notifyOnFail":"default","ownerId":"some-owner-id","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"buildPlan":"starter","disk":{"id":"dsk-cpcbi5bievbmau0lem80","mountPath":"/data","name":"some-disk","sizeGB":1},"env":"node","envSpecificDetails":{"buildCommand":"npm install","preDeployCommand":"echo 'hello world'","startCommand":"npm start"},"healthCheckPath":"","numInstances":1,"openPorts":[{"port":10000,"protocol":"TCP"}],"plan":"starter","pullRequestPreviewsEnabled":"no","region":"oregon","url":"https://terraform-web-service-3mpr.localhost.onrender.com:9443"},"slug":"terraform-web-service-3mpr","suspended":"not_suspended","suspenders":[],"type":"web_service","updatedAt":"2024-05-30T17:36:22.299773Z"}}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "49"
            Ratelimit-Reset:
                - "38"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000176
        status: 201 Created
        code: 201
        duration: 1.363646125s
    - id: 1
      request:
        host: https://api.testing.render.com/v1
        body: '{"name":"terraform-provider-1.example.com"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbi5bievbmau0lem5g/custom-domains
        method: POST
      response:
        body: |
            [{"createdAt":"2024-05-30T17:36:22.347134935Z","domainType":"subdomain","id":"cdm-cpcbi5jievbmau0leme0","name":"terraform-provider-1.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "50"
            Ratelimit-Remaining:
                - "37"
            Ratelimit-Reset:
                - "1417"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000177
        status: 201 Created
        code: 201
        duration: 30.117875ms
[...]
    - id: 3
      request:
        host: https://api.testing.render.com/v1
        body: '{"notificationsToSend":"failure","previewNotificationsEnabled":"false"}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/notification-settings/overrides/services/srv-cpcbi5bievbmau0lem5g
        method: PATCH
      response:
        body: |
            {"id":"srv-cpcbi5bievbmau0lem5g","notificationsToSend":"failure","previewNotificationsEnabled":"false","type":""}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
                - "100"
            Ratelimit-Remaining:
                - "399"
                - "99"
            Ratelimit-Reset:
                - "37"
                - "37"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000179
        status: 200 OK
        code: 200
        duration: 24.382208ms
    - id: 4
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi5bievbmau0lem5g/env-vars
        method: GET
      response:
        body: |
            [{"envVar":{"key":"key2","value":"val2"},"cursor":"h5Z8T49TDntpNWJpZXZibWF1MGxlbTZn"},{"envVar":{"key":"key1","value":"val1"},"cursor":"h5Z8T49TDntpNWJpZXZibWF1MGxlbTYw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "398"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000180
        status: 200 OK
        code: 200
        duration: 20.780667ms
    - id: 5
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi5bievbmau0lem5g/env-vars?cursor=h5Z8T49TDntpNWJpZXZibWF1MGxlbTYw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "397"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000181
        status: 200 OK
        code: 200
        duration: 18.328417ms
    - id: 6
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi5bievbmau0lem5g/secret-files
        method: GET
      response:
        body: |
            [{"secretFile":{"content":"content2","name":"file2"},"cursor":"h5Z8T49TDntpNWJpZXZibWF1MGxlbTdn"},{"secretFile":{"content":"content1","name":"file1"},"cursor":"h5Z8T49TDntpNWJpZXZibWF1MGxlbTcw"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "396"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000182
        status: 200 OK
        code: 200
        duration: 18.71225ms
    - id: 7
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi5bievbmau0lem5g/secret-files?cursor=h5Z8T49TDntpNWJpZXZibWF1MGxlbTcw
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "395"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000183
        status: 200 OK
        code: 200
        duration: 19.772375ms
    - id: 8
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi5bievbmau0lem5g/custom-domains?limit=100
        method: GET
      response:
        body: |
            [{"cursor":"tZ6qhv947SppNWppZXZibWF1MGxlbWZn","customDomain":{"createdAt":"2024-05-30T17:36:22.377421Z","domainType":"subdomain","id":"cdm-cpcbi5jievbmau0lemfg","name":"terraform-provider-2.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}},{"cursor":"tZ6qhv947SppNWppZXZibWF1MGxlbWUw","customDomain":{"createdAt":"2024-05-30T17:36:22.347135Z","domainType":"subdomain","id":"cdm-cpcbi5jievbmau0leme0","name":"terraform-provider-1.example.com","publicSuffix":"com","redirectForName":"","verificationStatus":"unverified"}}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "394"
            Ratelimit-Reset:
                - "37"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000184
        status: 200 OK
        code: 200
        duration: 25.765542ms
[...]
    - id: 10
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services?name=terraform-web-service&ownerId=some-owner-id&type=web_service
        method: GET
      response:
        body: |
            [{"cursor":"W5ufAyYUt6xpNWJpZXZibWF1MGxlbTVn","service":{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests[...]
[...]
    - id: 17
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi5bievbmau0lem5g
        method: GET
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-05-30T17:36:21.552005Z","id":"srv-cpcbi5bievbmau0lem5[...]
[...]
    - id: 38
      request:
        host: https://api.testing.render.com/v1
        body: '{"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"name":"new-name","repo":"https://github.com/render-examples/express-hello-world","rootDir":"","serviceDetails":{"envSpecificDetails":{"buildCommand":"npm install","startCommand":"npm start"},"healthCheckPath":"","plan":"standard","preDeployCommand":"","pullRequestPreviewsEnabled":"no","runtime":"node"}}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbi5bievbmau0lem5g
        method: PATCH
      response:
        body: |
            {"autoDeploy":"yes","branch":"main","buildFilter":{"ignoredPaths":["tests/**"],"paths":["src/**"]},"createdAt":"2024-05-30T17:36:21.552005Z","id":"srv-cpcbi5bievbmau0lem5g","name":"new-name"[...]
    - id: 39
      request:
        host: https://api.testing.render.com/v1
        body: '[{"key":"key1","value":"new-value"},{"generateValue":true,"key":"new-key"}]'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbi5bievbmau0lem5g/env-vars
        method: PUT
      response:
        body: |
            [{"envVar":{"key":"new-key","value":"fkIhODOfI0H6gyOGG/G1JPLd4Qx88/d6Juk2fRzCXko="},"cursor":"h5Z8T49TDntpNXJpZXZibWF1MGxlbWkw"},{"envVar":{"key":"key1","value":"new-value"},"cursor":"h5Z8T49TDntpNXJpZXZibWF1MGxlbWhn"}]
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "98"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000215
        status: 200 OK
        code: 200
        duration: 23.511375ms
[...]
    - id: 41
      request:
        host: https://api.testing.render.com/v1
        body: '{"mountPath":"/data","name":"some-disk-updated","sizeGB":1}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/disks/dsk-cpcbi5bievbmau0lem80
        method: PATCH
      response:
        body: |
            {"createdAt":"2024-05-30T17:36:21.59414Z","id":"dsk-cpcbi5bievbmau0lem80","mountPath":"/data","name":"some-disk-updated","serviceId":"srv-cpcbi5bievbmau0lem5g","sizeGB":1,"updatedAt":"2024-05-30T17:36:23.921591Z"}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "96"
            Ratelimit-Reset:
                - "36"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000217
        status: 200 OK
        code: 200
        duration: 37.177666ms
[...]
    - id: 44
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi5bievbmau0lem5g/custom-domains/terraform-provider-1.example.com
        method: DELETE
      response:
        body: ""
        headers:
            Ratelimit-Limit:
                - "100"
            Ratelimit-Remaining:
                - "94"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000220
        status: 204 No Content
        code: 204
        duration: 27.092208ms
[...]
    - id: 47
      request:
        host: https://api.testing.render.com/v1
        body: '{}'
        form: {}
        headers:
            Authorization:
                - some-api-key
            Content-Type:
                - application/json
        url: https://api.testing.render.com/v1/services/srv-cpcbi5bievbmau0lem5g/deploys
        method: POST
      response:
        body: |
            {"id":"dep-cpcbi63ievbmau0lemm0","commit":{"id":"a7e6f8df87774111038d0246629c18e5aaee9797","message":"Merge pull request #32 from render-examples/et/keepalive\n\nIn order to avoid race conditions with the render reverse proxy, we should set the keepAlive to be longer than 60s. Setting it to 2 minutes here just in case.","createdAt":"2023-06-02T16:16:22Z"},"status":"build_in_progress","trigger":"api","createdAt":"2024-05-30T17:36:24.556918Z","updatedAt":"2024-05-30T17:36:24.556918Z","finishedAt":null}
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "10"
            Ratelimit-Remaining:
                - "8"
            Ratelimit-Reset:
                - "35"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000223
        status: 201 Created
        code: 201
        duration: 690.765458ms
[...]
    - id: 50
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi5bievbmau0lem5g/env-vars?cursor=h5Z8T49TDntpNXJpZXZibWF1MGxlbWhn
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "360"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000226
        status: 200 OK
        code: 200
        duration: 17.426ms
[...]
    - id: 52
      request:
        host: https://api.testing.render.com/v1
        body: ""
        form: {}
        headers:
            Authorization:
                - some-api-key
        url: https://api.testing.render.com/v1/services/srv-cpcbi5bievbmau0lem5g/secret-files?cursor=h5Z8T49TDntpNXJpZXZibWF1MGxlbWln
        method: GET
      response:
        body: |
            []
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Ratelimit-Limit:
                - "400"
            Ratelimit-Remaining:
                - "358"
            Ratelimit-Reset:
                - "34"
            Render-Request-Id:
                - api-5b5df7db7-8txbz/bRDul8FWf5-000228
        status: 200 OK
        code: 200
        duration: 19.414125ms
[...]
